Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added virtualized list support
  example/storybook/src/components/Forms/Select/Select.tsx
  packages/select/src/SelectFlatList.tsx
  packages/select/src/SelectVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added virtualized list support
  select/src/SelectFlatList.tsx
  select/src/SelectVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added section list support
  select/src/SelectSectionList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added section list support
  example/storybook/src/components/Forms/Select/Select.tsx
  packages/select/src/SelectSectionList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typingsd
  packages/select/src/SelectSectionList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typingsd
  select/src/SelectSectionList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed icon support
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Select/index.tsx
  packages/select/src/SelectItem.tsx
  packages/select/src/SelectItemIcon.tsx
  packages/select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed icon support
  select/src/SelectItem.tsx
  select/src/SelectItemIcon.tsx
  select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: api for new menu
  newmenu/.npmignore
  newmenu/babel.config.js
  newmenu/package.json
  newmenu/src/Menu.tsx
  newmenu/src/MenuItem.tsx
  newmenu/src/MenuItemLabel.tsx
  newmenu/src/MenuItemStately.tsx
  newmenu/src/MenuPopover/OverlayAnimatePresence.tsx
  newmenu/src/MenuPopover/Popover.tsx
  newmenu/src/MenuPopover/Popover.web.tsx
  newmenu/src/MenuPopover/PopoverContent.tsx
  newmenu/src/MenuPopover/PopoverContext.ts
  newmenu/src/index.tsx
  newmenu/tsconfig.json
  react-native-aria/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: api for new menu
  .env
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/babel.config.js
  example/storybook/package.json
  example/storybook/src/components/Overlay/Menu/Menu.stories.tsx
  example/storybook/src/components/Overlay/Menu/MyMenu.tsx
  example/storybook/src/ui-components/NewMenu/index.tsx
  example/storybook/src/ui-components/NewMenu/styled-components/Item.tsx
  example/storybook/src/ui-components/NewMenu/styled-components/Item.web.tsx
  example/storybook/src/ui-components/NewMenu/styled-components/ItemLabel.tsx
  example/storybook/src/ui-components/NewMenu/styled-components/Root.tsx
  example/storybook/src/ui-components/NewMenu/styled-components/index.tsx
  example/storybook/src/ui-components/index.tsx
  example/storybook/src/ui-components/styled/index.tsx
  example/storybook/tsconfig.json
  package.json
  packages/newmenu/.npmignore
  packages/newmenu/babel.config.js
  packages/newmenu/package.json
  packages/newmenu/src/Menu.tsx
  packages/newmenu/src/MenuItem.tsx
  packages/newmenu/src/MenuItemLabel.tsx
  packages/newmenu/src/MenuItemStately.tsx
  packages/newmenu/src/MenuPopover/OverlayAnimatePresence.tsx
  packages/newmenu/src/MenuPopover/Popover.tsx
  packages/newmenu/src/MenuPopover/Popover.web.tsx
  packages/newmenu/src/MenuPopover/PopoverContent.tsx
  packages/newmenu/src/MenuPopover/PopoverContext.ts
  packages/newmenu/src/index.tsx
  packages/newmenu/tsconfig.json
  packages/react-native-aria/src/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  input/src/InputGroup.tsx
  select/src/Select.tsx
  select/src/SelectIcon.tsx
  select/src/SelectInput.tsx
  select/src/SelectTrigger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Select/styled-components/Icon.tsx
  example/storybook/src/ui-components/Select/styled-components/Input.tsx
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
  example/storybook/src/ui-components/Select/styled-components/Trigger.tsx
  packages/input/src/InputGroup.tsx
  packages/select/src/Select.tsx
  packages/select/src/SelectIcon.tsx
  packages/select/src/SelectInput.tsx
  packages/select/src/SelectTrigger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: test cases added
  example/storybook/__tests__/Button.test.js
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/junit.xml
Due: eslint --quiet --fix, prettier --write

fix: removed br tags from mdx files
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/TextArea.tsx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed isreadonly
  select/src/Select.tsx
  select/src/SelectPortal.tsx
  select/src/SelectTrigger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed isreadonly
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
  packages/select/src/Select.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/SelectTrigger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: selected option styling
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Item.tsx
  packages/select/src/SelectInput.tsx
  packages/select/src/SelectItem.tsx
  packages/select/src/SelectPortal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: selected option styling
  select/src/SelectInput.tsx
  select/src/SelectItem.tsx
  select/src/SelectPortal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ref warning
  select/src/Select.tsx
  select/src/SelectBackdrop.tsx
  select/src/SelectContent.tsx
  select/src/SelectDragIndicator.tsx
  select/src/SelectDragIndicatorWrapper.tsx
  select/src/SelectFlatList.tsx
  select/src/SelectIcon.tsx
  select/src/SelectInput.tsx
  select/src/SelectItem.tsx
  select/src/SelectPortal.tsx
  select/src/SelectScrollView.tsx
  select/src/SelectSectionHeaderText.tsx
  select/src/SelectSectionList.tsx
  select/src/SelectTrigger.tsx
  select/src/SelectVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ref warning
  packages/select/src/Select.tsx
  packages/select/src/SelectBackdrop.tsx
  packages/select/src/SelectContent.tsx
  packages/select/src/SelectDragIndicator.tsx
  packages/select/src/SelectDragIndicatorWrapper.tsx
  packages/select/src/SelectFlatList.tsx
  packages/select/src/SelectIcon.tsx
  packages/select/src/SelectInput.tsx
  packages/select/src/SelectItem.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/SelectScrollView.tsx
  packages/select/src/SelectSectionHeaderText.tsx
  packages/select/src/SelectSectionList.tsx
  packages/select/src/SelectTrigger.tsx
  packages/select/src/SelectVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: path based resolution
  example/babel-plugin-styled-resolver-expo/babel.config.js
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

chore: babel plugin v0.3.5
  packages/babel-plugin-styled-resolver/CHANGELOG.md
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: styling
  example/storybook/src/components/Forms/Select/Select.stories.tsx
  example/storybook/src/components/Forms/Select/SelectFlatList.tsx
  example/storybook/src/components/Forms/Select/SelectScrollView.tsx
  example/storybook/src/components/Forms/Select/SelectSectionList.tsx
  example/storybook/src/components/Forms/Select/SelectVirtualizedList.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Item.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/SectionHeaderText.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Item.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/SectionHeaderText.tsx
  example/storybook/src/ui-components/styled/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/components/Forms/Select/SelectSectionList.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Content.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/ItemText.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/SectionHeaderText.tsx
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: animation exit example
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
Due: none

fix: prev and next button styling
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
Due: none

fix: margin for code preview
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
Due: none

fix: add latest in cli commands
  README.md
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/getting-started/SSR/index.stories.mdx
  example/storybook/src/getting-started/gluestack-ui-cli/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: prettier --write

fix: styling
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.stories.tsx
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetAvoidKeyboard.tsx
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Content.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Icon.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Item.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/ItemText.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/SectionHeaderText.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Content.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Item.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/SectionHeaderText.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/ActionsheetItem.tsx
  packages/select/src/SelectItem.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/ActionsheetItem.tsx
  select/src/SelectItem.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: cli commands
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: accessibility links
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

fix: next adapter docs
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: command
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: installation cards
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

fix: description
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: styling
  example/storybook/src/components/Forms/Select/index.stories.mdx
  packages/select/src/Select.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/SelectTrigger.tsx
  packages/select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  select/src/Select.tsx
  select/src/SelectPortal.tsx
  select/src/SelectTrigger.tsx
  select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
