Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: default icon color and some styling changes
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/Modal.tsx
  example/storybook/src/components/Overlay/Modal/MultipleModal.tsx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/ui-components/AlertDialog/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Modal/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Popover/styled-components/CloseButton.tsx
  packages/alert-dialog/package.json
  packages/alert-dialog/src/AlertDialog.tsx
  packages/alert-dialog/src/AlertDialogContent.tsx
  packages/alert-dialog/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default icon color and some styling changes
  alert-dialog/package.json
  alert-dialog/src/AlertDialog.tsx
  alert-dialog/src/AlertDialogContent.tsx
  alert-dialog/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typings
  actionsheet/src/context.ts
  alert-dialog/src/AlertDialog.tsx
  alert-dialog/src/Context.ts
  modal/src/Context.ts
  modal/src/Modal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typings
  example/storybook/junit.xml
  packages/actionsheet/src/context.ts
  packages/alert-dialog/src/AlertDialog.tsx
  packages/alert-dialog/src/Context.ts
  packages/modal/src/Context.ts
  packages/modal/src/Modal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon colors
  example/storybook/src/components/DataDisplay/Badge/Badge.tsx
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/ui-components/Badge/styled-components/Icon.tsx
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
  example/storybook/src/ui-components/Icons/Icons/Globe.tsx
  example/storybook/src/ui-components/Icons/Icons/Plugin.tsx
  example/storybook/src/ui-components/Icons/Icons/Plus.tsx
  example/storybook/src/ui-components/Icons/Icons/Settings.tsx
  example/storybook/src/ui-components/Icons/Icons/Theme.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/ui-components/styled/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

feat: created an add icon
  example/storybook/src/components/Others/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed all unnecessary hardcoded h,w values
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

chore: @gluestack-ui/actionsheet version bump to 0.2.4
  actionsheet/CHANGELOG.md
  actionsheet/package.json
Due: prettier --write

chore: @gluestack-ui/actionsheet version bump to 0.2.4
  example/storybook/package.json
  packages/actionsheet/CHANGELOG.md
  packages/actionsheet/package.json
Due: prettier --write

chore: @gluestack-ui/alert-dialog version bump to 0.1.5
  alert-dialog/CHANGELOG.md
  alert-dialog/package.json
Due: prettier --write

chore: @gluestack-ui/alert-dialog version bump to 0.1.5
  example/storybook/package.json
  packages/alert-dialog/CHANGELOG.md
  packages/alert-dialog/package.json
Due: prettier --write

chore: @gluestack-ui/modal version bump to 0.1.9
  modal/CHANGELOG.md
  modal/package.json
Due: prettier --write

chore: @gluestack-ui/modal version bump to 0.1.9
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier --write

fix: changed some other hardcoded values
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: hard coded values to tokens
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: dep
  example/storybook/src/ui-components/Heading/config.json
Due: prettier --write

Revert "Revert "docs: changes in heading""
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: solve issues in yarn file
  yarn.lock
Due: none

fix: formatting of code
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: spelling
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: placement args
  example/storybook/src/components/Overlay/Menu/Menu.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sypo
  icon/src/createIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sypo
  packages/icon/src/createIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ref warning
  icon/src/createIcon.tsx
  link/src/Link.tsx
  menu/src/MenuGroupTitle.tsx
  progress/src/ProgressFilledTrack.tsx
  radio/src/RadioIcon.tsx
  radio/src/RadioIndicator.tsx
  radio/src/RadioLabel.tsx
  toast/src/ToastComponent.tsx
  toast/src/ToastDescription.tsx
  toast/src/ToastTitle.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ref warning
  example/storybook/junit.xml
  example/storybook/src/components/MediaAndIcons/Icon/Icons.stories.tsx
  example/storybook/src/components/Others/Fab/Fab.tsx
  packages/icon/src/createIcon.tsx
  packages/link/src/Link.tsx
  packages/menu/src/MenuGroupTitle.tsx
  packages/progress/src/ProgressFilledTrack.tsx
  packages/radio/src/RadioIcon.tsx
  packages/radio/src/RadioIndicator.tsx
  packages/radio/src/RadioLabel.tsx
  packages/toast/src/ToastComponent.tsx
  packages/toast/src/ToastDescription.tsx
  packages/toast/src/ToastTitle.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed backdrop as option
  menu/src/MenuBackdrop.tsx
  menu/src/MenuPopover/Popover.tsx
  menu/src/MenuPopover/Popover.web.tsx
  menu/src/MenuPopover/PopoverContent.tsx
  menu/src/index.tsx
  menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed backdrop as option
  example/expo-project/App.tsx
  example/expo-project/package.json
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  packages/menu/src/MenuBackdrop.tsx
  packages/menu/src/MenuPopover/Popover.tsx
  packages/menu/src/MenuPopover/Popover.web.tsx
  packages/menu/src/MenuPopover/PopoverContent.tsx
  packages/menu/src/index.tsx
  packages/menu/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed custom icons for already made icons
  example/storybook/src/components/Others/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: last example using tokens
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: fab size
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: sx passing props issue with variant'
  example/storybook/src/api/PropsPassing/PropsPassing.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version updated
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: resolve import issue
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: refractor sizes
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: refractor icon size and color
  example/storybook/src/components/MediaAndIcons/Avatar/Avatar.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
