Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: types
  actionsheet/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: color codes
  example/expo-project/gluestack-ui.config.ts
  example/storybook/src/gluestack-ui.config.ts
  example/storybook/src/ui-components/Alert/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed type
  packages/tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed type
  tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed type
  yarn.lock
Due: none

feat: changed tablist to scrollview
  example/storybook/src/ui-components/Tabs/styled-components/TabList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: type select hook
  example/storybook/src/components/Overlay/Menu/MyMenu.tsx
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuItem.tsx
  packages/menu/src/useTypeSelect.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: type select hook
  menu/src/Menu.tsx
  menu/src/MenuItem.tsx
  menu/src/useTypeSelect.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: type select hook check for native
  menu/src/useTypeSelect.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: type select hook check for native
  packages/menu/src/useTypeSelect.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added props for more control
  menu/src/Menu.tsx
  menu/src/MenuPopover/Popover.tsx
  menu/src/MenuPopover/PopoverContent.tsx
  menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added props for more control
  example/storybook/src/components/Overlay/Menu/MyMenu.tsx
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuPopover/Popover.tsx
  packages/menu/src/MenuPopover/PopoverContent.tsx
  packages/menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dependancy issue
  example/storybook/package.json
  yarn.lock
Due: prettier --write

docs: added dynamic example of Avatar
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: added type of group avatar
  packages/avatar/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added type of group avatar
  avatar/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: some dependancy
  packages/select/package.json
Due: prettier --write

fix: some dependancy
  select/package.json
Due: prettier --write

docs: added all option for examples
  example/storybook/src/components/Forms/Input/Input.stories.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tsconfig error
  example/storybook/tsconfig.json
Due: prettier --write

revert: tsconfig file changed back to original
  example/storybook/tsconfig.json
Due: prettier --write

fix: default config for the input component
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

docs: added more example for avatar
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: fixed styling
  example/storybook/src/ui-components/Heading/styled-components/Root.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed badge component
  example/storybook/src/gluestack-ui.config.ts
  example/storybook/src/ui-components/Badge/styled-components/Icon.tsx
  example/storybook/src/ui-components/Badge/styled-components/Root.tsx
  example/storybook/src/ui-components/Badge/styled-components/Text.tsx
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: updated heading
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: prority in props
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: fixed styling
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/ui-components/AlertDialog/index.tsx
  example/storybook/src/ui-components/AlertDialog/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Button/styled-components/Group.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed typing
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/ui-components/Badge/index.tsx
  example/storybook/src/ui-components/Slider/index.tsx
  example/storybook/src/ui-components/Switch/index.tsx
  example/storybook/src/ui-components/TextArea/index.tsx
  example/storybook/src/ui-components/Toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed styling issues in actionsheet, alert, progress, toast
  example/storybook/src/ui-components/Actionsheet/index.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Content.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/DragIndicator.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/IndicatorWrapper.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Item.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/ItemText.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Root.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/SectionHeaderText.tsx
  example/storybook/src/ui-components/Alert/styled-components/Icon.tsx
  example/storybook/src/ui-components/Alert/styled-components/Root.tsx
  example/storybook/src/ui-components/Alert/styled-components/Text.tsx
  example/storybook/src/ui-components/Divider/styled-components/Root.tsx
  example/storybook/src/ui-components/Progress/styled-components/FilledTrack.tsx
  example/storybook/src/ui-components/Progress/styled-components/Root.tsx
  example/storybook/src/ui-components/Slider/index.tsx
  example/storybook/src/ui-components/Spinner/index.tsx
  example/storybook/src/ui-components/Spinner/styled-components/index.tsx
  example/storybook/src/ui-components/Toast/styled-components/Description.tsx
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
  example/storybook/src/ui-components/Toast/styled-components/Title.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: formcontrol, checkbox and button
  example/storybook/src/ui-components/Button/styled-components/GroupHSpacer.tsx
  example/storybook/src/ui-components/Button/styled-components/GroupVSpacer.tsx
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
  example/storybook/src/ui-components/FormControl/styled-components/ErrorIcon.tsx
  example/storybook/src/ui-components/FormControl/styled-components/ErrorText.tsx
  example/storybook/src/ui-components/FormControl/styled-components/HelperText.tsx
  example/storybook/src/ui-components/FormControl/styled-components/LabelAstrick.tsx
  example/storybook/src/ui-components/FormControl/styled-components/LabelText.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed typing
  example/storybook/src/components/Overlay/Modal/MultipleModal.tsx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/ui-components/Modal/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Modal/styled-components/Header.tsx
  packages/modal/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed typing
  modal/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: all the minor issues in styling fixed
  example/storybook/src/ui-components/AlertDialog/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Avatar/styled-components/FallbackText.tsx
  example/storybook/src/ui-components/Avatar/styled-components/Image.tsx
  example/storybook/src/ui-components/Avatar/styled-components/Root.tsx
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
  example/storybook/src/ui-components/Image/styled-components/Root.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.web.tsx
  example/storybook/src/ui-components/Modal/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Modal/styled-components/Content.tsx
  example/storybook/src/ui-components/Modal/styled-components/Root.tsx
  example/storybook/src/ui-components/Popover/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Popover/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Pressable/styled-components/Root.tsx
  example/storybook/src/ui-components/Radio/styled-components/Indicator.tsx
  example/storybook/src/ui-components/Radio/styled-components/Label.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.web.tsx
  example/storybook/src/ui-components/Select/styled-components/Trigger.tsx
  example/storybook/src/ui-components/Slider/styled-components/FilledTrack.tsx
  example/storybook/src/ui-components/Slider/styled-components/Root.tsx
  example/storybook/src/ui-components/Slider/styled-components/Thumb.tsx
  example/storybook/src/ui-components/Slider/styled-components/ThumbInteraction.tsx
  example/storybook/src/ui-components/Slider/styled-components/Track.tsx
  example/storybook/src/ui-components/Tooltip/styled-components/Arrow.tsx
  packages/link/src/Link.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: all the minor issues in styling fixed
  link/src/Link.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added backdrop
  menu/src/Menu.tsx
  menu/src/MenuBackdrop.tsx
  menu/src/MenuContext.ts
  menu/src/MenuPopover/Backdrop.tsx
  menu/src/MenuPopover/Popover.tsx
  menu/src/MenuPopover/Popover.web.tsx
  menu/src/index.tsx
  menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added backdrop
  example/storybook/src/components/Overlay/Menu/MyMenu.tsx
  example/storybook/src/ui-components/Menu/index.tsx
  example/storybook/src/ui-components/Menu/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Menu/styled-components/index.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.tsx
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuBackdrop.tsx
  packages/menu/src/MenuContext.ts
  packages/menu/src/MenuPopover/Backdrop.tsx
  packages/menu/src/MenuPopover/Popover.tsx
  packages/menu/src/MenuPopover/Popover.web.tsx
  packages/menu/src/index.tsx
  packages/menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed styling
  modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed styling
  example/storybook/src/components/Overlay/Modal/MultipleModal.tsx
  example/storybook/src/ui-components/Heading/styled-components/Root.tsx
  example/storybook/src/ui-components/Modal/styled-components/Body.tsx
  example/storybook/src/ui-components/Modal/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Modal/styled-components/Header.tsx
  example/storybook/src/ui-components/Modal/styled-components/Root.tsx
  packages/modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed dependency
  example/storybook/src/components/Overlay/Modal/Modal.stories.tsx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  packages/modal/package.json
  packages/modal/src/ModalContent.tsx
  packages/modal/src/useDialog.tsx
  packages/modal/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
