Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: testing qrcode
  example/storybook-v7/package.json
Due: prettier --write

fix: note fix
  example/storybook/src/ui/home/overview/Introduction/index.stories.mdx
Due: none

fix: testing qrcode
  example/storybook-v7/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

feat: update grid documentation
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
Due: none

fix: added tailwind packages
  example/storybook-v7/package-lock.json
  example/storybook-v7/package.json
Due: prettier --write

fix: docs
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
Due: none

fix: eas version
  example/storybook-v7/eas.json
  example/storybook-v7/package-lock.json
  example/storybook-v7/package.json
  example/storybook-v7/yarn.lock
Due: prettier --write

feat: add responsive storybook component
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/ResponsiveStorybook.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add storybook app in preview
  example/storybook-nativewind/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: edit nav bar
  example/storybook-nativewind/src/extra-components/nativewind/ResponsiveStorybook.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update id's and qr code
  example/storybook-nativewind/src/extra-components/nativewind/ResponsiveStorybook.tsx
  example/storybook-nativewind/src/extra-components/nativewind/kitchensink.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: nativewind fabicon component and tailwind config file native storybook
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-v7/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icons props
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed unwanted code from actionsheet
  example/storybook-nativewind/src/components/Actionsheet/ActionsheetAvoidKeyboard.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accordion meta
  example/storybook-nativewind/src/components/Accordion/Accordion.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: meta actionsheet
  example/storybook-nativewind/src/components/Actionsheet/Actionsheet.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: meta till checkbox
  example/storybook-nativewind/src/components/Alert/Alert.stories.tsx
  example/storybook-nativewind/src/components/AlertDialog/AlertDialog.stories.tsx
  example/storybook-nativewind/src/components/Avatar/Avatar.stories.tsx
  example/storybook-nativewind/src/components/Badge/Badge.stories.tsx
  example/storybook-nativewind/src/components/Box/Box.stories.tsx
  example/storybook-nativewind/src/components/Button/Button.stories.tsx
  example/storybook-nativewind/src/components/Button/ButtonGroup.stories.tsx
  example/storybook-nativewind/src/components/Card/Card.stories.tsx
  example/storybook-nativewind/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: meta till checkbox
  example/storybook-nativewind/src/components/Actionsheet/Actionsheet.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accordion storybook fixes
  example/storybook-nativewind/src/components/Accordion/Accordion.tsx
  example/storybook-nativewind/src/components/Accordion/AccordionCustomisedBackground.tsx
  example/storybook-nativewind/src/components/Accordion/AccordionCustomisedComponent.tsx
  example/storybook-nativewind/src/components/Accordion/AccordionNested.tsx
  example/storybook-nativewind/src/components/Accordion/AccordionRoundedCorner.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook avatar fix
  example/storybook-nativewind/src/components/Actionsheet/Actionsheet.tsx
  example/storybook-nativewind/src/components/Actionsheet/ActionsheetFlatList.tsx
  example/storybook-nativewind/src/components/Actionsheet/ActionsheetIcon.tsx
  example/storybook-nativewind/src/components/Actionsheet/ActionsheetScrollView.tsx
  example/storybook-nativewind/src/components/Actionsheet/ActionsheetSectionList.tsx
  example/storybook-nativewind/src/components/Actionsheet/ActionsheetVirtualizedList.tsx
  example/storybook-nativewind/src/components/Avatar/AvatarGroup.tsx
  example/storybook-nativewind/src/components/Avatar/AvatarSizes.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook meta fix
  example/storybook-nativewind/src/components/Divider/Divider.stories.tsx
  example/storybook-nativewind/src/components/Fab/Fab.stories.tsx
  example/storybook-nativewind/src/components/FormControl/FormControl.stories.tsx
  example/storybook-nativewind/src/components/Grid/Grid.stories.tsx
  example/storybook-nativewind/src/components/Heading/Heading.stories.tsx
  example/storybook-nativewind/src/components/Icon/Icon.stories.tsx
  example/storybook-nativewind/src/components/Image/Image.stories.tsx
  example/storybook-nativewind/src/components/Input/Input.stories.tsx
  example/storybook-nativewind/src/components/InputAcessoryView/InputAccessoryView.stories.tsx
  example/storybook-nativewind/src/components/Link/Link.stories.tsx
  example/storybook-nativewind/src/components/Link/Link.tsx
  example/storybook-nativewind/src/components/Menu/Menu.stories.tsx
  example/storybook-nativewind/src/components/Menu/Menu.tsx
  example/storybook-nativewind/src/components/Modal/Modal.stories.tsx
  example/storybook-nativewind/src/components/Popover/Popover.stories.tsx
  example/storybook-nativewind/src/components/Popover/Popover.tsx
  example/storybook-nativewind/src/components/Pressable/Pressable.stories.tsx
  example/storybook-nativewind/src/components/Pressable/Pressable.tsx
  example/storybook-nativewind/src/components/Progress/Progress.stories.tsx
  example/storybook-nativewind/src/components/Progress/Progress.tsx
  example/storybook-nativewind/src/components/Radio/Radio.stories.tsx
  example/storybook-nativewind/src/components/Select/Select.stories.tsx
  example/storybook-nativewind/src/components/Skeleton/Skeleton.stories.tsx
  example/storybook-nativewind/src/components/Slider/Slider.stories.tsx
  example/storybook-nativewind/src/components/Slider/Slider.tsx
  example/storybook-nativewind/src/components/Spinner/Spinner.stories.tsx
  example/storybook-nativewind/src/components/Switch/Switch.stories.tsx
  example/storybook-nativewind/src/components/Switch/Switch.tsx
  example/storybook-nativewind/src/components/Table/Table.stories.tsx
  example/storybook-nativewind/src/components/Text/Text.stories.tsx
  example/storybook-nativewind/src/components/Textarea/Textarea.stories.tsx
  example/storybook-nativewind/src/components/Textarea/Textarea.tsx
  example/storybook-nativewind/src/components/Toast/Toast.stories.tsx
  example/storybook-nativewind/src/components/Tooltip/Tooltip.stories.tsx
  example/storybook-nativewind/src/components/Tooltip/Tooltip.tsx
  example/storybook-nativewind/src/components/VStack/VStack.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: starter kit
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: docs typo
  example/storybook/src/ui/components/Provider/GluestackUIProvider/index.stories.mdx
Due: none

fix: accordion story
  example/storybook-nativewind/src/components/Accordion/Accordion.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: working on divider issue of segmented component
  example/storybook-nativewind/src/components/SegmentedControl/SegmentedControl.stories.tsx
  example/storybook-nativewind/src/components/SegmentedControl/SegmentedControl.tsx
  example/storybook-nativewind/src/components/SegmentedControl/SegmentedDivider.tsx
  example/storybook-nativewind/src/core-components/nativewind/index.ts
  example/storybook-nativewind/src/core-components/nativewind/segmented-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/segmented-control/styles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.stories.mdx
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
Due: none

fix: expo qr code
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/ResponsiveStarterKit.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon issue with state in fixed in radio and checkbox
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: wrapper typing
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: responsive compnent props support
  example/storybook-nativewind/src/apps/dashboard-app/index.stories.mdx
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/Responsive.tsx
  example/storybook-nativewind/src/extra-components/nativewind/ResponsiveStarterKit.tsx
  example/storybook-nativewind/src/extra-components/nativewind/ResponsiveStorybook.tsx
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
  example/storybook-nativewind/src/extra-components/nativewind/kitchensink.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: import
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
Due: none

fix: import
  example/storybook-nativewind/src/apps/dashboard-app/index.stories.mdx
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: import
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
Due: none

fix: new
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
Due: none

fix: import
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated color
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/config.ts
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: switch colors
  example/storybook-nativewind/src/components/Switch/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/SwitchDemo.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: documentation for dark mode strategy
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/package.json
  example/storybook-nativewind/src/home/theme-configuration/customizing-theme/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/dark-mode/index.nw.stories.mdx
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

fix: issues of nativewind component in native storybook
  example/storybook-nativewind/src/components/Actionsheet/Actionsheet.tsx
  example/storybook-nativewind/src/components/Button/Button.stories.tsx
  example/storybook-nativewind/src/components/Modal/Modal.tsx
  example/storybook-nativewind/src/components/Progress/Progress.tsx
  example/storybook-nativewind/src/components/Select/Select.tsx
  example/storybook-nativewind/src/components/Slider/Slider.tsx
  example/storybook-nativewind/src/components/Switch/Switch.stories.tsx
  example/storybook-nativewind/src/components/Textarea/Textarea.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
  example/storybook-v7/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
