Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added github workflows
  .github/workflows/expo-latest-nightly.yml
  .github/workflows/expo-latest.yml
  .github/workflows/next-latest-nightly.yml
  .github/workflows/next-latest.yml
  .github/workflows/vercel-deployments.yml
Due: none

feat: added workflows for nightly package
  .github/workflows/expo-latest-nightly.yml
  .github/workflows/next-latest-nightly.yml
  .github/workflows/vercel-deployments.yml
Due: none

chore: testing
  apps/kitchen-sink/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore:flag wasn't properly reading the environment variable
  .github/workflows/vercel-deployments.yml
Due: none

fix: updated commands according to nightly package
  .github/workflows/expo-latest-nightly.yml
  .github/workflows/next-latest-nightly.yml
  .github/workflows/vercel-deployments.yml
Due: none

fix: fixed command arguments
  packages/create-gluestack/CHANGELOG.md
  packages/create-gluestack/package.json
  packages/create-gluestack/src/help.ts
  packages/create-gluestack/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update next-latest-nightly.yml
  .github/workflows/next-latest-nightly.yml
Due: none

chore: updated workflows
  .github/workflows/expo-latest-nightly.yml
  .github/workflows/next-latest-nightly.yml
  .github/workflows/vercel-deployments.yml
Due: none

chore: removed Unnecessary test
  .github/workflows/expo-latest-nightly.yml
Due: none

chore: removed Unnecessary tests
  .github/workflows/expo-latest-nightly.yml
Due: none

feat: docs rady for next-14 next-15
  src/docs/home/getting-started/installation/index.mdx
  src/docs/home/getting-started/installation/utils-link.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: changes for expo react native cli in the manual docimnetation
  src/docs/home/getting-started/installation/index.mdx
Due: none

chore: typing error
  apps/kitchen-sink/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed vercel deployment workflow
  .github/workflows/vercel-deployments.yml
Due: none

chore: added build command
  apps/starter-kit-expo/package.json
Due: prettier --write

chore: updated build command
  apps/starter-kit-expo/package.json
Due: prettier --write

chore: update build output dir
  apps/starter-kit-expo/package.json
Due: prettier --write

feat:remove bottomsheet from kitchensink
  apps/kitchen-sink/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: kitchensink web
  apps/kitchen-sink/package-lock.json
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
  apps/starter-kit-expo/components/ui/grid/index.tsx
  apps/starter-kit-next/components/ui/grid/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added to do app
  apps/website/package.json
  apps/website/yarn.lock
  src/docs/apps/todo-app/index.mdx
  src/docs/apps/todo-app/todo.ts
  src/docs/apps/todo-app/todoApp.tsx
  src/docs/apps/todo-app/todoContainer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated starter-kits in apps section
  apps/starter-kit-expo/app/index.tsx
  src/docs-components/apps/Responsive.tsx
  src/docs-components/apps/appConfig.tsx
  src/docs/apps/starter-kit/index.mdx
  src/docs/apps/starter-kit/starterkit-link.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed unnecessary imports
  src/docs/apps/todo-app/todoApp.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed the kitchen-sink layout
  apps/kitchen-sink/components/custom/component-previewer/index.tsx
  apps/starter-kit-expo/components/ui/actionsheet/index.tsx
  apps/starter-kit-next/components/ui/actionsheet/index.tsx
  scripts/mappers/kitchen-sink/templates.ts
  src/components/ui/actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change checkbox code
  src/components/ui/checkbox/creator/Checkbox.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated checkbox
  apps/starter-kit-expo/components/ui/checkbox/creator/Checkbox.web.tsx
  apps/starter-kit-next/components/ui/checkbox/creator/Checkbox.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: added build command
  apps/kitchen-sink/package.json
Due: prettier --write

chore: updated build script
  apps/kitchen-sink/package.json
Due: prettier --write

chore: updated iframe url of kitchensink
  src/docs-components/apps/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed kitchensink layout on small devices
  apps/kitchen-sink/app/_layout.tsx
  apps/kitchen-sink/components/custom/component-previewer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated kitchen-sink qr and removed storybook app
  apps/kitchen-sink/app.json
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
  src/docs-components/apps/appConfig.tsx
  src/docs/apps/storybook-app/Expand.tsx
  src/docs/apps/storybook-app/index.mdx
  src/sidebar.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed selectinput padding in android
  src/components/ui/select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update input example
  src/components/ui/input/examples/with-form-control/template.handlebars
Due: none

fix: added pb-safe in select-actionsheet
  src/components/ui/select/select-actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed safe-area-view
  apps/kitchen-sink/app/_layout.tsx
  apps/kitchen-sink/app/index.tsx
  scripts/mappers/kitchen-sink/templates.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated dependencies
  apps/kitchen-sink/package.json
Due: prettier --write

fix: updated image for table component
  apps/kitchen-sink/components.json
  apps/kitchen-sink/package-lock.json
  src/sidebar.json
Due: prettier --write

chore: updated kitchensink qr
  src/docs-components/apps/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated kitchen-sink-github link
  src/docs/apps/kitchensink-app/index.mdx
  src/docs/apps/kitchensink-app/kitchen-sink-link.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
