Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing image
  image/src/Image.tsx
  image/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: update createIcon use and notes
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

fix: spelling
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

v0.2.5
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: identifiers in array expression
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

feat: changed inputicon to inputslot and added inputicon
  input/README.md
  input/src/InputIcon.tsx
  input/src/InputSlot.tsx
  input/src/index.tsx
  input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.14
  input/package.json
Due: prettier --write

v0.1.15
  input/package.json
Due: prettier --write

v0.1.15
  toast/package.json
Due: prettier --write

v0.1.16
  input/package.json
Due: prettier --write

feat: input released
  input/src/InputIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: input package updated and examples
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetAvoidKeyboard.tsx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Forms/Input/InputIcon.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/react-native-components/KeyboardAvoidingView/index.stories.mdx
  packages/themed/package.json
  packages/themed/src/components/Input/index.tsx
  packages/themed/src/components/Input/styled-components/Icon.tsx
  packages/themed/src/components/Input/styled-components/Slot.tsx
  packages/themed/src/components/Input/styled-components/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: checkbox done
  src/components/Checkbox/index.tsx
  src/components/Checkbox/styled-components/Icon.tsx
  src/components/Checkbox/styled-components/Indicator.tsx
  src/components/Checkbox/styled-components/Label.tsx
  src/components/Checkbox/styled-components/Root.tsx
  src/components/Checkbox/styled-components/Root.web.tsx
  src/components/Icons/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing
  package.json
  packages/themed/src/components/Icons/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.40
  example/storybook/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

v0.1.12
  package.json
Due: prettier --write

chore: version upgraded
  example/storybook/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: default height of actionsheet
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ancestor sx style resolution
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.46
  package.json
Due: prettier --write

fix: ancestor sx style resolution
  packages/react/package.json
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: borderBottomColor of the cards in getting started page
  example/storybook/src/getting-started/Installation/Card.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: input slot doc issue
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: updated config
  src/components/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed version of react native svg
  packages/themed/package.json
Due: prettier --write

fix: exported inputslot
  example/storybook/src/components/Forms/Input/Input.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added colormode and updated docs
  example/storybook/.storybook/preview.js
  example/storybook/src/hooks/useBreakPointValue/index.stories.mdx
  example/storybook/src/hooks/useColorMode/index.stories.mdx
  example/storybook/src/hooks/useTheme/index.stories.mdx
  example/storybook/src/hooks/useToken/index.stories.mdx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useColorMode.ts
  packages/react/src/hooks/useConfig.ts
  packages/react/src/hooks/useToken.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: style version
  package.json
Due: prettier --write

feat: button done
  src/components/Badge/styled-components/Icon.tsx
  src/components/Button/index.tsx
  src/components/Button/styled-components/Root.tsx
  src/components/Button/styled-components/Spinner.tsx
  src/components/Button/styled-components/Text.tsx
  src/components/Icons/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added starter kit link
  example/storybook/src/getting-started/Installation/Card1.tsx
  example/storybook/src/getting-started/Installation/Next.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed coming soon tag
  example/storybook/src/getting-started/Installation/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.0-alpha.3
  image/package.json
Due: prettier --write

fix: modified hooks
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/hooks/useBreakpointValue.ts
  packages/react/src/hooks/useToken.ts
  packages/react/src/hooks/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: modified hooks
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

feat: switch done
  src/components/Switch/index.tsx
  src/components/Switch/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add @gluestack-ui/themed in default styled
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: exported gs config
  packages/react/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
