Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

refactor: update Android and iOS SVG components to use currentColor for fill, enhancing color consistency across landing page
  apps/website/components/page-components/landing-page/Android.tsx
  apps/website/components/page-components/landing-page/Ios.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: card examples
  apps/kitchen-sink/app/(home)/components/card.tsx
  apps/kitchen-sink/components/ui/card/index.tsx
  apps/kitchen-sink/components/ui/card/index.web.tsx
  apps/kitchen-sink/components/ui/card/styles.tsx
  apps/starter-kit-expo/components/ui/card/index.tsx
  apps/starter-kit-expo/components/ui/card/index.web.tsx
  apps/starter-kit-expo/components/ui/card/styles.tsx
  apps/starter-kit-next/components/ui/card/index.tsx
  apps/starter-kit-next/components/ui/card/index.web.tsx
  apps/starter-kit-next/components/ui/card/styles.tsx
  apps/website/app/ui/docs/components/card/index.mdx
  apps/website/components/page-components/all-components/card/index.tsx
  apps/website/components/ui/card/index.tsx
  apps/website/components/ui/card/index.web.tsx
  apps/website/components/ui/card/styles.tsx
  src/components/ui/card/examples/advance-composition/template.handlebars
  src/components/ui/card/examples/basic/meta.json
  src/components/ui/card/examples/basic/template.handlebars
  src/components/ui/card/examples/blog/template.handlebars
  src/components/ui/card/examples/product/template.handlebars
  src/components/ui/card/examples/with-images/template.handlebars
  src/components/ui/card/index.tsx
  src/components/ui/card/index.web.tsx
  src/components/ui/card/styles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: streamline landing page layout by consolidating AwardBadge component and enhancing Kitchensink QR code section for improved design and responsiveness
  apps/website/components/page-components/landing-page/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: divider changes
  apps/kitchen-sink/app/(home)/components/center.tsx
  apps/kitchen-sink/app/(home)/components/divider.tsx
  apps/kitchen-sink/app/(home)/components/form-control.tsx
  apps/kitchen-sink/components/ui/divider/index.tsx
  apps/starter-kit-expo/components/ui/divider/index.tsx
  apps/starter-kit-next/components/ui/divider/index.tsx
  apps/website/app/ui/docs/components/center/index.mdx
  apps/website/app/ui/docs/components/divider/index.mdx
  apps/website/app/ui/docs/components/form-control/index.mdx
  apps/website/components/page-components/all-components/center/index.tsx
  apps/website/components/ui/divider/index.tsx
  src/components/ui/center/examples/basic/template.handlebars
  src/components/ui/divider/examples/content-within/template.handlebars
  src/components/ui/divider/examples/with-without-inset/template.handlebars
  src/components/ui/divider/index.tsx
  src/components/ui/form-control/examples/with-form-actions/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: integrate NewsletterModal into header component for user updates and enhance navigation options with external link to React Native
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add NewsletterModal component for email subscription with validation and success/error handling
  apps/website/components/page-components/header/NewsLetterModal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update header component styles to improve visual consistency by changing border and text color classes
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:fab examples
  apps/kitchen-sink/app/(home)/components/fab.tsx
  apps/kitchen-sink/components/ui/fab/index.tsx
  apps/starter-kit-expo/components/ui/fab/index.tsx
  apps/starter-kit-next/components/ui/fab/index.tsx
  apps/website/app/ui/docs/components/fab/index.mdx
  apps/website/components/page-components/all-components/fab/index.tsx
  apps/website/components/ui/fab/index.tsx
  src/components/ui/fab/examples/basic/template.handlebars
  src/components/ui/fab/examples/custom-placement/template.handlebars
  src/components/ui/fab/examples/placement/template.handlebars
  src/components/ui/fab/examples/with-icon/template.handlebars
  src/components/ui/fab/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: replace ThemeContext with useColorMode hook across multiple components for improved theme management
  apps/website/app/experts/page.tsx
  apps/website/app/support/Diversified/index.tsx
  apps/website/components/page-components/landing-page/Example/ExampleInteractive.tsx
  apps/website/components/page-components/landing-page/Fold3/Fold3Interactive.tsx
  apps/website/components/page-components/landing-page/MadeWithGluestack/index.tsx
  apps/website/components/page-components/landing-page/Testimonials/SocialMediaTestimonial.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:grids
  apps/kitchen-sink/app/(home)/components/fab.tsx
  apps/kitchen-sink/app/(home)/components/grid.tsx
  apps/website/app/ui/docs/components/fab/index.mdx
  apps/website/app/ui/docs/components/grid/index.mdx
  apps/website/components/page-components/all-components/fab/index.tsx
  apps/website/components/page-components/all-components/grid/index.tsx
  src/components/ui/fab/examples/basic/template.handlebars
  src/components/ui/grid/examples/basic/template.handlebars
  src/components/ui/grid/examples/gap-between-items/template.handlebars
  src/components/ui/grid/examples/nested-grids/template.handlebars
  src/components/ui/grid/examples/responsive-grids/template.handlebars
  src/components/ui/grid/examples/row-column-gaps/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update footer links with UTM parameters for better tracking and add new partners section with external links
  apps/website/components/page-components/landing-page/Footer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: reorganize imports and enhance landing page layout by adding RapidNativeBanner component for improved user engagement
  apps/website/components/page-components/landing-page/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update RapidNativeBanner component layout and styling for improved visibility and user engagement
  apps/website/components/page-components/landing-page/RapidNativeBanner.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: enhance HireTeam component by adding partner apps section with logos and descriptions for improved user engagement
  apps/website/components/page-components/landing-page/HireTeam/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update SupportFormFold component styles for improved visual consistency and accessibility by changing text and background color classes
  apps/website/app/support/SupportFormFold/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: added utm source in partner-app links
  apps/website/components/page-components/landing-page/Footer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: drawer
  apps/kitchen-sink/components/ui/drawer/index.tsx
  apps/starter-kit-expo/components/ui/drawer/index.tsx
  apps/starter-kit-next/components/ui/drawer/index.tsx
  apps/website/app/ui/docs/components/drawer/index.mdx
  apps/website/components/ui/drawer/index.tsx
  src/components/ui/drawer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: animation
  apps/kitchen-sink/components/ui/alert-dialog/index.tsx
  apps/kitchen-sink/components/ui/drawer/index.tsx
  apps/kitchen-sink/components/ui/modal/index.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/index.tsx
  apps/starter-kit-expo/components/ui/drawer/index.tsx
  apps/starter-kit-expo/components/ui/modal/index.tsx
  apps/starter-kit-next/components/ui/alert-dialog/index.tsx
  apps/starter-kit-next/components/ui/drawer/index.tsx
  apps/starter-kit-next/components/ui/modal/index.tsx
  apps/website/app/ui/docs/components/alert-dialog/index.mdx
  apps/website/app/ui/docs/components/drawer/index.mdx
  apps/website/app/ui/docs/components/modal/index.mdx
  apps/website/components/ui/alert-dialog/index.tsx
  apps/website/components/ui/drawer/index.tsx
  apps/website/components/ui/modal/index.tsx
  src/components/ui/alert-dialog/index.tsx
  src/components/ui/drawer/index.tsx
  src/components/ui/modal/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: implement reCAPTCHA verification in ticket submission process to enhance security and prevent spam
  apps/website/app/api/ticket/route.ts
  apps/website/app/support/SupportFormFold/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unnecessary whitespace in SupportFormFold component for cleaner code
  apps/website/app/support/SupportFormFold/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add partner kits section to Card1 component with logos and descriptions for enhanced user engagement
  apps/website/components/docs-components/quick-start-components/Card1.tsx
  src/docs-components/quick-start-components/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add AppLighter link to sidebar in kitchen-sink, website, and src for improved navigation
  apps/kitchen-sink/constants/sidebar.json
  apps/website/sidebar.json
  src/sidebar.json
Due: prettier --write

refactor: update tag styles in SidebarLink component for improved visual consistency
  apps/website/components/page-components/sidebar/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fix input styling in copy-pastable
  apps/kitchen-sink/app/(home)/components/input.tsx
  apps/kitchen-sink/components/ui/input/index.tsx
  apps/starter-kit-expo/components/ui/input/index.tsx
  apps/starter-kit-next/components/ui/input/index.tsx
  apps/website/app/ui/docs/components/input/index.mdx
  apps/website/components/page-components/all-components/input/index.tsx
  apps/website/components/ui/input/index.tsx
  src/components/ui/input/examples/basic/meta.json
  src/components/ui/input/examples/with-icons/template.handlebars
  src/components/ui/input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add video background to landing page and adjust layout for improved visual appeal
  apps/website/components/page-components/landing-page/RapidNativeBanner.tsx
  apps/website/components/page-components/landing-page/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

style: adjust layout spacing and button height on landing page for improved aesthetics
  apps/website/components/page-components/landing-page/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update VStack spacing in alert-dialog and skeleton examples for consistency
  src/components/ui/alert-dialog/examples/with-icons-cta/template.handlebars
  src/components/ui/skeleton/examples/is-loaded/template.handlebars
Due: none

refactor: update HStack spacing in skeleton examples for improved layout consistency
  src/components/ui/skeleton/examples/basic/template.handlebars
  src/components/ui/skeleton/examples/is-loaded/template.handlebars
Due: none

chore: update dependencies in starter-kit-expo for compatibility with Expo SDK 55 and improve overall package versions
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/yarn.lock
Due: prettier --write

refactor: remove unused borderRadius configuration from tailwind.config.js
  apps/starter-kit-expo/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

refactor: remove unused borderRadius configuration from tailwind.config.js
  apps/starter-kit-next/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

refactor: remove redundant borderRadius settings from tailwind.config.js
  packages/gluestack-ui/templates/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

chore: update dependencies in kitchen-sink package.json and yarn.lock for compatibility with Expo 55 and React 19.2
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
Due: prettier --write

refactor: enhance text width in ComponentsTab and update routing logic in BottomControlBar for improved navigation
  apps/kitchen-sink/app/(home)/_tabs/components-tab.tsx
  apps/kitchen-sink/components/custom/bottom-control-bar/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update gluestack logo SVG files and remove unused Santa logo files
  apps/website/public/svg/gluestack-santa-logo-dark.svg
  apps/website/public/svg/gluestack-santa-logo.svg
  apps/website/public/svg/gluestack_logo.svg
  apps/website/public/svg/gluestack_logo_dark.svg
Due: none

feat: add changelog page and entry components with metadata and layout for improved documentation
  apps/website/app/ui/docs/changelog/[slug]/layout.tsx
  apps/website/app/ui/docs/changelog/[slug]/page.tsx
  apps/website/app/ui/docs/changelog/layout.tsx
  apps/website/app/ui/docs/changelog/page.tsx
  apps/website/components/custom/layout/index.tsx
  apps/website/components/page-components/changelog-page/ChangelogItem/index.tsx
  apps/website/components/page-components/changelog-page/changelog-data.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update changelog entry title and image, and remove redundant text in changelog page
  apps/website/app/ui/docs/changelog/[slug]/page.tsx
  apps/website/components/page-components/changelog-page/changelog-data.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add new image for Expo 55 beta blog post
  apps/website/public/images/blogs/expo55-beta.png
Due: none

feat: applied glass veiw in bottom tab bar
  apps/kitchen-sink/components/custom/bottom-control-bar/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add changelog data structure and initial entries for gluestack-ui versions
  apps/website/app/ui/docs/changelog/[slug]/layout.tsx
  apps/website/app/ui/docs/changelog/[slug]/page.tsx
  apps/website/app/ui/docs/changelog/changelog-data.ts
  apps/website/app/ui/docs/changelog/page.tsx
  apps/website/components/page-components/changelog-page/ChangelogItem/index.tsx
  src/docs/changelog/changelog-data.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
