Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: added next example
  example/next/.eslintrc.js
  example/next/.gitignore
  example/next/.nvmrc
  example/next/README.md
  example/next/app.json
  example/next/assets/logo.png
  example/next/babel.config.js
  example/next/layouts/GuestLayout.jsx
  example/next/nb.config.ts
  example/next/next-env.d.ts
  example/next/next.config.js
  example/next/package.json
  example/next/pages/_app.jsx
  example/next/pages/_document.js
  example/next/pages/index.js
  example/next/public/favicon.ico
  example/next/public/images/nativebase-logo.svg
  example/next/public/images/nextjs-logo.png
  example/next/public/vercel.svg
  example/next/styles/globals.css
  example/next/tsconfig.json
  packages/react/babel.config.js
  packages/react/package.json
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/styled.tsx
  packages/react/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.2
  packages/react/package.json
Due: prettier --write

fix: added color mode
  packages/react/package.json
Due: prettier --write

v0.1.3
  packages/react/package.json
Due: prettier --write

feat: added InlineStyle Docs
  example/storybook/src/api/InlineStyles/BaseStyleSX.stories.tsx
  example/storybook/src/api/InlineStyles/BaseStyleSX.tsx
  example/storybook/src/api/InlineStyles/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added state base style docs
  example/storybook/src/api/StateBasesStyles/ButtonStateProps.stories.tsx
  example/storybook/src/api/StateBasesStyles/ButtonStateProps.tsx
  example/storybook/src/api/StateBasesStyles/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added variant and sizes docs
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.stories.tsx
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  example/storybook/src/api/VariantsAndSizes/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed installation docs from overview
  example/storybook/src/overview/Installation/index.stories.mdx
Due: none

feat: added color mode docs
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.stories.tsx
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.web.tsx
  example/storybook/src/api/ColorModeBasedStyles/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added context based docs
  example/storybook/src/api/ContextBasedStyles/ContextBasedStyles.stories.tsx
  example/storybook/src/api/ContextBasedStyles/ContextBasedStyles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added platform based styling docs
  example/storybook/src/api/PlatformBasedStyles/PlatformBasedStyles.stories.tsx
  example/storybook/src/api/PlatformBasedStyles/PlatformBasedStyles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added property resolver docs
  example/storybook/src/api/PropertyResolver/PropertyResolver.stories.tsx
  example/storybook/src/api/PropertyResolver/PropertyResolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added utility props docs
  example/storybook/src/api/UtilityProps/UtilityProps.stories.tsx
  example/storybook/src/api/UtilityProps/UtilityProps.tsx
  example/storybook/src/api/UtilityProps/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: args unused variable warning
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.web.tsx
  example/storybook/src/api/ContextBasedStyles/ContextBasedStyles.tsx
  example/storybook/src/api/PlatformBasedStyles/PlatformBasedStyles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated types
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated types
  packages/react/package.json
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: merge conflicts
  yarn.lock
Due: none

feat: added responsive style docs
  example/storybook/src/api/ResponsiveStyles/ResponsiveStyles.stories.tsx
  example/storybook/src/api/ResponsiveStyles/ResponsiveStyles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: deleted stories
  example/storybook/src/recipes/BaseStyleSX/BaseStyleSX.stories.tsx
  example/storybook/src/recipes/BaseStyleSX/BaseStyleSX.tsx
  example/storybook/src/recipes/BaseStyleVariantSizes/BaseStyleVariantSizes.stories.tsx
  example/storybook/src/recipes/BaseStyleVariantSizes/BaseStyleVariantSizes.tsx
  example/storybook/src/recipes/ButtonStateProps/ButtonStateProps.stories.tsx
  example/storybook/src/recipes/ButtonStateProps/ButtonStateProps.tsx
  example/storybook/src/recipes/ColorMode/ColorMode.stories.tsx
  example/storybook/src/recipes/ColorMode/ColorMode.tsx
  example/storybook/src/recipes/ColorMode/ColorMode.web.tsx
  example/storybook/src/recipes/Descendants/Descendants.stories.tsx
  example/storybook/src/recipes/Descendants/Descendants.tsx
  example/storybook/src/recipes/MediaQuery/MediaQuery.stories.tsx
  example/storybook/src/recipes/MediaQuery/MediaQuery.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added linear gradiant docs
  example/storybook/src/api/LinearGradient/LinearGradient.stories.tsx
  example/storybook/src/api/LinearGradient/LinearGradient.tsx
  example/storybook/src/api/LinearGradient/index.stories.mdx
  example/storybook/src/recipes/LinearGradient/LinearGradient.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added new stories
  example/storybook/src/advanced/StyleIds/StyleId.stories.tsx
  example/storybook/src/advanced/StyleIds/StyleId.tsx
  example/storybook/src/api/InlineStyles/BaseStyleSX.stories.tsx
  example/storybook/src/api/InlineStyles/InlineStyles.stories.tsx
  example/storybook/src/api/InlineStyles/InlineStyles.tsx
  example/storybook/src/api/InlineStyles/index.stories.mdx
  example/storybook/src/api/LinearGradient/index.stories.mdx
  example/storybook/src/recipes/PlatformProps/PlatformProps.stories.tsx
  example/storybook/src/recipes/PlatformProps/PlatformProps.tsx
  example/storybook/src/recipes/PropertyResolver/PropertyResolver.stories.tsx
  example/storybook/src/recipes/PropertyResolver/PropertyResolver.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: native storybook crash issue
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/metro.config.js
  example/storybook/src/components/Test/Test.stories.tsx
  example/storybook/src/components/Test/Test.tsx
  packages/babel-plugin-styled-resolver/package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: button added
  packages/Button/README.md
Due: prettier --write

feat: button added
  Button/README.md
Due: prettier --write

feat: button added
  packages/Button/babel.config.js
  packages/Button/tsconfig.json
  packages/ReactNativeAria/package.json
  packages/ReactNativeAria/src/index.tsx
  packages/ReactNativeAria/src/useKeyboardDismisssable.ts
  packages/ReactNativeAria/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: button added
  Button/babel.config.js
  Button/tsconfig.json
  ReactNativeAria/package.json
  ReactNativeAria/src/index.tsx
  ReactNativeAria/src/useKeyboardDismisssable.ts
  ReactNativeAria/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook runtime error
  example/storybook/babel.config.js
  packages/Button/.npmignore
  packages/react-native-aria/package.json
  packages/react-native-aria/src/index.tsx
  packages/react-native-aria/src/useKeyboardDismisssable.ts
  packages/react-native-aria/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook runtime error
  Button/.npmignore
  react-native-aria/package.json
  react-native-aria/src/index.tsx
  react-native-aria/src/useKeyboardDismisssable.ts
  react-native-aria/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated dependency
  packages/react/package.json
Due: prettier --write

v0.1.5
  packages/react/package.json
Due: prettier --write

fix: updated dependency
  packages/benchmark-native/babel.config.js
Due: eslint --quiet --fix, prettier --write

v0.1.1
  packages/config/package.json
Due: prettier --write

feat: styled pre resolution using babel plugin
  example/babel-plugin-styled-resolver-expo/App.tsx
  example/babel-plugin-styled-resolver-expo/Button1.tsx
  example/babel-plugin-styled-resolver-expo/Button2.tsx
  example/babel-plugin-styled-resolver-expo/Button3.tsx
  example/babel-plugin-styled-resolver-expo/Button4.tsx
  example/babel-plugin-styled-resolver-expo/Button5.tsx
  example/babel-plugin-styled-resolver-expo/package.json
  example/next/babel.config.js
  example/next/dank.config.ts
  example/next/next.config.js
  example/next/package.json
  example/next/pages/index.js
  packages/babel-plugin-styled-resolver/package.json
  packages/babel-plugin-styled-resolver/src/index.js
  packages/benchmark-next/bench/create-and-mount-button/react-native-web.tsx
  packages/cssify/src/create-stylesheet/index.ts
  packages/cssify/src/create-stylesheet/index.web.ts
  packages/cssify/src/utils/create-declaration-block.ts
  packages/react/src/injectInStyle.web.ts
  packages/react/src/styled.tsx
  packages/react/src/types.ts
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
  packages/react/src/useSxPropsStyleTagInjector.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed lodash.merge dependency
  packages/react/package.json
  packages/react/src/pseudoResolver.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
