Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

v1.0.40-alpha.0
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.0
  packages/themed/package.json
Due: prettier --write

v1.0.40-alpha.1
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.1
  packages/themed/package.json
Due: prettier --write

v1.0.40-alpha.2
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.4
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alhpa.5
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.5
  packages/styled/react/package.json
Due: prettier --write

fix: inputfield lineheight
  packages/config/src/theme/InputField.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.40-alpha.7
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.2
  packages/themed/package.json
Due: prettier --write

v1.0.40-alpha.3
  packages/themed/package.json
Due: prettier --write

v1.0.40-alpha.8
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.4
  packages/themed/package.json
Due: prettier --write

v1.0.40-alpha.9
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.10
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.11
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.12
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.6
  packages/themed/package.json
Due: prettier --write

fix: typing performance
  example/expo-router-example/app/_layout.tsx
  packages/styled/react/src/styled.tsx
  packages/styled/react/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.40-alpha.13
  packages/styled/react/package.json
Due: prettier --write

v1.0.40-alpha.7
  packages/themed/package.json
Due: prettier --write

fix: config version
  packages/config/package.json
Due: prettier --write

fix: font resolver
  packages/styled/react/src/plugins/font-resolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: version
  packages/themed/package.json
Due: prettier --write

chore: version bump
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: removed pointerEvents from actionsheet content
  packages/config/src/theme/ActionsheetContent.ts
  packages/unstyled/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed pointerEvents from actionsheet backdrop
  packages/config/src/theme/ActionsheetBackdrop.ts
  packages/unstyled/actionsheet/src/ActionsheetBackdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed pointerEvents from actionsheet item
  packages/config/src/theme/ActionsheetItem.ts
  packages/unstyled/actionsheet/src/ActionsheetItem.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed pointerEvents from alert dialog
  packages/config/src/theme/AlertDialog.ts
  packages/unstyled/alert-dialog/src/AlertDialog.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed pointerEvents from actionsheet
  packages/config/src/theme/Actionsheet.ts
  packages/unstyled/actionsheet/src/Actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: closeonoverlay issue
  packages/react-native-aria/menu/src/useMenuItem.web.ts
  packages/themed/src/components/Menu/styled-components/Item.web.tsx
  packages/unstyled/menu/src/Menu.tsx
  packages/unstyled/menu/src/MenuItem.tsx
  packages/unstyled/menu/src/MenuPopover/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed pointerEvents from modal
  packages/config/src/theme/Modal.ts
  packages/unstyled/modal/src/Modal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed pointerEvents from popover
  packages/config/src/theme/Popover.ts
  packages/unstyled/popover/src/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: updated migration documentation
  example/storybook/src/ui/migration/native-base-to-gluestack-ui/index.stories.mdx
Due: none

fix: font resolver
  packages/styled/react/src/plugins/font-resolver.tsx
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.41
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

feat: advanced examples
  example/storybook-advanced-examples/src/AdvancedComponents/Mail/Box/Box.png
  example/storybook-advanced-examples/src/AdvancedComponents/Mail/Box/Box.stories.tsx
  example/storybook-advanced-examples/src/AdvancedComponents/Mail/Box/Box.tsx
  example/storybook-advanced-examples/src/AdvancedComponents/Mail/Box/BoxWithRef.tsx
  example/storybook-advanced-examples/src/AdvancedComponents/Mail/Box/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed pointerEvents from Select Input
  packages/config/src/theme/SelectInput.ts
  packages/unstyled/select/src/SelectInput.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
