Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: aria label priority over accessibilitylabel
  checkbox/src/Checkbox.tsx
  checkbox/src/Checkbox.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add storybook in ignore
  .changeset/config.json
Due: prettier --write

fix: styles fixed
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/components/Forms/TextArea/TextArea.tsx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/ui-components/TextArea/styled-components/Input.tsx
  example/storybook/src/ui-components/TextArea/styled-components/Root.tsx
  packages/textarea/src/TextArea.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styles fixed
  textarea/src/TextArea.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: dank style react version up
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: ischecked typing
  radio/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ischecked typing
  packages/radio/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update headings
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/Divider/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/getting-started/Fonts/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: add isOpen prop
  packages/tooltip/src/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add isOpen prop
  tooltip/src/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add animation package
  example/storybook/package.json
  example/storybook/src/ui-components/styled/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove transition
  example/storybook/src/ui-components/Popover/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add absolute values
  example/storybook/src/ui-components/AlertDialog/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/AlertDialog/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add text wrapper
  example/storybook/src/components/Overlay/Popover/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: modal example
  example/storybook/src/components/Overlay/Modal/Modal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dank style react version up
  package.json
Due: prettier --write

feat: close on select by default true
  menu/src/MenuContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: close on select by default true
  packages/menu/src/MenuContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: make animate presence optional
  alert-dialog/src/index.tsx
  modal/src/Modal.tsx
  modal/src/index.tsx
  popover/src/Popover.tsx
  popover/src/index.tsx
  tooltip/src/TooltipContent.tsx
  tooltip/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: make animate presence optional
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  packages/alert-dialog/src/index.tsx
  packages/modal/src/Modal.tsx
  packages/modal/src/index.tsx
  packages/popover/src/Popover.tsx
  packages/popover/src/index.tsx
  packages/tooltip/src/TooltipContent.tsx
  packages/tooltip/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: web fixes
  select/src/Select.tsx
  select/src/SelectBackdrop.tsx
  select/src/SelectContent.tsx
  select/src/SelectDragIndicatorWrapper.tsx
  select/src/SelectPortal.tsx
  select/src/index.ts
  select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: web fixes
  packages/select/src/Select.tsx
  packages/select/src/SelectBackdrop.tsx
  packages/select/src/SelectContent.tsx
  packages/select/src/SelectDragIndicatorWrapper.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/index.ts
  packages/select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: released utils 0.1.1
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: commented animation plugin
  example/storybook/src/ui-components/styled/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: export styled
  example/storybook/src/ui-components/styled/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ios styling fixes
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Select/styled-components/Input.tsx
  example/storybook/src/ui-components/Select/styled-components/Item.tsx
  example/storybook/src/ui-components/Select/styled-components/ItemList.tsx
  example/storybook/src/ui-components/Select/styled-components/Overlay.tsx
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
  example/storybook/src/ui-components/Select/styled-components/Trigger.tsx
  example/storybook/src/ui-components/Select/styled-components/index.tsx
  packages/select/src/Select.tsx
  packages/select/src/SelectItemList.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ios styling fixes
  select/src/Select.tsx
  select/src/SelectItemList.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version updated to 0.1.1
  utils/CHANGELOG.md
  utils/package.json
Due: prettier --write

chore: version updated to 0.1.1
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: link target
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
Due: none

fix: android styling fixes
  example/storybook/src/ui-components/Select/styled-components/Input.tsx
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: table container import
  example/storybook/src/components/Layout/VStack/index.stories.mdx
Due: none

v0.1.2
  utils/package.json
Due: prettier --write

v0.1.2
  packages/utils/package.json
Due: prettier --write

fix: release issue
  form-control/CHANGELOG.md
  form-control/package.json
Due: prettier --write

fix: release issue
  packages/form-control/CHANGELOG.md
  packages/form-control/package.json
  yarn.lock
Due: prettier --write

chore: version upgrade to 0.1.2
  radio/package.json
Due: prettier --write

chore: version upgrade to 0.1.2
  .changeset/gentle-pans-kiss.md
  packages/radio/package.json
Due: prettier --write

fix: extracted input
  select/src/SelectInput.tsx
  select/src/SelectPortal.tsx
  select/src/SelectTrigger.tsx
  select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: extracted input
  example/storybook/src/components/Forms/Select/Select.tsx
  packages/select/src/SelectInput.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/SelectTrigger.tsx
  packages/select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
