Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: add new testimonial from Adeola Emmanuel Morren to landing page
  apps/website/components/page-components/landing-page/Testimonials/content.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update upgrade command to retain specific packages during removal process
  packages/gluestack-ui/src/commands/upgrade.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 3.0.9 and fix upgrade flow to retain core and utils packages
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
Due: prettier --write

fix: add initialWindowMetrics to SafeAreaProvider in ToastList component
  packages/gluestack-core/src/toast/creator/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 3.0.11 and add initialWindowMetrics to SafeAreaProvider
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

chore: bump version to 3.0.12 and fix stale state issue in Actionsheet during drag closure
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

chore: update version to 3.0.12 and add MIT license
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
Due: prettier --write

fix(badge): make action, variant and size reactive to state changes
  apps/starter-kit-next/components/ui/badge/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: add babel-plugin-module-resolver as dev dependency
  packages/gluestack-ui/src/dependencies.ts
  packages/gluestack-ui/src/util/config/expo-config-helper.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added prduct hunt banner
  apps/website/components/page-components/landing-page/ProductHuntBanner/index.tsx
  apps/website/components/page-components/landing-page/WebsiteLayout/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the banner for gluestack-ui pro and ancghage the product section also add the cta
  apps/website/components/page-components/header/index.tsx
  apps/website/components/page-components/landing-page/ProductHuntBanner/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update the prducts on the gluestack website phone device
  apps/website/components/page-components/landing-page/ResponsiveSidebar/sidebar-header-items.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update Babel and Metro configurations, replace NativeWind with UniWind, and enhance global CSS with Tailwind and UniWind themes
  apps/starter-kit-expo/babel.config.js
  apps/starter-kit-expo/components/ui/gluestack-ui-provider/index.tsx
  apps/starter-kit-expo/global.css
  apps/starter-kit-expo/metro.config.js
  apps/starter-kit-expo/package.json
  packages/gluestack-utils/src/hooks/use-break-point-value/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: enhance package manager configuration and error handling in utility functions
  packages/gluestack-ui/src/util/config/expo-config-helper.ts
  packages/gluestack-ui/src/util/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 3.0.10 and fix init issue for pnpm
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
Due: prettier --write

fix the kitchen sink home page use flat list
  apps/kitchen-sink/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the homepage and dependencies
  apps/kitchen-sink/app/index.tsx
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: changes packages
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
Due: prettier --write

feat: setup for tokens and design
  apps/kitchen-sink/tailwind.config.js
  apps/starter-kit-expo/components/ui/button/index.tsx
  apps/starter-kit-expo/components/ui/gluestack-ui-provider/config.ts
  apps/starter-kit-next/components/ui/button/index.tsx
  apps/starter-kit-next/components/ui/gluestack-ui-provider/config.ts
  apps/website/components/page-components/all-components/button/index.tsx
  apps/website/tailwind.config.ts
  src/components/ui/button/examples/basic/meta.json
  src/components/ui/button/examples/basic/template.handlebars
  src/components/ui/button/index.tsx
  src/components/ui/gluestack-ui-provider/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: button schadcn mapping
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated kitchensink url from v2->v3
  src/docs/apps/kitchensink-app/index.mdx
Due: none

fix: fixed background flicker issue on navigation
  apps/kitchen-sink/app.json
Due: prettier --write

feat: button
  apps/starter-kit-expo/components/ui/button/index.tsx
  apps/starter-kit-expo/components/ui/gluestack-ui-provider/config.ts
  apps/starter-kit-next/components/ui/button/index.tsx
  apps/starter-kit-next/components/ui/gluestack-ui-provider/config.ts
  apps/website/tailwind.config.ts
  src/components/ui/button/index.tsx
  src/components/ui/gluestack-ui-provider/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

badge tokens
  apps/starter-kit-expo/components/ui/badge/index.tsx
  apps/starter-kit-expo/components/ui/gluestack-ui-provider/config.ts
  apps/starter-kit-next/components/ui/badge/index.tsx
  apps/starter-kit-next/components/ui/gluestack-ui-provider/config.ts
  apps/website/components/page-components/all-components/badge/index.tsx
  src/components/ui/badge/examples/basic/meta.json
  src/components/ui/badge/examples/basic/template.handlebars
  src/components/ui/badge/index.tsx
  src/components/ui/gluestack-ui-provider/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update app layout and enhance performance with memoization
  apps/kitchen-sink/app.json
  apps/kitchen-sink/app/_layout.tsx
  apps/kitchen-sink/app/index.tsx
  apps/kitchen-sink/assets/images/header-dark.webp
  apps/kitchen-sink/assets/images/header-light.webp
  apps/kitchen-sink/assets/images/splash-icon.png
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update layout animations and improve component styling
  apps/kitchen-sink/app/_layout.tsx
  apps/kitchen-sink/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: formatting
  apps/kitchen-sink/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the style for buttons
  apps/website/tailwind.config.ts
  src/components/ui/badge/index.tsx
  src/components/ui/button/index.tsx
  src/components/ui/gluestack-ui-provider/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

button sizes map to schadcn
  apps/kitchen-sink/tailwind.config.js
  apps/starter-kit-expo/components/ui/button/index.tsx
  apps/starter-kit-next/components/ui/button/index.tsx
  apps/website/tailwind.config.ts
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: accordion styling
  apps/starter-kit-expo/components/ui/accordion/index.tsx
  apps/starter-kit-next/components/ui/accordion/index.tsx
  src/components/ui/accordion/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feta: change accordion example
  apps/website/components/page-components/all-components/accordion/index.tsx
  src/components/ui/accordion/examples/basic/meta.json
  src/components/ui/accordion/examples/basic/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove variants
  apps/starter-kit-expo/components/ui/accordion/index.tsx
  apps/starter-kit-next/components/ui/accordion/index.tsx
  src/components/ui/accordion/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: simplify layout and improve component styling
  apps/kitchen-sink/app/_layout.tsx
  apps/kitchen-sink/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

rgin
  apps/starter-kit-expo/components/ui/accordion/index.tsx
  apps/starter-kit-next/components/ui/accordion/index.tsx
  apps/website/components/page-components/all-components/accordion/index.tsx
  src/components/ui/accordion/examples/basic/template.handlebars
  src/components/ui/accordion/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

seatup the tokens colors in the styled file
  apps/starter-kit-expo/components/ui/accordion/index.tsx
  apps/starter-kit-expo/components/ui/gluestack-ui-provider/config.ts
  apps/starter-kit-next/components/ui/accordion/index.tsx
  apps/starter-kit-next/components/ui/gluestack-ui-provider/config.ts
  apps/website/components/page-components/all-components/accordion/index.tsx
  apps/website/tailwind.config.ts
  src/components/ui/accordion/examples/basic/template.handlebars
  src/components/ui/accordion/index.tsx
  src/components/ui/gluestack-ui-provider/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add splash screen and integrate Lottie animations
  apps/kitchen-sink/app/_layout.tsx
  apps/kitchen-sink/app/index.tsx
  apps/kitchen-sink/assets/animations/splash_animation.json
  apps/kitchen-sink/components/custom/splash-screen/index.tsx
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: setup
  apps/starter-kit-expo/components/ui/gluestack-ui-provider/config.ts
  apps/starter-kit-next/components/ui/gluestack-ui-provider/config.ts
  apps/website/tailwind.config.ts
  src/components/ui/gluestack-ui-provider/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:setup
  apps/kitchen-sink/global.css
  apps/kitchen-sink/tailwind.config.js
  apps/starter-kit-expo/components/ui/button/index.tsx
  apps/starter-kit-next/components/ui/button/index.tsx
  apps/website/app/globals.css
  apps/website/tailwind.config.ts
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

styling of components
  apps/website/app/globals.css
  apps/website/tailwind.config.ts
  src/components/ui/button/examples/basic/template.handlebars
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update splash screen and enhance component performance
  apps/kitchen-sink/app.json
  apps/kitchen-sink/app/_layout.tsx
  apps/kitchen-sink/app/index.tsx
  apps/kitchen-sink/assets/animations/splash_animation.json
  apps/kitchen-sink/components/custom/splash-screen/index.tsx
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
  apps/starter-kit-expo/components/ui/flat-list/index.tsx
  apps/starter-kit-next/components/ui/flat-list/index.tsx
  src/components/ui/flat-list/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
