Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: typing styled component
  example/storybook/src/ui-components/Menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing styled component shadowoffset
  example/storybook/src/ui-components/Menu/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/fab version bump to 0.1.3
  packages/fab/CHANGELOG.md
  packages/fab/package.json
Due: prettier --write

chore: @gluestack-ui/fab version bump to 0.1.3
  fab/CHANGELOG.md
  fab/package.json
Due: prettier --write

chore: @gluestack-ui/alert version bump to 0.1.7
  create-release.js
  packages/alert/CHANGELOG.md
  packages/alert/package.json
Due: eslint --quiet --fix, prettier --write

chore: @gluestack-ui/alert version bump to 0.1.7
  alert/CHANGELOG.md
  alert/package.json
Due: prettier --write

feat: updated some alert example
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
Due: none

feat: added input FC example
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

feat: added radio FC example
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

feat: added cehckbox FC example
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

feat: added TextArea FC example
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

feat: added Select isRequired FC example
  example/storybook/src/components/Forms/FormControl/FormControl.tsx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added icon from lucide
  example/storybook/src/components/MediaAndIcons/Avatar/Avatar.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added icon from lucide
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: remove unwanted code
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

feat: added controlled and uncontrolled example
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: completed Select isRequired FC example
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: removing installation command of provider
  example/storybook/src/components/Provider/Provider/index.stories.mdx
Due: none

feat: error message FC example
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: updated title of docs pages
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  yarn.lock
Due: none

feat: added form actions example
  example/storybook/src/components/Forms/FormControl/FormControl.tsx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changed component version to latest
  example/storybook/src/ui-components/Alert/config.json
  example/storybook/src/ui-components/AlertDialog/config.json
  example/storybook/src/ui-components/Avatar/config.json
  example/storybook/src/ui-components/Checkbox/config.json
  example/storybook/src/ui-components/Icons/config.json
  example/storybook/src/ui-components/Tabs/config.json
Due: prettier --write

fix: added component dependencies
  example/storybook/src/ui-components/Icons/config.json
Due: prettier --write

feat: completed all the examples
  example/storybook/src/components/Forms/FormControl/FormControl.tsx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: not using extra space now
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

feat: added example for textArea with prop knobs
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
Due: none

fix: textarea example
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
Due: none

fix: updated size issue, using tokens now
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: icon issue
  example/storybook/package.json
  example/storybook/src/ui-components/Icons/index.tsx
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
  packages/radio/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon issue
  radio/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: avoid merge conflict
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: removed height till the bug resolves
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: merge conflict
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: fab placement issue fixed and updated
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

feat: added import statements
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added example of actionsheet
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
Due: none

fix: updated snapshot
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: made it a link instead of text
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed export
  example/storybook/src/ui-components/Select/index.tsx
  example/storybook/src/ui-components/Slider/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon build issue
  example/storybook/src/ui-components/Icons/Icons/ThreeDots.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
