Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: added blog page
  apps/website/app/blogs/gluestack-v3-release/blog.mdx
  apps/website/app/blogs/gluestack-v3-release/layout.tsx
  apps/website/app/blogs/gluestack-v3-release/page.tsx
  apps/website/app/blogs/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:add banner image
  apps/website/public/images/blogs/banner-1.png
Due: none

fix: prevent accordion animation on initial mount
  packages/gluestack-core/src/accordion/creator/AnimatedHeight.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update README.md
  README.md
Due: prettier --write

feat:add banner images
  apps/website/public/images/blogs/ph-banner.png
  apps/website/public/images/blogs/twitter-banner.png
  apps/website/public/images/blogs/v3-banner.png
Due: none

feat: make the blog content
  apps/website/app/blogs/gluestack-v3-release/blog.mdx
  apps/website/app/blogs/page.tsx
  apps/website/components/page-components/blogs-page/TOC/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:updated meta data
  apps/website/app/blogs/gluestack-v3-release/layout.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: make the blog content
  apps/website/app/blogs/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add new blog entry for React Native ARIA & gluestack-ui Security Incident Report with author details and publication date
  apps/website/app/blogs/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add lucide-react dependency to website
  apps/website/package.json
  apps/website/yarn.lock
Due: prettier --write

feat: update blog entry for React Native ARIA incident report with new cover image and author details
  apps/website/app/blogs/page.tsx
  apps/website/public/images/blogs/rn-aria-incident-report.png
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

made the newsletter api
  apps/website/app/api/listmonk/route.ts
  apps/website/components/page-components/landing-page/Newsletter/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed newsletter
  apps/website/app/api/listmonk/route.ts
  apps/website/components/page-components/landing-page/Newsletter/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add news letter to header
  apps/website/components/page-components/header/NewsLetterModal.tsx
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

change button
  apps/website/components/page-components/header/NewsLetterModal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Change deprecated SafeAreaView to SafeAreaView of react-native-safe-area-context
  apps/starter-kit-expo/components/ui/safe-area-view/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Change deprecated SafeAreaView to SafeAreaView of react-native-safe-area-context
  apps/starter-kit-next/components/ui/safe-area-view/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Change deprecated SafeAreaView to SafeAreaView of react-native-safe-area-context
  src/components/ui/safe-area-view/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Change deprecated SafeAreaView to SafeAreaView of react-native-safe-area-context
  packages/gluestack-core/src/toast/creator/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: improve import handling in modify-layout.ts to prevent duplicates and enhance CSS import checks
  packages/gluestack-ui/src/util/init/modify-layout.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update version to 3.0.4 and fix global.css imports in changelog
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
Due: prettier --write

fix: update VariantProps import path to use @gluestack-ui/utils/nativewind-utils in button component files
  apps/starter-kit-expo/components/ui/button/index.tsx
  apps/starter-kit-next/components/ui/button/index.tsx
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: clean up type definitions and ensure consistent formatting in nativewind-utils
  packages/gluestack-utils/src/nativewind-utils/types.ts
  packages/gluestack-utils/src/nativewind-utils/utils/deepMerge.ts
  packages/gluestack-utils/src/nativewind-utils/utils/index.ts
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update version to 3.0.4 and fix tva config in changelog
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
Due: prettier --write

chore: bump version to 3.0.3 and update @gluestack-ui/utils dependency
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

Update index.tsx
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update @gluestack-ui/core and @gluestack-ui/utils to versions 3.0.5 and 3.0.6 respectively
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/yarn.lock
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
Due: prettier --write

Update dependencies to include react-native-safe-area-context version 5.6.1 in safe-area-view and toast components
  src/components/ui/safe-area-view/dependencies.json
  src/components/ui/toast/dependencies.json
Due: prettier --write

chore: bump version to 3.0.6 and update dependencies
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

chore: bump version to 3.0.7
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
Due: prettier --write

feat:remove product hunt banner
  apps/website/components/page-components/landing-page/WebsiteLayout/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Mention active pseudo class for Pressable component
  src/components/ui/pressable/docs/index.mdx
Due: none

chore: removed ph banner
  apps/website/components/page-components/landing-page/WebsiteLayout/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update default color mode to dark in ThemeContext
  apps/website/utils/context/theme-context/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: remove MadeWithGluestack component from landing page
  apps/website/components/page-components/landing-page/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: update roadmap to reflect new components, animations, and performance improvements
  src/docs/guides/more/roadmap/index.mdx
Due: none

Reanimated V4 compatible Modal overlay
  src/components/ui/modal/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Reanimated 4 compatible Modal overlay
  src/components/ui/modal/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
