Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: add animation plugin package
  packages/animation-plugin/.gitignore
  packages/animation-plugin/.nvmrc
  packages/animation-plugin/babel.config.js
  packages/animation-plugin/package.json
  packages/animation-plugin/src/index.tsx
  packages/animation-plugin/src/propertyTokenMap.ts
  packages/animation-plugin/src/utils.ts
  packages/animation-plugin/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icons dependency added
  example/storybook/src/ui-components/Alert/config.json
Due: prettier --write

feat: tooltip added
  packages/tooltip/src/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: tooltip added
  tooltip/src/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox with form-control
  example/storybook/package.json
  packages/checkbox/babel.config.js
  packages/checkbox/src/Checkbox.web.tsx
  packages/checkbox/src/CheckboxGroup.tsx
  packages/checkbox/src/CheckboxVisuallyHidden.tsx
  packages/checkbox/src/CheckboxVisuallyHidden.web.tsx
  packages/form-control/src/index.tsx
  packages/utils/src/index.ts
  packages/utils/src/stableHash.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox with form-control
  checkbox/babel.config.js
  checkbox/src/Checkbox.web.tsx
  checkbox/src/CheckboxGroup.tsx
  checkbox/src/CheckboxVisuallyHidden.tsx
  checkbox/src/CheckboxVisuallyHidden.web.tsx
  form-control/src/index.tsx
  utils/src/index.ts
  utils/src/stableHash.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fallback text and badge
  avatar/src/AvatarFallbackText.tsx
  avatar/src/AvatarGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fallback text and badge
  example/storybook/src/components/MediaAndIcons/Avatar/Avatar.stories.tsx
  example/storybook/src/components/MediaAndIcons/Avatar/Avatar.tsx
  example/storybook/src/components/MediaAndIcons/Avatar/AvatarGroup.tsx
  example/storybook/src/components/MediaAndIcons/Avatar/AvatarSizes.tsx
  example/storybook/src/ui-components/Avatar/styled-components/FallbackText.tsx
  example/storybook/src/ui-components/Avatar/styled-components/Group.tsx
  example/storybook/src/ui-components/Avatar/styled-components/Root.tsx
  packages/avatar/src/AvatarFallbackText.tsx
  packages/avatar/src/AvatarGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: uselink and progress aria
  link/src/useLink.ts
  progress/src/Progress.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: uselink and progress aria
  packages/link/src/useLink.ts
  packages/progress/src/Progress.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: uselink and progress aria
  link/CHANGELOG.md
  link/package.json
  progress/CHANGELOG.md
  progress/package.json
Due: prettier --write

fix: uselink and progress aria
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/progress/CHANGELOG.md
  packages/progress/package.json
Due: prettier --write

fix: checkbox form control native
  packages/checkbox/package.json
  packages/checkbox/src/Checkbox.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox form control native
  checkbox/package.json
  checkbox/src/Checkbox.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed external option in link
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: overlay position for scale value
  packages/overlays/src/web/overlays/src/calculatePosition.ts
  packages/overlays/src/web/overlays/src/useCloseOnScroll.ts
  packages/overlays/src/web/overlays/src/useOverlayPosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: disabled styling and shifting layout
  select/src/Select.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: disabled styling and shifting layout
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
  example/storybook/src/ui-components/Select/styled-components/Icon.tsx
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
  packages/select/src/Select.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: slider aria fixes
  example/storybook/src/ui-components/Slider/styled-components/Thumb.tsx
  example/storybook/src/ui-components/Slider/styled-components/ThumbInteraction.tsx
  packages/slider/src/Slider.tsx
  packages/slider/src/SliderThumb.tsx
  packages/slider/src/SliderTrack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: onopen and onclose function
  select/src/SelectItemList.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: onopen and onclose function
  packages/select/src/SelectItemList.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: placeholderTextColor fix
  example/storybook/src/ui-components/Select/styled-components/ItemList.tsx
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: state prop
  packages/select/src/Select.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: state prop
  select/src/Select.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: start click issue
  example/storybook/src/ui-components/Select/styled-components/ItemList.tsx
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
  packages/select/src/SelectItemList.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: start click issue
  select/src/SelectItemList.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: text area
  divider/src/Divider.tsx
  textarea/src/TextArea.tsx
  textarea/src/TextAreaRoot.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: text area
  example/storybook/src/components/DataDisplay/Divider/Divider.stories.tsx
  example/storybook/src/components/DataDisplay/Divider/Divider.tsx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/TextArea.tsx
  example/storybook/src/ui-components/Divider/styled-components/Root.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  example/storybook/src/ui-components/Text/styled-components/Root.tsx
  example/storybook/src/ui-components/TextArea/styled-components/Input.tsx
  example/storybook/src/ui-components/TextArea/styled-components/Root.tsx
  packages/divider/src/Divider.tsx
  packages/textarea/src/TextArea.tsx
  packages/textarea/src/TextAreaRoot.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: content and example changes
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Layout/Divider/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

feat: form control radio
  packages/checkbox/src/Checkbox.tsx
  packages/checkbox/src/CheckboxIcon.tsx
  packages/radio/src/Radio.web.tsx
  packages/radio/src/RadioGroup.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: form control radio
  checkbox/src/Checkbox.tsx
  checkbox/src/CheckboxIcon.tsx
  radio/src/Radio.web.tsx
  radio/src/RadioGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added table container to all the tables in storybook
  example/storybook/package.json
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  yarn.lock
Due: prettier --write

fix: added table container to all the tables in storybook
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: native api
  select/src/SelectContext.ts
  select/src/SelectItem.tsx
  select/src/SelectItemList.tsx
  select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: native api
  example/storybook/src/ui-components/Select/index.tsx
  packages/select/src/SelectContext.ts
  packages/select/src/SelectItem.tsx
  packages/select/src/SelectItemList.tsx
  packages/select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Create testing.yml
  .github/workflows/testing.yml
Due: none

feat: test script
  example/storybook/package.json
  package.json
  packages/react/package.json
  packages/react/tests/example.test.js
  packages/react/tests/nb.config.js
  scripts/test.sh
  yarn.lock
Due: eslint --quiet --fix, prettier --write

feat: add animation component in tooltip
  example/storybook/src/ui-components/Tooltip/index.tsx
  example/storybook/src/ui-components/Tooltip/styled-components/Content.tsx
  example/storybook/src/ui-components/Tooltip/styled-components/Root.tsx
  packages/tooltip/package.json
  packages/tooltip/src/OverlayAnimatePresence.tsx
  packages/tooltip/src/Tooltip.tsx
  packages/tooltip/src/TooltipContent.tsx
  packages/tooltip/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add animation component in tooltip
  tooltip/package.json
  tooltip/src/OverlayAnimatePresence.tsx
  tooltip/src/Tooltip.tsx
  tooltip/src/TooltipContent.tsx
  tooltip/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
