Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added typing and cssinterop changes
  example/storybook-nativewind/src/components-example/nativewind/Button/index.tsx
  example/storybook-nativewind/src/components-example/nativewind/Checkbox/index.tsx
  example/storybook-nativewind/src/components/Checkbox/index.themed.stories.mdx
  packages/nativewind/utils/src/cssInterop.tsx
  packages/nativewind/utils/src/cssInterop.web.tsx
  packages/nativewind/utils/src/index.ts
  packages/nativewind/utils/src/tva.ts
  packages/nativewind/utils/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.0.6
  packages/nativewind/utils/package.json
Due: prettier --write

fix: revert changes for the themed (with gluestack-style) docs changes
  example/storybook-nativewind/src/components/Accordion/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Accordion/index.themed.storiesold.mdx
  example/storybook-nativewind/src/components/Actionsheet/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Actionsheet/index.themed.storiesold.mdx
  example/storybook-nativewind/src/components/AlertDialog/index.themed.stories.mdx
  example/storybook-nativewind/src/components/AlertDialog/index.themed.storiesold.mdx
  example/storybook-nativewind/src/components/FormControl/index.themed.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.themed.storiesold.mdx
  example/storybook-nativewind/src/components/Modal/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.themed.storiesold.mdx
  example/storybook-nativewind/src/components/Popover/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.themed.storiesold.mdx
  example/storybook-nativewind/src/components/Toast/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.themed.storiesold.mdx
  example/storybook-nativewind/src/components/Tooltip/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Tooltip/index.themed.storiesold.mdx
Due: none

v1.1.6
  packages/config/package.json
Due: prettier --write

v1.1.7
  packages/config/package.json
Due: prettier --write

feat: added examples for components
  example/storybook-nativewind/src/components/Accordion/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Badge/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Divider/index.themed.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Heading/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Switch/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Text/index.themed.stories.mdx
  example/storybook-nativewind/src/components/VStack/index.themed.stories.mdx
Due: none

feat: add nativewind card component and stories
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/components-example/nativewind/Card/index.tsx
  example/storybook-nativewind/src/components-example/themed/Card/index.tsx
  example/storybook-nativewind/src/components-example/themed/index.ts
  example/storybook-nativewind/src/components/Card/BlogCard.tsx
  example/storybook-nativewind/src/components/Card/Card.stories.tsx
  example/storybook-nativewind/src/components/Card/Card.tsx
  example/storybook-nativewind/src/components/Card/ImageCard.tsx
  example/storybook-nativewind/src/components/Card/ProductCard.tsx
  example/storybook-nativewind/src/components/Card/ProfileCard.tsx
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Card/index.stories.mdx
  example/storybook-nativewind/src/components/Card/index.themed.stories.mdx
  packages/config/src/components/Card/index.tsx
  packages/config/src/components/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: rounded sm
  example/storybook-nativewind/src/components-example/nativewind/Card/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added input component
  example/storybook-nativewind/src/components-example/nativewind/Input/index.tsx
  example/storybook-nativewind/src/components/Input/Input.tsx
  example/storybook-nativewind/src/components/Input/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/index.themed.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added textarea
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/components-example/nativewind/Textarea/index.tsx
  example/storybook-nativewind/src/components/Textarea/Textarea.tsx
  example/storybook-nativewind/src/components/Textarea/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Textarea/index.themed.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add nativewind modal component
  example/storybook-nativewind/src/components-example/nativewind/Modal/index.tsx
  example/storybook-nativewind/src/components/Modal/Modal.stories.tsx
  example/storybook-nativewind/src/components/Modal/Modal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: use classname for style
  example/storybook-nativewind/src/components/Card/Card.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add AlertDialog component in NativeWind
  example/storybook-nativewind/src/components-example/nativewind/AlertDialog/index.tsx
  example/storybook-nativewind/src/components/AlertDialog/AlertDialog.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: modal styling
  example/storybook-nativewind/src/components-example/nativewind/Modal/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove empty variant from alert dialog
  example/storybook-nativewind/src/components-example/nativewind/AlertDialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove empty variant from modal
  example/storybook-nativewind/src/components-example/nativewind/Modal/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added examples for with-gluestack-ui components
  example/storybook-nativewind/src/components/Alert/index.themed.stories.mdx
  example/storybook-nativewind/src/components/AlertDialog/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Avatar/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Box/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Button/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Checkbox/index.themed.stories.mdx
  example/storybook-nativewind/src/components/HStack/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Pressable/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Progress/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Slider/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Spinner/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Tooltip/index.themed.stories.mdx
Due: none

feat: added form-control
  example/storybook-nativewind/src/components-example/nativewind/FormControl/index.tsx
  example/storybook-nativewind/src/components/FormControl/FormControl.tsx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.nw.storiesold.mdx
  example/storybook-nativewind/src/components/FormControl/index.themed.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.1.8
  packages/config/package.json
Due: prettier --write

feat: folder changes
  example/storybook/src/ui/theme-configuration/customizing-theme/index.stories.mdx
  packages/config/src/components/GluestackUIProvider/index.tsx
  packages/config/src/components/InputAccessoryView/index.tsx
  packages/config/src/components/Wrapper.tsx
  packages/config/src/components/gluestack-ui.config.ts
  packages/config/src/components/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon color
  example/storybook-nativewind/src/components-example/nativewind/FormControl/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add accordion component for nativewind
  example/storybook-nativewind/src/components-example/nativewind/Accordion/index.tsx
  example/storybook-nativewind/src/components/Accordion/Accordion.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added icon component
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/components-example/nativewind/Icon/index.tsx
  example/storybook-nativewind/src/components/Icon/Icon.tsx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.themed.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: eject docs fixes
  example/storybook/.storybook/preview.js
  example/storybook/src/ui/theme-configuration/customizing-theme/EjectLibrary/index.stories.mdx
  example/storybook/src/ui/theme-configuration/customizing-theme/EjectTheme/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: input- icon component
  example/storybook-nativewind/src/components-example/nativewind/Input/index.tsx
  example/storybook-nativewind/src/components/Input/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: ui fixes
  example/storybook/src/ui/theme-configuration/customizing-theme/EjectLibrary/index.stories.mdx
  example/storybook/src/ui/theme-configuration/customizing-theme/EjectTheme/index.stories.mdx
Due: none

fix: only test on chrome and not on 3 browsers
  example/storybook/playwright.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ts-ignore temp solution
  example/storybook/tests/example.spec.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: customizing theme
  example/storybook/src/ui/theme-configuration/customizing-theme/EjectTheme/index.stories.mdx
Due: none

feat: css extraction
  packages/styled/react/src/createConfig.ts
  packages/styled/react/src/resolver/StyledValueToCSSObject.ts
  packages/styled/react/src/style-sheet/index.ts
  packages/styled/react/src/styled.tsx
  packages/styled/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: style extracter
  packages/styled/babel-plugin/.babelrc
  packages/styled/babel-plugin/.gitignore
  packages/styled/babel-plugin/.nvmrc
  packages/styled/babel-plugin/CHANGELOG.md
  packages/styled/babel-plugin/README.md
  packages/styled/babel-plugin/package.json
  packages/styled/babel-plugin/src/extract-config.ts
  packages/styled/babel-plugin/src/extract-styles.js
  packages/styled/babel-plugin/src/index.js
  packages/styled/babel-plugin/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: build config
  packages/styled/build-config/.babelrc
  packages/styled/build-config/.gitignore
  packages/styled/build-config/.nvmrc
  packages/styled/build-config/CHANGELOG.md
  packages/styled/build-config/README.md
  packages/styled/build-config/package.json
  packages/styled/build-config/src/index.ts
  packages/styled/build-config/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added examples for nativewind components
  example/storybook-nativewind/src/components-example/nativewind/index.ts
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Heading/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
  example/storybook-nativewind/src/components/VStack/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: with wrapper typing
  example/storybook-nativewind/src/components-example/nativewind/Button/index.tsx
  example/storybook-nativewind/tsconfig.json
  packages/nativewind/utils/src/withStates.tsx
  packages/nativewind/utils/src/withStyleContext.tsx
  packages/nativewind/utils/src/withStyleContextAndStates.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: nativeiwnd utils version bump
  packages/nativewind/utils/package.json
Due: prettier --write

fix: line height issue
  packages/config/src/theme/Text.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added useRNModal support for menu
  packages/unstyled/menu/src/Menu.tsx
  packages/unstyled/menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
