Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs ui changes
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Upgrade to v2/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/default-tokens/index.nw.stories.mdx
Due: none

fix: updated suggested changes
  example/storybook-nativewind/src/home/More/Releases/index.nw.stories.mdx
  example/storybook-nativewind/src/home/More/Roadmap/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Upgrade to v2/index.nw.stories.mdx
Due: none

fix: added coming soon! text
  example/storybook-nativewind/src/home/More/Releases/index.nw.stories.mdx
  example/storybook-nativewind/src/home/More/Roadmap/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/cli/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Upgrade to v2/index.nw.stories.mdx
Due: none

fix: link
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
Due: none

fix: web injection in head
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added docs for troubleshooting
  example/storybook-nativewind/src/guides/more/Troubleshooting/index.stories.mdx
Due: none

feat: updated both the docs
  example/storybook-nativewind/src/guides/more/Troubleshooting/index.stories.mdx
  example/storybook-nativewind/src/home/getting-started/gluestack-ui-nativewind-utils/index.nw.stories.mdx
Due: none

fix: gorhom bottom sheet version
  example/storybook-nativewind/src/components/BottomSheet/index.nw.stories.mdx
Due: none

fix: updated docs
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/components/AllComponents/index.nw.stories.mdx
  example/storybook-nativewind/src/components/AllComponents/index.themed.stories.mdx
  example/storybook-nativewind/src/components/docs-components/DefaultComponent.tsx
  example/storybook-nativewind/src/guides/more/Changelog/index.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/default-tokens/index.nw.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs issue
  example/storybook-nativewind/src/home/getting-started/gluestack-ui-nativewind-utils/index.nw.stories.mdx
  yarn.lock
Due: none

fix: docs changes
  example/storybook-nativewind/src/home/getting-started/gluestack-ui-nativewind-utils/index.nw.stories.mdx
Due: none

fix: updated docs
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/home/theme-configuration/default-tokens/index.nw.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: added fullstop
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
Due: none

fix: input slot auto focus
  example/storybook-nativewind/babel.config.js
  packages/unstyled/input/src/InputSlot.tsx
  packages/unstyled/input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: build issue
  example/storybook-nativewind/src/components/BottomSheet/index.nw.stories.mdx
Due: none

chore: version bump patch utils input textara button config themed
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/button/CHANGELOG.md
  packages/unstyled/button/package.json
  packages/unstyled/input/CHANGELOG.md
  packages/unstyled/input/package.json
  packages/unstyled/textarea/CHANGELOG.md
  packages/unstyled/textarea/package.json
  packages/unstyled/utils/CHANGELOG.md
  packages/unstyled/utils/package.json
Due: prettier --write

Update index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
Due: none

fix: added allcomponents changes
  example/storybook-nativewind/src/components/Text/Text.stories.tsx
  example/storybook-nativewind/src/components/Text/Text.tsx
  example/storybook-nativewind/src/components/docs-components/DefaultComponent.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/AlertDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/BadgeDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/FabDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/SpinnerDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/ToastDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Responsive.tsx
  example/storybook-nativewind/src/home/theme-configuration/default-tokens/index.nw.stories.mdx
  example/storybook-nativewind/src/tailwind.config.js
  example/storybook-v7/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dashboard page
  example/storybook-nativewind/src/extra-components/nativewind/Responsive.tsx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/default-tokens/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: font weight issue
  example/storybook-nativewind/src/core-components/nativewind/text/styles.tsx
  example/storybook-nativewind/src/extra-components/nativewind/GradientImage.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Responsive.tsx
  example/storybook-nativewind/src/home/getting-started/vscode-extensions/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor issue
  example/storybook-nativewind/src/components/docs-components/DefaultComponent.tsx
  example/storybook-nativewind/src/home/theme-configuration/default-tokens/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: created useColorMode hook
  example/storybook-nativewind/src/components/Button/Button.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/globalContext.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/useColorMode.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: changed image vs code
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/vscode-extensions/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
Due: none

feat: working on adding example for popover
  example/storybook-nativewind/public/images/avatar1.jpeg
  example/storybook-nativewind/public/images/avatar2.png
  example/storybook-nativewind/public/images/avatar3.jpeg
  example/storybook-nativewind/public/images/avatar4.png
  example/storybook-nativewind/src/components/Popover/Popover.stories.tsx
  example/storybook-nativewind/src/components/Popover/Popover.tsx
  example/storybook-nativewind/src/components/Popover/PopoverExamples.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added docs for CLI
  example/storybook-nativewind/src/home/getting-started/cli/index.nw.stories.mdx
Due: none

fix: cssInterop and remap
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert-dialog/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/modal/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
  example/storybook-nativewind/src/core-components/nativewind/spinner/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/textarea/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added docs in preview
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.web.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed remapprops
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added ring indicator color
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/config.ts
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/pressable/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/switch/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/textarea/index.tsx
  example/storybook-nativewind/src/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon size issue
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: stoybook v7
  example/storybook-v7/package.json
  example/storybook-v7/tailwind.config.js
  example/storybook-v7/yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: add GestureHandlerRootView
  example/storybook-v7/.ondevice/preview.tsx
  example/storybook-v7/.storybook/preview.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: y axis
  packages/react-native-aria/overlays/src/useOverlayPosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: arrow position follow overlayNode
  packages/react-native-aria/overlays/src/useOverlayPosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added alpha tag to bottomsheet
  example/storybook-nativewind/src/components/BottomSheet/index.nw.stories.mdx
Due: none

feat: added migration guide in storybook
  example/storybook-nativewind/src/guides/migrate-gluestack-v2/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/migrate-gluestack-v2/index.themed.stories.mdx
Due: none

chore: @gluestack-ui/themed version bump to 1.1.31
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

feat: addded examples for popover
  example/storybook-nativewind/src/components/Popover/Popover.tsx
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
