Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: removed extra typing
  vstack/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated docs
  example/storybook/src/components/Layout/VStack/index.stories.mdx
Due: none

fix: "added accessibility "
  example/storybook/src/components/Layout/HStack/index.stories.mdx
Due: none

fix: "change the type of space"
  hstack/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "change the type of space"
  packages/hstack/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated snapshot
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/junit.xml
Due: none

fix: docs
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

chore: @gluestack-ui/hstack version bump to 0.1.3
  packages/hstack/CHANGELOG.md
  packages/hstack/package.json
  yarn.lock
Due: prettier --write

chore: @gluestack-ui/hstack version bump to 0.1.3
  hstack/CHANGELOG.md
  hstack/package.json
Due: prettier --write

chore: @gluestack-ui/vstack version bump to 0.1.3
  vstack/CHANGELOG.md
  vstack/package.json
Due: prettier --write

chore: @gluestack-ui/vstack version bump to 0.1.3
  packages/vstack/CHANGELOG.md
  packages/vstack/package.json
Due: prettier --write

chore: @gluestack-ui/button version bump to 0.1.12
  button/CHANGELOG.md
  button/package.json
Due: prettier --write

chore: @gluestack-ui/button version bump to 0.1.12
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: prettier --write

fix: input styling and cursor
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/ui-components/Input/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dependancy
  packages/input/package.json
Due: prettier --write

fix: dependancy
  input/package.json
Due: prettier --write

fix: snapshot update
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: color mode fallback animation warning
  packages/animation-plugin/src/index.tsx
  packages/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: styling
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added beta in hstack and vstack
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
Due: none

fix: updated snapshot
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: "change icon"
  example/storybook/src/components/Others/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "change text color"
  example/storybook/src/ui-components/Fab/styled-components/Label.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: " changes in styling"
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes in docs"
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: "added cursor for disabled case"
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: style
  example/storybook/src/ui-components/Input/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling heading
  example/storybook/src/ui-components/Heading/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed comments
  packages/radio/src/context.tsx
  packages/radio/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated deps
  packages/radio/package.json
Due: prettier --write

feat: added rn cli
  example/storybook/.storybook/preview.js
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/gluestack-ui-cli/index.stories.mdx
  example/storybook/src/getting-started/install-rn/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: removed comment
  packages/button/src/Button.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs heading
  example/storybook/src/components/Typography/Heading/index.stories.mdx
Due: none

fix: updated docs
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: removed commented out code
  packages/radio/src/context.tsx
  packages/radio/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed commented out code
  radio/src/context.tsx
  radio/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated dep
  radio/package.json
Due: prettier --write
