Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: content bg color
  example/storybook/src/components/Disclosure/Accordion/index.stories.mdx
Due: none

feat: style docs updates
  example/storybook/.storybook/preview.style.js
Due: eslint --quiet --fix, prettier --write

v1.0.25-alpha.0
  packages/styled/react/package.json
Due: prettier --write

feat: icon size change
  packages/config/src/theme/Accordion.ts
  packages/config/src/theme/AccordionIcon.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.25
  packages/styled/react/package.json
Due: prettier --write

feat: updated theme style of tabs
  example/storybook/src/unstyled/components/Forms/Tabs/Tabs.tsx
  packages/config/src/theme/TabsTab.ts
  packages/themed/package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: utility props merging
  packages/styled/react/src/core/convert-utility-to-sx.ts
  packages/styled/react/src/core/styled-system.ts
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.26
  packages/styled/react/package.json
Due: prettier --write

fix: yarn lock
  yarn.lock
Due: none

fix: storybook
  example/storybook/src/components/Disclosure/Accordion/Accordion.stories.tsx
  example/storybook/src/components/Disclosure/Accordion/Accordion.tsx
  example/storybook/src/components/Disclosure/Accordion/AccordionCustomisedBackground.tsx
  example/storybook/src/components/Disclosure/Accordion/AccordionCustomisedComponent.tsx
  example/storybook/src/components/Disclosure/Accordion/AccordionNested.tsx
  example/storybook/src/components/Disclosure/Accordion/AccordionRoundedCorner.tsx
  example/storybook/src/components/Disclosure/Accordion/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: working examples
  example/storybook/src/unstyled/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: working examples
  example/storybook/src/unstyled/ui-components/Button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: content change
  example/storybook/src/unstyled/ui-components/Button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: token updated
  example/storybook/src/unstyled/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: basic setup style of button
  example/storybook/src/unstyled/ui-components/Button/index.tsx
  example/storybook/src/unstyled/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: basic styling of button-NB
  example/storybook/src/unstyled/ui-components/Button/styled-components/Root.tsx
  example/storybook/src/unstyled/ui-components/Button/styled-components/Text.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook
  example/storybook/src/unstyled/ui-components/Button/index.tsx
  src/hooks/usePropResolution.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update design system stable version and add @gluestack-style/animation-plugin package
  example/storybook/package.json
  yarn.lock
Due: prettier --write

feat: update accordion docs
  example/storybook/src/ui/components/Disclosure/Accordion/index.stories.mdx
Due: none

feat: update default accordion icon size
  packages/config/src/theme/Accordion.ts
  packages/config/src/theme/AccordionIcon.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update design system version
  example/storybook/package.json
  yarn.lock
Due: prettier --write

fix: shadow color
  example/storybook/src/ui/components/Disclosure/Accordion/index.stories.mdx
Due: none

fix: change asChild to as
  example/storybook/src/ui/components/Disclosure/Accordion/index.stories.mdx
Due: none

feat: updated theme of tabs
  example/storybook/src/ui/components/Disclosure/Tabs/index.stories.mdx
  packages/themed/package.json
  packages/themed/src/components/Tabs/index.tsx
  packages/themed/src/components/Tabs/styled-components/Tab.tsx
  packages/themed/src/components/Tabs/styled-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/link verison bump to 0.1.16
  packages/unstyled/link/package.json
  packages/unstyled/link/src/useLink.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: slider version
  packages/themed/package.json
  packages/unstyled/slider/package.json
  yarn.lock
Due: prettier --write

fix: workflow for new repo
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  packages/unstyled/tabs/package.json
Due: prettier --write

fix: updated yarn lock
  yarn.lock
Due: none

chore: @gluestack-ui/themed version bump to 1.0.25
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: tooltip version
  packages/react-native-aria/tooltip/src/useTooltipTrigger.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.stories.mdx
  example/storybook/src/ui/guides/building-design-systems/index.stories.mdx
Due: none

fix: added img folder
  img/gluestack-logo.svg
  img/gluestack-ui-banner.svg
  src/hooks/usePropResolution.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed auto assign workflow
  .github/workflows/assign-issues.yml_old
  .github/workflows/auto-assign-issue.yml_old
Due: none

fix: uselayout effect warning
  packages/styled/react/src/StyledProvider.tsx
  packages/styled/react/src/hooks/useSafeLayoutEffect.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add MotiPressable on MotiAnimationDriver
  packages/styled/animation-moti-driver/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new docs
  example/storybook/src/ui/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/ui/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/ui/core-concepts/Accessibility/index.stories.mdx
  example/storybook/src/ui/core-concepts/ThemedLibrary/index.stories.mdx
  example/storybook/src/ui/core-concepts/Universal/index.stories.mdx
  example/storybook/src/ui/core-concepts/UnstyledLibrary/index.stories.mdx
  example/storybook/src/ui/getting-started/Installation/App.tsx
  example/storybook/src/ui/getting-started/Installation/Fold2.tsx
  example/storybook/src/ui/getting-started/Installation/RadioDemo.tsx
  example/storybook/src/ui/getting-started/incremental-adoption/index.stories.mdx
  example/storybook/src/ui/more/contribution-guidelines/index.stories.mdx
  example/storybook/src/ui/overview/AllComponents/Demos/AccordionDemo.tsx
  example/storybook/src/ui/overview/AllComponents/content.tsx
  example/storybook/src/ui/overview/Introduction/index.stories.mdx
  example/storybook/src/ui/performance/overview/index.stories.mdx
  example/storybook/src/ui/styling/overview/index.stories.mdx
  example/storybook/src/ui/styling/responsive/index.stories.mdx
  example/storybook/src/ui/styling/state/index.stories.mdx
  example/storybook/src/ui/styling/utility-and-sx-props/index.stories.mdx
  example/storybook/src/ui/theme-configuration/customizing-theme/index.stories.mdx
  example/storybook/src/ui/theme-configuration/theme/default-tokens/DefaultComponent.tsx
  example/storybook/src/ui/theme-configuration/theme/default-tokens/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: actionsheet drag indicator
  packages/unstyled/actionsheet/src/ActionsheetDragIndicator.tsx
  packages/unstyled/actionsheet/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: gluestack style repo merge
  packages/styled/babel-plugin-styled-resolver/babel.config.js
  packages/styled/babel-plugin-styled-resolver/package.json
  packages/styled/babel-plugin-styled-resolver/src/buildConfig.js
  packages/styled/babel-plugin-styled-resolver/src/index.js
  packages/styled/babel-plugin-styled-resolver/tsconfig.json_old
  packages/styled/react/package.json
  packages/styled/react/src/core/convert-utility-to-sx.ts
  packages/styled/react/src/core/styled-system.ts
  packages/styled/react/src/createConfig.ts
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.27-alpha.4
  packages/styled/react/package.json
Due: prettier --write

fix: config reference changed
  packages/styled/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
