Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed raw strings
  .github/workflows/next-latest.yml
Due: none

fix: ui changes in components for nativewind 4.1v
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/drawer/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/modal/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added name change
  .github/workflows/next-latest.yml
Due: none

fix: removed template literals from provider
  .github/workflows/next-latest.yml
Due: none

fix: removed update version test
  .github/workflows/next-latest.yml
Due: none

fix: updated comments in examples
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
Due: none

fix: replaced quotes
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
Due: none

fix: dependancy json
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: latest version of nativewind
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: utils version
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: removed unnecessary comments
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
Due: none

fix: button and tailwind config
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon issue
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated checkbox examples
  example/storybook-nativewind/src/components/Checkbox/index.nw.stories.mdx
Due: none

v1.0.26-alpha.0
  packages/nativewind/utils/package.json
Due: prettier --write

v1.0.26-alpha.1
  packages/nativewind/utils/package.json
Due: prettier --write

v1.0.26-alpha.2
  packages/nativewind/utils/package.json
Due: prettier --write

fix: examples
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Image/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Skeleton/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/avatar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/slider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: examples codebase
  example/storybook-nativewind/src/components/Heading/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Text/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
Due: none

fix: updated examples and component exports
  example/storybook-nativewind/src/components/Divider/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Text/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/progress/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/tooltip/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: jsx issue for with context
  packages/nativewind/utils/context/index.jsx
  packages/nativewind/utils/context/index.tsx
  packages/nativewind/utils/tsconfig.json
  packages/nativewind/utils/withStates/index.jsx
  packages/nativewind/utils/withStyleContext/index.js
  packages/nativewind/utils/withStyleContext/index.jsx
  packages/nativewind/utils/withStyleContextAndStates/index.js
  packages/nativewind/utils/withStyleContextAndStates/index.jsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed unwanted key from popover content and arrow
  packages/unstyled/popover/src/PopoverArrow.tsx
  packages/unstyled/popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/popover version bump to 0.1.43
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/popover/CHANGELOG.md
  packages/unstyled/popover/package.json
Due: prettier --write

fix: modified yarn lock
  yarn.lock
Due: none

fix: removed post install
  package.json
Due: prettier --write

fix: build issues
  packages/unstyled/icon/src/index.tsx
  packages/unstyled/icon/src/index.web.tsx
  packages/unstyled/icon/src/primitiveIcon/index.web.tsx
  turbo.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: icon issues
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/icon/CHANGELOG.md
  packages/unstyled/icon/package.json
Due: prettier --write

fix: added use client directive in select
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated fragment issue with icon
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
  packages/unstyled/icon/package.json
  packages/unstyled/icon/src/createIcon/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.36-alpha.0
  packages/unstyled/tooltip/package.json
  packages/unstyled/tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dependancy for 4.1
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: update contribution.md
  CONTRIBUTING.md
Due: prettier --write

fix: docs examples
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
Due: none

fix: made fixes for color palatte issues
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs examples
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Heading/index.nw.stories.mdx
Due: none

feat: updated link example
  example/storybook-nativewind/src/components/Link/index.nw.stories.mdx
Due: none

fix: drawer examples
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
Due: none

fix: image component examples
  example/storybook-nativewind/src/components/Image/index.nw.stories.mdx
Due: none

fix: cssInterop in slider and heading components
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/slider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
