Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover component arrow position
  packages/unstyled/popover/src/PopoverArrow.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added table to installation page and other path changes
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/guides/more/Upgrade to v2/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: table changes for installation page
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
Due: none

fix: support custom tailwind config for `tva` + docs
  example/storybook-nativewind/src/home/theme-configuration/customizing-theme/index.nw.stories.mdx
  packages/nativewind/utils/tva/index.js
  packages/nativewind/utils/tva/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: manual installation
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
Due: none

fix: suggested change
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
Due: none

Added Testing workflows
  README.md
Due: prettier --write

Added Testing workflows
  .github/workflows/nextjs-test.yml
Due: none

Added enter key for interactive mode for the npx command
  .github/workflows/nextjs-test.yml
Due: none

Changes in the GitHub workflow
  .github/workflows/nextjs-test.yml
Due: none

Ignore linting rules
  .github/workflows/nextjs-test.yml
Due: none

feat: modifying all componnents with new nw-codeblock
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Box/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Center/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Checkbox/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Heading/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Image/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Link/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Pressable/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Progress/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Skeleton/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Slider/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Spinner/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Text/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Textarea/index.nw.stories.mdx
  example/storybook-nativewind/src/components/VStack/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/CodePreview.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Ignore TS errors
  .github/workflows/nextjs-test.yml
Due: none

Js to MJS
  .github/workflows/nextjs-test.yml
Due: none

No linting added
  .github/workflows/nextjs-test.yml
Due: none

different version of Next
  .github/workflows/nextjs-test.yml
Due: none

independently run the version checks
  .github/workflows/nextjs-test.yml
  README.md
Due: prettier --write

independently run the version checks v2
  .github/workflows/nextjs-test.yml
Due: none

Split the actions
  README.md
Due: prettier --write

Added the files
  .github/workflows/next-13.yml
  .github/workflows/next-14.yml
  .github/workflows/next-latest.yml
Due: none

Changes to Next test cases
  .github/workflows/next-13.yml
  .github/workflows/next-14.yml
  .github/workflows/next-latest.yml
  .github/workflows/nextjs-test.yml
Due: none

Added Expo Web as well
  .github/workflows/expo-latest.yml
  .github/workflows/next-13.yml
  .github/workflows/next-14.yml
  .github/workflows/next-latest.yml
  README.md
Due: prettier --write

Fixes escape string
  .github/workflows/expo-latest.yml
Due: none

Debugging expo test
  .github/workflows/expo-latest.yml
Due: none

Changed OS to macOS for expo testing
  .github/workflows/expo-latest.yml
Due: none

Added the pre step for Expo testing
  .github/workflows/expo-latest.yml
Due: none

fix: added manual steps for nextjs 15
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
Due: none

Fixed the README
  README.md
Due: prettier --write

fix: added postinstall step
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
Due: none

Removed a test-case from Expo
  .github/workflows/expo-latest.yml
Due: none

fix: popover for android
  packages/unstyled/popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/popover version bump to 0.1.38
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/popover/CHANGELOG.md
  packages/unstyled/popover/package.json
Due: prettier --write

Added more badges
  README.md
Due: prettier --write

Fixed the next workflow
  .github/workflows/next-latest.yml
Due: none

fix: fab icon
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: patch bump for popover
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/popover/CHANGELOG.md
  packages/unstyled/popover/package.json
Due: prettier --write

fix: extracted the primitive icon from individual components
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
  example/storybook-nativewind/src/utils.ts
  example/storybook-nativewind/src/utils.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tooltip import
  example/storybook-nativewind/src/core-components/nativewind/tooltip/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
