Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: made changes to all components styling
  example/storybook-nativewind/src/extra-components/nativewind/ComponentCard.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/AccordionDemo.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added a fix for storybook file path
  example/storybook-nativewind/src/extra-components/storybook-components/ColorMode.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added kitchenisnk in apps section
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/apps/dashboard-app/index.stories.mdx
  example/storybook-nativewind/src/apps/kitchensink-app/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: actionsheet docs examples
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
Due: none

feat: updated qr-code of kitchensink-app
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated native qr-code
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: replaced text-md with text-base
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Community.tsx
  packages/nativewind/utils/README.md
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated links of kitchensink-app
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: type errors in select core-component
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated qr-code of kitchensink-app
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing issues in select component
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor kitchensink in apps fix
  example/storybook-nativewind/src/apps/kitchensink-app/index.stories.mdx
Due: none

fix: updated dependencies.json file and icon dependency while initializing gluestack
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: updated typing issues in use-break-point-value hook
  example/storybook-nativewind/src/core-components/hooks/use-break-point-value.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added pin-input unstyled
  packages/unstyled/pin-input/.npmignore
  packages/unstyled/pin-input/CHANGELOG.md
  packages/unstyled/pin-input/README.md
  packages/unstyled/pin-input/babel.config.js
  packages/unstyled/pin-input/package.json
  packages/unstyled/pin-input/src/PinInput.tsx
  packages/unstyled/pin-input/src/PinInputContext.tsx
  packages/unstyled/pin-input/src/PinInputRoot.tsx
  packages/unstyled/pin-input/src/index.tsx
  packages/unstyled/pin-input/src/types.ts
  packages/unstyled/pin-input/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: storybook setup
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/package.json
  example/storybook-nativewind/tsconfig.json
  example/storybook-v7/babel.config.js
  example/storybook-v7/tsconfig.json
Due: eslint --quiet --fix, prettier --write

chore: storybook component setup
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/index.ts
  example/storybook-nativewind/src/core-components/nativewind/pin-input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: storybook pin-input story setup
  example/storybook-nativewind/src/components/PinInput/PinInput.png
  example/storybook-nativewind/src/components/PinInput/PinInput.stories.tsx
  example/storybook-nativewind/src/components/PinInput/PinInput.tsx
  example/storybook-nativewind/src/components/PinInput/index.nw.stories.mdx
  example/storybook-nativewind/src/components/PinInput/index.themed.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: pin-input alpha release
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  yarn.lock
Due: prettier --write

feat: made minor cleanups
  README.md
  _template/package-template/package.json
  assets/gluestack-banner.png
  assets/gluestack-logo.svg
  assets/gluestack-ui-banner.svg
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
  example/storybook-v7/.ondevice/storybook.requires.js
  example/storybook-v7/babel.config.js
  example/storybook-v7/package.json
  example/storybook-v7/tsconfig.json
  package.json
  packages/styled/react/README.md
  scripts/index1.js
  scripts/test.sh
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example in docs
  example/storybook-nativewind/src/components/PinInput/PinInput.png
  example/storybook-nativewind/src/components/PinInput/index.nw.stories.mdx
Due: none

fix: typing
  example/storybook-nativewind/src/components/PinInput/index.nw.stories.mdx
  packages/unstyled/pin-input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example
  example/storybook-nativewind/src/components/PinInput/index.nw.stories.mdx
Due: none

fix: changeset
  packages/unstyled/pin-input/CHANGELOG.md
  packages/unstyled/pin-input/package.json
Due: prettier --write

fix: working state of mobile & web
  example/storybook-v7/.ondevice/storybook.requires.js
  example/storybook-v7/babel.config.js
  example/storybook-v7/package.json
  example/storybook-v7/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, prettier --write

feat: calendar component
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/src/components/Calendar/Calendar.tsx
  example/storybook-nativewind/src/components/Calendar/Calender.stories.tsx
  example/storybook-nativewind/src/core-components/nativewind/calendar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/calendar/styles.tsx
  example/storybook-nativewind/tsconfig.json
  example/storybook/tsconfig.json
  packages/unstyled/calendar/.npmignore
  packages/unstyled/calendar/CHANGELOG.md
  packages/unstyled/calendar/README.md
  packages/unstyled/calendar/babel.config.js
  packages/unstyled/calendar/package.json
  packages/unstyled/calendar/src/Calendar.tsx
  packages/unstyled/calendar/src/CalendarGrid.tsx
  packages/unstyled/calendar/src/CalendarGridDays.tsx
  packages/unstyled/calendar/src/CalendarGridWeek.tsx
  packages/unstyled/calendar/src/CalendarHeader.tsx
  packages/unstyled/calendar/src/CalendarHeaderNext.tsx
  packages/unstyled/calendar/src/CalendarHeaderPrev.tsx
  packages/unstyled/calendar/src/CalendarHeaderTitle.tsx
  packages/unstyled/calendar/src/Context.tsx
  packages/unstyled/calendar/src/index.tsx
  packages/unstyled/calendar/src/types.ts
  packages/unstyled/calendar/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added latest for the npm create
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added docs
  example/storybook-nativewind/src/components/Calendar/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update in Calendar API
  example/storybook-nativewind/src/components/Calendar/Calendar.tsx
  example/storybook-nativewind/src/components/Calendar/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/calendar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/calendar/styles.tsx
  packages/unstyled/calendar/src/Calendar.tsx
  packages/unstyled/calendar/src/CalendarGridDays.tsx
  packages/unstyled/calendar/src/CalendarGridWeek.tsx
  packages/unstyled/calendar/src/Context.tsx
  packages/unstyled/calendar/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: basic component setup index file
  example/storybook-nativewind/src/core-components/nativewind/time-input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: basic input component setup
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/src/components/TimeInput/TimeInput.stories.tsx
  example/storybook-nativewind/src/components/TimeInput/TimeInput.tsx
  example/storybook-nativewind/src/core-components/nativewind/time-input/index.tsx
  example/storybook-nativewind/tsconfig.json
  packages/unstyled/time-input/src/TimeInputContext.tsx
  packages/unstyled/time-input/src/TimeInputGroup.tsx
  packages/unstyled/time-input/src/TimeInputHr.tsx
  packages/unstyled/time-input/src/TimeInputMeridiem.tsx
  packages/unstyled/time-input/src/TimeInputMeridiemText.tsx
  packages/unstyled/time-input/src/TimeInputMin.tsx
  packages/unstyled/time-input/src/TimeInputSec.tsx
  packages/unstyled/time-input/src/index.tsx
  packages/unstyled/time-input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.0.4
  packages/unstyled/pin-input/package.json
Due: prettier --write

v0.0.5
  packages/unstyled/pin-input/package.json
Due: prettier --write

v0.0.6
  packages/unstyled/pin-input/package.json
Due: prettier --write

chore: prop typings and readme
  packages/unstyled/pin-input/CHANGELOG.md
  packages/unstyled/pin-input/README.md
  packages/unstyled/pin-input/src/PinInput.tsx
  packages/unstyled/pin-input/src/PinInputRoot.tsx
  packages/unstyled/pin-input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: pin input styling and parent variants
  example/storybook-nativewind/src/core-components/nativewind/pin-input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.0.7
  packages/unstyled/pin-input/package.json
Due: prettier --write

fix: readme done
  packages/unstyled/pin-input/CHANGELOG.md
  packages/unstyled/pin-input/README.md
Due: prettier --write
