Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted comment
  packages/config/src/theme/AccordionIcon.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: solito starter kit design
  example/storybook/src/getting-started/Installation/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing
  src/components/Box/index.tsx
  src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.21
  package.json
Due: prettier --write

v0.1.16-alpha.0
  link/package.json
Due: prettier --write

fix: added typing for colorscheme
  src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing issues
  src/components/Alert/index.tsx
  src/components/AspectRatio/index.tsx
  src/components/Avatar/index.tsx
  src/components/Badge/index.tsx
  src/components/Button/index.tsx
  src/components/Checkbox/index.tsx
  src/components/Divider/index.tsx
  src/components/Flex/index.tsx
  src/components/Icons/index.tsx
  src/components/Input/index.tsx
  src/components/Progress/index.tsx
  src/components/Radio/index.tsx
  src/components/Skeleton/index.tsx
  src/components/Textarea/index.tsx
  src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.22
  package.json
Due: prettier --write

fix: heading component typing"
  src/components/Heading/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.23
  package.json
Due: prettier --write

feat: corrected role for image and icon
  icon/src/createIcon.tsx
  image/src/Image.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.7
  image/package.json
Due: prettier --write

v0.1.19
  icon/package.json
Due: prettier --write

feat: scrollable tabs
  tabs/package.json
  tabs/src/TabList.tsx
  tabs/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed role for image and icon
  packages/themed/package.json
  yarn.lock
Due: prettier --write

feat: fixed role for image and icon
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

feat: button spinner inherited from spinner instead of activity indicator
  packages/themed/src/components/Button/styled-components/Spinner.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgraded
  .changeset/itchy-ants-report.md
Due: prettier --write

fix: as forwarder memo issue fixes
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.16-alpha.0
  packages/react/package.json
Due: prettier --write

fix: provider issue with no config fixes
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: verison updated
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

docs: wrap function name in code tag
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

chore: checkbox fixes
  src/components/Checkbox/index.tsx
  src/components/FormControl/index.tsx
  src/components/Radio/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button
  src/components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.14-alpha.0
  icon/package.json
Due: prettier --write

v0.1.14-alpha.1
  icon/package.json
Due: prettier --write

fix: icons, need fixes
  src/components/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon typing fixes
  icon/src/createIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon fixes
  src/components/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: prop issue with no px coming
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed extra exports and remadded icon fill typing
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/themed/src/components/Actionsheet/index.tsx
  packages/themed/src/components/Alert/index.tsx
  packages/themed/src/components/AlertDialog/index.tsx
  packages/themed/src/components/Avatar/index.tsx
  packages/themed/src/components/Input/index.tsx
  packages/themed/src/components/Textarea/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: vstack
  src/components/VStack/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icons api
  src/components/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgraded
  .changeset/itchy-ants-report.md
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

feat: support for props like roundedBottom, also fixed an issue with lineargradient
  src/components/Box/index.tsx
  src/components/gluestack-ui.config.ts
  src/hooks/usePropResolution.ts
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.17-alpha.0
  packages/react/package.json
Due: prettier --write

fix: ios and android theme
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/components/DataDisplay/Table/Table.stories.tsx
  example/storybook/src/components/DataDisplay/Table/Table.tsx
  packages/config/src/theme/Table.ts
  packages/config/src/theme/TableContainer.ts
  packages/config/src/theme/index.ts
  packages/themed/src/components/Table/index.ts
  packages/themed/src/components/Table/styled-components/Root.tsx
  packages/themed/src/components/Table/styled-components/Table.tsx
  packages/themed/src/components/Table/styled-components/TableBody.tsx
  packages/themed/src/components/Table/styled-components/TableCaption.tsx
  packages/themed/src/components/Table/styled-components/TableData.tsx
  packages/themed/src/components/Table/styled-components/TableDataText.tsx
  packages/themed/src/components/Table/styled-components/TableFooter.tsx
  packages/themed/src/components/Table/styled-components/TableHead.tsx
  packages/themed/src/components/Table/styled-components/TableHeader.tsx
  packages/themed/src/components/Table/styled-components/TableRow.tsx
  packages/themed/src/components/Table/styled-components/index.ts
  packages/themed/src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: kitchensink added
  src/components/AlertDialog/index.tsx
  src/components/Button/index.tsx
  src/components/Icons/index.tsx
  src/hooks/useColorModeValue.ts
  src/utils/NBsupport.tsx
  src/utils/extendTheme.ts
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
