Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: add new linking commands for apps-src and update unlink commands in package.json
  package.json
Due: prettier --write

chore: remove @gluestack-ui/core and @gluestack-ui/utils dependencies from package.json
  src/package.json
Due: prettier --write

chore: clean up yarn.lock by removing unused dependencies and updating @babel/runtime version
  src/yarn.lock
Due: none

chore: update tsconfig.json to include new path mappings for utils, components, and tailwind configuration
  apps/website/tsconfig.json
Due: prettier --write

chore: update import path for TVConfig in tva index file
  packages/gluestack-utils/src/nativewind-utils/tva/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: simplify size prop handling across multiple UI components
  src/components/ui/accordion/index.tsx
  src/components/ui/actionsheet/index.tsx
  src/components/ui/alert-dialog/index.tsx
  src/components/ui/avatar/index.tsx
  src/components/ui/badge/index.tsx
  src/components/ui/button/index.tsx
  src/components/ui/checkbox/index.tsx
  src/components/ui/fab/index.tsx
  src/components/ui/form-control/index.tsx
  src/components/ui/heading/index.tsx
  src/components/ui/heading/index.web.tsx
  src/components/ui/hstack/index.tsx
  src/components/ui/hstack/index.web.tsx
  src/components/ui/menu/index.tsx
  src/components/ui/modal/index.tsx
  src/components/ui/popover/index.tsx
  src/components/ui/radio/index.tsx
  src/components/ui/select/index.tsx
  src/components/ui/select/select-actionsheet.tsx
  src/components/ui/slider/index.tsx
  src/components/ui/text/index.tsx
  src/components/ui/text/index.web.tsx
  src/components/ui/vstack/index.tsx
  src/components/ui/vstack/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 3.0.3 and fix tva types
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
Due: prettier --write

fix: simplify window.open call in header component
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated cli to modify globals.css
  packages/gluestack-ui/src/util/init/index.ts
  packages/gluestack-ui/src/util/init/modify-layout.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated gluestack-ui package version
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
Due: prettier --write

feat: add the link for rapid native in products section
  apps/website/components/page-components/header/index.tsx
  apps/website/public/icon/logo/rapidnative/logo.png
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

remove prduct hunt banner
  apps/website/components/page-components/landing-page/WebsiteLayout/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: enhance environment variable handling for Turbopack compatibility
  packages/ui-next-adapter/src/withGluestack.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 3.0.2 and fix next adapter for Turbopack compatibility
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

chore: update @gluestack/ui-next-adapter to version 3.0.2
  apps/starter-kit-next/package.json
Due: prettier --write

fix: upgrade command for asking custom components/ui folder
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
  packages/gluestack-ui/src/commands/upgrade.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add user prompt for folder override in project cloning
  packages/create-gluestack/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 3.0.2 and add user prompt for directory replacement
  packages/create-gluestack/CHANGELOG.md
  packages/create-gluestack/package.json
Due: prettier --write

feat: add Gluestack Pro logo to header and update landing page styles
  apps/website/components/page-components/header/index.tsx
  apps/website/components/page-components/landing-page/ProductHuntBanner/index.tsx
  apps/website/components/page-components/landing-page/WebsiteLayout/index.tsx
  apps/website/components/page-components/landing-page/index.tsx
  apps/website/public/icon/logo/gluestack-pro/logo.svg
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update GitHub Actions workflow to handle PR messages and improve security checks for forked PRs
  .github/workflows/preview-publish.yml
Due: none

refactor: remove deprecated elements from header and update link text for improved clarity
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: remove unused Open Graph image to optimize assets
  apps/website/public/images/og-image.png
Due: none

feat: add Open Graph image for enhanced social media sharing
  apps/website/public/images/og-image.png
Due: none

fix: adjust z-index of RapidNativeBanner for improved visibility
  apps/website/components/page-components/landing-page/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: remove outdated GitHub Actions workflows for Expo and Next.js to streamline CI/CD processes
  .github/workflows/expo-latest-nightly.yml
  .github/workflows/next-latest-nightly.yml
Due: none

feat: added blog page
  apps/website/app/blogs/gluestack-v3-release/blog.mdx
  apps/website/app/blogs/gluestack-v3-release/layout.tsx
  apps/website/app/blogs/gluestack-v3-release/page.tsx
  apps/website/app/blogs/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update README.md
  README.md
Due: prettier --write

feat:add banner image
  apps/website/public/images/blogs/banner-1.png
Due: none

feat:add banner images
  apps/website/public/images/blogs/ph-banner.png
  apps/website/public/images/blogs/twitter-banner.png
  apps/website/public/images/blogs/v3-banner.png
Due: none

feat: make the blog content
  apps/website/app/blogs/gluestack-v3-release/blog.mdx
  apps/website/app/blogs/page.tsx
  apps/website/components/page-components/blogs-page/TOC/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:updated meta data
  apps/website/app/blogs/gluestack-v3-release/layout.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update Next.js project creation command in GitHub Actions workflow to use starter kit
  .github/workflows/next-latest.yml
Due: none

change the image for gap issue
  apps/website/app/blogs/gluestack-v3-release/blog.mdx
Due: none

feat: create Public Incident Report page with layout integration
  apps/website/app/blogs/public-incident-report/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add layout component for Public Incident Report page with metadata configuration
  apps/website/app/blogs/public-incident-report/layout.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update Link import to use Next.js for improved routing
  apps/website/components/custom/mdx/blog-components.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add comprehensive Public Incident Report detailing the React Native ARIA security incident, including timeline, impact assessment, and response actions
  apps/website/app/blogs/public-incident-report/blog.mdx
Due: none

feat: add new blog entry for React Native ARIA & gluestack-ui Security Incident Report with author details and publication date
  apps/website/app/blogs/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
