Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: styling
  example/storybook/src/ui-components/Modal/styled-components/Footer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: figma page
  example/storybook/src/more/Figma/index.stories.mdx
Due: none

fix: styling
  example/storybook/src/ui-components/Modal/styled-components/Header.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Popover/styled-components/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Popover/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Popover/styled-components/Header.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Toast/styled-components/Title.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version updated
  example/babel-plugin-styled-resolver-expo/package.json
  example/expo-app/package.json
  example/next/package.json
  example/storybook/package.json
  packages/benchmark-next/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: styling
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: toast docs updated
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

fix: development enviornment
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  example/ui-examples/App.tsx
  example/ui-examples/app.json
  example/ui-examples/eas.json
  example/ui-examples/gluestack-ui-components/core/styled/index.tsx
  example/ui-examples/kitchensink-components/ExplorePage.tsx
  example/ui-examples/kitchensink-components/HomestayPage.tsx
  example/ui-examples/kitchensink-components/main-content/MainContent.tsx
  example/ui-examples/kitchensink-components/main-content/NewThisWeekFold.tsx
  example/ui-examples/metro.config.js
  example/ui-examples/tsconfig.json
  packages/react/package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated roadmap
  example/storybook/src/more/Roadmap/index.stories.mdx
Due: none

fix: alertdialog example
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

fix: wrapper remove
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

feat: ui-example
  example/ui-examples/gluestack-ui-components/core/styled/index.tsx
  example/ui-examples/kitchensink-components/main-content/MainContent.tsx
  packages/react/src/index.ts
  packages/react/src/stableHash.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed ancestor _text and _icon from icon and text root styled
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
  example/storybook/src/ui-components/Text/styled-components/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tests
  example/storybook/src/ui-components/Input/styled-components/Input.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tests
  example/storybook/src/ui-components/Select/styled-components/Input.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed button.icon variants
  example/storybook/src/ui-components/Button/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated snapshot, and yarn.lock version upgrade
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  yarn.lock
Due: none

fix: stories
  example/storybook/src/components/Forms/Select/SelectFlatList.tsx
  example/storybook/src/components/Forms/Select/SelectFormControl.tsx
  example/storybook/src/components/Forms/Select/SelectScrollView.tsx
  example/storybook/src/components/Forms/Select/SelectSectionList.tsx
  example/storybook/src/components/Forms/Select/SelectVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/Forms/Select/index.stories.mdx
Due: none

fix: added no check in spinner root due to typescript error
  example/storybook/src/ui-components/Select/styled-components/Input.tsx
  example/storybook/src/ui-components/Spinner/styled-components/Root.tsx
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated tests
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: update test
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: fixed tests
  example/storybook/junit.xml
Due: none

fix: tests import
  example/storybook/__tests__/Box.test.js
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: eslint --quiet --fix, prettier --write

fix: composition resolution style
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/package.json
  packages/react/src/injectInStyle.web.ts
  packages/react/src/utils/css-injector/utils/inject.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor changes
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: select styling actionsheet
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Backdrop.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Content.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/DragIndicator.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/IndicatorWrapper.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Item.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ts-error hot fix
  example/storybook/src/ui-components/Actionsheet/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/AlertDialog/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Modal/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Popover/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated gluestack-style/react to latest
  example/next-project/package.json
  example/storybook/package.json
  yarn.lock
Due: prettier --write
