Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: variant prop filter
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: text and pressable added
  example/storybook/babel.config.js
  example/storybook/src/components/Pressable/Pressable.stories.tsx
  example/storybook/src/components/Pressable/Pressable.tsx
  example/storybook/src/components/Pressable/index.ts
  example/storybook/src/components/Pressable/styled-component/index.tsx
  example/storybook/src/components/Text/Text.stories.tsx
  example/storybook/src/components/Text/Text.tsx
  example/storybook/src/components/Text/index.ts
  example/storybook/src/components/Text/styled-component/index.tsx
  example/storybook/tsconfig.json
  packages/pressable/src/index.tsx
  packages/text/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: text and pressable added
  pressable/src/index.tsx
  text/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: linear gradient
  example/storybook/babel.config.js
  example/storybook/src/components/LinearGradient/LinearGradient.stories.tsx
  example/storybook/src/components/LinearGradient/LinearGradient.tsx
  example/storybook/src/components/LinearGradient/index.ts
  example/storybook/src/components/LinearGradient/styled-component/index.tsx
  example/storybook/src/components/index.ts
  example/storybook/tsconfig.json
  packages/linear-gradient/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: linear gradient
  linear-gradient/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: new style props
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  packages/react/src/convertSxToSxVerbosed.tsx
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed build and git actions
  .github/workflows/main.yml
  .github/workflows/release.yml
  example/storybook/src/advanced/StyleIds/StyleId.tsx
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
  example/storybook/src/components/Test/Test.tsx
  example/storybook/src/recipes/BaseStyle/BaseStyle.tsx
  example/storybook/src/recipes/ButtonSizes/ButtonSizes.tsx
  example/storybook/src/recipes/ButtonVariant/ButtonVariant.tsx
  example/storybook/src/recipes/Icons/Icons.tsx
  example/storybook/src/recipes/PropertyTokenMap/PropertyTokenMap.tsx
  example/storybook/src/recipes/ResolveProps/ResolveProps.tsx
  example/storybook/src/recipes/StateColorMode/StateColorMode.tsx
  example/storybook/src/recipes/StateColorMode/StateColorMode.web.tsx
  example/storybook/src/recipes/StateMediaQuery/StateMediaQuery.tsx
  example/storybook/src/recipes/StatePlatform/StatePlatform.tsx
  example/storybook/src/recipes/StyleId/StyleId.tsx
  example/storybook/src/recipes/SxProps/SxProps.tsx
  example/storybook/src/recipes/UtilityProps/UtilityProps.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: new style props
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added main branch to changesets config
  .changeset/config.json
Due: prettier --write

fix: new style props
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added icon
  icon/Icons/Add.tsx
  icon/src/createIcon.tsx
  icon/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added icon
  example/storybook/babel.config.js
  example/storybook/src/components/Icon/Icon.stories.tsx
  example/storybook/src/components/Icon/Icon.tsx
  example/storybook/src/components/Icon/Icons/Add.tsx
  example/storybook/src/components/Icon/Icons/Arrow.tsx
  example/storybook/src/components/Icon/Icons/Check.tsx
  example/storybook/src/components/Icon/Icons/Chevron.tsx
  example/storybook/src/components/Icon/Icons/Circle.tsx
  example/storybook/src/components/Icon/Icons/Close.tsx
  example/storybook/src/components/Icon/Icons/Delete.tsx
  example/storybook/src/components/Icon/Icons/Favourite.tsx
  example/storybook/src/components/Icon/Icons/Hamburger.tsx
  example/storybook/src/components/Icon/Icons/Info.tsx
  example/storybook/src/components/Icon/Icons/Minus.tsx
  example/storybook/src/components/Icon/Icons/Moon.tsx
  example/storybook/src/components/Icon/Icons/Play.tsx
  example/storybook/src/components/Icon/Icons/Question.tsx
  example/storybook/src/components/Icon/Icons/Search.tsx
  example/storybook/src/components/Icon/Icons/Share.tsx
  example/storybook/src/components/Icon/Icons/Sun.tsx
  example/storybook/src/components/Icon/Icons/ThreeDots.tsx
  example/storybook/src/components/Icon/Icons/Warning.tsx
  example/storybook/src/components/Icon/Icons/WarningOutline.tsx
  example/storybook/src/components/Icon/Icons/index.tsx
  example/storybook/src/components/Icon/Icons/questionIconPath.tsx
  example/storybook/src/components/Icon/index.ts
  example/storybook/src/components/Icon/nbSvg.tsx
  example/storybook/src/components/Icon/styled-component/index.tsx
  example/storybook/tsconfig.json
  packages/icon/src/createIcon.tsx
  packages/icon/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: compound variants styleIds
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  packages/react/src/resolver.ts
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: theme typings
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typings
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: conflicts resolved
  packages/alert-dialog/src/index.tsx
  packages/fab/src/index.tsx
  packages/input/src/Input.tsx
  packages/input/src/InputAdvanced.tsx
  packages/input/src/index.tsx
  packages/modal/src/index.tsx
  packages/radio/src/index.ts
  packages/select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: conflicts resolved
  alert-dialog/src/index.tsx
  fab/src/index.tsx
  input/src/Input.tsx
  input/src/InputAdvanced.tsx
  input/src/index.tsx
  modal/src/index.tsx
  radio/src/index.ts
  select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example api changes
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: formcontrol
  form-control/src/FormControlLabel.tsx
  form-control/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: formcontrol
  example/storybook/babel.config.js
  example/storybook/src/components/FormControl/FormControl.stories.tsx
  example/storybook/src/components/FormControl/FormControl.tsx
  example/storybook/src/components/FormControl/index.ts
  example/storybook/src/components/FormControl/styled-component/Error.tsx
  example/storybook/src/components/FormControl/styled-component/ErrorIcon.tsx
  example/storybook/src/components/FormControl/styled-component/ErrorText.tsx
  example/storybook/src/components/FormControl/styled-component/Helper.tsx
  example/storybook/src/components/FormControl/styled-component/HelperText.tsx
  example/storybook/src/components/FormControl/styled-component/Label.tsx
  example/storybook/src/components/FormControl/styled-component/LabelAstrick.tsx
  example/storybook/src/components/FormControl/styled-component/LabelText.tsx
  example/storybook/src/components/FormControl/styled-component/index.tsx
  example/storybook/tsconfig.json
  packages/form-control/src/FormControlLabel.tsx
  packages/form-control/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: iconbutton done
  icon-button/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: iconbutton done
  example/storybook/babel.config.js
  example/storybook/src/components/IconButton/IconButton.stories.tsx
  example/storybook/src/components/IconButton/IconButton.tsx
  example/storybook/src/components/IconButton/index.ts
  example/storybook/src/components/IconButton/styled-component/Spinner.tsx
  example/storybook/src/components/IconButton/styled-component/Text.tsx
  example/storybook/src/components/IconButton/styled-component/index.tsx
  example/storybook/tsconfig.json
  packages/icon-button/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: compoundVariant changes
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  packages/react/src/resolver.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs changes
  example/storybook/src/api/Specificity/index.stories.mdx
  example/storybook/src/api/VariantsAndSizes/index.stories.mdx
Due: none

feat: added performance documentation
  example/storybook/src/overview/Performance/index.stories.mdx
Due: none

feat: stories added
  actionsheet/package.json
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/index.tsx
  actionsheet/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: stories added
  example/storybook/babel.config.js
  example/storybook/src/components/Actionsheet/Actionsheet.stories.tsx
  example/storybook/src/components/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Actionsheet/index.ts
  example/storybook/src/components/Actionsheet/styled-component/Backdrop.tsx
  example/storybook/src/components/Actionsheet/styled-component/Content.tsx
  example/storybook/src/components/Actionsheet/styled-component/DragIndicator.tsx
  example/storybook/src/components/Actionsheet/styled-component/IndicatorWrapper.tsx
  example/storybook/src/components/Actionsheet/styled-component/Item.tsx
  example/storybook/src/components/Actionsheet/styled-component/ItemText.tsx
  example/storybook/src/components/Actionsheet/styled-component/index.tsx
  example/storybook/src/components/Alert/Alert.stories.tsx
  example/storybook/src/components/Alert/Alert.tsx
  example/storybook/src/components/Alert/index.ts
  example/storybook/src/components/Alert/styled-component/Icon.tsx
  example/storybook/src/components/Alert/styled-component/Text.tsx
  example/storybook/src/components/Alert/styled-component/index.tsx
  example/storybook/src/components/AlertDialog/AlertDialog.stories.tsx
  example/storybook/src/components/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/AlertDialog/index.ts
  example/storybook/src/components/AlertDialog/styled-component/Backdrop.tsx
  example/storybook/src/components/AlertDialog/styled-component/Body.tsx
  example/storybook/src/components/AlertDialog/styled-component/CloseButton.tsx
  example/storybook/src/components/AlertDialog/styled-component/Content.tsx
  example/storybook/src/components/AlertDialog/styled-component/Footer.tsx
  example/storybook/src/components/AlertDialog/styled-component/Header.tsx
  example/storybook/src/components/AlertDialog/styled-component/Icon.tsx
  example/storybook/src/components/AlertDialog/styled-component/index.tsx
  example/storybook/src/components/Fab/Fab.tsx
  example/storybook/src/components/index.ts
  example/storybook/tsconfig.json
  packages/actionsheet/package.json
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/index.tsx
  packages/actionsheet/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: docs updated
  example/storybook/src/overview/Performance/index.stories.mdx
Due: none

feat: docs updated
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

feat: color mode docs
  example/storybook/src/api/ColorModeBasedStyles/index.stories.mdx
Due: none

chore: file name changed
  packages/react/src/convertSxToSxVerbosed.ts
  packages/react/src/index.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default props typings
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.13
  packages/react/package.json
Due: prettier --write

fix: typing
  example/storybook/package.json
  packages/react/package.json
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added icons
  example/storybook/src/components/Fab/Fab.tsx
  example/storybook/src/components/Modal/Modal.tsx
  example/storybook/src/components/Select/Select.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: improved examples
  example/storybook/src/components/Alert/Alert.tsx
  example/storybook/src/components/AlertDialog/styled-component/Body.tsx
  example/storybook/src/components/AlertDialog/styled-component/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: release color-mode
  .changeset/config.json
  example/storybook/package.json
  packages/color-mode/CHANGELOG.md
  packages/color-mode/package.json
Due: prettier --write

feat: release color-mode
  .github/workflows/lighthouse.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  packages/color-mode/CHANGELOG.md
  packages/color-mode/package.json
Due: prettier --write

fix: storybook scripts
  .changeset/config.json
  .github/workflows/release.yml
  example/storybook/package.json
  packages/color-mode/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
