Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

Update index.nw.stories.mdx
  example/storybook-nativewind/src/components/ImageViewer/index.nw.stories.mdx
Due: none

chore: updated example
  example/storybook-nativewind/src/components/ImageViewer/ImageViewer.tsx
  example/storybook-nativewind/src/components/ImageViewer/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed renderImages method and updated example
  packages/unstyled/image-viewer/CHANGELOG.md
  packages/unstyled/image-viewer/package.json
Due: prettier --write

feat: api rename and restructure
  example/storybook-nativewind/src/components/Calendar/Calendar.tsx
  example/storybook-nativewind/src/components/Calendar/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/calendar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/calendar/styles.tsx
  packages/unstyled/calendar/src/CalendarContent.tsx
  packages/unstyled/calendar/src/CalendarDate.tsx
  packages/unstyled/calendar/src/CalendarDays.tsx
  packages/unstyled/calendar/src/CalendarGridDays.tsx
  packages/unstyled/calendar/src/CalendarGridWeek.tsx
  packages/unstyled/calendar/src/CalendarHeaderNext.tsx
  packages/unstyled/calendar/src/CalendarHeaderPrev.tsx
  packages/unstyled/calendar/src/CalendarWeek.tsx
  packages/unstyled/calendar/src/Pressable.tsx
  packages/unstyled/calendar/src/index.tsx
  packages/unstyled/calendar/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: dependency json update
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

chore: updated lock file
  yarn.lock
Due: none

chore: pin-input and dependants version up
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/pin-input/CHANGELOG.md
  packages/unstyled/pin-input/package.json
Due: prettier --write

chore: ts-ignore for useAnimatedStyle
  packages/unstyled/image-viewer/src/ImageViewerContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ts-ignore for useAnimatedStyle
  packages/unstyled/image-viewer/CHANGELOG.md
  packages/unstyled/image-viewer/package.json
Due: prettier --write

fix: ts-ignore for useAnimatedStyle()
  packages/unstyled/image-viewer/CHANGELOG.md
  packages/unstyled/image-viewer/package.json
Due: prettier --write

fix: typing of trigger prop
  packages/unstyled/tooltip/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version bump
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/tooltip/CHANGELOG.md
  packages/unstyled/tooltip/package.json
Due: prettier --write

fix: image viewer docs
  example/storybook-nativewind/src/components/ImageViewer/index.nw.stories.mdx
Due: none

chore: updated image url
  example/storybook-nativewind/src/components/ImageViewer/ImageViewer.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated imageUrl and close button icon style
  example/storybook-nativewind/src/components/ImageViewer/ImageViewer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated example
  example/storybook-nativewind/src/components/ImageViewer/index.nw.stories.mdx
Due: none

chore: updated close button style
  example/storybook-nativewind/src/core-components/nativewind/image-viewer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: statusBar style inverted
  packages/unstyled/image-viewer/src/ImageViewer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated statusbar import and fixed image close
  packages/unstyled/image-viewer/src/ImageViewerContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated statusBar import from react-native
  packages/unstyled/image-viewer/src/ImageViewerContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed Unnecessary statusBar
  packages/unstyled/image-viewer/src/ImageViewer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: closebuttonicon bg on hover and updated example
  packages/unstyled/image-viewer/CHANGELOG.md
  packages/unstyled/image-viewer/package.json
Due: prettier --write

fix: updated hover state of close button
  example/storybook-nativewind/src/core-components/nativewind/image-viewer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated scaleValue for onClose
  packages/unstyled/image-viewer/src/ImageViewerContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update CHANGELOG.md
  packages/unstyled/image-viewer/CHANGELOG.md
Due: prettier --write

fix: updated translateY breakpoint value for onClose
  packages/unstyled/image-viewer/CHANGELOG.md
  packages/unstyled/image-viewer/package.json
Due: prettier --write

feat: added Vadim's stream under Guides/Tutorial as Building Ecommerce App
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/guides/tutorials/Building Ecommerce App/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/tutorials/Building Ecommerce App/vadim-stream.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: done some changes in docs
  example/storybook-nativewind/src/components/TimeInput/index.nw.stories.mdx
Due: none

fix: passed props to the input components in docs
  example/storybook-nativewind/src/components/TimeInput/index.nw.stories.mdx
Due: none

chore: updated yarn.lock
  yarn.lock
Due: none

chore: updated path and dependencies
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
  example/storybook-v7/babel.config.js
  example/storybook-v7/tsconfig.json
Due: eslint --quiet --fix, prettier --write

fix: removed statusbar code and fixed lagging while scale value changes
  packages/unstyled/image-viewer/src/ImageViewerContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: import
  example/storybook-nativewind/src/extra-components/nativewind/VadimStream.tsx
  example/storybook-nativewind/src/guides/tutorials/Building Ecommerce App/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: stream imports and content
  example/storybook-nativewind/src/extra-components/nativewind/VadimStream.tsx
  example/storybook-nativewind/src/guides/tutorials/Building Ecommerce App/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

test
  example/storybook-nativewind/src/guides/recipes/Building Ecommerce App/index.nw.stories.mdx
Due: none

test
  example/storybook-nativewind/src/guides/recipes/Building Ecommerce App/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/tutorials/Building Ecommerce App/index.nw.stories.mdx
Due: none

test
  example/storybook-nativewind/src/guides/recipes/building-ecommerce-app/index.nw.stories.mdx
Due: none
