Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: kitchensink added
  src/components/Button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.24
  package.json
Due: prettier --write

fix: children types
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: size prop resolution
  src/hooks/usePropResolution.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: pressed state
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.25
  package.json
Due: prettier --write

fix: typescript
  packages/react/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: issues
  src/components/AspectRatio/index.tsx
  src/components/Box/index.tsx
  src/components/Center/index.tsx
  src/components/Flex/index.tsx
  src/hooks/usePropResolution.ts
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.26
  package.json
Due: prettier --write

fix: extend theme fix
  src/components/Provider/index.tsx
  src/utils/extendTheme.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: conflicts resolved
  src/components/Actionsheet/index.tsx
  src/components/Button/index.tsx
  src/components/gluestack-ui.config.ts
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button
  src/components/Actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: components
  src/components/Actionsheet/index.tsx
  src/components/AlertDialog/index.tsx
  src/components/Modal/index.tsx
  src/hooks/usePropResolution.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: conflicts resolved
  src/components/AlertDialog/index.tsx
  src/components/Button/index.tsx
  src/components/Icons/index.tsx
  src/hooks/useColorModeValue.ts
  src/utils/NBsupport.tsx
  src/utils/extendTheme.ts
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: avatar image inherited from gluestack image
  packages/themed/src/components/Avatar/styled-components/Image.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remvalues not working
  src/components/Provider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: extend theme
  src/utils/extendTheme.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: config warning
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: cyclic dependency of themed and config
  packages/themed/package.json
Due: prettier --write

v1.0.17-alpha.0
  packages/react/package.json
Due: prettier --write

fix: yarn lock
  yarn.lock
Due: none

chore: @gluestack-ui/themed version bump to 1.0.17
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: props NAN value
  src/components/LinearGradient/index.tsx
  src/components/index.tsx
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.27
  package.json
Due: prettier --write

fix: log
  src/hooks/usePropResolution.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: v1.0.17
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: storybook for native
  example/storybook/package.json
  package.json
  yarn.lock
Due: prettier --write

fix: react native version upgrade
  package.json
  yarn.lock
Due: prettier --write

fix: toast animation
  toast/src/OverlayAnimatePresence.tsx
  toast/src/Toast.tsx
  toast/src/ToastContext.ts
  toast/src/ToastList.tsx
  toast/src/index.tsx
  toast/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: initial commit
  accordion/src/Accordion.tsx
  accordion/src/AccordionContent.tsx
  accordion/src/AccordionItem.tsx
  accordion/src/AccordionTrigger.tsx
  accordion/src/useAccordion.ts
  accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add types
  accordion/src/hookTypes.ts
  accordion/src/useAccordion.ts
  accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: injection order
  packages/react/src/StyledProvider.tsx
  packages/react/src/style-sheet/index.ts
  packages/react/src/styled.tsx
  packages/react/src/utils/css-injector/utils/inject.ts
  packages/react/src/utils/css-injector/utils/inject.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: onValueChange
  accordion/src/types.ts
  accordion/src/useAccordion.ts
  accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: heading in icon file
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

fix: heading issue in icon doc
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

v0.1.20
  icon/package.json
Due: prettier --write

feat: removed textarea warning
  textarea/package.json
  textarea/src/Textarea.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed warning for textarea role
  packages/themed/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
