Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

v0.1.0
  tooltip/package.json
Due: prettier --write

v0.1.0
  textarea/package.json
Due: prettier --write

v0.1.0
  packages/textarea/package.json
Due: prettier --write

v0.1.0
  packages/slider/package.json
Due: prettier --write

v0.1.0
  slider/package.json
Due: prettier --write

v0.1.0
  icon/package.json
Due: prettier --write

v0.1.0
  packages/icon/package.json
Due: prettier --write

v0.1.0
  popover/package.json
  select/package.json
Due: prettier --write

v0.1.0
  packages/popover/package.json
  packages/select/package.json
Due: prettier --write

v0.1.0
  packages/icon-button/package.json
  packages/toast/package.json
Due: prettier --write

v0.1.0
  icon-button/package.json
  toast/package.json
Due: prettier --write

fix: progress
  example/storybook/src/components/Fab/Fab.tsx
  example/storybook/src/components/Progress/Progress.stories.tsx
  example/storybook/src/components/Progress/Progress.tsx
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/components/styled-components/fab/Root.tsx
  example/storybook/src/components/styled-components/pressable/index.tsx
  example/storybook/src/components/styled-components/progress/FilledTrack.tsx
  example/storybook/src/components/styled-components/progress/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.1
  packages/react-native-aria/package.json
Due: prettier --write

v0.1.1
  react-native-aria/package.json
Due: prettier --write

fix: dependencies updated
  .changeset/README.md
  .changeset/config.json
  packages/Button/package.json
  packages/checkbox/package.json
  packages/radio/package.json
Due: prettier --write

fix: dependencies updated
  Button/package.json
  checkbox/package.json
  radio/package.json
Due: prettier --write

feat: new examples for plugins
  example/storybook/.storybook/main.js
  example/storybook/.storybook/preview.js
  example/storybook/src/api/AnimationPlugin/index.stories.mdx
  example/storybook/src/api/createStyled/createStyled.stories.tsx
  example/storybook/src/api/createStyled/createStyled.tsx
  example/storybook/src/api/createStyled/index.stories.mdx
  example/storybook/src/plugins/AnimationPlugin/Animation.stories.tsx
  example/storybook/src/plugins/AnimationPlugin/AnimationPlugin.tsx
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/CSSVariables/CSSVariables.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alert
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/components/Alert/Alert.tsx
  example/storybook/src/components/styled-components/alert/Icon.tsx
  example/storybook/src/components/styled-components/alert/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new examples for plugins
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

feat: fix design system
  popper/package.json
Due: prettier --write

feat: fix design system
  example/storybook/package.json
  packages/popper/package.json
  yarn.lock
Due: prettier --write

feat: latest version install
  example/storybook/package.json
  example/storybook/src/components/Select/index.stories.mdx
  packages/provider/package.json
  yarn.lock
Due: prettier --write

feat: latest version install
  provider/package.json
Due: prettier --write

feat: change-repo
  example/storybook/src/components/Button/index.stories.mdx
Due: none

fix: styles
  example/storybook/src/components/Alert/Variants.tsx
  example/storybook/src/components/Fab/Fab.tsx
  example/storybook/src/components/Progress/Progress.tsx
  example/storybook/src/components/TextArea/TextArea.stories.tsx
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/components/styled-components/fab/Root.tsx
  example/storybook/src/components/styled-components/input/Root.tsx
  example/storybook/src/components/styled-components/textarea/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new examples for prop resolver and support for prop resolver
  example/storybook/src/api/PropertyResolver/PropertyResolver.tsx
  example/storybook/src/api/PropertyResolver/index.stories.mdx
  packages/react/src/styled.tsx
  packages/react/src/utils.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: resolver docs
  example/storybook/src/api/PropertyResolver/index.stories.mdx
Due: none

feat: button docs up
  example/storybook/src/components/Box/Box.tsx
  example/storybook/src/components/Modal/index.stories.mdx
  example/storybook/src/hooks/useDarkMode.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook
  example/storybook/babel.config.js
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Provider/Provider.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dark mode
  packages/icon/src/SVGIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dark mode
  icon/src/SVGIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dark mode
  example/storybook/src/components/Alert/Alert.tsx
  example/storybook/src/components/Alert/Variants.tsx
  example/storybook/src/components/Button/Button.tsx
  example/storybook/src/components/Progress/Progress.tsx
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/components/styled-components/alert/Root.tsx
  example/storybook/src/components/useDarkMode.ts
  example/storybook/src/components/useDarkMode.web.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dependencies updated
  packages/react/package.json
  yarn.lock
Due: prettier --write

v0.2.11
  packages/react/package.json
Due: prettier --write

fix: input
  example/storybook/src/components/Input/Input.tsx
  example/storybook/src/components/styled-components/input/Input.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated meta description
  example/storybook/src/advanced/Architecture/index.stories.mdx
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
  example/storybook/src/advanced/Specificity/index.stories.mdx
  example/storybook/src/api/ColorModeBasedStyles/index.stories.mdx
  example/storybook/src/api/DescendantsStyles/index.stories.mdx
  example/storybook/src/api/OverridingStyles/index.stories.mdx
  example/storybook/src/api/PlatformBasedStyles/index.stories.mdx
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/api/Specificity/index.stories.mdx
  example/storybook/src/api/StateBasesStyles/index.stories.mdx
  example/storybook/src/api/UtilityProps/index.stories.mdx
  example/storybook/src/api/Variants/index.stories.mdx
  example/storybook/src/configuration/Breakpoints/index.stories.mdx
  example/storybook/src/configuration/SSR/index.stories.mdx
  example/storybook/src/configuration/ThemeTokens/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/Styled/index.stories.mdx
  example/storybook/src/getting-started/StyledProvider/index.stories.mdx
  example/storybook/src/getting-started/TypeScript/index.stories.mdx
  example/storybook/src/overview/API/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
  example/storybook/src/overview/Performance/index.stories.mdx
Due: none

feat: added dank logo dark
  img/dank-dark-mode.png
Due: none

fix: avoid keyboard api added
  actionsheet/src/ActionsheetContent.tsx
  alert-dialog/src/AlertDialog.tsx
  alert-dialog/src/AlertDialogContent.tsx
  alert-dialog/src/Context.ts
  modal/src/ModalContent.tsx
  toast/src/ToastList.tsx
  toast/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
