Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

chore: @gluestack-ui/toast version bump to 0.1.9
  toast/CHANGELOG.md
  toast/package.json
Due: prettier --write

fix: knob examples
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: decedant style typing
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: iframe responsiveness
  example/storybook/src/components/Layout/Center/Center.tsx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: radio docs
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

fix: spell-check
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

fix: updated import
  example/storybook/src/components/Layout/Center/index.stories.mdx
Due: none

fix: added button icon
  example/storybook/src/components/Forms/Button/ButtonSizes.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example
  example/storybook/src/components/Forms/Button/ButtonWithIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: disabled case
  example/storybook/src/ui-components/Checkbox/styled-components/Indicator.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted code
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: code refactor
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
Due: none

feat: removed imports
  example/storybook/src/components/Layout/Center/Center.tsx
  example/storybook/src/components/Layout/Center/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs and style
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/ui-components/Textarea/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs changes
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

fix: docs changes
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
Due: none

fix: remove focus ring
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: select prop table update
  example/storybook/src/components/Forms/Select/index.stories.mdx
Due: none

fix: add luicide icons
  example/storybook/src/components/DataDisplay/Badge/Badge.tsx
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/Toast.tsx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: key prop
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

fix: remove additonal borderwidth
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example in alertdialog
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

fix: example in tooltip
  example/storybook/src/ui-components/Avatar/styled-components/FallbackText.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alertDialog example fix bg
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

fix: knobs examples default
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

feat: added meta tag to passing prop page
  example/storybook/src/api/PropsPassing/index.stories.mdx
Due: none

fix: typo correction
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

fix: mobile storybook overlay issue
  example/storybook/.ondevice/preview.js
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/.storybook/preview.js
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: calculate position
  packages/overlays/src/web/overlays/src/calculatePosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.3.7
  packages/overlays/package.json
Due: prettier --write

fix: react-native-aria/overlay version updated
  menu/package.json
  modal/package.json
  overlay/package.json
  popover/package.json
  tooltip/package.json
Due: prettier --write

fix: react-native-aria/overlay version updated
  example/storybook/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/overlay/package.json
  packages/popover/package.json
  packages/tooltip/package.json
  yarn.lock
Due: prettier --write

fix: docs and style fix for placement in fab
  fab/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs and style fix for placement in fab
  example/storybook/src/components/Others/Fab/Fab.stories.tsx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  packages/fab/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
