Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Adding missing ref property into forwardRef
  packages/checkbox/src/Checkbox.tsx
  packages/checkbox/src/CheckboxGroup.tsx
  packages/checkbox/src/CheckboxIcon.tsx
  packages/checkbox/src/CheckboxIndicator.tsx
  packages/checkbox/src/CheckboxLabel.tsx
  packages/link/src/Link.tsx
  packages/menu/src/MenuGroupTitle.tsx
  packages/progress/src/ProgressFilledTrack.tsx
  packages/radio/src/Radio.tsx
  packages/radio/src/RadioGroup.tsx
  packages/radio/src/RadioIcon.tsx
  packages/radio/src/RadioIndicator.tsx
  packages/radio/src/RadioLabel.tsx
  packages/select/src/SelectIcon.tsx
  packages/select/src/SelectItem.tsx
  packages/switch/src/Switch.tsx
  packages/textarea/src/TextAreaRoot.tsx
  packages/toast/src/ToastComponent.tsx
  packages/toast/src/ToastDescription.tsx
  packages/toast/src/ToastTitle.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added fonts documentation
  example/storybook/src/getting-started/Fonts/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

feat: fonts docs
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed any
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: applying fonts
  example/storybook/src/getting-started/Fonts/index.stories.mdx
Due: none

fix: fonts dir fix
  example/storybook/src/getting-started/Fonts/index.stories.mdx
Due: none

fix: inline descendant css injection order
  packages/react/src/utils/css-injector/utils/inject.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button.spinner styles in default states
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: api reference link in center component docs
  example/storybook/src/components/Layout/Center/index.stories.mdx
Due: none

fix: fonts heading added
  example/storybook/src/getting-started/Fonts/index.stories.mdx
Due: none

v0.1.2
  packages/switch/package.json
Due: prettier --write

v0.1.2
  switch/package.json
Due: prettier --write

feat: switch different colors devices fixed and support for accept style in checked state
  example/storybook/src/ui-components/Switch/styled-components/Root.tsx
  packages/switch/src/Switch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: switch different colors devices fixed and support for accept style in checked state
  switch/src/Switch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version up react
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

feat: web snapshot tests
  example/storybook/.storybook/main.js
  example/storybook/package.json
  example/storybook/scripts/test.sh
  example/storybook/src/components/tests/storybook.test.js.snap.node
  example/storybook/src/components/tests/storybook.test.js.snap.web
  yarn.lock
Due: eslint --quiet --fix, prettier --write

Create auto-assign-issue.yml
  .github/workflows/auto-assign-issue.yml
Due: none

Update auto-assign-issue.yml
  .github/workflows/auto-assign-issue.yml
Due: none

fix: badge stetch issue
  example/storybook/src/ui-components/Badge/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added script to assign members to issues
  .github/workflows/assign-issues.yml
Due: none

updated content till box
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/SSR/index.stories.mdx
  example/storybook/src/overview/Accessibility/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: merge conflicts
  .github/workflows/assign-issues.yml
Due: none

Create auto-assign-pr.yml
  .github/workflows/auto-assign-pr.yml
Due: none

fix: workflow for assigning issue in round robin manner
  .github/workflows/assign-issues.yml
  .github/workflows/scripts/assign_issue.py
Due: none

feat: tooltip accessibility added
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  packages/spinner/src/Spinner.tsx
  packages/tooltip/src/Tooltip.tsx
  packages/tooltip/src/TooltipContent.tsx
  packages/tooltip/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: tooltip accessibility added
  spinner/src/Spinner.tsx
  tooltip/src/Tooltip.tsx
  tooltip/src/TooltipContent.tsx
  tooltip/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: undefined font family token
  packages/react/src/plugins/font-resolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: animated props resolution and tokenization
  packages/react/src/plugins/animated.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
