Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: some changes in dependancy
  yarn.lock
Due: none

fix: remove unwanted codes
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: identation error
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: title name
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: spelling
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: indentation
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: dependancy issue
  yarn.lock
Due: none

fix: styling and expo app example
  example/expo-project/App.tsx
  example/storybook/package.json
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/ui-components/Menu/styled-components/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

check examples
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: updated package
  example/storybook/package.json
Due: prettier --write

fix: updated lock file
  yarn.lock
Due: none

fix: fixed docs
  modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed docs
  example/storybook/src/components/Overlay/Modal/Modal.tsx
  example/storybook/src/components/Overlay/Modal/MultipleModal.tsx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  packages/modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: not using px unit now
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: removed isloading from types and docs
  example/storybook/src/components/Forms/Button/index.stories.mdx
  packages/button/src/index.tsx
  packages/button/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed isloading from types and docs
  button/src/index.tsx
  button/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated icon examples
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  yarn.lock
Due: none

chore: @gluestack-ui/checkbox version bump to 0.1.5
  checkbox/CHANGELOG.md
  checkbox/package.json
Due: prettier --write

chore: @gluestack-ui/checkbox version bump to 0.1.5
  packages/checkbox/CHANGELOG.md
  packages/checkbox/package.json
Due: prettier --write

fix: some issues in yarn file
  yarn.lock
Due: none

docs: added more example of spinner
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
Due: none

fix: some import changes in spinner
  example/storybook/src/components/Feedback/Spinner/Spinner.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: some changes
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: added more example of checkbox
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

docs: changes in heading
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

Revert "docs: changes in heading"
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

chore: @gluestack-ui/modal version bump to 0.1.8
  modal/CHANGELOG.md
  modal/package.json
Due: prettier --write

chore: @gluestack-ui/modal version bump to 0.1.8
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  yarn.lock
Due: prettier --write

fix: update icon installation command
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

fix: default icon color
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: specificity issue of margin and padding
  example/storybook/package.json
  package.json
  packages/react/src/utils/cssify/utils/create-declaration-block.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: specificity issue of border
  packages/react/src/utils/cssify/utils/create-declaration-block.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version updated
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

feat: fixed typing in button
  packages/button/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed typing in button
  button/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated dependencies
  example/expo-project/package.json
  example/storybook/package.json
Due: prettier --write

feat: snapshot updated
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: updated dank-style react version
  yarn.lock
Due: none

chore: @gluestack-ui/button version bump to 0.1.8
  button/CHANGELOG.md
  button/package.json
Due: prettier --write

chore: @gluestack-ui/button version bump to 0.1.8
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: prettier --write
