Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes in import statement"
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/Forms/Slider/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

fix: "changes in import statement"
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

feat : added keyboard accessibility menu
  packages/menu/src/useMenuItem.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added all button examples
  example/storybook/src/components/Forms/Button/Button.tsx
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: using proper way to comment
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

v0.2.7
  packages/menu/package.json
Due: prettier --write

fix: buttongroup sx props overriding
  packages/button/src/ButtonGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: buttongroup sx props overriding
  button/src/ButtonGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: revert buttongroup fixes
  packages/button/src/ButtonGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: revert buttongroup fixes
  button/src/ButtonGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/button version bump to 0.1.10
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: prettier --write

chore: @gluestack-ui/button version bump to 0.1.10
  button/CHANGELOG.md
  button/package.json
Due: prettier --write

fix: proper use of <wrapper>
  example/storybook/src/components/Forms/Button/Button.tsx
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: support for selection
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/ui-components/Menu/styled-components/Item.tsx
  packages/menu/package.json
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuItem.tsx
  packages/menu/src/types.ts
  packages/menu/src/useTypeSelect.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: support for selection
  menu/package.json
  menu/src/Menu.tsx
  menu/src/MenuItem.tsx
  menu/src/types.ts
  menu/src/useTypeSelect.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: "added slider example"
  example/storybook/src/components/Forms/Slider/index.stories.mdx
Due: none

feat: "added tooltip example"
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

fix: "import statement"
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

fix: "import statement"
  example/storybook/src/components/Overlay/Tooltip/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "removed dark mode color "
  example/storybook/src/ui-components/Slider/styled-components/FilledTrack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added beta tag in Center component
  example/storybook/src/components/Layout/Center/index.stories.mdx
Due: none

fix: updated use of icons and identation fixed
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tokens
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: removed additional example
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

feat: "added example of tooltip"
  example/storybook/src/components/Overlay/Tooltip/Tooltip.tsx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: "added import statement"
  example/storybook/src/components/Feedback/Progress/Progress.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: "added example of Progress"
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
Due: none

fix: fab component example
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: next example
  example/next-project/pages/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added divider examples
  example/storybook/src/components/DataDisplay/Divider/Divider.tsx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
