Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: color mode issue in mobile
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.web.tsx
  packages/react/src/StyledProvider.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.15
  packages/react/package.json
Due: prettier --write

fix: storybook example
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: merge conflict resolved
  yarn.lock
Due: none

fix: crash issue fixes
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: popover issue
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

fix: removed group example for now
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: added group example in checkbox
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: "styling"
  example/storybook/src/components/MediaAndIcons/Avatar/Avatar.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "styling"
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: fab examples done
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: commented code
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

fix: added examples
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

feat: updated radio example
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

feat: toast
  example/storybook/src/components/Feedback/Toast/DuplicateToastPrevent.tsx
  example/storybook/src/components/Feedback/Toast/Toast.stories.tsx
  example/storybook/src/components/Layout/Box/Box.tsx
  example/storybook/src/components/Layout/Center/Center.tsx
  example/storybook/src/components/Layout/Center/Shapes.tsx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: toast fixes
  toast/src/ToastList.tsx
  toast/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: toast fixes
  packages/toast/src/ToastList.tsx
  packages/toast/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: warning of font weight
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated logo in readme
  img/gluestack-logo.svg
Due: none

feat: added changelog
  example/storybook/src/more/Changelog/index.stories.mdx
  example/storybook/src/more/Roadmap/index.stories.mdx
Due: none

feat: update changelog file
  example/storybook/.storybook/preview.js
  example/storybook/src/more/Roadmap/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: " styling "
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added examples
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: wrapper changes
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: radio examples
  example/storybook/src/components/Forms/Radio/Radio.tsx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: package json readme
  packages/fab/README.md
  packages/fab/package.json
Due: prettier --write

fix: package json readme
  fab/README.md
  fab/package.json
Due: prettier --write

fix: example fixes
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: wrapper updated
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/fab version bump to 0.1.4
  fab/CHANGELOG.md
  fab/package.json
Due: prettier --write

chore: @gluestack-ui/fab version bump to 0.1.4
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
  packages/fab/CHANGELOG.md
  packages/fab/package.json
Due: prettier --write

chore: @gluestack-ui/avatar version bump to 0.1.4
  avatar/CHANGELOG.md
  avatar/package.json
Due: prettier --write

chore: @gluestack-ui/avatar version bump to 0.1.4
  packages/avatar/CHANGELOG.md
  packages/avatar/package.json
Due: prettier --write

feat: adcanced docs for babel plugin
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
Due: none

fix: readme keyword and description of progress
  packages/progress/README.md
  packages/progress/package.json
Due: prettier --write

fix: radio style core
  example/storybook/src/ui-components/Radio/styled-components/Icon.tsx
  example/storybook/src/ui-components/Radio/styled-components/Indicator.tsx
  example/storybook/src/ui-components/Radio/styled-components/Label.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: readme keyword and description of progress
  progress/README.md
  progress/package.json
Due: prettier --write

fix: readme keyword and description of modal
  packages/modal/README.md
  packages/modal/package.json
  packages/progress/package.json
Due: prettier --write
