Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.5
  packages/react/package.json
Due: prettier --write

v0.2.1
  packages/cssify/package.json
Due: prettier --write

v0.2.5
  packages/css-injector/package.json
Due: prettier --write

v0.2.6
  packages/react/package.json
Due: prettier --write

feat: changes in input styled
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/styled-components/input/Input.tsx
  example/storybook/src/components/styled-components/input/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icons
  example/storybook/src/components/Icons/AsForwarderIcon.tsx
  example/storybook/src/components/Icons/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icons
  package.json
  yarn.lock
Due: prettier --write

fix: passing props resolution
  example/storybook/src/api/PropsPassing/PropsPassing.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add props types and web css props
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.7
  packages/react/package.json
Due: prettier --write

feat: new examples and fixes for object call
  example/storybook/src/api/AnimationPlugin/AnimationPlugin.tsx
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/api/Specificity/Specificity.tsx
  example/storybook/src/api/UtilityFunctions/index.stories.mdx
  packages/react/src/createStyled.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.8
  packages/react/package.json
Due: prettier --write

fix: radio
  example/storybook/src/components/Fab/Fab.stories.tsx
  example/storybook/src/components/Fab/Fab.tsx
  example/storybook/src/components/Radio/RadioGroup.tsx
  example/storybook/src/components/styled-components/radio/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: make styled utils optional
  packages/react/src/plugins/animated.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ts no check
  example/storybook/src/api/UtilityFunctions/UtilityFunctions.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.9
  packages/react/package.json
Due: prettier --write

fix: icons
  example/storybook/src/components/Icons/AsForwarderIcon.tsx
  example/storybook/src/components/Icons/Icon.tsx
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fab sizes
  example/storybook/src/components/styled-components/fab/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new examples for plugins
  example/storybook/.storybook/preview.js
  example/storybook/src/api/UtilityFunctions/index.stories.mdx
  example/storybook/src/api/Variants/BaseStyleVariantSizes.tsx
  example/storybook/src/plugins/CSSVariables/CSSVariables.stories.tsx
  example/storybook/src/plugins/CSSVariables/CSSVariables.tsx
  example/storybook/src/plugins/CSSVariables/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fab sizes added
  example/storybook/src/components/Fab/Fab.stories.tsx
  example/storybook/src/components/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: modified injectCss function
  packages/css-injector/src/utils/inject.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: as forwarder added
  example/storybook/src/api/AsForwarder/AsForwarder.stories.tsx
  example/storybook/src/api/AsForwarder/AsForwarder.tsx
  example/storybook/src/api/AsForwarder/index.stories.mdx
  example/storybook/src/getting-started/AsForwarder/index.stories.mdx
  example/storybook/src/overview/API/index.stories.mdx
  packages/react/src/AsForwarder.tsx
  packages/react/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.6
  packages/css-injector/package.json
Due: prettier --write

chore: version updated
  packages/react/package.json
Due: prettier --write

fix: button docs
  example/storybook/src/components/Button/Button.stories.tsx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pushed meta data
  example/storybook/src/components/Button/index.stories.mdx
Due: none

fix: property name
  example/storybook/src/components/Alert/Alert.stories.tsx
  example/storybook/src/components/Alert/Alert.tsx
  example/storybook/src/components/Badge/Badge.stories.tsx
  example/storybook/src/components/Button/Button.stories.tsx
  example/storybook/src/components/Button/Button.tsx
  example/storybook/src/components/Button/ButtonStyles.tsx
  example/storybook/src/components/Button/ButtonWithIcon.tsx
  example/storybook/src/components/Input/Input.stories.tsx
  example/storybook/src/components/Select/Select.stories.tsx
  example/storybook/src/components/styled-components/alert/Root.tsx
  example/storybook/src/components/styled-components/badge/Root.tsx
  example/storybook/src/components/styled-components/button/Root.tsx
  example/storybook/src/components/styled-components/image/Root.tsx
  example/storybook/src/components/styled-components/input/Root.tsx
  example/storybook/src/components/styled-components/modal/Root.tsx
  example/storybook/src/components/styled-components/select/Root.tsx
  example/storybook/src/components/styled-components/textarea/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: input
  example/storybook/src/components/styled-components/input/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: utils added
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.14
  tooltip/package.json
Due: prettier --write

v0.1.14
  packages/tooltip/package.json
Due: prettier --write

fix: menu popover tooltip style override issue
  package.json
  packages/menu/package.json
  packages/menu/src/MenuContent.tsx
  packages/popover/package.json
  packages/popover/src/PopoverContent.tsx
  packages/tooltip/src/TooltipContent.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: menu popover tooltip style override issue
  menu/package.json
  menu/src/MenuContent.tsx
  popover/package.json
  popover/src/PopoverContent.tsx
  tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changed intro
  example/storybook/package.json
  example/storybook/src/overview/Introduction/index.stories.mdx
  package.json
Due: prettier --write

fix: fab
  example/storybook/src/components/styled-components/fab/Label.tsx
  example/storybook/src/components/styled-components/fab/Root.tsx
  example/storybook/src/components/styled-components/pressable/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: push
  yarn.lock
Due: none

fix: alert
  example/storybook/src/components/Alert/Alert.stories.tsx
  example/storybook/src/components/Alert/Variants.tsx
  example/storybook/src/components/Icons/AllIcons.tsx
  example/storybook/src/components/Icons/Icons/Add.tsx
  example/storybook/src/components/Icons/Icons/Arrow.tsx
  example/storybook/src/components/Icons/Icons/Check.tsx
  example/storybook/src/components/Icons/Icons/Close.tsx
  example/storybook/src/components/Icons/Icons/Info.tsx
  example/storybook/src/components/Icons/Icons/Notification.tsx
  example/storybook/src/components/Icons/Icons/Warning.tsx
  example/storybook/src/components/Icons/Icons/index.tsx
  example/storybook/src/components/styled-components/alert/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dependencies updated
  example/storybook/babel.config.js
  example/storybook/tsconfig.json
  packages/floating-ui/package.json
  packages/floating-ui/src/index.ts
  packages/floating-ui/src/index.web.ts
  packages/floating-ui/tsconfig.json
  packages/icon/babel.config.js
  packages/icon/package.json
  packages/icon/src/SVGIcon.tsx
  packages/icon/tsconfig.json
  packages/menu/babel.config.js
  packages/menu/package.json
  packages/menu/src/Menu.tsx
  packages/menu/tsconfig.json
  packages/popover/babel.config.js
  packages/popover/package.json
  packages/popover/src/Popover.tsx
  packages/popover/tsconfig.json
  packages/provider/src/index.ts
  packages/tooltip/babel.config.js
  packages/tooltip/package.json
  packages/tooltip/src/types.ts
  packages/tooltip/tsconfig.json
  packages/ui-Provider/.npmignore
  packages/ui-Provider/README.md
  packages/ui-Provider/babel.config.js
  packages/ui-Provider/package.json
  packages/ui-Provider/src/index.tsx
  packages/ui-Provider/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
