Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: change the template mapper
  mappers/utils/templateGenerator.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove the hydration error
  apps/docs/app/ui/docs/components/accordion/index.mdx
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/components/alert-dialog/index.mdx
  apps/docs/app/ui/docs/components/alert/index.mdx
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/accordion/docs/index.mdx
  packages/src/components/ui/alert-dialog/docs/index.mdx
  packages/src/components/ui/alert/docs/index.mdx
Due: none

feat: added sidebar
  apps/docs/app/ui/docs/components/alert copy/index.mdx
  apps/docs/app/ui/docs/components/alert copy/page.tsx
  apps/docs/components/code-block/index.tsx
  apps/docs/components/code-previewer/index.tsx
  apps/docs/components/docs-components/tabs/index.tsx
  apps/docs/components/ui/alert copy/creator/Alert.tsx
  apps/docs/components/ui/alert copy/creator/AlertIcon.tsx
  apps/docs/components/ui/alert copy/creator/AlertText.tsx
  apps/docs/components/ui/alert copy/creator/index.tsx
  apps/docs/components/ui/alert copy/creator/types.tsx
  apps/docs/components/ui/alert copy/index.tsx
  apps/docs/components/ui/alert-2/creator/Alert.tsx
  apps/docs/components/ui/alert-2/creator/AlertIcon.tsx
  apps/docs/components/ui/alert-2/creator/AlertText.tsx
  apps/docs/components/ui/alert-2/creator/index.tsx
  apps/docs/components/ui/alert-2/creator/types.tsx
  apps/docs/components/ui/alert-2/index.tsx
  apps/docs/components/ui/gluestack-ui-provider/index.web.tsx
  apps/docs/components/ui/select/select-actionsheet.tsx
  apps/docs/mdx-components.tsx
  mappers/utils/componentOperations.ts
  packages/src/components/ui/alert/docs/index.mdx
  packages/src/docs-components/tabs/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: completed the doc sfor alert component
  apps/docs/app/ui/docs/components/alert/index.mdx
  apps/docs/components/code-block/index.tsx
  apps/docs/components/code-previewer/index.tsx
  packages/src/components/ui/alert/docs/index.mdx
  packages/src/components/ui/alert/examples/cloud-sync/meta.json
  packages/src/components/ui/alert/examples/cloud-sync/template.handlebars
  packages/src/components/ui/alert/examples/confirm-password-modal/meta.json
  packages/src/components/ui/alert/examples/confirm-password-modal/template.handlebars
  packages/src/components/ui/alert/examples/warning-alert/meta.json
  packages/src/components/ui/alert/examples/warning-alert/template.handlebars
  packages/src/components/ui/alert/examples/with-cta/meta.json
  packages/src/components/ui/alert/examples/with-cta/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed the installtion docs
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  mappers/utils/templateGenerator.ts
  packages/src/docs/home/getting-started/installation/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added the anatomy image
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/components/alert/index.mdx
  apps/docs/components/docs-components/anatomy-image/index.tsx
  apps/docs/components/docs-components/table/index.tsx
  apps/docs/next.config.js
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/alert/docs/index.mdx
  packages/src/docs-components/anatomy-image/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

faet: corrected inline code
  packages/src/docs-components/inline-code/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

faet: completed the docs for badge
  apps/docs/app/ui/docs/components/badge/index.mdx
  packages/src/components/ui/badge/docs/index.mdx
  packages/src/components/ui/badge/examples/composition/meta.json
  packages/src/components/ui/badge/examples/composition/template.handlebars
  packages/src/components/ui/badge/examples/with-avatar/meta.json
  packages/src/components/ui/badge/examples/with-avatar/template.handlebars
Due: prettier --write

feat: completed the docs for alert dialog
  apps/docs/app/ui/docs/components/alert-dialog/index.mdx
  packages/src/components/ui/alert-dialog/docs/index.mdx
  packages/src/components/ui/alert-dialog/examples/with-delete/meta.json
  packages/src/components/ui/alert-dialog/examples/with-delete/template.handlebars
  packages/src/components/ui/alert-dialog/examples/with-icons-cta/meta.json
  packages/src/components/ui/alert-dialog/examples/with-icons-cta/template.handlebars
  packages/src/components/ui/alert-dialog/examples/with-image/meta.json
  packages/src/components/ui/alert-dialog/examples/with-image/template.handlebars
Due: prettier --write

feat: changed the alert-dialog docs
  apps/docs/app/ui/docs/components/alert-dialog/index.mdx
  apps/docs/components/docs-components/table/index.tsx
  packages/src/components/ui/alert-dialog/docs/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed the docs for hydration error
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  apps/docs/app/ui/docs/home/getting-started/tooling-setup/index.mdx
  apps/docs/components/code-block/index.tsx
  apps/docs/components/docs-components/table/index.tsx
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/docs/home/getting-started/installation/index.mdx
  packages/src/docs/home/getting-started/tooling-setup/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added the docs for avatar
  apps/docs/app/ui/docs/components/avatar/index.mdx
  packages/src/components/ui/avatar/docs/index.mdx
  packages/src/components/ui/avatar/examples/custom/meta.json
  packages/src/components/ui/avatar/examples/custom/template.handlebars
  packages/src/components/ui/avatar/examples/fallback/meta.json
  packages/src/components/ui/avatar/examples/fallback/template.handlebars
  packages/src/components/ui/avatar/examples/group-with-badge/meta.json
  packages/src/components/ui/avatar/examples/group-with-badge/template.handlebars
  packages/src/components/ui/avatar/examples/group-without-badge/meta.json
  packages/src/components/ui/avatar/examples/group-without-badge/template.handlebars
  packages/src/components/ui/avatar/examples/group/meta.json
  packages/src/components/ui/avatar/examples/group/template.handlebars
  packages/src/components/ui/avatar/examples/with-icons/meta.json
  packages/src/components/ui/avatar/examples/with-icons/template.handlebars
  packages/src/components/ui/avatar/examples/with-image/meta.json
  packages/src/components/ui/avatar/examples/with-image/template.handlebars
  packages/src/components/ui/avatar/examples/with-letters/meta.json
  packages/src/components/ui/avatar/examples/with-letters/template.handlebars
Due: prettier --write

feat: updated the docs for box
  apps/docs/app/ui/docs/components/box/index.mdx
  packages/src/components/ui/box/docs/index.mdx
Due: none

feat: added sidebar
  apps/docs/components/ui/gluestack-ui-provider/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added sidebar
  apps/docs/app/ui/docs/components/alert copy/index.mdx
  apps/docs/app/ui/docs/components/alert copy/page.tsx
  apps/docs/components/code-block/index.tsx
  apps/docs/components/code-previewer/index.tsx
  apps/docs/components/docs-components/tabs/index.tsx
  apps/docs/components/ui/alert copy/creator/Alert.tsx
  apps/docs/components/ui/alert copy/creator/AlertIcon.tsx
  apps/docs/components/ui/alert copy/creator/AlertText.tsx
  apps/docs/components/ui/alert copy/creator/index.tsx
  apps/docs/components/ui/alert copy/creator/types.tsx
  apps/docs/components/ui/alert copy/index.tsx
  apps/docs/components/ui/alert-2/creator/Alert.tsx
  apps/docs/components/ui/alert-2/creator/AlertIcon.tsx
  apps/docs/components/ui/alert-2/creator/AlertText.tsx
  apps/docs/components/ui/alert-2/creator/index.tsx
  apps/docs/components/ui/alert-2/creator/types.tsx
  apps/docs/components/ui/alert-2/index.tsx
  apps/docs/components/ui/select/select-actionsheet.tsx
  apps/docs/mdx-components.tsx
  mappers/utils/componentOperations.ts
  packages/src/components/ui/alert/docs/index.mdx
  packages/src/docs-components/tabs/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added table styling
  apps/docs/app/ui/docs/components/accordion/index.mdx
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/components/alert-dialog/index.mdx
  apps/docs/app/ui/docs/components/alert/index.mdx
  apps/docs/app/ui/docs/components/avatar/index.mdx
  apps/docs/app/ui/docs/components/badge/index.mdx
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  apps/docs/components/docs-components/table/index.tsx
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/components/ui/accordion/docs/index.mdx
  packages/src/components/ui/alert-dialog/docs/index.mdx
  packages/src/components/ui/alert/docs/index.mdx
  packages/src/components/ui/avatar/docs/index.mdx
  packages/src/components/ui/badge/docs/index.mdx
  packages/src/docs-components/table/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: made button changes
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/components/code-previewer/index.tsx
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/components/ui/Button/examples/example2/meta.json
  packages/src/components/ui/Button/examples/example2/template.handlebars
  packages/src/components/ui/Button/examples/full-width/meta.json
  packages/src/components/ui/Button/examples/full-width/template.handlebars
  packages/src/components/ui/Button/examples/icon-button/meta.json
  packages/src/components/ui/Button/examples/icon-button/template.handlebars
  packages/src/components/ui/Button/examples/link-button/meta.json
  packages/src/components/ui/Button/examples/link-button/template.handlebars
  packages/src/components/ui/Button/examples/with-icon/meta.json
  packages/src/components/ui/Button/examples/with-icon/template.handlebars
  packages/src/components/ui/Button/examples/with-loading-state/meta.json
  packages/src/components/ui/Button/examples/with-loading-state/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: made the components for all components page
  apps/docs/app/ui/docs/components/all-components/index.mdx
  apps/docs/app/ui/docs/components/all-components/page.tsx
  apps/docs/components/page-components/all-components/index.tsx
  apps/docs/utils/context/theme-context/index.tsx
  packages/src/components/ui/all-components/docs/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove unused code
  apps/docs/components/ui/alert copy/creator/Alert.tsx
  apps/docs/components/ui/alert copy/creator/AlertIcon.tsx
  apps/docs/components/ui/alert copy/creator/AlertText.tsx
  apps/docs/components/ui/alert copy/creator/index.tsx
  apps/docs/components/ui/alert copy/creator/types.tsx
  apps/docs/components/ui/alert copy/index.tsx
  apps/docs/components/ui/alert-2/creator/Alert.tsx
  apps/docs/components/ui/alert-2/creator/AlertIcon.tsx
  apps/docs/components/ui/alert-2/creator/AlertText.tsx
  apps/docs/components/ui/alert-2/creator/index.tsx
  apps/docs/components/ui/alert-2/creator/types.tsx
  apps/docs/components/ui/alert-2/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: make the docs for avatar
  apps/docs/app/ui/docs/components/center/index.mdx
  packages/src/components/ui/center/docs/index.mdx
Due: none

feat: change the docs for checkbox
  apps/docs/app/ui/docs/components/checkbox/index.mdx
  packages/src/components/ui/Checkbox/docs/index.mdx
  packages/src/components/ui/Checkbox/examples/checkbox-group/meta.json
  packages/src/components/ui/Checkbox/examples/checkbox-group/template.handlebars
  packages/src/components/ui/Checkbox/examples/controlled/meta.json
  packages/src/components/ui/Checkbox/examples/controlled/template.handlebars
  packages/src/components/ui/Checkbox/examples/form-control/meta.json
  packages/src/components/ui/Checkbox/examples/form-control/template.handlebars
  packages/src/components/ui/Checkbox/examples/help-text/meta.json
  packages/src/components/ui/Checkbox/examples/help-text/template.handlebars
  packages/src/components/ui/Checkbox/examples/horizontal/meta.json
  packages/src/components/ui/Checkbox/examples/horizontal/template.handlebars
  packages/src/components/ui/Checkbox/examples/label-left/meta.json
  packages/src/components/ui/Checkbox/examples/label-left/template.handlebars
  packages/src/components/ui/Checkbox/examples/multiple-checkbox/meta.json
  packages/src/components/ui/Checkbox/examples/multiple-checkbox/template.handlebars
  packages/src/components/ui/Checkbox/examples/uncontrolled/meta.json
  packages/src/components/ui/Checkbox/examples/uncontrolled/template.handlebars
  packages/src/components/ui/all-components/docs/index.mdx
Due: prettier --write

feat: made the docs for divider
  apps/docs/app/ui/docs/components/divider/index.mdx
  packages/src/components/ui/divider/docs/index.mdx
  packages/src/components/ui/divider/examples/content-within/meta.json
  packages/src/components/ui/divider/examples/content-within/template.handlebars
  packages/src/components/ui/divider/examples/orientation/meta.json
  packages/src/components/ui/divider/examples/orientation/template.handlebars
  packages/src/components/ui/divider/examples/variants/meta.json
  packages/src/components/ui/divider/examples/variants/template.handlebars
  packages/src/components/ui/divider/examples/with-without-inset/meta.json
  packages/src/components/ui/divider/examples/with-without-inset/template.handlebars
Due: prettier --write

feat: make the docs for drawer component
  apps/docs/app/ui/docs/components/drawer/index.mdx
  apps/docs/components/page-components/all-components/drawer/index.tsx
  packages/src/components/ui/drawer/docs/index.mdx
  packages/src/components/ui/drawer/examples/basic/meta.json
  packages/src/components/ui/drawer/examples/basic/template.handlebars
  packages/src/components/ui/drawer/examples/filter/meta.json
  packages/src/components/ui/drawer/examples/filter/template.handlebars
  packages/src/components/ui/drawer/examples/sidebar-menu/meta.json
  packages/src/components/ui/drawer/examples/sidebar-menu/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: created the docs for fab
  apps/docs/app/ui/docs/components/fab/index.mdx
  packages/src/components/ui/fab/docs/index.mdx
  packages/src/components/ui/fab/examples/custom-placement/meta.json
  packages/src/components/ui/fab/examples/custom-placement/template.handlebars
  packages/src/components/ui/fab/examples/placement/meta.json
  packages/src/components/ui/fab/examples/placement/template.handlebars
  packages/src/components/ui/fab/examples/with-icon-text/meta.json
  packages/src/components/ui/fab/examples/with-icon-text/template.handlebars
  packages/src/components/ui/fab/examples/with-icon/meta.json
  packages/src/components/ui/fab/examples/with-icon/template.handlebars
Due: prettier --write

feat: added the component fom controll
  apps/docs/app/ui/docs/components/form-control/index.mdx
  packages/src/components/ui/form-control/docs/index.mdx
  packages/src/components/ui/form-control/examples/with-checkbox/meta.json
  packages/src/components/ui/form-control/examples/with-checkbox/template.handlebars
  packages/src/components/ui/form-control/examples/with-error/meta.json
  packages/src/components/ui/form-control/examples/with-error/template.handlebars
  packages/src/components/ui/form-control/examples/with-form-actions/meta.json
  packages/src/components/ui/form-control/examples/with-form-actions/template.handlebars
  packages/src/components/ui/form-control/examples/with-radio/meta.json
  packages/src/components/ui/form-control/examples/with-radio/template.handlebars
  packages/src/components/ui/form-control/examples/with-textarea/meta.json
  packages/src/components/ui/form-control/examples/with-textarea/template.handlebars
Due: prettier --write

feat: made the dpcs for grid
  apps/docs/app/ui/docs/components/grid/index.mdx
  packages/src/components/ui/grid/docs/index.mdx
  packages/src/components/ui/grid/examples/gap-between-items/meta.json
  packages/src/components/ui/grid/examples/gap-between-items/template.handlebars
  packages/src/components/ui/grid/examples/nested-grids/meta.json
  packages/src/components/ui/grid/examples/nested-grids/template.handlebars
  packages/src/components/ui/grid/examples/responsive-grids/meta.json
  packages/src/components/ui/grid/examples/responsive-grids/template.handlebars
  packages/src/components/ui/grid/examples/row-column-gaps/meta.json
  packages/src/components/ui/grid/examples/row-column-gaps/template.handlebars
Due: prettier --write

feat: complete the docs for hsatck
  apps/docs/app/ui/docs/components/hstack/index.mdx
  packages/src/components/ui/hstack/docs/index.mdx
  packages/src/components/ui/hstack/examples/reversed/meta.json
  packages/src/components/ui/hstack/examples/reversed/template.handlebars
Due: prettier --write

feat: added the docs for icons
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/components/hstack/index.mdx
  apps/docs/app/ui/docs/components/icon/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  packages/src/components/ui/Icon/docs/index.mdx
  packages/src/components/ui/Icon/examples/all-icons/meta.json
  packages/src/components/ui/Icon/examples/all-icons/template.handlebars
  packages/src/components/ui/Icon/examples/custom/meta.json
  packages/src/components/ui/Icon/examples/custom/template.handlebars
  packages/src/components/ui/Icon/examples/lucide/meta.json
  packages/src/components/ui/Icon/examples/lucide/template.handlebars
  packages/src/components/ui/hstack/docs/index.mdx
Due: prettier --write

feat: make the docs for the image
  apps/docs/app/ui/docs/components/image/index.mdx
  packages/src/components/ui/image/docs/index.mdx
  packages/src/components/ui/image/examples/example-2/meta.json
  packages/src/components/ui/image/examples/example-2/template.handlebars
Due: prettier --write

feat: complete docs for input
  apps/docs/app/ui/docs/components/input/index.mdx
  packages/src/components/ui/Input/docs/index.mdx
Due: none

feat: complete docs for input
  packages/src/components/ui/Input/examples/with-form-control/meta.json
  packages/src/components/ui/Input/examples/with-form-control/template.handlebars
  packages/src/components/ui/Input/examples/with-icons/meta.json
  packages/src/components/ui/Input/examples/with-icons/template.handlebars
Due: prettier --write

feat: added docs for link component
  apps/docs/app/ui/docs/components/link/index.mdx
  packages/src/components/ui/link/docs/index.mdx
  packages/src/components/ui/link/examples/with-icon/meta.json
  packages/src/components/ui/link/examples/with-icon/template.handlebars
Due: prettier --write

faet: change menu docs
  apps/docs/app/ui/docs/components/menu/index.mdx
  packages/src/components/ui/menu/docs/index.mdx
  packages/src/components/ui/menu/examples/with-selection/meta.json
  packages/src/components/ui/menu/examples/with-selection/template.handlebars
  packages/src/components/ui/menu/examples/with-tag/meta.json
  packages/src/components/ui/menu/examples/with-tag/template.handlebars
Due: prettier --write

feat: complete the docs for modal
  apps/docs/app/ui/docs/components/modal/index.mdx
  apps/docs/components/page-components/all-components/modal/index.tsx
  packages/src/components/ui/modal/docs/index.mdx
  packages/src/components/ui/modal/examples/basic/meta.json
  packages/src/components/ui/modal/examples/basic/template.handlebars
  packages/src/components/ui/modal/examples/delete-post/meta.json
  packages/src/components/ui/modal/examples/delete-post/template.handlebars
  packages/src/components/ui/modal/examples/invite-friends/meta.json
  packages/src/components/ui/modal/examples/invite-friends/template.handlebars
  packages/src/components/ui/modal/examples/multiple-modals/meta.json
  packages/src/components/ui/modal/examples/multiple-modals/template.handlebars
  packages/src/components/ui/modal/examples/onboarding-message/meta.json
  packages/src/components/ui/modal/examples/onboarding-message/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
