Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

v1.0.1
  packages/themed/package.json
Due: prettier --write

fix: version updated
  packages/animation-legend-motion-driver/README.md
  packages/animation-legend-motion-driver/package.json
  packages/animation-legend-motion-driver/src/index.tsx
  packages/animation-legend-motion-driver/tsconfig.json
  packages/animation-moti-driver/README.md
  packages/animation-moti-driver/package.json
  packages/animation-moti-driver/src/index.tsx
  packages/animation-moti-driver/tsconfig.json
  packages/animation-resolver/README.md
  packages/animation-resolver/package.json
  packages/animation-resolver/tsconfig.json
  packages/react/src/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: version updated
  README.md
  package.json
  src/index.tsx
  tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: plugins intro
  example/storybook/src/plugins/Introduction/index.stories.mdx
Due: none

fix: docs improvement
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
Due: none

Update README.md
  README.md
Due: prettier --write

Update index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

v0.1.24
  package.json
Due: prettier --write

fix: provider config
  packages/themed/src/components/Provider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.2
  packages/themed/package.json
Due: prettier --write

Update index.stories.mdx
  example/storybook/src/theme-configuration/theme/default-components/index.stories.mdx
Due: none

fix: component tag changed
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
Due: none

fix: link updated
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/LinearGradient/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
  example/storybook/src/getting-started/vscode-extensions/index.stories.mdx
  example/storybook/src/guides/building-design-systems/index.stories.mdx
  example/storybook/src/overview/Component-Catalog/Demos/ActionsheetDemo.tsx
  example/storybook/src/overview/Introduction/index.stories.mdx
  example/storybook/src/performance/benchmarks/index.stories.mdx
  example/storybook/src/styling/variants/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: introduction page
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

feat: animated svg components in driver
  src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: animated svg components in driver
  packages/animation-legend-motion-driver/src/index.tsx
  packages/animation-moti-driver/src/index.tsx
  packages/animation-resolver/src/AnimatedComponents/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: introduction page
  example/storybook/src/overview/Component-Catalog/Demos/ActionsheetDemo.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: link
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: installation page
  example/storybook/src/components/Provider/GluestackUIProvider/index.stories.mdx
  example/storybook/src/getting-started/Installation/App.tsx
  example/storybook/src/theme-configuration/theme/default-tokens/DefaultComponent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: space prop
  src/components/Button/styled-components/Group.tsx
  src/components/HStack/index.tsx
  src/components/HStack/styled-components/Root.tsx
  src/components/Input/index.tsx
  src/components/Input/styled-components/Group.tsx
  src/components/Input/styled-components/LeftAddon.tsx
  src/components/Input/styled-components/RightAddon.tsx
  src/components/Input/styled-components/index.tsx
  src/components/VStack/styled-components/Root.tsx
  src/components/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.25
  package.json
Due: prettier --write

fix: replaced margins with gap
  example/storybook/babel.config.js
  example/storybook/src/components/DataDisplay/Badge/Badge.tsx
  example/storybook/src/components/Feedback/Alert/Alert.tsx
  example/storybook/src/components/Feedback/Alert/Variants.tsx
  example/storybook/src/components/Feedback/Toast/Toast.stories.tsx
  example/storybook/src/components/Forms/Button/ButtonLoading.tsx
  example/storybook/src/components/Forms/Button/ButtonSizes.tsx
  example/storybook/src/components/Forms/Button/ButtonWithIcon.tsx
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Forms/Radio/Radio.tsx
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/components/MediaAndIcons/Icon/Icon.stories.tsx
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/Overlay/Menu/Menu.stories.tsx
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Modal/Modal.tsx
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  example/storybook/src/components/Overlay/Tooltip/Tooltip.stories.tsx
  example/storybook/src/components/Overlay/Tooltip/Tooltip.tsx
  packages/config/src/theme/FormControlError.ts
  packages/config/src/theme/FormControlErrorText.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed babel changes
  example/storybook/babel.config.js
Due: eslint --quiet --fix, prettier --write

fix: fixed links of style
  example/storybook/src/CLI/gluestack-ui-scripts/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/customize-and-style/DefaultStyle/index.stories.mdx
  example/storybook/src/customize-and-style/Overwriting/index.stories.mdx
  example/storybook/src/customize-and-style/Styling/States/index.stories.mdx
  example/storybook/src/customize-and-style/Tokens/index.stories.mdx
  example/storybook/src/theme/theme-tokens/index.stories.mdx
Due: none

fix: broken links
  example/storybook/src/advanced/Fonts/index.stories.mdx
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/DataDisplay/Table/index.stories.mdx
  example/storybook/src/components/Disclosure/Accordion/index.stories.mdx
  example/storybook/src/components/Disclosure/Tabs/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: other style links
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Provider/GluestackUIProvider/index.stories.mdx
  example/storybook/src/core-concepts/UnstyledLibrary/index.stories.mdx
  example/storybook/src/styling/overview/index.stories.mdx
  example/storybook/src/styling/state/index.stories.mdx
Due: none

fix: installation page
  example/storybook/src/core-concepts/UnstyledLibrary/index.stories.mdx
Due: none

fix: updated links
  example/storybook/src/styling/overview/index.stories.mdx
Due: none

fix: box issue any docs
  example/storybook/src/components/Layout/Box/index.stories.mdx
Due: none

Update index.stories.mdx
  example/storybook/src/configuration/RSC/index.stories.mdx
Due: none

fix: space prop
  src/components/Actionsheet/index.tsx
  src/components/Avatar/index.tsx
  src/components/Button/styled-components/Group.tsx
  src/components/Select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.26
  package.json
Due: prettier --write

feat: added spec doc for some components
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

fix: introduction page gluestack ui
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: commenting test workflow
  .github/workflows/test.txt
Due: none

feat: stories description added
  example/storybook/src/components/MediaAndIcons/Icon/Icon.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: content changes
  example/storybook/src/core-concepts/UnstyledLibrary/index.stories.mdx
  example/storybook/src/getting-started/figma-plugin/index.stories.mdx
  example/storybook/src/getting-started/increamental-adoption/index.stories.mdx
  example/storybook/src/getting-started/vscode-extensions/index.stories.mdx
  example/storybook/src/performance/overview/index.stories.mdx
Due: none
