Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: changed to es modules
  packages/gluestack-utils/package.json
  packages/gluestack-utils/src/index.ts
  packages/gluestack-utils/tsconfig.build.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change package name
  package.json
  packages/gluestack-utils/.gitignore
  packages/gluestack-utils/package.json
Due: prettier --write

fix: ignored dependencies.json file in init
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
  packages/gluestack-ui/src/util/init/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed TextAreaInput in android to start text from top
  src/components/ui/textarea/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: complete the exports form package utils
  apps/starter-kit-expo/components/ui/accordion/creator/AccordionTrigger.tsx
  apps/starter-kit-expo/components/ui/accordion/index.tsx
  apps/starter-kit-expo/components/ui/actionsheet/creator/Actionsheet.tsx
  apps/starter-kit-expo/components/ui/actionsheet/creator/ActionsheetContent.tsx
  apps/starter-kit-expo/components/ui/actionsheet/creator/ActionsheetContentContext.tsx
  apps/starter-kit-expo/components/ui/actionsheet/creator/ActionsheetDragIndicatorWrapper.tsx
  apps/starter-kit-next/components/ui/accordion/creator/AccordionTrigger.tsx
  apps/starter-kit-next/components/ui/accordion/index.tsx
  apps/starter-kit-next/components/ui/actionsheet/creator/Actionsheet.tsx
  apps/starter-kit-next/components/ui/actionsheet/creator/ActionsheetContent.tsx
  apps/starter-kit-next/components/ui/actionsheet/creator/ActionsheetContentContext.tsx
  apps/starter-kit-next/components/ui/actionsheet/creator/ActionsheetDragIndicatorWrapper.tsx
  packages/gluestack-utils/package.json
  packages/gluestack-utils/src/aria/index.ts
  packages/gluestack-utils/src/hooks/index.ts
  packages/gluestack-utils/src/index.ts
  packages/gluestack-utils/yarn.lock
  src/components/ui/accordion/creator/AccordionTrigger.tsx
  src/components/ui/actionsheet/creator/Actionsheet.tsx
  src/components/ui/actionsheet/creator/ActionsheetContent.tsx
  src/components/ui/actionsheet/creator/ActionsheetContentContext.tsx
  src/components/ui/actionsheet/creator/ActionsheetDragIndicatorWrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: setup yalc for the local package testing
  apps/kitchen-sink/.gitignore
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yalc.lock
  apps/website/.gitignore
  apps/website/yalc.lock
  packages/gluestack-utils/package.json
  packages/gluestack-utils/src/aria/overlays/useOverlayPosition.ts
  packages/gluestack-utils/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the imports from utils folder ot package for accordion
  apps/starter-kit-expo/components/ui/alert-dialog/creator/AlertDialog.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/creator/AlertDialogCloseButton.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/creator/AlertDialogContent.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/index.tsx
  apps/starter-kit-expo/components/ui/alert/index.tsx
  apps/starter-kit-expo/components/ui/avatar/index.tsx
  apps/starter-kit-next/components/ui/alert-dialog/creator/AlertDialog.tsx
  apps/starter-kit-next/components/ui/alert-dialog/creator/AlertDialogCloseButton.tsx
  apps/starter-kit-next/components/ui/alert-dialog/creator/AlertDialogContent.tsx
  apps/starter-kit-next/components/ui/alert-dialog/index.tsx
  apps/starter-kit-next/components/ui/alert/index.tsx
  apps/starter-kit-next/components/ui/avatar/index.tsx
  src/components/ui/alert-dialog/creator/AlertDialog.tsx
  src/components/ui/alert-dialog/creator/AlertDialogCloseButton.tsx
  src/components/ui/alert-dialog/creator/AlertDialogContent.tsx
  src/components/ui/alert-dialog/index.tsx
  src/components/ui/alert/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fix import of use break point value hook
  packages/gluestack-utils/src/hooks/index.ts
  src/components/ui/avatar/index.tsx
  src/components/ui/badge/index.tsx
  src/components/ui/bottomsheet/index.tsx
  src/components/ui/box/index.tsx
  src/components/ui/box/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed safeareaview issue
  apps/kitchen-sink/package.json
  scripts/mappers/kitchen-sink/templates.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed border when no args controller is present
  apps/kitchen-sink/components/custom/component-previewer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fnd problem in overay isRTL and keybopard dismissable of portal
  scripts/mappers/index.ts
  src/components/ui/menu/creator/MenuPopover/PopoverContext.ts
  src/components/ui/modal/creator/Modal.tsx
  src/components/ui/modal/creator/ModalCloseButton.tsx
  src/components/ui/modal/creator/ModalContent.tsx
  src/components/ui/modal/index.tsx
  src/components/ui/popover/creator/Popover.tsx
  src/components/ui/popover/creator/PopoverCloseButton.tsx
  src/components/ui/popover/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: layout fixes
  apps/kitchen-sink/app/index.tsx
  scripts/mappers/kitchen-sink/templates.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added missing titles in examples
  src/components/ui/badge/examples/basic/meta.json
  src/components/ui/box/examples/basic/meta.json
  src/components/ui/button/examples/basic/meta.json
  src/components/ui/card/examples/basic/meta.json
  src/components/ui/center/examples/basic/meta.json
  src/components/ui/checkbox/examples/basic/meta.json
  src/components/ui/divider/examples/basic/meta.json
  src/components/ui/drawer/examples/basic/meta.json
  src/components/ui/fab/examples/basic/meta.json
  src/components/ui/grid/examples/basic/meta.json
  src/components/ui/hstack/examples/basic/meta.json
  src/components/ui/icon/examples/basic/meta.json
  src/components/ui/image/examples/basic/meta.json
  src/components/ui/link/examples/basic/meta.json
  src/components/ui/menu/examples/basic/meta.json
  src/components/ui/table/examples/basic/meta.json
Due: prettier --write

chore: fixed example title border
  apps/kitchen-sink/components/custom/component-previewer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the utils upto switcxh component
  src/components/ui/popover/creator/PopoverContent.tsx
  src/components/ui/pressable/creator/Pressable.tsx
  src/components/ui/pressable/index.tsx
  src/components/ui/progress/creator/ProgressContext.tsx
  src/components/ui/progress/index.tsx
  src/components/ui/radio/aria/useRadio.ts
  src/components/ui/radio/aria/useRadioGroup.ts
  src/components/ui/radio/aria/useRadioGroup.web.ts
  src/components/ui/radio/creator/Radio.tsx
  src/components/ui/radio/creator/Radio.web.tsx
  src/components/ui/radio/creator/RadioGroupContext.tsx
  src/components/ui/radio/creator/RadioProvider.tsx
  src/components/ui/radio/creator/context.tsx
  src/components/ui/radio/index.tsx
  src/components/ui/select/creator/Select.tsx
  src/components/ui/select/creator/SelectPortal.tsx
  src/components/ui/select/creator/SelectTrigger.tsx
  src/components/ui/select/index.tsx
  src/components/ui/select/select-actionsheet.tsx
  src/components/ui/skeleton/index.tsx
  src/components/ui/skeleton/index.web.tsx
  src/components/ui/skeleton/styles.tsx
  src/components/ui/slider/aria/useSlider.ts
  src/components/ui/slider/aria/useSlider.web.ts
  src/components/ui/slider/aria/useSliderThumb.ts
  src/components/ui/slider/aria/useSliderThumb.web.ts
  src/components/ui/slider/creator/Slider.tsx
  src/components/ui/slider/creator/SliderFilledTrack.tsx
  src/components/ui/slider/creator/SliderThumb.tsx
  src/components/ui/slider/creator/SliderTrack.tsx
  src/components/ui/slider/index.tsx
  src/components/ui/spinner/index.tsx
  src/components/ui/switch/creator/Switch.tsx
  src/components/ui/switch/index.tsx
  src/components/ui/table/styles.tsx
  src/components/ui/text/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added keyboard handling on inputs
  apps/kitchen-sink/app/index.tsx
  apps/kitchen-sink/package-lock.json
  apps/kitchen-sink/package.json
  scripts/mappers/kitchen-sink/templates.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fix isweb
  apps/kitchen-sink/yalc.lock
  apps/website/yalc.lock
  packages/gluestack-utils/src/aria/index.ts
  packages/gluestack-utils/src/nativewind-utils/index.ts
  src/components/ui/accordion/index.tsx
  src/components/ui/box/styles.tsx
  src/components/ui/center/styles.tsx
  src/components/ui/grid/styles.tsx
  src/components/ui/heading/styles.tsx
  src/components/ui/hstack/styles.tsx
  src/components/ui/table/styles.tsx
  src/components/ui/text/styles.tsx
  src/components/ui/vstack/styles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fix use toggel
  apps/kitchen-sink/yalc.lock
  apps/website/yalc.lock
  src/components/ui/checkbox/aria/useCheckbox.ts
  src/components/ui/switch/aria/useSwitch.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed glitch or wiered behavior for some miliseconds while react-live is loading comonent
  apps/website/components/custom/code-previewer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: correct import for useKeyboardDismissable
  src/components/ui/overlay/creator/index.tsx
  src/components/ui/popover/creator/PopoverContent.tsx
  src/components/ui/tooltip/creator/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: set fulsh style
  apps/kitchen-sink/yalc.lock
  apps/website/yalc.lock
  packages/gluestack-utils/src/nativewind-utils/index.ts
  src/components/ui/gluestack-ui-provider/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: fixed kitchen-sink components page bg color
  apps/kitchen-sink/app/_layout.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated kitchen-sink qr with latest changes
  apps/website/components/docs-components/apps/appConfig.tsx
  src/docs-components/apps/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change button imports
  apps/kitchen-sink/yalc.lock
  apps/website/yalc.lock
  packages/gluestack-utils/src/aria/overlays/web/useOverlayPosition.ts
  src/components/ui/actionsheet/index.tsx
  src/components/ui/button/index.tsx
  src/utils/gluestack-utils/aria/overlays/useOverlayPosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:resolved the style context
  apps/kitchen-sink/yalc.lock
  apps/website/next.config.mjs
  apps/website/tailwind.config.ts
  apps/website/yalc.lock
  packages/gluestack-utils/src/nativewind-utils/index.ts
  packages/gluestack-utils/tsconfig.build.json
  packages/gluestack-utils/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:change scripts
  apps/website/.gitignore
  apps/website/yalc.lock
Due: none

chore: removed utils copy logic
  scripts/mappers/website/componentOperations.ts
  scripts/mappers/website/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove utils form website
  apps/website/utils/gluestack-utils/common/accessibilityUtils.ts
  apps/website/utils/gluestack-utils/common/combineContextAndProps.ts
  apps/website/utils/gluestack-utils/common/composeEventHandlers.ts
  apps/website/utils/gluestack-utils/common/createContext.tsx
  apps/website/utils/gluestack-utils/common/findNodeHandle.ts
  apps/website/utils/gluestack-utils/common/findNodeHandle.web.ts
  apps/website/utils/gluestack-utils/common/getSpacedChild.tsx
  apps/website/utils/gluestack-utils/common/index.ts
  apps/website/utils/gluestack-utils/common/mergeRefs.ts
  apps/website/utils/gluestack-utils/common/stableHash.ts
  apps/website/utils/gluestack-utils/common/wrapStringChild.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: solved resolution
  apps/website/package.json
Due: prettier --write

fix: add @gluestack-ui-nightly/utils to transpiled packages
  apps/website/next.config.mjs
  apps/website/yarn.lock
Due: none

chore: testing pr
  apps/website/next.config.mjs
Due: none

feat: test
  apps/website/next.config.mjs
Due: none

feat: add the chore package for aria creators
  apps/kitchen-sink/metro.config.js
  apps/kitchen-sink/package-lock.json
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yalc.lock
  apps/website/package.json
  apps/website/yarn.lock
  packages/gluestack-utils/src/index.ts
  scripts/mappers/kitchen-sink/componentsOperations.ts
  scripts/mappers/kitchen-sink/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add the core package
  apps/kitchen-sink/yarn.lock
  packages/gluestack-core/.gitignore
  packages/gluestack-core/package.json
  packages/gluestack-core/src/button/aria/index.ts
  packages/gluestack-core/src/button/aria/index.web.ts
  packages/gluestack-core/src/button/aria/useButton.ts
  packages/gluestack-core/src/button/aria/useToggleButton.ts
  packages/gluestack-core/src/button/aria/useToggleButton.web.ts
  packages/gluestack-core/src/button/creator/Button.tsx
  packages/gluestack-core/src/button/creator/ButtonGroup.tsx
  packages/gluestack-core/src/button/creator/ButtonIcon.tsx
  packages/gluestack-core/src/button/creator/ButtonSpinner.tsx
  packages/gluestack-core/src/button/creator/ButtonText.tsx
  packages/gluestack-core/src/button/creator/Context.tsx
  packages/gluestack-core/src/button/creator/index.tsx
  packages/gluestack-core/src/button/creator/types.ts
  packages/gluestack-core/src/index.ts
  packages/gluestack-core/tsconfig.build.json
  packages/gluestack-core/tsconfig.json
  packages/gluestack-core/yalc.lock
  packages/gluestack-core/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: exports for gluestack core package
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/package.json
  packages/gluestack-core/tsconfig.json
Due: prettier --write

add the cooredion component to core package
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/package.json
  packages/gluestack-core/src/accordion/aria/index.ts
  packages/gluestack-core/src/accordion/aria/types.ts
  packages/gluestack-core/src/accordion/aria/useAccordion.ts
  packages/gluestack-core/src/accordion/aria/useAccordionItem.ts
  packages/gluestack-core/src/accordion/creator/Accordion.tsx
  packages/gluestack-core/src/accordion/creator/AccordionContent.tsx
  packages/gluestack-core/src/accordion/creator/AccordionContentText.tsx
  packages/gluestack-core/src/accordion/creator/AccordionHeader.tsx
  packages/gluestack-core/src/accordion/creator/AccordionIcon.tsx
  packages/gluestack-core/src/accordion/creator/AccordionItem.tsx
  packages/gluestack-core/src/accordion/creator/AccordionTitleText.tsx
  packages/gluestack-core/src/accordion/creator/AccordionTrigger.tsx
  packages/gluestack-core/src/accordion/creator/AnimatedHeight.tsx
  packages/gluestack-core/src/accordion/creator/Context.tsx
  packages/gluestack-core/src/accordion/creator/index.tsx
  packages/gluestack-core/src/accordion/creator/types.ts
  packages/gluestack-core/src/index.ts
  src/components/ui/accordion/index.tsx
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

add alert component to core package
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/package.json
  packages/gluestack-core/src/index.ts
  src/components/ui/alert/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added package of alert
  packages/gluestack-core/src/alert/creator/Alert.tsx
  packages/gluestack-core/src/alert/creator/AlertIcon.tsx
  packages/gluestack-core/src/alert/creator/AlertText.tsx
  packages/gluestack-core/src/alert/creator/index.tsx
  packages/gluestack-core/src/alert/creator/types.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
