Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: media query hook in v2
  example/storybook-nativewind/src/core-components/hooks/use-media-query/index.ts
  example/storybook-nativewind/src/core-components/hooks/use-media-query/index.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed } braces
  example/storybook-nativewind/src/home/getting-started/vscode-extensions/index.nw.stories.mdx
  example/storybook/src/ui/home/getting-started/vscode-extensions/index.stories.mdx
Due: none

Fix typo in index.nw.stories.mdx
  example/storybook-nativewind/src/guides/more/FAQs/index.nw.stories.mdx
Due: none

docs: starter kit url
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added anatomy image for alert
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: import
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: color mode rearchitect
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/script.ts
  example/storybook-nativewind/src/home/theme-configuration/dark-mode/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: steps
  example/storybook-nativewind/src/home/theme-configuration/dark-mode/index.nw.stories.mdx
Due: none

fix: anatomyImage component for alert
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: import tailwind.config in use-breakpoint-value
  example/storybook-nativewind/src/core-components/hooks/use-break-point-value.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: theme customizer fixes
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/NativeWindCodeEditor.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/util/ThemeProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: anatomyImage component
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: design fixes
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/AlertGrid.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/CardAndLinkGrid.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/InputGrid.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/PreviewComponent.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/SliderGrid.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/SolidButtonGrid.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/SpinnerAndProgressGrid.tsx
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/ui/SwitchesCheckboxAndRadioGrid.tsx
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: anatomyImage component images issue
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: anatomyImage issue of aspectRatio
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: anatomyImage issue of aspectRatio
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changed image links
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
Due: none

Update README.md
  packages/themed/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix: added textStyle prop for select item
  packages/unstyled/select/src/SelectItem.tsx
  packages/unstyled/select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added anatomy image for toast component
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
Due: none

feat: added anatomy image for badge component
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
Due: none

fix: added minor change in select item docs
  example/storybook/src/ui/components/Forms/Select/index.stories.mdx
Due: none

feat: added gorhom bottomsheet
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/package.json
  example/storybook-nativewind/src/components/BottomSheet/BottomSheet.tsx
  example/storybook-nativewind/src/components/BottomSheet/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/bottomsheet/index.tsx
  example/storybook-v7/package.json
  example/storybook-v7/yarn.lock
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added anatomy image for tooltip component
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Tooltip/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: table and modal
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
Due: none

feat: avatar, button, radio
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.nw.stories.mdx
Due: none

feat: checkbox, form-control
  example/storybook-nativewind/src/components/Checkbox/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
Due: none

feat: alert, input, divider
  example/storybook-nativewind/src/components/Divider/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Slider/index.nw.stories.mdx
Due: none

feat: link, textarea, fab
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Link/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Textarea/index.nw.stories.mdx
Due: none

feat: select, menu, switch
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Switch/index.nw.stories.mdx
Due: none

Update index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
Due: none

feat: replaced gluestack Image with next/image
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Checkbox/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Divider/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Link/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Slider/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Switch/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Textarea/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Tooltip/index.nw.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/AnatomyImage.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
