Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: documentation typography
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: documentation typography
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: documentation typography
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: link updated
  example/storybook/src/configuration/RSC/index.stories.mdx
Due: none

Update index.stories.mdx
  example/storybook/src/more/faqs/index.stories.mdx
Due: none

Update index.stories.mdx
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
Due: none

fix: babel plugin api
  example/ui-examples-babel/webpack.config.js
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: dev example webpack issue
  example/ui-examples-babel/App.tsx
  example/ui-examples-babel/babel.config.js
  example/ui-examples/App.tsx
  example/ui-examples/babel.config.js
  example/ui-examples/gluestack-ui-components/core/Heading/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.1
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

Update index.stories.mdx
  example/storybook/src/more/contribution-guidelines/index.stories.mdx
Due: none

fix: config
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  example/storybook/src/components/nb.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: specificity gs
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/utils/cssify/utils/common.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.21-alpha.0
  packages/react/package.json
Due: prettier --write

fix: media query specificity
  packages/react/src/utils/cssify/utils/common.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.21
  packages/react/package.json
Due: prettier --write

chore: version bump @gluestack-ui/themed to 0.1.15
  package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  yarn.lock
Due: prettier --write

fix: secure text inline orderride
  input/src/Input.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: vscode-extension
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetSectionList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: code correct
  example/storybook/src/components/Feedback/Toast/Toast.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: code correct
  example/storybook/src/components/Feedback/Toast/Basic.tsx
  example/storybook/src/components/Feedback/Toast/DuplicateToastPrevent.tsx
  example/storybook/src/components/Feedback/Toast/Toast.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: code correct
  example/storybook/src/components/Forms/Button/Button.stories.tsx
  example/storybook/src/components/Forms/Button/Button.tsx
  example/storybook/src/components/Forms/Button/ButtonGroup.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: code correct
  example/storybook/src/components/Forms/Button/Button.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: stories correction
  example/storybook/src/components/Forms/Link/Link.stories.tsx
  example/storybook/src/components/Forms/Radio/Radio.stories.tsx
  example/storybook/src/components/Forms/Slider/Slider.stories.tsx
  example/storybook/src/components/Forms/Textarea/Textarea.stories.tsx
  example/storybook/src/components/Layout/LinearGradient/LinearGradient.stories.tsx
  example/storybook/src/components/MediaAndIcons/Icon/Icon.stories.tsx
  example/storybook/src/components/Typography/Heading/Heading.stories.tsx
  example/storybook/src/components/Typography/Text/Text.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove variant props
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.22
  packages/react/package.json
Due: prettier --write

fix: undefined key injected in css
  example/storybook/src/components/nb.config.ts
  packages/react/src/utils/cssify/utils/common.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.23
  packages/react/package.json
Due: prettier --write

feat: badge done
  src/components/Badge/index.tsx
  src/components/Badge/styled-components/Icon.tsx
  src/components/Badge/styled-components/Root.tsx
  src/components/Badge/styled-components/Text.tsx
  src/components/gluestack-ui.config.ts
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added colorScheme prop as variant
  src/utils/NBsupport.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ignore ts-error
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: custome component theme
  example/storybook/src/theme/customizing-components/CustomComponent.tsx
  example/storybook/src/theme/customizing-components/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: theme file
  packages/themed/src/components/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: documentation render issue
  example/storybook/babel.config.js
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: slider tooltip issue
  example/storybook/src/components/Forms/Slider/Slider.tsx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.8
  packages/animation-plugin/package.json
Due: prettier --write

fix: fab component docs example
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: documentation
  example/storybook/src/configuration/Themes/index.stories.mdx
Due: none
