Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

chore: version updated
  src/components/Actionsheet/styled-components/Item.tsx
  src/components/Checkbox/index.tsx
  src/components/Input/index.tsx
  src/components/Select/index.tsx
  src/components/Select/styled-components-actionsheet/Item.tsx
  src/components/Select/styled-components/Input.tsx
  src/components/Tabs/index.tsx
  src/components/Textarea/index.tsx
  src/components/Tooltip/index.tsx
  src/hooks/usePropResolution.ts
  tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.4
  package.json
Due: prettier --write

fix: added core concepts
  example/storybook/public/images/architecture.png
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
Due: none

chore: version updated
  package.json
  tsconfig.json
Due: prettier --write

v0.1.5
  package.json
Due: prettier --write

fix: added core concepts
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

feat: text style NB
  src/components/Text/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.6
  package.json
Due: prettier --write

v0.1.7
  package.json
Due: prettier --write

fix: seperate injection
  packages/react/src/style-sheet/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: seperate injection for inline props
  packages/react/src/resolver/injectComponentAndDescendantStyles.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: refactor for babel plugin
  packages/react/src/updateOrderUnResolvedMap.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: resolve check to avoid unnecessary cssruleset creation
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: cssid stable hash for mobile
  packages/react/src/updateCSSStyleInOrderedResolved.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add build params for babel plugin
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add build time gluestack stylesheet
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: minor issues
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
  example/storybook/src/components/nb.config.ts
  packages/react/src/createConfig.ts
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/resolver/injectComponentAndDescendantStyles.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: style version
  package.json
Due: prettier --write

fix: typing
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetAvoidKeyboard.tsx
  example/storybook/src/components/Wrapper.tsx
  packages/themed/package.json
  packages/themed/src/index.ts
  packages/themed/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing
  packages/themed/package.json
  packages/themed/src/components/Actionsheet/styled-components/Item.tsx
  packages/themed/src/components/Select/styled-components-actionsheet/Item.tsx
  packages/themed/src/components/Select/styled-components/Input.tsx
  packages/themed/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: deepmerge theme
  example/storybook/.ondevice/storybook.requires.js
  packages/react/src/createConfig.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: performance optimization
  packages/react/src/createConfig.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: inline babel plugin
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: type errors
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: code refactor
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: theme undefine issue
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
  packages/react/src/createConfig.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: revert colormode story
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: core concepts added
  example/storybook/public/images/themed.png
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
  example/storybook/src/customize-and-style/DefaultStyle/index.stories.mdx
  example/storybook/src/customize-and-style/Ejecting/index.stories.mdx
  example/storybook/src/customize-and-style/Overwriting/index.stories.mdx
Due: none

v0.1.2-alpha.1
  packages/themed/package.json
Due: prettier --write

fix: refactor for inline babel plugin
  packages/react/src/resolver/injectComponentAndDescendantStyles.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: descendant style props
  packages/react/src/createConfig.ts
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon button example in docs
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/ui-components/Accordion/styled-components/Header.tsx
  example/storybook/src/ui-components/Accordion/styled-components/Icon.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated usePropResolution
  src/hooks/usePropResolution.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ds version
  package.json
Due: prettier --write

feat: add accordion header and accordion icon
  example/storybook/src/components/Disclosure/Accordion/Accordion.tsx
  example/storybook/src/ui-components/Accordion/index.tsx
  example/storybook/src/ui-components/Accordion/styled-components/Header.tsx
  example/storybook/src/ui-components/Accordion/styled-components/Icon.tsx
  example/storybook/src/ui-components/Accordion/styled-components/Item.tsx
  example/storybook/src/ui-components/Accordion/styled-components/Trigger.tsx
  example/storybook/src/ui-components/Accordion/styled-components/index.tsx
  packages/accordion/src/AccordionHeader.tsx
  packages/accordion/src/AccordionIcon.tsx
  packages/accordion/src/AccordionItem.tsx
  packages/accordion/src/AccordionTrigger.tsx
  packages/accordion/src/index.tsx
  packages/accordion/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon button example docs
  example/storybook/src/components/Forms/Button/index.stories.mdx
  yarn.lock
Due: none

fix: added extendTheme api
  package.json
  src/components/Provider/index.tsx
  src/components/index.tsx
  src/hooks/usePropResolution.ts
  src/index.ts
  src/utils/extendTheme.ts
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: core concepts added
  example/storybook/.storybook/preview.js
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
  example/storybook/src/core-concepts/UnstyledComponents/index.stories.mdx
  example/storybook/src/customize-and-style/DefaultStyle/index.stories.mdx
  example/storybook/src/customize-and-style/Tokens/index.stories.mdx
Due: eslint --quiet --fix, prettier --write
