Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed dependency
  modal/package.json
  modal/src/ModalContent.tsx
  modal/src/useDialog.tsx
  modal/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed ts
  packages/modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed ts
  modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: backdrop conditional
  example/storybook/src/components/Overlay/Menu/MyMenu.tsx
  packages/menu/src/MenuPopover/Popover.tsx
  packages/menu/src/MenuPopover/Popover.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: backdrop conditional
  menu/src/MenuPopover/Popover.tsx
  menu/src/MenuPopover/Popover.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated tests
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

docs: added person icon
  example/storybook/src/components/MediaAndIcons/Avatar/Avatar.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: style fixes in close buttons
  example/storybook/src/ui-components/AlertDialog/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Modal/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Popover/styled-components/CloseButton.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgrade actionsheet alert dialog button link modal tooltip overlay
  example/storybook/package.json
  packages/actionsheet/CHANGELOG.md
  packages/actionsheet/package.json
  packages/alert-dialog/CHANGELOG.md
  packages/alert-dialog/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/link/CHANGELOG.md
  packages/link/package.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/overlay/CHANGELOG.md
  packages/overlay/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier --write

chore: version upgrade actionsheet alert dialog button link modal tooltip overlay
  actionsheet/CHANGELOG.md
  actionsheet/package.json
  alert-dialog/CHANGELOG.md
  alert-dialog/package.json
  button/CHANGELOG.md
  button/package.json
  link/CHANGELOG.md
  link/package.json
  modal/CHANGELOG.md
  modal/package.json
  overlay/CHANGELOG.md
  overlay/package.json
  tooltip/CHANGELOG.md
  tooltip/package.json
Due: prettier --write

feat: docs and type fixes
  example/storybook/src/components/Overlay/Menu/ComplexMenuGroup.tsx
  example/storybook/src/components/Overlay/Menu/FreshMenu.tsx
  example/storybook/src/components/Overlay/Menu/FreshMenuTailwind.tsx
  example/storybook/src/components/Overlay/Menu/Menu.stories.tsx
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Menu/MenuDefault.tsx
  example/storybook/src/components/Overlay/Menu/MenuGroup.tsx
  example/storybook/src/components/Overlay/Menu/MyMenu.tsx
  example/storybook/src/components/Overlay/Menu/MyMenuNative.tsx
  example/storybook/src/components/Overlay/Menu/MySuperMenu.tsx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  packages/menu/package.json
  packages/menu/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: docs and type fixes
  menu/package.json
  menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: yarn lock
  yarn.lock
Due: none

chore: @gluestack-ui/textarea version bump to 0.1.3
  packages/textarea/CHANGELOG.md
  packages/textarea/package.json
Due: prettier --write

chore: @gluestack-ui/textarea version bump to 0.1.3
  textarea/CHANGELOG.md
  textarea/package.json
Due: prettier --write

feat: new hook use-pressed-in
  packages/react-native-aria/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new hook use-pressed-in
  react-native-aria/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/react-native-aria version bump to 0.1.2
  button/CHANGELOG.md
  button/package.json
  overlay/CHANGELOG.md
  overlay/package.json
  react-native-aria/CHANGELOG.md
  react-native-aria/package.json
  tabs/CHANGELOG.md
  tabs/package.json
Due: prettier --write

chore: @gluestack-ui/react-native-aria version bump to 0.1.2
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/overlay/CHANGELOG.md
  packages/overlay/package.json
  packages/react-native-aria/CHANGELOG.md
  packages/react-native-aria/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier --write

feat: created two new icons
  example/storybook/src/components/Others/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: formatting of code
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

docs: added two new examples
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: added new size variants for better config
  example/storybook/src/ui-components/HStack/styled-components/Spacer.tsx
  example/storybook/src/ui-components/VStack/styled-components/Spacer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: breaking examples due to new api
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

fix: updated to latest @gluestack/design-system
  example/storybook/package.json
  yarn.lock
Due: prettier --write

feat: radio style fixes
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
  example/storybook/src/ui-components/Radio/styled-components/Icon.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: formatting issues
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: few changes with icon
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

feat: added checkbox component example
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: optional chaining
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: release dank-style react 0.3.13
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: updated radio examples
  example/storybook/src/components/Forms/Radio/Radio.tsx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox icon
  example/storybook/src/ui-components/Checkbox/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox icon snapshot
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
  packages/checkbox/src/Checkbox.web.tsx
  packages/checkbox/src/CheckboxIcon.tsx
  packages/checkbox/src/CheckboxIndicator.tsx
  packages/checkbox/src/CheckboxLabel.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox icon snapshot
  checkbox/src/Checkbox.web.tsx
  checkbox/src/CheckboxIcon.tsx
  checkbox/src/CheckboxIndicator.tsx
  checkbox/src/CheckboxLabel.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: merge conflict
  example/storybook/package.json
  yarn.lock
Due: prettier --write

fix: added latest package of system desing
  example/storybook/package.json
Due: prettier --write

fix: changes in checbox
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated yarn.lock file
  yarn.lock
Due: none

fix: change the example section heading correctly
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
