Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

chore: @gluestack-ui/fab version bump to 0.1.1
  packages/fab/package.json
Due: prettier --write

chore: @gluestack-ui/fab version bump to 0.1.1
  create-release.js
  packages/fab/CHANGELOG.md
  packages/fab/package.json
Due: eslint --quiet --fix, prettier --write

fix: create release
  .gitignore
  create-release.js
Due: eslint --quiet --fix, prettier --write

fix: fab revert
  example/storybook/src/components/Others/Fab/Fab.stories.tsx
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/ui-components/Fab/index.tsx
  example/storybook/src/ui-components/Fab/styled-components/Label.tsx
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
  packages/fab/src/Fab.tsx
  packages/fab/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fab revert
  fab/src/Fab.tsx
  fab/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/fab version bump to 0.1.1
  fab/CHANGELOG.md
  fab/package.json
Due: prettier --write

chore: @gluestack-ui/fab version bump to 0.1.1
  packages/fab/CHANGELOG.md
  packages/fab/package.json
Due: prettier --write

fix: yarn lock
  example/storybook/package.json
  example/storybook/src/ui-components/Menu/styled-components/Content.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover iskeyboarddismis
  packages/popover/src/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover iskeyboarddismis
  popover/src/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover accessible focus
  packages/popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover accessible focus
  popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fxi: actionsheet animation
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetBackdrop.tsx
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/OverlayAnimatePresence.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fxi: actionsheet animation
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Content.tsx
  example/storybook/src/ui-components/styled/index.tsx
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetBackdrop.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/OverlayAnimatePresence.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: text decoration warning issue
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
  example/storybook/src/ui-components/Button/styled-components/Text.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal useDialog
  example/storybook/stories/Modal/Modal.stories.tsx
  example/storybook/stories/Modal/index.tsx
  example/storybook/stories/index.js
  packages/dialog/README.md
  packages/dialog/babel.config.js
  packages/dialog/package.json
  packages/dialog/scripts/bootstrap.js
  packages/dialog/src/index.ts
  packages/dialog/src/index.web.ts
  packages/dialog/src/useDialog.ts
  packages/dialog/src/useDialog.web.ts
  packages/dialog/tsconfig.build.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: textarea fixes domne
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/components/Forms/TextArea/TextArea.tsx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/ui-components/TextArea/styled-components/Input.tsx
  example/storybook/src/ui-components/TextArea/styled-components/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/textarea version bump to 0.1.1
  packages/textarea/CHANGELOG.md
  packages/textarea/package.json
Due: prettier --write

chore: @gluestack-ui/textarea version bump to 0.1.1
  textarea/CHANGELOG.md
  textarea/package.json
Due: prettier --write

fix: added examples
  button/src/Button.tsx
  button/src/index.tsx
  popover/src/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added examples
  .env
  example/storybook/babel.config.js
  example/storybook/package.json
  example/storybook/src/components/Overlay/Menu/Menu.stories.tsx
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Menu/MenuDefault.tsx
  example/storybook/src/components/Overlay/Menu/MyMenu.tsx
  example/storybook/src/components/Overlay/Menu/MyMenuNative.tsx
  example/storybook/src/ui-components/index.tsx
  example/storybook/tsconfig.json
  packages/button/src/Button.tsx
  packages/button/src/index.tsx
  packages/popover/src/Popover.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal useDialog
  example/storybook/src/components/Overlay/Modal/Modal.tsx
  example/storybook/src/ui-components/Modal/styled-components/Body.tsx
  packages/modal/package.json
  packages/modal/src/Modal.tsx
  packages/modal/src/ModalContent.tsx
  packages/modal/src/useDialog.tsx
  packages/modal/src/useDialog.web.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal useDialog
  modal/package.json
  modal/src/Modal.tsx
  modal/src/ModalContent.tsx
  modal/src/useDialog.tsx
  modal/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal backdrop focus
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetBackdrop.tsx
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/context.ts
  actionsheet/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal backdrop focus
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetBackdrop.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/context.ts
  packages/actionsheet/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet content accessibility
  packages/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet content accessibility
  actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet content accessibility
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/types.ts
  actionsheet/src/useDialog.tsx
  actionsheet/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet content accessibility
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/types.ts
  packages/actionsheet/src/useDialog.tsx
  packages/actionsheet/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling and web focus shift issues
  example/storybook/src/ui-components/Popover/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Popover/styled-components/Content.tsx
  example/storybook/src/ui-components/Popover/styled-components/Root.tsx
  packages/popover/src/PopoverContent.tsx
  packages/popover/src/useDialog.tsx
  packages/popover/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling and web focus shift issues
  popover/src/PopoverContent.tsx
  popover/src/useDialog.tsx
  popover/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover content
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

fix: initial focus ref
  packages/popover/src/PopoverContent.tsx
  packages/popover/src/useDialog.tsx
  packages/popover/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: initial focus ref
  popover/src/PopoverContent.tsx
  popover/src/useDialog.tsx
  popover/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove closeOnOverlayClick from prop table
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

feat: actionsheet content accessibility
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet content accessibility
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: initial focus ref and ref typing
  popover/src/OverlayAnimatePresence.tsx
  popover/src/Popover.tsx
  popover/src/PopoverArrow.tsx
  popover/src/PopoverBackdrop.tsx
  popover/src/PopoverBody.tsx
  popover/src/PopoverCloseButton.tsx
  popover/src/PopoverContent.tsx
  popover/src/PopoverFooter.tsx
  popover/src/PopoverHeader.tsx
  popover/src/useDialog.tsx
  popover/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: initial focus ref and ref typing
  packages/popover/src/OverlayAnimatePresence.tsx
  packages/popover/src/Popover.tsx
  packages/popover/src/PopoverArrow.tsx
  packages/popover/src/PopoverBackdrop.tsx
  packages/popover/src/PopoverBody.tsx
  packages/popover/src/PopoverCloseButton.tsx
  packages/popover/src/PopoverContent.tsx
  packages/popover/src/PopoverFooter.tsx
  packages/popover/src/PopoverHeader.tsx
  packages/popover/src/useDialog.tsx
  packages/popover/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet content accessibility
  packages/actionsheet/src/ActionsheetBackdrop.tsx
  packages/actionsheet/src/ActionsheetDragIndicator.tsx
  packages/actionsheet/src/ActionsheetDragIndicatorWrapper.tsx
  packages/actionsheet/src/ActionsheetFlatList.tsx
  packages/actionsheet/src/ActionsheetItem.tsx
  packages/actionsheet/src/ActionsheetItemText.tsx
  packages/actionsheet/src/ActionsheetScrollView.tsx
  packages/actionsheet/src/ActionsheetSectionHeaderText.tsx
  packages/actionsheet/src/ActionsheetSectionList.tsx
  packages/actionsheet/src/ActionsheetVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
