Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

v1.0.2-alpha.0
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

refact: hooks
  packages/accordion/src/useAccordion.ts
  packages/accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.2-alpha.1
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: toast safearea notch
  toast/src/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: dynamic config support
  packages/babel-plugin-styled-resolver/src/buildConfig.js
  packages/babel-plugin-styled-resolver/src/index.js
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: initial commit
  accordion/package.json
  accordion/src/Accordion.tsx
  accordion/src/AccordionContent.tsx
  accordion/src/AccordionItem.tsx
  accordion/src/AccordionTrigger.tsx
  accordion/src/hookTypes.ts
  accordion/src/types.ts
  accordion/src/useAccordion.ts
  accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: component refrence
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.19
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: accordion hooks
  accordion/src/Accordion.tsx
  accordion/src/AccordionContent.tsx
  accordion/src/AccordionItem.tsx
  accordion/src/AccordionTrigger.tsx
  accordion/src/useAccordion.ts
  accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: rollup config path
  packages/babel-plugin-styled-resolver/src/buildConfig.js
Due: eslint --quiet --fix, prettier --write

fix: toast safearea added key
  toast/src/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/toast version bump to 1.0.2
  toast/CHANGELOG.md
  toast/package.json
Due: prettier --write

fix: version bump
  packages/babel-plugin-styled-resolver/package.json
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: config path param
  packages/babel-plugin-styled-resolver/src/buildConfig.js
Due: eslint --quiet --fix, prettier --write

fix: toast safearea white notch
  packages/themed/package.json
  yarn.lock
Due: prettier --write

chore: @gluestack-ui/themed version bump to 1.0.19
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: accordion hooks
  packages/accordion/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accordion hooks
  packages/accordion/src/useAccordion.ts
  packages/accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.0.2
  packages/accordion/package.json
Due: prettier --write

feat: add hooks from react-native-aria
  accordion/package.json
  accordion/src/Accordion.tsx
  accordion/src/AccordionItem.tsx
  accordion/src/hookTypes.ts
  accordion/src/types.ts
  accordion/src/useAccordion.ts
  accordion/src/useAccordionItem.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.20
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

v1.0.2
  packages/babel-plugin-styled-resolver/CHANGELOG.md
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: node v18.x
  .github/workflows/release.yml
Due: none

fix: accordion props type
  accordion/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: type issue
  accordion/src/AccordionTrigger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/accordion version bump to 0.0.2
  accordion/CHANGELOG.md
  accordion/package.json
Due: prettier --write

feat: styled accordion
  example/storybook/src/components/Disclosure/Accordion/Accordion.tsx
  example/storybook/src/components/Disclosure/Accordion/index.stories.mdx
  packages/config/src/theme/Accordion.ts
  packages/config/src/theme/AccordionContentText.ts
  packages/config/src/theme/AccordionIcon.ts
  packages/config/src/theme/AccordionTitleText.ts
  packages/themed/package.json
  packages/themed/src/components/Accordion/styled-components/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pull from patch
  example/storybook/src/components/Disclosure/Accordion/index.stories.mdx
  yarn.lock
Due: none

fix: version and removed _light
  packages/config/src/theme/Accordion.ts
  packages/themed/package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: version style react
  packages/themed/package.json
Due: prettier --write

feat: applied accessibility in tabs
  tabs/src/Tab.tsx
  tabs/src/TabPanel.tsx
  tabs/src/useTabs.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook examples
  example/storybook/src/components/Feedback/Toast/Toast.tsx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  packages/config/package.json
  packages/themed/package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: style version bump
  example/storybook/package.json
  package.json
  packages/config/package.json
  packages/themed/package.json
  yarn.lock
Due: prettier --write

chore: @gluestack-ui/themed version bump to 1.0.20
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: tooltip flickering issue
  packages/themed/src/components/Tooltip/styled-components/Content.tsx
  packages/themed/src/components/Tooltip/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: moving styling to config
  packages/config/src/theme/Tooltip.ts
  packages/config/src/theme/TooltipContent.ts
  packages/themed/src/components/Tooltip/styled-components/Content.tsx
  packages/themed/src/components/Tooltip/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
