Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

chore: downgrade @gluestack-ui/utils to version 5.0.0-alpha.0 in starter-kit-expo and starter-kit-expo-uniwind, and update install command for npm to handle peer dependencies
  apps/starter-kit-expo-uniwind/package.json
  apps/starter-kit-expo/package.json
  packages/create-gluestack/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 5.0.3-alpha.0 in create-gluestack package
  packages/create-gluestack/package.json
Due: prettier --write

chore: remove DocSearch component and associated styles
  apps/website/components/page-components/header/DocSearch.css
  apps/website/components/page-components/header/Docsearch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: add search:index script to package.json and update build process in website package.json
  apps/website/package.json
  apps/website/yarn.lock
  package.json
Due: prettier --write

feat: implement search functionality with SearchModal and SearchTrigger components, and integrate search indexing
  apps/website/components/page-components/header/index.tsx
  apps/website/components/search/SearchModal.tsx
  apps/website/components/search/SearchTrigger.tsx
  apps/website/hooks/useSearch.ts
  apps/website/public/search-index.json
  apps/website/types/search.ts
  scripts/search/indexer.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update search:index script in package.json to use npx for consistency across projects
  apps/website/package.json
  package.json
Due: prettier --write

Update links and text for Gluestack v5 alpha in header and landing page banner
  apps/website/components/page-components/header/index.tsx
  apps/website/components/page-components/landing-page/Gluestack-v4-banner/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update header component to reflect Gluestack v5 alpha
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: add "alpha" tags to components in sidebar.json files and remove MCP Server section
  apps/kitchen-sink/constants/sidebar.json
  apps/website/sidebar.json
  src/sidebar.json
Due: prettier --write

chore: update changelog with Tailwind v4 changes, CLI command adjustments, and improved platform support table formatting
  apps/website/app/ui/docs/changelog/changelog-data.ts
  src/docs/changelog/changelog-data.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: refine changelog formatting for Tailwind v4 updates and enhance platform support table readability
  apps/website/app/ui/docs/changelog/changelog-data.ts
  src/docs/changelog/changelog-data.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update Link component styles to use 'text-foreground' for improved visibility
  apps/website/components/custom/mdx/docs-components.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update CLI commands in upgrade guide to use 'npx gluestack-ui@alpha' for component re-addition
  apps/website/app/ui/docs/guides/more/upgrade-to-v5/index.mdx
  src/docs/guides/more/upgrade-to-v5/index.mdx
Due: none

chore: update CLI commands in upgrade guide to consistently use 'npx gluestack-ui@alpha' for component re-addition
  apps/website/app/ui/docs/home/getting-started/cli/index.mdx
  src/docs/home/getting-started/cli/index.mdx
Due: none

refactor: update styles across components to use 'text-foreground' for improved consistency and visibility
  apps/kitchen-sink/components/ui/form-control/index.tsx
  apps/kitchen-sink/components/ui/icon/index.web.tsx
  apps/starter-kit-expo-uniwind/components/ui/form-control/index.tsx
  apps/starter-kit-expo-uniwind/components/ui/icon/index.web.tsx
  apps/starter-kit-expo/components/ui/form-control/index.tsx
  apps/starter-kit-expo/components/ui/icon/index.web.tsx
  apps/website/app/ui/docs/apps/dashboard-app/Responsive.tsx
  apps/website/app/ui/docs/apps/kitchensink-app/kitchen-sink-link.tsx
  apps/website/app/ui/docs/apps/starter-kit/starterkit-link.tsx
  apps/website/app/ui/docs/components/form-control/index.mdx
  apps/website/app/ui/docs/home/getting-started/installation/utils-link.tsx
  apps/website/app/ui/docs/home/overview/introduction/githubLink.tsx
  apps/website/components/page-components/blogs-page/BlogQuote/index.tsx
  apps/website/components/page-components/blogs-page/BlogsIndexPage/index.tsx
  apps/website/components/page-components/blogs-page/TOC/index.tsx
  apps/website/components/page-components/header/NewsLetterModal.tsx
  apps/website/components/ui/form-control/index.tsx
  apps/website/components/ui/icon/index.web.tsx
  src/components/ui/form-control/index.tsx
  src/components/ui/icon/index.web.tsx
  src/docs/apps/dashboard-app/Responsive.tsx
  src/docs/apps/kitchensink-app/kitchen-sink-link.tsx
  src/docs/apps/starter-kit/starterkit-link.tsx
  src/docs/home/getting-started/installation/utils-link.tsx
  src/docs/home/overview/introduction/githubLink.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: enhance FAQs section with accordion components for better user experience and organization
  apps/website/app/ui/docs/guides/more/faqs/index.mdx
Due: none

chore: update llms.txt for Gluestack UI v5 Alpha release, including new features, migration instructions, and improved descriptions
  apps/website/public/llms.txt
Due: none

refactor: simplify Accordion component by removing unused props and improving styling consistency
  apps/website/public/llms.txt
Due: none

chore: update llms.txt to reflect new site URL for Gluestack UI v5 Alpha
  apps/website/public/llms.txt
Due: none

fix: update dataSet attributes in PopoverArrow and PopoverContent components to ensure consistent boolean representation
  packages/gluestack-core/src/popover/creator/PopoverArrow.tsx
  packages/gluestack-core/src/popover/creator/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update @gluestack-ui/core to version 5.0.3-alpha.0 in package.json and yarn.lock
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
  packages/gluestack-core/package.json
Due: prettier --write

fix(nativewind-utils): resolve TS2532 possibly undefined object in tailwind-plugin
  packages/gluestack-utils/src/nativewind-utils/tailwind-plugin/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update SelectInput documentation with Android note
  src/components/ui/select/docs/index.mdx
Due: none

refactor: update select component styles to use 'min-h' for height variants, enhancing layout consistency
  apps/kitchen-sink/components/ui/select/index.tsx
  apps/starter-kit-expo-uniwind/components/ui/select/index.tsx
  apps/starter-kit-expo/components/ui/select/index.tsx
  apps/website/app/ui/docs/components/select/index.mdx
  src/components/ui/select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Change height to min-height for select trigger styles
  src/components/ui/select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update input component styles to use 'min-h' for height variants, improving layout consistency across multiple applications
  apps/kitchen-sink/components/ui/input/index.tsx
  apps/starter-kit-expo-uniwind/components/ui/input/index.tsx
  apps/starter-kit-expo/components/ui/input/index.tsx
  apps/website/app/ui/docs/components/input/index.mdx
  src/components/ui/input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update date-time-picker component styles to use 'min-h' for height variants, ensuring layout consistency across applications
  apps/kitchen-sink/components/ui/date-time-picker/styles.tsx
  apps/starter-kit-expo-uniwind/components/ui/date-time-picker/styles.tsx
  apps/starter-kit-expo/components/ui/date-time-picker/styles.tsx
  apps/website/app/ui/docs/components/date-time-picker/index.mdx
  src/components/ui/date-time-picker/styles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: simplify alert component by removing unnecessary size prop from AlertText for cleaner styling
  apps/kitchen-sink/app/(home)/components/alert.tsx
  packages/gluestack-core/src/icon/creator/primitiveIcon/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump version to 5.0.2-alpha.0 in package.json and improve state handling in tailwind plugin
  packages/gluestack-utils/package.json
  packages/gluestack-utils/src/nativewind-utils/tailwind-plugin/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: bump @gluestack-ui/core to version 5.0.4-alpha.0 and @gluestack-ui/utils to version 5.0.2-alpha.0 in package.json and yarn.lock
  apps/kitchen-sink/package.json
  apps/kitchen-sink/yarn.lock
  packages/gluestack-core/package.json
Due: prettier --write

refactor: enhance BottomSheet component by updating state management and improving visibility handling
  apps/kitchen-sink/components/ui/bottomsheet/index.tsx
  apps/starter-kit-expo-uniwind/components/ui/bottomsheet/index.tsx
  apps/starter-kit-expo/components/ui/bottomsheet/index.tsx
  src/components/ui/bottomsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: add onChange prop to BottomSheet component for improved index handling and visibility management
  apps/kitchen-sink/components/ui/bottomsheet/index.tsx
  apps/starter-kit-expo-uniwind/components/ui/bottomsheet/index.tsx
  apps/starter-kit-expo/components/ui/bottomsheet/index.tsx
  src/components/ui/bottomsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update BottomSheet component to use gesture-handler Pressable and improve styling with styled components
  apps/kitchen-sink/components/ui/bottomsheet/index.tsx
  apps/starter-kit-expo-uniwind/components/ui/bottomsheet/index.tsx
  apps/starter-kit-expo/components/ui/bottomsheet/index.tsx
  src/components/ui/bottomsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update version of @gluestack-ui/utils to 3.0.17 in package.json
  packages/gluestack-utils/package.json
Due: prettier --write

feat: chat component
  apps/starter-kit-expo/app/index.tsx
  apps/starter-kit-expo/components/ui/chat-ai/ChatAi.tsx
  apps/starter-kit-expo/components/ui/chat-ai/ChatInput.tsx
  apps/starter-kit-expo/components/ui/chat-ai/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Remove 'use client' directive from index.tsx
  src/components/ui/drawer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: made api route for testing
  apps/starter-kit-expo/app/api/chat_api.ts
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update thehook for withput streaming
  apps/starter-kit-expo/app.json
  apps/starter-kit-expo/app/api/chat+api.ts
  apps/starter-kit-expo/app/api/chat_api.ts
  apps/starter-kit-expo/app/index.tsx
  apps/starter-kit-expo/components/ui/chat-ai/types.ts
  apps/starter-kit-expo/components/ui/chat-ai/useChat.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

presentation
  apps/starter-kit-expo/app/_layout.tsx
  apps/starter-kit-expo/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
