Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: passing props first time
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.14
  packages/react/package.json
Due: prettier --write

fix: component style config type
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.15
  packages/react/package.json
Due: prettier --write

feat: themes docs
  packages/react/src/utils/cssify/utils/common.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.16
  packages/react/package.json
Due: prettier --write

fix: platform passing prosp typings
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: component style config typings
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update styled version
  example/storybook/src/configuration/Themes/themes.tsx
  packages/react/src/style-sheet/index.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: type fix
  packages/react/package.json
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.11
  packages/themed/package.json
  packages/themed/src/components/Switch/styled-components/Root.tsx
  packages/themed/src/components/Toast/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new icons for gui same as NB
  src/components/Icons/Icons/Delete.tsx
  src/components/Icons/Icons/Hamburger.tsx
  src/components/Icons/Icons/Mail copy.tsx
  src/components/Icons/Icons/Minus.tsx
  src/components/Icons/Icons/Question.tsx
  src/components/Icons/Icons/Warning.tsx
  src/components/Icons/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon typing issue
  src/components/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: extended theme as const version bump of style
  packages/themed/package.json
  yarn.lock
Due: prettier --write

chore: style version up
  package.json
  yarn.lock
Due: prettier --write

fix: variants table added
  example/storybook/package.json
  example/storybook/scripts/generate-props-table.js
  example/storybook/scripts/template.js
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: merge conflicts with patch
  example/next-project/package.json
  package.json
  packages/themed/package.json
  packages/themed/src/components/Actionsheet/styled-components/Backdrop.tsx
  packages/themed/src/components/AlertDialog/styled-components/Backdrop.tsx
  packages/themed/src/components/Menu/styled-components/Root.tsx
  packages/themed/src/components/Modal/styled-components/Backdrop.tsx
  packages/themed/src/components/Popover/styled-components/Backdrop.tsx
  packages/themed/src/components/Provider/index.tsx
  packages/themed/src/components/Select/styled-components-actionsheet/Backdrop.tsx
  packages/themed/src/components/Switch/styled-components/Root.tsx
  packages/themed/src/components/Toast/styled-components/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version bump @gluestack-ui/themed to 0.1.12
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  yarn.lock
Due: prettier --write

fix: media query passing props
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.18
  packages/react/package.json
Due: prettier --write

v0.2.19
  packages/react/package.json
Due: prettier --write

fix: example improvement and lock changes
  example/storybook/src/components/Layout/LinearGradient/LinearGradient.tsx
  example/storybook/src/components/Layout/LinearGradient/LinearGradientPressable.tsx
  example/storybook/src/components/Layout/LinearGradient/index.stories.mdx
  packages/themed/src/components/LinearGradient/styled-components/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version bump @gluestack-ui/themed to 0.1.13
  .github/workflows/test-cases.yml
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

Update index.stories.mdx
  example/storybook/src/components/DataDisplay/Table/index.stories.mdx
Due: none

Update index.stories.mdx
  example/storybook/src/migration/native-base-to-gluestack-ui/index.stories.mdx
Due: none

fix: content
  example/storybook/src/customize-and-style/Tokens/index.stories.mdx
  example/storybook/src/theme/customizing-tokens/CustomTheme.tsx
  example/storybook/src/theme/theme-tokens/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: table docs
  example/storybook/src/components/DataDisplay/Table/index.stories.mdx
Due: none

fix: contribution guide lines
  example/storybook/src/more/contribution-guidelines/index.stories.mdx
Due: none

chore: revert theme support
  example/storybook/.storybook/preview.js
  example/ui-examples/App.tsx
  example/ui-examples/webpack.config.js
  packages/react/src/createConfig.ts
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/index.ts
  packages/react/src/style-sheet/index.ts
  packages/react/src/styled.tsx
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
  packages/react/src/utils/cssify/create-stylesheet/index.ts
  packages/react/src/utils/cssify/utils/common.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor fixes
  example/storybook/scripts/template.js
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
  example/storybook/src/core-concepts/UnstyledComponents/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
  example/storybook/src/resources/dashboard-app/index.stories.mdx
  example/storybook/src/styling/overview/index.stories.mdx
  example/storybook/src/styling/state/index.stories.mdx
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
  example/storybook/src/styling/variants/index.stories.mdx
  packages/themed/src/components/Avatar/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.20-alpha.0
  packages/react/package.json
Due: prettier --write

v0.2.20
  packages/react/package.json
Due: prettier --write

fix: extended config
  example/storybook/.storybook/preview.js
  example/storybook/src/theme/customizing-components/CustomComponent.tsx
  example/storybook/src/theme/customizing-components/index.stories.mdx
  example/storybook/src/theme/customizing-tokens/CustomTheme.tsx
  example/storybook/src/theme/customizing-tokens/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dashboard app
  example/storybook/src/resources/dashboard-app/index.stories.mdx
Due: none

fix: version issues
  package.json
  packages/themed/package.json
  yarn.lock
Due: prettier --write

chore: version bump @gluestack-ui/themed to 0.1.14
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: table docs
  yarn.lock
Due: none

fix: contribution guideline issue
  example/storybook/src/more/contribution-guidelines/index.stories.mdx
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
