Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: size issue in icon
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: icons added
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

feat: icons added
  example/storybook/.storybook/preview.js
  example/storybook/src/ui/components/react-native-components/FlatList/index.stories.mdx
  example/storybook/src/ui/components/react-native-components/SafeAreaView/SafeAreaView.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add type checking to isAnimatedComponent and displayName props
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: slider
  example/storybook-nativewind/src/core-components/nativewind/slider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: banner image updated
  README.md
  img/gluestack-banner.png
Due: prettier --write

feat: rsc component fix layout issue
  example/storybook-nativewind/src/core-components/nativewind/box/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/hstack/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/vstack/styles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated linear-gradient nativewind
  example/storybook-nativewind/src/core-components/nativewind/index.ts
  example/storybook-nativewind/src/recipes/linear-gradient/expo-linear-gradient.tsx
  example/storybook-nativewind/src/recipes/linear-gradient/index.nw.stories.mdx
  example/storybook-nativewind/src/recipes/linear-gradient/rn-linear-gradient.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: icons added
  example/storybook/src/ui/components/react-native-components/FlatList/index.stories.mdx
Due: none

fix: alert icon
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: badge icon
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox icon
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: formcontrol icon
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: input icon
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: radio icon
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: select icon
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: actionsheet icon
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accordion icon
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fab icon
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: passing props support for theme
  packages/styled/react/src/resolver/checkAndPush.ts
  packages/styled/react/src/resolver/sxToSxResolved.ts
  packages/styled/react/src/styled.tsx
  packages/styled/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.53
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

v1.0.8-alpha.0
  packages/nativewind/utils/package.json
Due: prettier --write

v1.0.8-alpha.1
  packages/nativewind/utils/package.json
Due: prettier --write

feat: api change
  example/storybook/src/ui/components/Layout/Grid/Grid.tsx
  packages/unstyled/grid/src/Grid.tsx
  packages/unstyled/grid/src/GridItem.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.8
  packages/nativewind/utils/package.json
Due: prettier --write

feat: sidebar preview changes
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/components/hooks/useDarkMode.ts
  example/storybook-nativewind/src/components/hooks/useDarkMode.web.ts
  example/storybook-nativewind/src/core-concepts/Accessibility/index.stories.mdx
  example/storybook-nativewind/src/core-concepts/Universal/index.nw.stories.mdx
  example/storybook-nativewind/src/core-concepts/Universal/index.themed.stories.mdx
  example/storybook-nativewind/src/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/getting-started/Installation/index.themed.stories.mdx
  example/storybook-nativewind/src/getting-started/figma-ui-kit/index.nw.stories.mdx
  example/storybook-nativewind/src/getting-started/figma-ui-kit/index.themed.stories.mdx
  example/storybook-nativewind/src/getting-started/tooling-setup/index.nw.stories.mdx
  example/storybook-nativewind/src/getting-started/tooling-setup/index.themed.stories.mdx
  example/storybook-nativewind/src/guides/more/Changelog/index.stories.mdx
  example/storybook-nativewind/src/guides/theme-configuration/customizing-theme/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/theme-configuration/customizing-theme/index.themed.stories.mdx
  example/storybook-nativewind/src/guides/theme-configuration/default-tokens/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/theme-configuration/default-tokens/index.themed.stories.mdx
  example/storybook-nativewind/src/home/core-concepts/Accessibility/index.stories.mdx
  example/storybook-nativewind/src/home/core-concepts/Universal/index.nw.stories.mdx
  example/storybook-nativewind/src/home/core-concepts/Universal/index.themed.stories.mdx
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/Installation/index.themed.stories.mdx
  example/storybook-nativewind/src/home/getting-started/figma-ui-kit/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/figma-ui-kit/index.themed.stories.mdx
  example/storybook-nativewind/src/home/getting-started/tooling-setup/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/tooling-setup/index.themed.stories.mdx
  example/storybook-nativewind/src/home/overview/AllComponents/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/AllComponents/index.themed.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.themed.stories.mdx
  example/storybook-nativewind/src/more/Changelog/index.stories.mdx
  example/storybook-nativewind/src/overview/AllComponents/index.nw.stories.mdx
  example/storybook-nativewind/src/overview/AllComponents/index.themed.stories.mdx
  example/storybook-nativewind/src/overview/Introduction/index.nw.stories.mdx
  example/storybook-nativewind/src/overview/Introduction/index.themed.stories.mdx
  example/storybook-nativewind/src/theme-configuration/customizing-theme/index.nw.stories.mdx
  example/storybook-nativewind/src/theme-configuration/customizing-theme/index.themed.stories.mdx
  example/storybook-nativewind/src/theme-configuration/default-tokens/index.nw.stories.mdx
  example/storybook-nativewind/src/theme-configuration/default-tokens/index.themed.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.9-alpha.0
  packages/nativewind/utils/package.json
Due: prettier --write

feat: removed platform.os
  example/storybook-nativewind/src/core-components/nativewind/box/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/card/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/center/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/hstack/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/text/styles.tsx
  example/storybook-nativewind/src/core-components/nativewind/vstack/styles.tsx
  packages/nativewind/utils/IsWeb/index.d.ts
  packages/nativewind/utils/IsWeb/index.js
  packages/nativewind/utils/IsWeb/index.ts
  packages/nativewind/utils/IsWeb/index.web.d.ts
  packages/nativewind/utils/IsWeb/index.web.js
  packages/nativewind/utils/IsWeb/index.web.ts
  packages/nativewind/utils/cn/index.js
  packages/nativewind/utils/context/index.d.ts
  packages/nativewind/utils/context/index.js
  packages/nativewind/utils/cssInterop/index.js
  packages/nativewind/utils/flush/index.d.ts
  packages/nativewind/utils/flush/index.js
  packages/nativewind/utils/package.json
  packages/nativewind/utils/scripts/patches/react-native-css-interop+0.0.36.patch
  packages/nativewind/utils/scripts/post-install-script.js
  packages/nativewind/utils/tsconfig.json
  packages/nativewind/utils/tva/index.js
  packages/nativewind/utils/types.d.ts
  packages/nativewind/utils/utils/deepMerge.js
  packages/nativewind/utils/utils/index.d.ts
  packages/nativewind/utils/utils/index.js
  packages/nativewind/utils/withStates/index.d.ts
  packages/nativewind/utils/withStates/index.js
  packages/nativewind/utils/withStyleContext/index.d.ts
  packages/nativewind/utils/withStyleContext/index.js
  packages/nativewind/utils/withStyleContextAndStates/index.d.ts
  packages/nativewind/utils/withStyleContextAndStates/index.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.11-alpha.0
  packages/nativewind/utils/package.json
Due: prettier --write

fix: nativewind patches monorepo
  packages/nativewind/utils/scripts/post-install-script.js
  packages/nativewind/utils/scripts/test.js
Due: eslint --quiet --fix, prettier --write

fix: input android leading issue
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.11-alpha.10
  packages/nativewind/utils/package.json
Due: prettier --write

v1.0.11-alpha.11
  packages/nativewind/utils/package.json
Due: prettier --write

v1.0.11-alpha.12
  packages/nativewind/utils/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
