Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: support for token inside nested string
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: support for token inside nested string
  packages/react/src/propertyTokenMap.ts
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tsconfig
  packages/actionsheet/package.json
  packages/alert-dialog/package.json
  packages/avatar/package.json
  packages/blank/package.json
  packages/divider/package.json
  packages/fab/package.json
  packages/form-control/package.json
  packages/hooks/package.json
  packages/hstack/package.json
  packages/icon-button/package.json
  packages/icon/package.json
  packages/input/package.json
  packages/link/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/overlay/package.json
  packages/popover/package.json
  packages/popper/package.json
  packages/pressable/package.json
  packages/progress/package.json
  packages/provider/package.json
  packages/radio/package.json
  packages/react-native-aria/package.json
  packages/select/package.json
  packages/slider/package.json
  packages/spinner/package.json
  packages/stack/package.json
  packages/switch/package.json
  packages/textarea/package.json
  packages/toast/package.json
  packages/tooltip/package.json
  packages/transitions/package.json
  packages/ui-Provider/package.json
  packages/utils/package.json
  packages/vstack/package.json
  yarn.lock
Due: prettier --write

fix: tsconfig
  actionsheet/package.json
  alert-dialog/package.json
  avatar/package.json
  blank/package.json
  divider/package.json
  fab/package.json
  form-control/package.json
  hooks/package.json
  hstack/package.json
  icon-button/package.json
  icon/package.json
  input/package.json
  link/package.json
  menu/package.json
  modal/package.json
  overlay/package.json
  popover/package.json
  popper/package.json
  pressable/package.json
  progress/package.json
  provider/package.json
  radio/package.json
  react-native-aria/package.json
  select/package.json
  slider/package.json
  spinner/package.json
  stack/package.json
  switch/package.json
  textarea/package.json
  toast/package.json
  tooltip/package.json
  transitions/package.json
  ui-Provider/package.json
  utils/package.json
  vstack/package.json
Due: prettier --write

fix: added checkbox
  packages/checkbox/.npmignore
  packages/checkbox/README.md
  packages/checkbox/babel.config.js
  packages/checkbox/package.json
  packages/checkbox/src/Checkbox.tsx
  packages/checkbox/src/CheckboxGroup.tsx
  packages/checkbox/src/CheckboxGroupContext.tsx
  packages/checkbox/src/CheckboxIcon.tsx
  packages/checkbox/src/CheckboxIndicator.tsx
  packages/checkbox/src/CheckboxLabel.tsx
  packages/checkbox/src/CheckboxProvider.tsx
  packages/checkbox/src/context.tsx
  packages/checkbox/src/index.ts
  packages/checkbox/src/types.ts
  packages/checkbox/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added checkbox
  checkbox/.npmignore
  checkbox/README.md
  checkbox/babel.config.js
  checkbox/package.json
  checkbox/src/Checkbox.tsx
  checkbox/src/CheckboxGroup.tsx
  checkbox/src/CheckboxGroupContext.tsx
  checkbox/src/CheckboxIcon.tsx
  checkbox/src/CheckboxIndicator.tsx
  checkbox/src/CheckboxLabel.tsx
  checkbox/src/CheckboxProvider.tsx
  checkbox/src/context.tsx
  checkbox/src/index.ts
  checkbox/src/types.ts
  checkbox/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added checkbox
  packages/checkbox/package.json
  packages/checkbox/tsconfig.json
  yarn.lock
Due: prettier --write

fix: added checkbox
  checkbox/package.json
  checkbox/tsconfig.json
Due: prettier --write

fix: removed index from storybook
  example/storybook/src/components/Actionsheet/index.ts
  example/storybook/src/components/AlertDialog/index.ts
  example/storybook/src/components/Avatar/index.ts
  example/storybook/src/components/Button/index.ts
  example/storybook/src/components/Checkbox/index.ts
  example/storybook/src/components/Divider/index.ts
  example/storybook/src/components/Fab/index.ts
  example/storybook/src/components/FormControl/index.ts
  example/storybook/src/components/HStack/index.ts
  example/storybook/src/components/Icon/index.ts
  example/storybook/src/components/IconButton/index.ts
  example/storybook/src/components/Input/index.ts
  example/storybook/src/components/Link/index.ts
  example/storybook/src/components/Menu/index.ts
  example/storybook/src/components/Modal/index.ts
  example/storybook/src/components/Pressable/index.ts
  example/storybook/src/components/Progress/index.ts
  example/storybook/src/components/Radio/index.ts
  example/storybook/src/components/Select/index.ts
  example/storybook/src/components/Slider/index.ts
  example/storybook/src/components/Spinner/index.ts
  example/storybook/src/components/Switch/index.ts
  example/storybook/src/components/TextArea/index.ts
  example/storybook/src/components/Tooltip/index.ts
  example/storybook/src/components/VStack/index.ts
  example/storybook/src/components/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: textarea crash issue fixes
  example/storybook/src/components/TextArea/TextArea.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: textarea
  example/storybook/babel.config.js
Due: eslint --quiet --fix, prettier --write

feat: storybook fixed
  example/storybook/babel.config.js
  packages/Button/package.json
  packages/fab/package.json
  packages/icon-button/package.json
  packages/overlay/package.json
  packages/pressable/package.json
  packages/progress/package.json
Due: eslint --quiet --fix, prettier --write

feat: storybook fixed
  Button/package.json
  fab/package.json
  icon-button/package.json
  overlay/package.json
  pressable/package.json
  progress/package.json
Due: prettier --write

feat: added trigger workflow
  .github/workflows/release.yml
  .github/workflows/trigger-update-docs.yml
Due: none

feat: storybook
  example/storybook/src/components/Icon/Icons/Question.tsx
  example/storybook/src/components/Icon/Icons/questionIconPath.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.2
  icon/package.json
Due: prettier --write

v0.1.2
  packages/icon/package.json
Due: prettier --write

v0.1.2
  alert-dialog/package.json
Due: prettier --write

v0.1.2
  packages/alert-dialog/package.json
Due: prettier --write

v0.1.3
  packages/icon/package.json
Due: prettier --write

v0.1.3
  icon/package.json
Due: prettier --write

fix: rn support for token resolution and media queries
  example/babel-plugin-styled-resolver-expo/App.tsx
  example/babel-plugin-styled-resolver-expo/Button5.tsx
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/styled.tsx
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed script
  .github/workflows/trigger-update-docs.yml
Due: none

fix: update mdx
  example/storybook/src/advanced/Architecture/index.stories.mdx
Due: none

v0.1.21
  packages/react/package.json
Due: prettier --write

v0.1.2
  packages/modal/package.json
Due: prettier --write

v0.1.2
  modal/package.json
Due: prettier --write

feat: checkbox fixed
  alert-dialog/src/AlertDialogCloseButton.tsx
  icon/Icons/Question.tsx
  icon/Icons/questionIconPath.tsx
  icon/src/SVGIcon.tsx
  icon/src/createIcon.tsx
  modal/src/ModalCloseButton.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: checkbox fixed
  example/storybook/src/components/Checkbox/styled-component/Group.tsx
  example/storybook/src/components/Checkbox/styled-component/Icon.tsx
  example/storybook/src/components/Checkbox/styled-component/Indicator.tsx
  example/storybook/src/components/Checkbox/styled-component/Label.tsx
  example/storybook/src/components/Checkbox/styled-component/index.tsx
  example/storybook/src/components/Checkbox/styled-component/index.web.tsx
  packages/alert-dialog/src/AlertDialogCloseButton.tsx
  packages/icon/Icons/Question.tsx
  packages/icon/Icons/questionIconPath.tsx
  packages/icon/src/SVGIcon.tsx
  packages/icon/src/createIcon.tsx
  packages/modal/src/ModalCloseButton.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.4
  packages/icon/package.json
Due: prettier --write

v0.1.4
  icon/package.json
Due: prettier --write

feat: checkbox fixed
  example/storybook/src/components/Icon/styled-component/index.tsx
  example/storybook/src/components/Radio/styled-component/Group.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.2
  toast/package.json
Due: prettier --write

v0.1.2
  packages/toast/package.json
Due: prettier --write

v0.1.2
  popover/package.json
Due: prettier --write

v0.1.2
  packages/popover/package.json
Due: prettier --write

v0.1.3
  popover/package.json
Due: prettier --write

v0.1.3
  packages/popover/package.json
Due: prettier --write
