Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.14
  slider/package.json
Due: prettier --write

v0.1.11
  spinner/package.json
Due: prettier --write

v0.1.14
  switch/package.json
Due: prettier --write

v0.1.15
  textarea/package.json
Due: prettier --write

v0.1.17
  toast/package.json
Due: prettier --write

v0.1.21
  tooltip/package.json
Due: prettier --write

v0.1.10
  utils/package.json
Due: prettier --write

v0.1.12
  vstack/package.json
Due: prettier --write

fix: added Warning for passing prop in media query
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
Due: none

fix: added passing prop warning in media query
  example/storybook/src/api/PropsPassing/index.stories.mdx
Due: none

fix: added Warning for passing prop in media query
  example/storybook/src/styling/responsive/index.stories.mdx
Due: none

feat: version upgraded
  linear-gradient/package.json
Due: prettier --write

fix: updated docs and config dependancy
  example/storybook/src/guides/install-expo/index.stories.mdx
  example/storybook/src/guides/install-nextjs/index.stories.mdx
  example/storybook/src/guides/install-rn/index.stories.mdx
  packages/config/package.json
  packages/themed/package.json
Due: prettier --write

fix: workflow backmerge pr
  .github/workflows/back-merge.yml
Due: none

v0.1.31-alpha.5
  package.json
Due: prettier --write

fix: changeset build issue
  package.json
Due: prettier --write

fix: changeset build issue
  .changeset/config.json
  example/storybook/package.json
  packages/benchmark-next/package.json
Due: prettier --write

fix: commenting test workflow
  .github/workflows/testing.yml_old
Due: none

fix: storybook config build issue
  example/storybook/.storybook/main.js
  example/storybook/babel.config.js
  yarn.lock
Due: eslint --quiet --fix, prettier --write

Use `npx expo install` for dependency management
  example/storybook/src/guides/install-expo/index.stories.mdx
Due: none

fix: storybook example fix toast
  example/storybook/src/components/Feedback/Toast/Basic.tsx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: code in toast file
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

fix: toast id
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

fix: updated code
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

fix: cleaning unwanted examples
  example/expo-project/.gitignore
  example/expo-project/App.tsx
  example/expo-project/app.json
  example/expo-project/babel.config.js
  example/expo-project/gluestack-ui.config.ts
  example/expo-project/index.js
  example/expo-project/metro.config.js
  example/expo-project/package.json
  example/expo-project/tsconfig.json
  example/next-project/.gitignore
  example/next-project/README.md
  example/next-project/next.config.js
  example/next-project/package.json
  example/next-project/pages/_app.tsx
  example/next-project/pages/_document.tsx
  example/next-project/pages/api/hello.ts
  example/next-project/pages/index.tsx
  example/next-project/postcss.config.js
  example/next-project/public/favicon.ico
  example/next-project/public/next.svg
  example/next-project/public/vercel.svg
  example/next-project/styles/globals.css
  example/next-project/tailwind.config.js
  example/next-project/tsconfig.json
  example/next-rsc/next-env.d.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated design
  example/storybook/src/components/DataDisplay/Divider/Divider.tsx
  example/storybook/src/components/Forms/Button/Button.stories.tsx
  example/storybook/src/components/Forms/Button/Button.tsx
  example/storybook/src/components/Forms/FormControl/FormControl.tsx
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Others/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added expo app
  example/apps/expo-app/.gitignore
  example/apps/expo-app/App.tsx
  example/apps/expo-app/app.json
  example/apps/expo-app/assets/adaptive-icon.png
  example/apps/expo-app/assets/favicon.png
  example/apps/expo-app/assets/icon.png
  example/apps/expo-app/assets/splash.png
  example/apps/expo-app/babel.config.js
  example/apps/expo-app/index.js
  example/apps/expo-app/metro.config.js
  example/apps/expo-app/package.json
  example/apps/expo-app/tsconfig.json
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed assests
  example/apps/expo-app/app.json
  example/apps/expo-app/assets/adaptive-icon.png
  example/apps/expo-app/assets/favicon.png
  example/apps/expo-app/assets/icon.png
  example/apps/expo-app/assets/splash.png
Due: prettier --write

feat: added skeleton component
  src/components/Skeleton/config.json
  src/components/Skeleton/index.tsx
  src/components/Skeleton/styled-components/Root.tsx
  src/components/Skeleton/styled-components/index.tsx
  src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alpha color resolve function
  src/components/gluestack-ui.config.ts
  src/utils/NBsupport.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.9-alpha.0
  packages/utils/package.json
Due: prettier --write

v0.2.11-alpha.0
  packages/interactions/package.json
Due: prettier --write

feat: aria-props done
  example/package.json
  example/storybook/stories/Combobox/index.tsx
  example/storybook/stories/Menu/Menu.tsx
  example/storybook/stories/Overlays/index.tsx
  example/storybook/stories/Popover/index.tsx
  example/storybook/stories/Switch/index.tsx
  example/storybook/stories/useOverlayPosition/useOverlayPosition.tsx
  package.json
  packages/button/package.json
  packages/button/src/useButton.ts
  packages/button/src/useToggleButton.ts
  packages/button/src/useToggleButton.web.ts
  packages/checkbox/src/useCheckbox.ts
  packages/checkbox/src/useCheckboxGroup.ts
  packages/dialog/src/useDialog.ts
  packages/dialog/src/useDialog.web.ts
  packages/disclosure/src/useDisclosureButton.ts
  packages/disclosure/src/useDisclosureButton.web.ts
  packages/listbox/src/useOption.ts
  packages/menu/src/useMenu.ts
  packages/menu/src/useMenu.web.ts
  packages/menu/src/useMenuItem.ts
  packages/menu/src/useMenuItem.web.ts
  packages/menu/src/useMenuSection.ts
  packages/overlays/src/useOverlayTrigger.ts
  packages/radio/src/useRadio.ts
  packages/radio/src/useRadioGroup.ts
  packages/separator/src/useSeparator.ts
  packages/slider/src/useSliderThumb.ts
  packages/switch/src/useSwitch.ts
  packages/tabs/src/useTab.ts
  packages/tabs/src/useTabs.ts
  packages/toggle/src/useToggle.ts
  packages/tooltip/src/useTooltipTrigger.web.ts
  packages/utils/src/__tests__/ariaToAccessibilityMap.test.ts
  packages/utils/src/ariaToAccessibilityMap.ts
  packages/utils/src/index.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typings
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: v1.0.7
  example/storybook/package.json
  packages/animation-moti-driver/package.json
  packages/animation-resolver/package.json
  packages/benchmark-next/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

v0.2.11-alpha.1
  packages/interactions/package.json
Due: prettier --write

v0.2.4-alpha.0
  packages/toggle/package.json
Due: prettier --write

v0.2.4-alpha.2
  packages/combobox/package.json
Due: prettier --write

v0.0.2-alpha.0
  packages/dialog/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
