Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: babel config issue
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

v0.1.1
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: input api
  input/src/Input.tsx
  input/src/InputAdvanced.tsx
  input/src/InputContext.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: input api
  example/storybook/src/components/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Input/Input.tsx
  example/storybook/src/components/Input/styled-component/Group.tsx
  example/storybook/src/components/Input/styled-component/Icon.tsx
  packages/input/src/Input.tsx
  packages/input/src/InputAdvanced.tsx
  packages/input/src/InputContext.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: getVariantProps issue
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.16
  packages/react/package.json
Due: prettier --write

fix: babel config issue
  packages/benchmark-next/babel.config.js
Due: eslint --quiet --fix, prettier --write

fix: babel config issue
  packages/benchmark-next/package.json
Due: prettier --write

feat: new styled api
  example/storybook/package.json
  example/storybook/src/components/Actionsheet/styled-component/Backdrop.tsx
  example/storybook/src/components/Actionsheet/styled-component/Content.tsx
  example/storybook/src/components/Actionsheet/styled-component/DragIndicator.tsx
  example/storybook/src/components/Actionsheet/styled-component/IndicatorWrapper.tsx
  example/storybook/src/components/Actionsheet/styled-component/Item.tsx
  example/storybook/src/components/Actionsheet/styled-component/ItemText.tsx
  example/storybook/src/components/Actionsheet/styled-component/index.tsx
  example/storybook/src/components/Alert/styled-component/Icon.tsx
  example/storybook/src/components/Alert/styled-component/Text.tsx
  example/storybook/src/components/Alert/styled-component/index.tsx
  example/storybook/src/components/AlertDialog/styled-component/Backdrop.tsx
  example/storybook/src/components/AlertDialog/styled-component/Body.tsx
  example/storybook/src/components/AlertDialog/styled-component/CloseButton.tsx
  example/storybook/src/components/AlertDialog/styled-component/Content.tsx
  example/storybook/src/components/AlertDialog/styled-component/Footer.tsx
  example/storybook/src/components/AlertDialog/styled-component/Header.tsx
  example/storybook/src/components/AlertDialog/styled-component/Icon.tsx
  example/storybook/src/components/AlertDialog/styled-component/index.tsx
  example/storybook/src/components/Avatar/styled-component/Badge.tsx
  example/storybook/src/components/Avatar/styled-component/FallbackText.tsx
  example/storybook/src/components/Avatar/styled-component/Group.tsx
  example/storybook/src/components/Avatar/styled-component/Image.tsx
  example/storybook/src/components/Avatar/styled-component/index.tsx
  example/storybook/src/components/Badge/styled-component/Text.tsx
  example/storybook/src/components/Badge/styled-component/index.tsx
  example/storybook/src/components/Box/styled-component/index.tsx
  example/storybook/src/components/Button/styled-component/Group.tsx
  example/storybook/src/components/Button/styled-component/GroupSpacer.tsx
  example/storybook/src/components/Button/styled-component/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: split packages in radio
  example/storybook/package.json
  example/storybook/src/components/Checkbox/Checkbox.tsx
  example/storybook/src/components/Checkbox/styled-component/Group.tsx
  example/storybook/src/components/Checkbox/styled-component/Icon.tsx
  example/storybook/src/components/Checkbox/styled-component/Indicator.tsx
  example/storybook/src/components/Checkbox/styled-component/Label.tsx
  example/storybook/src/components/Checkbox/styled-component/index.tsx
  example/storybook/src/components/Checkbox/styled-component/index.web.tsx
  example/storybook/src/components/Icon/styled-component/index.tsx
  example/storybook/src/components/Radio/Radio.tsx
  example/storybook/src/components/Radio/styled-component/Group.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: split packages in radio
  yarn.lock
Due: none

feat: new styled api
  example/storybook/src/components/Button/styled-component/Spinner.tsx
  example/storybook/src/components/Button/styled-component/Text.tsx
  example/storybook/src/components/Button/styled-component/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook build fix
  README.md
Due: prettier --write

fix: script to remove style
  example/storybook/removestyle.js
Due: eslint --quiet --fix, prettier --write

fix: storybook build fix
  example/storybook/package.json
Due: prettier --write

fix: storybook added version in package json
  example/storybook/package.json
Due: prettier --write

fix: api changes in storybook api folder
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.web.tsx
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  example/storybook/src/api/PlatformBasedStyles/PlatformBasedStyles.tsx
  example/storybook/src/api/PropertyResolver/PropertyResolver.tsx
  example/storybook/src/api/ResponsiveStyles/ResponsiveStyles.tsx
  example/storybook/src/api/Specificity/Specificity.tsx
  example/storybook/src/api/StateBasesStyles/ButtonStateProps.tsx
  example/storybook/src/api/VariantsAndSizes/BaseStyleVariantSizes.tsx
  packages/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: api changes in storybook recipes folder
  example/storybook/src/recipes/BaseStyle/BaseStyle.tsx
  example/storybook/src/recipes/ButtonSizes/ButtonSizes.tsx
  example/storybook/src/recipes/ButtonVariant/ButtonVariant.tsx
  example/storybook/src/recipes/Icons/Icons.tsx
  example/storybook/src/recipes/PropertyTokenMap/PropertyTokenMap.tsx
  example/storybook/src/recipes/ResolveProps/ResolveProps.tsx
  example/storybook/src/recipes/StateColorMode/StateColorMode.tsx
  example/storybook/src/recipes/StateColorMode/StateColorMode.web.tsx
  example/storybook/src/recipes/StateMediaQuery/StateMediaQuery.tsx
  example/storybook/src/recipes/StatePlatform/StatePlatform.tsx
  example/storybook/src/recipes/StyleId/StyleId.tsx
  example/storybook/src/recipes/SxProps/SxProps.tsx
  example/storybook/src/recipes/ThemeTokens/ThemeTokens.tsx
  example/storybook/src/recipes/UtilityProps/UtilityProps.tsx
  example/storybook/src/templates/recipes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.20
  packages/react/package.json
Due: prettier --write

fix: new styled api
  example/storybook/src/components/Actionsheet/styled-component/Item.tsx
  example/storybook/src/components/AlertDialog/styled-component/CloseButton.tsx
  example/storybook/src/components/AlertDialog/styled-component/Content.tsx
  example/storybook/src/components/AlertDialog/styled-component/Icon.tsx
  example/storybook/src/components/AlertDialog/styled-component/index.tsx
  example/storybook/src/components/FormControl/FormControl.tsx
  example/storybook/src/components/HStack/HStack.stories.tsx
  example/storybook/src/components/HStack/styled-component/Spacer.tsx
  example/storybook/src/components/HStack/styled-component/index.tsx
  example/storybook/src/components/Menu/styled-component/Content.tsx
  example/storybook/src/components/Progress/styled-component/FilledTrack.tsx
  example/storybook/src/components/Progress/styled-component/index.tsx
  example/storybook/src/components/Select/Select.tsx
  example/storybook/src/components/Select/styled-component/index.tsx
  example/storybook/src/components/Slider/styled-component/Track.tsx
  example/storybook/src/components/Slider/styled-component/index.tsx
  example/storybook/src/components/Tooltip/Tooltip.tsx
  example/storybook/src/components/Tooltip/styled-component/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new split package working
  packages/menu/src/MenuContent.tsx
  packages/progress/src/ProgressFilledTrack.tsx
  packages/slider/src/SliderFilledTrack.tsx
  packages/slider/src/SliderThumb.tsx
  packages/slider/src/SliderTrack.tsx
  packages/tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new split package working
  menu/src/MenuContent.tsx
  progress/src/ProgressFilledTrack.tsx
  slider/src/SliderFilledTrack.tsx
  slider/src/SliderThumb.tsx
  slider/src/SliderTrack.tsx
  tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: em to pixel values
  example/babel-plugin-styled-resolver-expo/dank.config.ts
  example/next/dank.config.ts
  example/storybook/nb.config.ts
  example/storybook/src/getting-started/Installation/index.stories.mdx
  packages/babel-plugin-styled-resolver/src/config.js
  packages/benchmark-native/nb.config.ts
  packages/benchmark-next/dank.config.ts
  packages/config/src/nb.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: font weight values to string
  example/babel-plugin-styled-resolver-expo/dank.config.ts
  example/next/dank.config.ts
  example/storybook/nb.config.ts
  packages/benchmark-native/nb.config.ts
  packages/benchmark-next/dank.config.ts
  packages/config/src/nb.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: split pacakegs
  example/storybook/package.json
  example/storybook/src/components/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sb
  example/storybook/src/components/Actionsheet/Actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sb
  example/storybook/src/components/Actionsheet/Actionsheet.stories.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sb
  example/storybook/src/components/Actionsheet/index.stories.mdx
Due: none

feat: version up
  yarn.lock
Due: none

fix: sb
  example/storybook/src/components/Alert/styled-component/Icon.tsx
  example/storybook/src/components/AlertDialog/AlertDialog.stories.tsx
  example/storybook/src/components/AlertDialog/index.stories.mdx
  example/storybook/src/components/Avatar/Avatar.stories.tsx
  example/storybook/src/components/Avatar/index.stories.mdx
  example/storybook/src/components/Button/Button.stories.tsx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Checkbox/Checkbox.stories.tsx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Divider/Divider.stories.tsx
  example/storybook/src/components/Divider/index.stories.mdx
  example/storybook/src/components/Fab/Fab.stories.tsx
  example/storybook/src/components/Fab/index.stories.mdx
  example/storybook/src/components/FormControl/FormControl.stories.tsx
  example/storybook/src/components/FormControl/index.stories.mdx
  example/storybook/src/components/HStack/HStack.stories.tsx
  example/storybook/src/components/HStack/index.stories.mdx
  example/storybook/src/components/Icon/Icon.stories.tsx
  example/storybook/src/components/Icon/index.stories.mdx
  example/storybook/src/components/IconButton/IconButton.stories.tsx
  example/storybook/src/components/IconButton/index.stories.mdx
  example/storybook/src/components/Input/Input.stories.tsx
  example/storybook/src/components/Link/Link.stories.tsx
  example/storybook/src/components/Menu/Menu.stories.tsx
  example/storybook/src/components/Modal/Modal.stories.tsx
  example/storybook/src/components/Pressable/Pressable.stories.tsx
  example/storybook/src/components/Progress/Progress.stories.tsx
  example/storybook/src/components/Radio/Radio.stories.tsx
  example/storybook/src/components/Select/Select.stories.tsx
  example/storybook/src/components/Slider/Slider.stories.tsx
  example/storybook/src/components/Spinner/Spinner.stories.tsx
  example/storybook/src/components/Switch/Switch.stories.tsx
  example/storybook/src/components/TextArea/TextArea.stories.tsx
  example/storybook/src/components/Tooltip/Tooltip.stories.tsx
  example/storybook/src/components/VStack/VStack.stories.tsx
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: split pacakges
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/Alert/styled-component/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sb
  example/storybook/src/components/Input/InputGroup.stories.mdx
  example/storybook/src/components/Input/index.stories.mdx
  example/storybook/src/components/Link/index.stories.mdx
  example/storybook/src/components/Menu/index.stories.mdx
  example/storybook/src/components/Modal/index.stories.mdx
  example/storybook/src/components/Pressable/index.stories.mdx
  example/storybook/src/components/Progress/index.stories.mdx
  example/storybook/src/components/Radio/index.stories.mdx
  example/storybook/src/components/Select/index.stories.mdx
  example/storybook/src/components/Slider/index.stories.mdx
  example/storybook/src/components/Spinner/index.stories.mdx
  example/storybook/src/components/Switch/index.stories.mdx
  example/storybook/src/components/TextArea/index.stories.mdx
  example/storybook/src/components/Tooltip/index.stories.mdx
  example/storybook/src/components/VStack/index.stories.mdx
Due: none

feat: added content
  example/storybook/src/components/AlertDialog/index.stories.mdx
  example/storybook/src/components/Avatar/index.stories.mdx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Divider/index.stories.mdx
  example/storybook/src/components/Fab/index.stories.mdx
  example/storybook/src/components/FormControl/index.stories.mdx
  example/storybook/src/components/HStack/index.stories.mdx
  example/storybook/src/components/Icon/index.stories.mdx
  example/storybook/src/components/IconButton/index.stories.mdx
Due: none

feat: added content
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Input/InputGroup.stories.mdx
  example/storybook/src/components/Link/index.stories.mdx
  example/storybook/src/components/Menu/index.stories.mdx
  example/storybook/src/components/Pressable/index.stories.mdx
  example/storybook/src/components/Radio/index.stories.mdx
  example/storybook/src/components/TextArea/index.stories.mdx
  example/storybook/src/components/VStack/index.stories.mdx
Due: none

fix: variants docs updated
  example/storybook/src/api/Variants/BaseStyleVariantSizes.stories.tsx
  example/storybook/src/api/Variants/BaseStyleVariantSizes.tsx
  example/storybook/src/api/Variants/index.stories.mdx
  example/storybook/src/api/VariantsAndSizes/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
