Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: versions
  packages/themed/package.json
  packages/unstyled/popover/package.json
Due: prettier --write

fix: versions
  packages/unstyled/popover/package.json
Due: prettier --write

v1.0.38
  example/storybook/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/react-native-aria/overlays/CHANGELOG.md
  packages/react-native-aria/overlays/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/popover/CHANGELOG.md
  packages/unstyled/popover/package.json
Due: prettier --write

feat: react native components added
  example/storybook/.storybook/preview.js
  example/storybook/src/ui/react-native-components/InputAcessoryView/InputAccessoryView.stories.tsx
  example/storybook/src/ui/react-native-components/InputAcessoryView/InputAccessoryView.tsx
  example/storybook/src/ui/react-native-components/InputAcessoryView/index.stories.mdx
  example/storybook/src/ui/react-native-components/SafeAreaView/SafeAreaView.stories.tsx
  example/storybook/src/ui/react-native-components/SafeAreaView/SafeAreaView.tsx
  example/storybook/src/ui/react-native-components/SafeAreaView/index.stories.mdx
  packages/config/src/theme/InputAccessoryView.ts
  packages/config/src/theme/SafeAreaView.ts
  packages/config/src/theme/index.ts
  packages/themed/src/components/InputAccessoryView/config.json
  packages/themed/src/components/InputAccessoryView/index.tsx
  packages/themed/src/components/InputAccessoryView/styled-components/Root.tsx
  packages/themed/src/components/InputAccessoryView/styled-components/index.tsx
  packages/themed/src/components/SafeAreaView/config.json
  packages/themed/src/components/SafeAreaView/index.tsx
  packages/themed/src/components/SafeAreaView/styled-components/Root.tsx
  packages/themed/src/components/SafeAreaView/styled-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.stories.mdx
  example/storybook/src/ui/react-native-components/SafeAreaView/index.stories.mdx
Due: none

fix: checkbox styling
  example/storybook-nativewind/src/components/primitives/Checkbox/Checkbox.tsx
  example/storybook-nativewind/src/nativewind-components/Checkbox/index.tsx
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.39
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

v1.0.40-alpha.5
  packages/themed/package.json
Due: prettier --write

v1.0.41-alpha.0
  packages/themed/package.json
Due: prettier --write

fix: added selection example for Menu Component
  example/storybook/src/ui/components/Overlay/Menu/index.stories.mdx
Due: none

fix: safe area view not exported
  packages/themed/src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook build error
  example/storybook/.storybook/main.js
  example/storybook/babel.config.js
Due: eslint --quiet --fix, prettier --write

fix: resolve error with isHovered prop in switch type
  packages/unstyled/switch/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.41-alpha.3
  packages/themed/package.json
Due: prettier --write

fix: export InputAccessoryView
  packages/themed/src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.40
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: menu animation fix
  packages/themed/src/components/Menu/styled-components/Root.tsx
  packages/unstyled/menu/src/Menu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: selectedLabel deprecated type
  packages/unstyled/select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-style/react version bump to 1.0.42
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

chore: @react-native-aria/menu@0.2.10
  packages/react-native-aria/menu/CHANGELOG.md
  packages/react-native-aria/menu/package.json
Due: prettier --write

fix: updated react-native-aria version
  packages/unstyled/menu/package.json
Due: prettier --write

fix: added setData with states
  packages/unstyled/accordion/src/AccordionTrigger.tsx
  packages/unstyled/actionsheet/src/ActionsheetItem.tsx
  packages/unstyled/alert-dialog/src/AlertDialogCloseButton.tsx
  packages/unstyled/button/src/Button.tsx
  packages/unstyled/checkbox/src/Checkbox.tsx
  packages/unstyled/checkbox/src/Checkbox.web.tsx
  packages/unstyled/checkbox/src/CheckboxIcon.tsx
  packages/unstyled/checkbox/src/CheckboxIndicator.tsx
  packages/unstyled/checkbox/src/CheckboxLabel.tsx
  packages/unstyled/fab/src/Fab.tsx
  packages/unstyled/form-control/src/FormControl.tsx
  packages/unstyled/input/src/Input.tsx
  packages/unstyled/input/src/InputGroup.tsx
  packages/unstyled/input/src/InputSlot.tsx
  packages/unstyled/link/src/Link.tsx
  packages/unstyled/menu/src/MenuItem.tsx
  packages/unstyled/modal/src/ModalCloseButton.tsx
  packages/unstyled/popover/src/PopoverCloseButton.tsx
  packages/unstyled/pressable/src/Pressable.tsx
  packages/unstyled/radio/src/Radio.tsx
  packages/unstyled/radio/src/Radio.web.tsx
  packages/unstyled/radio/src/RadioIcon.tsx
  packages/unstyled/radio/src/RadioIndicator.tsx
  packages/unstyled/radio/src/RadioLabel.tsx
  packages/unstyled/select/src/SelectInput.tsx
  packages/unstyled/select/src/SelectItem.tsx
  packages/unstyled/select/src/SelectTrigger.tsx
  packages/unstyled/slider/src/Slider.tsx
  packages/unstyled/slider/src/SliderFilledTrack.tsx
  packages/unstyled/slider/src/SliderThumb.tsx
  packages/unstyled/slider/src/SliderTrack.tsx
  packages/unstyled/switch/src/Switch.tsx
  packages/unstyled/tabs/src/Tab.tsx
  packages/unstyled/textarea/src/Textarea.tsx
  packages/unstyled/textarea/src/TextareaRoot.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/themed version bump to 1.1.0
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/button/CHANGELOG.md
  packages/unstyled/button/package.json
  packages/unstyled/checkbox/CHANGELOG.md
  packages/unstyled/checkbox/package.json
  packages/unstyled/menu/CHANGELOG.md
  packages/unstyled/menu/package.json
  packages/unstyled/radio/CHANGELOG.md
  packages/unstyled/radio/package.json
  packages/unstyled/select/CHANGELOG.md
  packages/unstyled/select/package.json
  packages/unstyled/switch/CHANGELOG.md
  packages/unstyled/switch/package.json
  packages/unstyled/toast/CHANGELOG.md
  packages/unstyled/toast/package.json
Due: prettier --write

fix: updated yarn lock
  yarn.lock
Due: none

fix: typescript memory leak
  packages/styled/react/src/createStyle.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.42
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

fix: linear gradient
  packages/themed/package.json
  packages/themed/src/components/LinearGradient/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: empty config issue
  packages/styled/react/src/StyledProvider.tsx
  packages/styled/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: change log
  packages/config/CHANGELOG.md
Due: prettier --write

fix: backgroundColor property token resolver
  packages/themed/src/components/InputAccessoryView/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: setup playwright
  example/storybook/.gitignore
  example/storybook/__visualTests__/example.spec.ts
  example/storybook/babel.config.js
  example/storybook/package.json
  example/storybook/playwright.config.ts
  example/storybook/tests-examples/demo-todo-app.spec.ts
  example/storybook/tests/example.spec.ts
  example/storybook/tests/example.spec.ts-snapshots/has-box-1-chromium-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-box-1-firefox-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-box-1-webkit-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-checkbox-1-chromium-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-checkbox-1-firefox-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-checkbox-1-webkit-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-text-1-chromium-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-text-1-firefox-darwin.png
  example/storybook/tests/example.spec.ts-snapshots/has-text-1-webkit-darwin.png
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added parentCompoundVariant, support for variant and dark theme
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/src/components/primitives/Button/Button.tsx
  example/storybook-nativewind/src/nativewind-components/Button/index.tsx
  example/storybook-nativewind/src/nativewind-components/Checkbox/index.tsx
  example/storybook-nativewind/src/nativewind-components/core/ThemeProvider.tsx
  example/storybook-nativewind/src/nativewind-components/theme.ts
  example/storybook-nativewind/src/nativewind-components/utils/tva/index.ts
  example/storybook-nativewind/src/nativewind-components/utils/utils.ts
  example/storybook-nativewind/src/nativewind-components/utils/withStates/index.tsx
  example/storybook-nativewind/src/nativewind-components/utils/withStyleContextAndStates/index.tsx
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added more recipe page
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

v0.0.1-alpha.0
  packages/nativewind/utils/package.json
Due: prettier --write

v0.0.1
  packages/nativewind/utils/package.json
Due: prettier --write

feat: added nativewind-utils package
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/getting-started/Installation/index.stories.mdx
  example/storybook-nativewind/src/nativewind-components/Button/index.tsx
  example/storybook-nativewind/src/nativewind-components/Checkbox/index.tsx
  example/storybook-nativewind/src/nativewind-components/core/ThemeProvider.tsx
  example/storybook-nativewind/src/nativewind-components/core/theme.ts
  example/storybook-nativewind/src/nativewind-components/utils/index.ts
  packages/nativewind/utils/.npmignore
  packages/nativewind/utils/CHANGELOG.md
  packages/nativewind/utils/README.md
  packages/nativewind/utils/babel.config.js
  packages/nativewind/utils/src/cn.ts
  packages/nativewind/utils/src/context.ts
  packages/nativewind/utils/src/deepMerge.ts
  packages/nativewind/utils/src/index.ts
  packages/nativewind/utils/src/tva.ts
  packages/nativewind/utils/src/types.ts
  packages/nativewind/utils/src/utils.ts
  packages/nativewind/utils/src/withStates.tsx
  packages/nativewind/utils/src/withStyleContext.tsx
  packages/nativewind/utils/src/withStyleContextAndStates.tsx
  packages/nativewind/utils/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: imports and ts errors
  example/storybook-nativewind/src/nativewind-components/Button/index.tsx
  example/storybook-nativewind/src/nativewind-components/Checkbox/index.tsx
  example/storybook-nativewind/src/nativewind-components/Modal/index.tsx
  example/storybook-nativewind/src/nativewind-components/core/ThemeProvider.tsx
  example/storybook-nativewind/src/nativewind-components/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added documentation of button
  example/storybook-nativewind/src/components/Wrapper.tsx
  example/storybook-nativewind/src/components/primitives/Button/Button.tsx
  example/storybook-nativewind/src/components/primitives/Button/index.stories.mdx
  example/storybook-nativewind/src/nativewind-components/Button/index.tsx
  example/storybook-nativewind/src/nativewind-components/core/ThemeProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
