Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: added icon
  select/src/SelectIcon.tsx
  select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added icon
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Select/index.tsx
  example/storybook/src/ui-components/Select/styled-components/Icon.tsx
  example/storybook/src/ui-components/Select/styled-components/Input.tsx
  example/storybook/src/ui-components/Select/styled-components/Trigger.tsx
  packages/select/src/SelectIcon.tsx
  packages/select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: api refactored
  example/storybook/src/ui-components/Select/index.tsx
  packages/select/src/SelectBackdrop.tsx
  packages/select/src/SelectContent.tsx
  packages/select/src/SelectDragIndicator.tsx
  packages/select/src/SelectDragIndicatorWrapper.tsx
  packages/select/src/SelectItem.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: api refactored
  select/src/SelectBackdrop.tsx
  select/src/SelectContent.tsx
  select/src/SelectDragIndicator.tsx
  select/src/SelectDragIndicatorWrapper.tsx
  select/src/SelectItem.tsx
  select/src/SelectPortal.tsx
  select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: build issue
  yarn.lock
Due: none

fix: design fix
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Select/styled-components/Input.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgrade to 0.1.2
  checkbox/package.json
Due: prettier --write

chore: version upgrade to 0.1.2
  .changeset/proud-peaches-run.md
  packages/checkbox/package.json
Due: prettier --write

feat: aria changes
  packages/menu/package.json
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuContent.tsx
  packages/menu/src/MenuItem.tsx
  packages/menu/src/index.tsx
  packages/menu/src/useMenu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: aria changes
  menu/package.json
  menu/src/Menu.tsx
  menu/src/MenuContent.tsx
  menu/src/MenuItem.tsx
  menu/src/index.tsx
  menu/src/useMenu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example fix
  example/storybook/src/components/Forms/Select/Select.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu fixes
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/ui-components/Menu/index.tsx
  example/storybook/src/ui-components/Menu/styled-components/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: npx commands resolved
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/SSR/index.stories.mdx
Due: none

chore: version upgrade to 0.1.2
  .changeset/six-zebras-switch.md
Due: prettier --write

chore: version upgrade to 0.1.3
  checkbox/CHANGELOG.md
  checkbox/package.json
Due: prettier --write

chore: version upgrade to 0.1.3
  .changeset/gentle-pans-kiss.md
  .changeset/proud-peaches-run.md
  .changeset/six-zebras-switch.md
  packages/checkbox/CHANGELOG.md
  packages/checkbox/package.json
Due: prettier --write

fix: closeOnOverlayClick prop
  example/storybook/src/ui-components/Actionsheet/styled-components/Backdrop.tsx
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetBackdrop.tsx
  packages/overlay/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: closeOnOverlayClick prop
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetBackdrop.tsx
  overlay/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: spinner version upgrade to 0.1.1
  packages/spinner/CHANGELOG.md
  packages/spinner/package.json
Due: prettier --write

chore: spinner version upgrade to 0.1.1
  spinner/CHANGELOG.md
  spinner/package.json
Due: prettier --write

chore: switch version upgrade to 0.1.3
  packages/switch/CHANGELOG.md
  packages/switch/package.json
Due: prettier --write

chore: switch version upgrade to 0.1.3
  switch/CHANGELOG.md
  switch/package.json
Due: prettier --write

fix: added scrollview
  example/storybook/src/ui-components/Actionsheet/index.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Content.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/ScrollView.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/index.tsx
  packages/actionsheet/src/ActionsheetScrollView.tsx
  packages/actionsheet/src/index.tsx
  packages/actionsheet/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added scrollview
  actionsheet/src/ActionsheetScrollView.tsx
  actionsheet/src/index.tsx
  actionsheet/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: high priority bugs fixed
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Layout/Divider/Divider.tsx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/ui-components/Checkbox/styled-components/Indicator.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.web.tsx
  example/storybook/src/ui-components/Radio/styled-components/Indicator.tsx
  example/storybook/src/ui-components/Tabs/styled-components/Tab.tsx
  example/storybook/src/ui-components/Text/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ui example changes
  example/storybook/src/components/MediaAndIcons/Icon/AllIcons.tsx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: isdiabled isreadonly
  packages/checkbox/src/Checkbox.tsx
  packages/checkbox/src/Checkbox.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: isdiabled isreadonly
  checkbox/src/Checkbox.tsx
  checkbox/src/Checkbox.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: checkbox version bump 0.1.4
  checkbox/CHANGELOG.md
  checkbox/package.json
Due: prettier --write

chore: checkbox version bump 0.1.4
  packages/checkbox/CHANGELOG.md
  packages/checkbox/package.json
Due: prettier --write

chore: menu version bump 0.1.2
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier --write

chore: menu version bump 0.1.2
  menu/CHANGELOG.md
  menu/package.json
Due: prettier --write

chore: tooltip version bump 0.1.1
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier --write

chore: tooltip version bump 0.1.1
  tooltip/CHANGELOG.md
  tooltip/package.json
Due: prettier --write

chore: slider version bump 0.1.1
  packages/slider/CHANGELOG.md
  packages/slider/package.json
Due: prettier --write

chore: slider version bump 0.1.1
  slider/CHANGELOG.md
  slider/package.json
Due: prettier --write

fix: provider example
  example/storybook/src/components/Provider/Provider/index.stories.mdx
Due: none

fix: tabs active styling
  example/storybook/src/components/Forms/Tabs/Tabs.stories.tsx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/ui-components/Tabs/styled-components/Tab.tsx
  example/storybook/src/ui-components/Tabs/styled-components/TabList.tsx
  example/storybook/src/ui-components/Tabs/styled-components/TabTitle.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
