Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated description of all component pages
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

fix: is full width
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  packages/input/src/Input.tsx
  packages/input/src/InputGroup.tsx
  packages/input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: is full width
  input/src/Input.tsx
  input/src/InputGroup.tsx
  input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs props
  example/storybook/src/components/Forms/Input/Input.stories.tsx
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Forms/Input/InputIcon.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/ui-components/Input/index.tsx
  example/storybook/src/ui-components/Input/styled-components/Icon.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  example/storybook/src/ui-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: exit animation example
  example/storybook/src/plugins/AnimationPlugin/AnimationPlugin.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: animation example
  example/storybook/src/plugins/AnimationPlugin/AnimationPlugin.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs props
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Forms/Input/InputIcon.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/ui-components/Input/index.tsx
  example/storybook/src/ui-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/components/Forms/Input/InputIcon.tsx
  example/storybook/src/ui-components/Input/styled-components/Icon.tsx
  example/storybook/src/ui-components/Input/styled-components/Input.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removing data set from remainingprops
  packages/react/src/core/convert-utility-to-sx.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon click
  example/storybook/src/components/Forms/Input/InputIcon.tsx
  example/storybook/src/ui-components/Input/styled-components/Icon.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  packages/input/src/Input.tsx
  packages/input/src/InputGroup.tsx
  packages/input/src/InputIcon.tsx
  packages/input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon click
  input/src/Input.tsx
  input/src/InputGroup.tsx
  input/src/InputIcon.tsx
  input/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon example
  example/storybook/src/components/Forms/Input/InputIcon.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  packages/input/src/Input.tsx
  packages/input/src/InputIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon example
  input/src/Input.tsx
  input/src/InputIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: dank style react version bump 0.3.11
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: icon example
  example/storybook/src/components/Forms/Input/InputIcon.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/ui-components/Input/styled-components/Icon.tsx
  example/storybook/src/ui-components/Input/styled-components/Input.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  packages/input/src/Input.tsx
  packages/input/src/InputIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed ts ignore
  example/storybook/src/ui-components/Input/styled-components/Input.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/input version bump to 0.1.1
  input/CHANGELOG.md
  input/package.json
Due: prettier --write

chore: @gluestack-ui/input version bump to 0.1.1
  packages/input/CHANGELOG.md
  packages/input/package.json
Due: prettier --write

fix: installation docs
  example/storybook/.storybook/preview.js
  example/storybook/package.json
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: header
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: sidebar items
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: sidebar items
  example/storybook/.storybook/preview.js
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: rnw link
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

chore: @gluestack-ui/button version bump to 0.1.5
  packages/button/CHANGELOG.md
  packages/button/package.json
Due: prettier --write

chore: @gluestack-ui/button version bump to 0.1.5
  button/CHANGELOG.md
  button/package.json
Due: prettier --write

feat: add gluestack-ui CLI docs
  example/storybook/.storybook/preview.js
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/gluestack-ui-cli/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: add summart
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

chore: add legend motion dependency
  packages/animation-plugin/package.json
Due: prettier --write

chore: add legend motion dependency
  packages/animation-plugin/package.json
  yarn.lock
Due: prettier --write

fix: added scrollview support
  select/src/Select.tsx
  select/src/SelectFlatList.tsx
  select/src/SelectItemIcon.tsx
  select/src/SelectPortal.tsx
  select/src/SelectScrollView.tsx
  select/src/SelectSectionHeaderText.tsx
  select/src/SelectSectionList.tsx
  select/src/SelectVirtualizedList.tsx
  select/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added scrollview support
  example/storybook/src/components/Forms/Select/Select.stories.tsx
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/ui-components/Select/index.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Backdrop.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Content.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/FlatList.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Icon.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Item.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/ScrollView.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/SectionHeaderText.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/SectionList.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/VirtualizedList.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/index.tsx
  example/storybook/src/ui-components/Select/styled-components/Root.tsx
  example/storybook/src/ui-components/styled/index.tsx
  packages/select/src/Select.tsx
  packages/select/src/SelectFlatList.tsx
  packages/select/src/SelectItemIcon.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/SelectScrollView.tsx
  packages/select/src/SelectSectionHeaderText.tsx
  packages/select/src/SelectSectionList.tsx
  packages/select/src/SelectVirtualizedList.tsx
  packages/select/src/index.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: animation plugin v0.0.3
  packages/animation-plugin/CHANGELOG.md
  packages/animation-plugin/package.json
Due: prettier --write

fix: added flatlist support
  select/src/SelectFlatList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added flatlist support
  example/storybook/src/components/Forms/Select/Select.tsx
  packages/select/src/SelectFlatList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added virtualized list support
  example/storybook/src/components/Forms/Select/Select.tsx
  packages/select/src/SelectVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added virtualized list support
  select/src/SelectVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
