Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: spacing
  CONTRIBUTING.md
Due: prettier --write

fix: updated dependencies
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

Fix link to "default tokens" page on "customizing theme" page
  example/storybook-nativewind/src/home/theme-configuration/customizing-theme/index.nw.stories.mdx
Due: none

Fixes #2450
  packages/unstyled/actionsheet/src/ActionsheetBackdrop.tsx
  packages/unstyled/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: adding examples of drawer component
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/components/Drawer/Drawer.stories.tsx
  example/storybook-nativewind/src/components/Drawer/Drawer.tsx
  example/storybook-nativewind/src/components/Drawer/DrawerExample.tsx
  example/storybook-nativewind/src/components/Drawer/DrawerExample2.tsx
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/drawer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added docs for drawer component
  example/storybook-nativewind/src/components/Drawer/Drawer.stories.tsx
  example/storybook-nativewind/src/components/Drawer/DrawerExample.tsx
  example/storybook-nativewind/src/components/Drawer/DrawerExample2.tsx
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/drawer/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/index.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.24
  packages/nativewind/utils/package.json
Due: prettier --write

chore: version bump nativewind utils
  packages/nativewind/utils/tsconfig.json
  packages/nativewind/utils/useBreakpointValue/index.d.ts
  packages/nativewind/utils/useBreakpointValue/index.js
  packages/nativewind/utils/useBreakpointValue/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated examples width
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
Due: none

fix: doc path fixes
  example/storybook-nativewind/src/guides/more/discord-faqs/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/hooks/useBreakPointValue/index.nw.stories.mdx
  example/storybook-nativewind/src/hooks/useMediaQuery/index.nw.stories.mdx
  yarn.lock
Due: none

feat: updated example
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
Due: none

feat: updated anatomy images
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
Due: none

fix: docs for use-media-query hooks manual installation step
  example/storybook-nativewind/src/hooks/useMediaQuery/index.nw.stories.mdx
Due: none

fix: lucide icon issue
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed with-states hoc
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert-dialog/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/avatar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed withStates hoc from 6 comps
  example/storybook-nativewind/src/core-components/nativewind/modal/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/slider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/switch/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/textarea/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/tooltip/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated components
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/pressable/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed state based styling
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/link/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: code review
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

add a preventScroll property
  packages/unstyled/actionsheet/src/ActionsheetBackdrop.tsx
  packages/unstyled/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

missing semicolon
  packages/unstyled/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

:shrug:
  packages/unstyled/actionsheet/src/ActionsheetBackdrop.tsx
  packages/unstyled/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

remove unused import
  packages/unstyled/actionsheet/src/ActionsheetBackdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: adding overlay prop to drawer component
  example/storybook-nativewind/src/components/Drawer/Drawer.tsx
  example/storybook-nativewind/src/core-components/nativewind/drawer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added types and updated docs
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  packages/unstyled/actionsheet/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/actionsheet version bump to 0.2.45
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/actionsheet/CHANGELOG.md
  packages/unstyled/actionsheet/package.json
Due: prettier --write

feat: updated prop position
  packages/unstyled/actionsheet/src/Actionsheet.tsx
  packages/unstyled/actionsheet/src/ActionsheetContent.tsx
  packages/unstyled/actionsheet/src/context.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tooltip content 2 times rendering issue
  packages/unstyled/tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: reverted opacity change for initialAnimatedStyles
  packages/unstyled/tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: patch bump of tooltip
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/tooltip/CHANGELOG.md
  packages/unstyled/tooltip/package.json
Due: prettier --write

fix: demos for all components page
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/FormControl.stories.tsx
  example/storybook-nativewind/src/components/FormControl/FormControl.tsx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/AccordionDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/ActionsheetDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/AlertDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/AlertDialogDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/AvatarDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/BadgeDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/BoxDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/ButtonDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/CenterDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/CheckboxDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/FabDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/FormControlDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/HStackDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/HeadingDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/InputDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/ModalDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/PressableDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/ProgressDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/RadioDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/SelectDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/SliderDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/SpinnerDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/TeaxtAreaDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/TextAreaDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/ToastDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/TooltipDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/VStackDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: formControl invalid state
  example/storybook-nativewind/src/components/FormControl/FormControl.stories.tsx
  example/storybook-nativewind/src/components/FormControl/FormControl.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update README.md of nativewind/utils
  packages/nativewind/utils/README.md
Due: prettier --write

feat: added note for grid and menu component
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
Due: none

fix: added readme fixes for nw-utils
  packages/nativewind/utils/README.md
Due: prettier --write

fix: minor fix
  packages/nativewind/utils/README.md
Due: prettier --write

fix: added expo html element dependancy for actionsheet
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: linting warnings and package updation
  example/storybook-nativewind/package.json
  example/storybook-nativewind/src/core-components/hooks/use-break-point-value.ts
  example/storybook-nativewind/src/core-components/nativewind/avatar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/image/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  example/storybook-nativewind/tsconfig.json
  example/storybook-v7/package.json
  example/storybook-v7/yarn.lock
  package.json
  packages/nativewind/utils/cssInterop/index.d.ts
  packages/nativewind/utils/cssInterop/index.js
  packages/nativewind/utils/cssInterop/index.ts
  packages/nativewind/utils/cssInterop/index.web.d.ts
  packages/nativewind/utils/cssInterop/index.web.js
  packages/nativewind/utils/cssInterop/index.web.ts
  packages/nativewind/utils/package.json
  packages/nativewind/utils/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update README.md
  README.md
Due: prettier --write
