Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: preview file
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: getting started
  example/storybook/public/assets/sanket-react-nexus.png
Due: none

fix: sidebar
  CONTRIBUTING.md
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/more/Figma/index.stories.mdx
Due: prettier --write

fix: getting started
  example/storybook/src/overview/GettingStarted/CardTalk.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sidebar
  example/storybook/.storybook/preview.js
  example/storybook/src/more/contribution-guidelines/index.stories.mdx
  example/storybook/src/more/faqs/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: getting started
  example/storybook/src/overview/GettingStarted/Card.tsx
  example/storybook/src/overview/GettingStarted/index1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: getting started
  example/storybook/src/overview/GettingStarted/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated config
  example/storybook/.storybook/main.js
  example/storybook/package.json
  example/storybook/webpack.config.js_old
  yarn.lock
Due: eslint --quiet --fix, prettier --write

feat: add linear-gradient component
  linear-gradient/src/LinearGradient.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update package json file
  linear-gradient/package.json
Due: prettier --write

chore: package released
  linear-gradient/CHANGELOG.md
  linear-gradient/package.json
Due: prettier --write

fix: #868 Unlock react-native-svg version lock
  packages/themed/package.json
Due: prettier --write

feat: avatar fixes
  src/components/Avatar/index.tsx
  src/components/Avatar/styled-components/Badge.tsx
  src/components/Avatar/styled-components/FallbackText.tsx
  src/components/Avatar/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: avatar
  src/components/Avatar/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: avatar group
  src/components/Avatar/styled-components/Group.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: heading text color token fix
  src/components/Heading/styled-components/Root.tsx
  src/components/Text/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alertDialog done
  src/components/AlertDialog/styled-components/Backdrop.tsx
  src/components/AlertDialog/styled-components/Body.tsx
  src/components/AlertDialog/styled-components/CloseButton.tsx
  src/components/AlertDialog/styled-components/Content.tsx
  src/components/AlertDialog/styled-components/Footer.tsx
  src/components/AlertDialog/styled-components/Header.tsx
  src/components/AlertDialog/styled-components/Root.tsx
  src/components/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: inline resolution
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: updated config
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/babel.config.js
  example/storybook/package.json
  example/storybook/webpack.config.js_old
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: utility props added
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: conflicts resolved
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: order of sidebar
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

feat: add styled linear-gradient
  example/storybook/.storybook/preview.js
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Layout/LinearGradient/LinearGradient.stories.tsx
  example/storybook/src/components/Layout/LinearGradient/LinearGradient.tsx
  example/storybook/src/components/Layout/LinearGradient/LinearGradientCard.tsx
  example/storybook/src/components/Layout/LinearGradient/LinearGradientPressable.tsx
  example/storybook/src/components/Layout/LinearGradient/index.stories.mdx
  example/storybook/src/core-concepts/UnstyledComponents/UnstyledComponents.tsx
  example/storybook/src/core-concepts/UnstyledComponents/index.stories.mdx
  example/storybook/src/customize-and-style/Overwriting/Overwriting.tsx
  example/storybook/src/customize-and-style/Overwriting/index.stories.mdx
  example/storybook/src/customize-and-style/Styling/ColorMode/ColorMode.tsx
  example/storybook/src/customize-and-style/Styling/ColorMode/index.stories.mdx
  example/storybook/src/customize-and-style/Styling/Descendants/Descendants.tsx
  example/storybook/src/customize-and-style/Styling/Descendants/index.stories.mdx
  example/storybook/src/customize-and-style/Styling/Platform-specific/Platform-specific.tsx
  example/storybook/src/customize-and-style/Styling/Platform-specific/index.stories.mdx
  example/storybook/src/customize-and-style/Styling/Responsive/Responsive.tsx
  example/storybook/src/customize-and-style/Styling/Responsive/index.stories.mdx
  example/storybook/src/customize-and-style/Styling/States/States.tsx
  example/storybook/src/customize-and-style/Styling/States/index.stories.mdx
  example/storybook/src/customize-and-style/UtilityProps/UtilityProps.tsx
  example/storybook/src/customize-and-style/UtilityProps/index.stories.mdx
  packages/themed/package.json
  packages/themed/src/components/LinearGradient/config.json
  packages/themed/src/components/LinearGradient/index.tsx
  packages/themed/src/components/LinearGradient/styled-components/Root.tsx
  packages/themed/src/components/LinearGradient/styled-components/index.tsx
  packages/themed/src/components/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix:changes
  example/storybook/src/overview/Performance/index.stories.mdx
Due: none

fix: state props specificity
  packages/react/src/styled.tsx
  packages/react/src/utils/cssify/create-stylesheet/index.ts
  packages/react/src/utils/cssify/utils/common.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add caret symbol
  packages/themed/package.json
Due: prettier --write

feat: overview of theme
  example/storybook/src/theme/overview/index.stories.mdx
Due: none

fix: css rule creator refactor
  packages/react/src/utils/cssify/utils/common.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added building design system page
  example/storybook/src/guides/building-desing-system/index.stories.mdx
  example/storybook/src/guides/buinding-desing-system/index.stories.mdx
Due: none

fix: added building design system page
  example/storybook/src/guides/building-desing-system/index.stories.mdx
Due: none

v0.2.11-alpha.0
  packages/react/package.json
Due: prettier --write

fix: media query order and multiple media query support
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/resolver/SXResolvedToOrderedSXResolved.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: extract width from media query
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: state check
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.11-alpha.1
  packages/react/package.json
Due: prettier --write

v0.2.11
  packages/react/package.json
Due: prettier --write

fix: style version updated
  example/storybook/package.json
  packages/themed/package.json
  yarn.lock
Due: prettier --write

v0.1.10
  packages/themed/package.json
Due: prettier --write

feat: update card with linear gradient example
  example/storybook/public/images/gluestack-ui-icon.png
  example/storybook/src/components/Layout/LinearGradient/LinearGradientCard.tsx
  example/storybook/src/components/Layout/LinearGradient/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
