Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: "changes in docs"
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
Due: none

fix: "changes in docs"
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

feat: checkbox migration
  checkbox/babel.config.js
  checkbox/package.json
  checkbox/src/Checkbox.tsx
  checkbox/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: checkbox migration
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  packages/checkbox/babel.config.js
  packages/checkbox/package.json
  packages/checkbox/src/Checkbox.tsx
  packages/checkbox/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes "
  example/storybook/src/components/Others/Fab/Fab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes "
  example/storybook/src/components/Overlay/Menu/Menu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "correct spelling "
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: input docs updated
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: radio aria issue
  radio/src/Radio.web.tsx
  radio/src/RadioGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: radio aria issue
  packages/radio/src/Radio.web.tsx
  packages/radio/src/RadioGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu examples
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fab migration
  example/storybook/src/components/Others/Fab/index.stories.mdx
  packages/fab/babel.config.js
  packages/fab/package.json
  packages/fab/src/Fab.tsx
  packages/fab/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fab migration
  fab/babel.config.js
  fab/package.json
  fab/src/Fab.tsx
  fab/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: form control dependancy
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  packages/form-control/package.json
Due: prettier --write

fix: form control dependancy
  form-control/package.json
Due: prettier --write

fix: correcting dependacies of input icon
  example/storybook/src/components/Forms/Input/index.stories.mdx
  packages/icon/babel.config.js
  packages/icon/package.json
  packages/icon/tsconfig.json
  packages/input/babel.config.js
  packages/input/package.json
  packages/input/tsconfig.json
Due: eslint --quiet --fix, prettier --write

fix: correcting dependacies of input icon
  icon/babel.config.js
  icon/package.json
  icon/tsconfig.json
  input/babel.config.js
  input/package.json
  input/tsconfig.json
Due: eslint --quiet --fix, prettier --write

feat: link migration
  link/babel.config.js
  link/package.json
  link/src/Link.tsx
  link/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: arrowleft icon
  example/storybook/src/components/DataDisplay/Badge/Badge.tsx
  example/storybook/src/components/Feedback/Toast/Toast.tsx
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Modal/Modal.tsx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: link migration
  example/storybook/src/components/Forms/Link/index.stories.mdx
  packages/link/babel.config.js
  packages/link/package.json
  packages/link/src/Link.tsx
  packages/link/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: wrapper issue
  example/storybook/.storybook/preview.js
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu migration
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  packages/menu/babel.config.js
  packages/menu/package.json
  packages/menu/src/MenuItem.tsx
  packages/menu/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu migration
  menu/babel.config.js
  menu/package.json
  menu/src/MenuItem.tsx
  menu/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal migration
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  packages/modal/babel.config.js
  packages/modal/package.json
  packages/modal/src/ModalCloseButton.tsx
  packages/modal/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal migration
  modal/babel.config.js
  modal/package.json
  modal/src/ModalCloseButton.tsx
  modal/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: overlay migration
  packages/overlay/babel.config.js
  packages/overlay/package.json
  packages/overlay/src/index.tsx
  packages/overlay/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: overlay migration
  overlay/babel.config.js
  overlay/package.json
  overlay/src/index.tsx
  overlay/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: overlay dependancy
  packages/overlay/package.json
Due: prettier --write

fix: overlay dependancy
  overlay/package.json
Due: prettier --write

feat: popover migration
  popover/babel.config.js
  popover/package.json
  popover/src/PopoverCloseButton.tsx
  popover/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: popover migration
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  packages/popover/babel.config.js
  packages/popover/package.json
  packages/popover/src/PopoverCloseButton.tsx
  packages/popover/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pressable migration
  pressable/babel.config.js
  pressable/package.json
  pressable/src/Pressable.tsx
  pressable/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pressable migration
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  packages/pressable/babel.config.js
  packages/pressable/package.json
  packages/pressable/src/Pressable.tsx
  packages/pressable/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: progress removed unwanted type and babel config
  progress/babel.config.js
  progress/tsconfig.json
Due: eslint --quiet --fix, prettier --write

fix: progress removed unwanted type and babel config
  packages/progress/babel.config.js
  packages/progress/tsconfig.json
Due: eslint --quiet --fix, prettier --write

feat: provider migration
  provider/babel.config.js
  provider/package.json
  provider/src/Provider.tsx
  provider/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: provider migration
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  packages/provider/babel.config.js
  packages/provider/package.json
  packages/provider/src/Provider.tsx
  packages/provider/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: size fix radio
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

feat: radio migration
  radio/babel.config.js
  radio/package.json
  radio/src/Radio.tsx
  radio/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: radio migration
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  packages/radio/babel.config.js
  packages/radio/package.json
  packages/radio/src/Radio.tsx
  packages/radio/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
