Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: deps list
  packages/avatar/package.json
Due: prettier --write

fix: deps list
  avatar/package.json
Due: prettier --write

fix: patch yarn latest
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  yarn.lock
Due: none

fix: typing and native implementation
  packages/react/src/StyledProvider.tsx
  packages/react/src/createConfig.ts
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: revert and refactor code
  example/expo-app/gluestack-ui.config.ts
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.web.tsx
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/components/nb.config.ts
  packages/react/src/createGlobalStyles.ts
  packages/react/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example commented
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

fix: changes in example
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes in docs
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: "changes in core icon"
  example/storybook/src/ui-components/Checkbox/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: chnages in core indicator
  example/storybook/src/ui-components/Checkbox/styled-components/Indicator.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes in core label
  example/storybook/src/ui-components/Checkbox/styled-components/Label.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes in core root
  example/storybook/src/ui-components/Checkbox/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes in core root-web
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes in link root core
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add dep
  packages/checkbox/package.json
Due: prettier --write

fix: add dep
  checkbox/package.json
Due: prettier --write

fix: changes
  packages/checkbox/src/Checkbox.web.tsx
  packages/checkbox/src/CheckboxIcon.tsx
  packages/checkbox/src/CheckboxIndicator.tsx
  packages/checkbox/src/context.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes
  checkbox/src/Checkbox.web.tsx
  checkbox/src/CheckboxIcon.tsx
  checkbox/src/CheckboxIndicator.tsx
  checkbox/src/context.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update css => style
  README.md
  example/storybook/src/advanced/Architecture/index.stories.mdx
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
  example/storybook/src/advanced/Specificity/index.stories.mdx
  example/storybook/src/api/AsForwarder/index.stories.mdx
  example/storybook/src/api/ColorModeBasedStyles/index.stories.mdx
  example/storybook/src/api/DescendantsStyles/index.stories.mdx
  example/storybook/src/api/OverridingStyles/index.stories.mdx
  example/storybook/src/api/PlatformBasedStyles/index.stories.mdx
  example/storybook/src/api/PropertyResolver/index.stories.mdx
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/api/Specificity/index.stories.mdx
  example/storybook/src/api/StateBasesStyles/index.stories.mdx
  example/storybook/src/api/UtilityFunctions/index.stories.mdx
  example/storybook/src/api/UtilityProps/index.stories.mdx
  example/storybook/src/api/Variants/index.stories.mdx
  example/storybook/src/api/createStyled/index.stories.mdx
  example/storybook/src/configuration/Breakpoints/index.stories.mdx
  example/storybook/src/configuration/SSR/index.stories.mdx
  example/storybook/src/configuration/ThemeTokens/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/Styled/index.stories.mdx
  example/storybook/src/getting-started/StyledProvider/index.stories.mdx
  example/storybook/src/getting-started/TypeScript/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
  example/storybook/src/overview/API/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
  example/storybook/src/overview/Performance/index.stories.mdx
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/CSSVariables/index.stories.mdx
  example/storybook/src/plugins/FontsPlugin/index.stories.mdx
  example/storybook/src/plugins/Introduction/index.stories.mdx
Due: prettier --write

feat: update css => style2
  CONTRIBUTING.md
Due: prettier --write

fix: "added link.text props"
  example/storybook/src/components/Forms/Link/index.stories.mdx
Due: none

feat: updated link of website
  README.md
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/api/UtilityFunctions/index.stories.mdx
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/CSSVariables/index.stories.mdx
  example/storybook/src/plugins/FontsPlugin/index.stories.mdx
  example/storybook/src/plugins/Introduction/index.stories.mdx
Due: prettier --write

fix: updated config
  example/babel-plugin-styled-resolver-expo/dank.config.ts
  example/expo-app/App.tsx
  example/expo-app/dank.config.ts
  example/expo-app/src/App.tsx
  example/next/dank.config.ts
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
  example/storybook/src/api/ColorModeBasedStyles/index.stories.mdx
  example/storybook/src/api/PropertyResolver/index.stories.mdx
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/configuration/Breakpoints/index.stories.mdx
  example/storybook/src/configuration/ThemeTokens/index.stories.mdx
  example/storybook/src/getting-started/Styled/index.stories.mdx
  example/storybook/src/getting-started/StyledProvider/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
  example/storybook/src/overview/API/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
  example/storybook/src/plugins/AnimationPlugin/AnimationPlugin.tsx
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/CSSVariables/CSSVariables.tsx
  example/storybook/src/plugins/CSSVariables/index.stories.mdx
  example/storybook/src/plugins/FontsPlugin/FontsPlugin.tsx
  packages/benchmark-next/bench/change-a-variant/ui-styled.tsx
  packages/benchmark-next/bench/create-and-mount-button/ui-styled.tsx
  packages/benchmark-next/dank.config.ts
  packages/react/CHANGELOG.md
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated aria role
  packages/alert-dialog/src/AlertDialogContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated aria role
  alert-dialog/src/AlertDialogContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.1
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

v0.1.1
  packages/animation-plugin/package.json
Due: prettier --write

v0.1.1
  packages/react/package.json
Due: prettier --write

fix: updated config
  example/babel-plugin-styled-resolver-expo/gluestack-style.config.ts
  example/expo-app/gluestack-style.config.ts
  example/next/gluestack-style.config.ts
  packages/benchmark-next/gluestack-style.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated config
  example/babel-plugin-styled-resolver-expo/babel.config.js
  example/babel-plugin-styled-resolver-expo/webpack.config.js
  example/expo-app/babel.config.js
  example/expo-app/webpack.config.js
  example/next/babel.config.js
  example/next/next.config.js
  example/next/pages/_document.js
  example/next/pages/index.js
  example/storybook/.storybook/main.js
  example/storybook/babel.config.js
  example/storybook/src/getting-started/TypeScript/index.stories.mdx
  example/storybook/transformer.js
  packages/animation-plugin/babel.config.js
  packages/babel-plugin-styled-resolver/src/index.js
  packages/benchmark-native/babel.config.js
  packages/benchmark-next/babel.config.js
  packages/benchmark-next/next.config.js
Due: eslint --quiet --fix, prettier --write

v0.1.2
  packages/react/package.json
Due: prettier --write

v0.1.3
  packages/animation-plugin/package.json
Due: prettier --write

v0.1.3
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: docs changes
  example/storybook/src/getting-started/StyledProvider/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
  example/storybook/src/overview/API/index.stories.mdx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated deps
  packages/alert-dialog/package.json
Due: prettier --write

fix: updated deps
  alert-dialog/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
