Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: checkbox fixes
  example/storybook/src/components/Checkbox/index.stories.mdx
Due: none

fix: avoid keyboard actionsheet changes
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: avoid keyboard actionsheet changes
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed background from components
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: keyboard avoid view
  packages/actionsheet/src/Actionsheet.tsx
  packages/alert-dialog/src/AlertDialog.tsx
  packages/alert-dialog/src/AlertDialogContent.tsx
  packages/modal/src/Modal.tsx
  packages/modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: keyboard avoid view
  actionsheet/src/Actionsheet.tsx
  alert-dialog/src/AlertDialog.tsx
  alert-dialog/src/AlertDialogContent.tsx
  modal/src/Modal.tsx
  modal/src/ModalContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: casing
  example/storybook/src/components/HStack/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/SSR/index.stories.mdx
  example/storybook/src/overview/Accessibility/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

v0.2.25
  packages/react/package.json
Due: prettier --write

fix: file path
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pushed
  package.json
  yarn.lock
Due: prettier --write

fix: docs
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

feat: development
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: minor issues
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/ui-components/AlertDialog/styled-components/Root.tsx
  example/storybook/src/ui-components/Modal/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Modal/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: table
  example/storybook/src/components/FormControl/index.stories.mdx
  example/storybook/src/components/HStack/index.stories.mdx
  example/storybook/src/components/IconButton/index.stories.mdx
Due: none

feat: babel plugin fix for gluestack config
  example/babel-plugin-styled-resolver-expo/App.web.tsx
  example/babel-plugin-styled-resolver-expo/Button.tsx
  example/babel-plugin-styled-resolver-expo/Button1.tsx
  example/babel-plugin-styled-resolver-expo/Button2.tsx
  example/babel-plugin-styled-resolver-expo/Button3.tsx
  example/babel-plugin-styled-resolver-expo/Button4.tsx
  example/babel-plugin-styled-resolver-expo/Button5.tsx
  example/babel-plugin-styled-resolver-expo/babel.config.js
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.11
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

v0.2.12
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: extendedbaseconfig typos
  example/storybook/src/getting-started/Styled/index.stories.mdx
  example/storybook/src/overview/API/index.stories.mdx
Due: none

v0.1.2
  alert-dialog/package.json
Due: prettier --write

v0.1.2
  packages/alert-dialog/package.json
Due: prettier --write

v0.1.2
  packages/actionsheet/package.json
Due: prettier --write

v0.1.2
  actionsheet/package.json
Due: prettier --write

v0.1.3
  actionsheet/package.json
Due: prettier --write

v0.1.3
  packages/actionsheet/package.json
Due: prettier --write

fix: installation
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

feat: development
  example/storybook/src/components/Icon/index.stories.mdx
  example/storybook/src/components/Tabs/Tabs.stories.tsx
  example/storybook/src/components/Tabs/Tabs.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: slide animation preset modal
  modal/src/Modal.tsx
  modal/src/types.ts
  transitions/src/Slide.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: slide animation preset modal
  packages/modal/src/Modal.tsx
  packages/modal/src/types.ts
  packages/transitions/src/Slide.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.1
  packages/transitions/package.json
Due: prettier --write

v0.1.1
  transitions/package.json
Due: prettier --write

v0.1.3
  modal/package.json
Due: prettier --write

v0.1.3
  packages/modal/package.json
Due: prettier --write

v0.1.4
  packages/modal/package.json
Due: prettier --write

v0.1.4
  modal/package.json
Due: prettier --write

fix: table fixes
  example/storybook/src/components/AlertDialog/index.stories.mdx
  example/storybook/src/components/FormControl/index.stories.mdx
  example/storybook/src/components/HStack/index.stories.mdx
  example/storybook/src/components/Input/index.stories.mdx
  example/storybook/src/components/Link/index.stories.mdx
  example/storybook/src/components/Menu/index.stories.mdx
  example/storybook/src/components/Modal/index.stories.mdx
  example/storybook/src/components/Radio/index.stories.mdx
  example/storybook/src/components/Select/index.stories.mdx
  example/storybook/src/components/TextArea/index.stories.mdx
  example/storybook/src/components/Toast/index.stories.mdx
  example/storybook/src/components/Tooltip/index.stories.mdx
  example/storybook/src/components/VStack/index.stories.mdx
Due: none

fix: table fixes
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/Modal/index.stories.mdx
  example/storybook/src/components/Popover/index.stories.mdx
Due: none

fix: table fixes
  example/storybook/src/components/Toast/index.stories.mdx
Due: none

feat: trigger popover
  example/storybook/src/components/Popover/Popover.tsx
  packages/popover/src/Popover.tsx
  packages/popover/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: switch fixed
  switch/src/Switch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: switch fixed
  example/storybook/src/components/Switch/index.stories.mdx
  example/storybook/src/ui-components/Switch/styled-components/Root.tsx
  packages/switch/src/Switch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
