Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: script name convention
  example/storybook-nativewind/src/guides/tutorials/Building Ecommerce App/index.nw.stories.mdx
Due: none

fix: script name convention
  example/storybook-nativewind/src/guides/tutorials/building-ecommerce-app/index.nw.stories.mdx
Due: none

fix: fixed ytPlayer issue in Vadim's Stream
  example/storybook-nativewind/src/extra-components/nativewind/VadimStream.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ui changes
  example/storybook-nativewind/src/extra-components/nativewind/VadimStream.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: ignored pin-input in dependencies.json
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

chore: added statusbar hidden in stories example
  example/storybook-nativewind/src/components/ImageViewer/ImageViewer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: added statusbar hidden in examples
  example/storybook-nativewind/src/components/ImageViewer/index.nw.stories.mdx
Due: none

fix: fixed lagging while swipping down image to close ImageViewer
  packages/unstyled/image-viewer/CHANGELOG.md
  packages/unstyled/image-viewer/package.json
Due: prettier --write

fix: spelling change
  example/storybook-nativewind/src/guides/tutorials/building-ecommerce-app/index.nw.stories.mdx
Due: none

fix: fix the isuue of selection of the input feild in the min and hours input
  packages/unstyled/time-input/src/TimeInputHr.tsx
  packages/unstyled/time-input/src/TimeInputMin.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed the issue of focussing meridiem in the native
  example/storybook-nativewind/src/components/TimeInput/TimeInput.tsx
  packages/unstyled/time-input/src/TimeInputMin.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed the time-input width for mobile device
  example/storybook-nativewind/src/core-components/nativewind/time-input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: correct the example for the time-input component
  example/storybook-nativewind/src/components/TimeInput/TimeInput.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added imports to button component examples
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/utils.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

test: testing
  example/storybook-nativewind/src/apps/dashboard-app/Expand.tsx
  example/storybook-nativewind/src/apps/dashboard-app/index.stories.mdx
  example/storybook-nativewind/src/apps/kitchensink-app/index.stories.mdx
  example/storybook-nativewind/src/apps/starter-kit/Expand.tsx
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/apps/storybook-app/Expand.tsx
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
  example/storybook-nativewind/src/apps/todo-app/Expand.tsx
  example/storybook-nativewind/src/apps/todo-app/index.stories.mdx
  example/storybook-nativewind/src/components/Accordion/Accordion.stories.tsx
  example/storybook-nativewind/src/components/Accordion/Accordion.tsx
  example/storybook-nativewind/src/components/Accordion/index.themed.stories.mdx
  example/storybook-nativewind/src/components/Button/Button.stories.tsx
  example/storybook-nativewind/src/components/Button/Button.tsx
  example/storybook-nativewind/src/components/Button/index.themed.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: commented codebase in components examples
  example/storybook-nativewind/scripts/update-mdx.js
  example/storybook-nativewind/src/components/Accordion/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Link/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Spinner/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
Due: eslint --quiet --fix, prettier --write

feat: remove BackHandler.removeEventListener
  packages/react-native-aria/interactions/src/useKeyboardDismisssable.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: functionality and grid update
  example/storybook-nativewind/src/components/Calendar/Calendar.tsx
  example/storybook-nativewind/src/core-components/nativewind/calendar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/calendar/styles.tsx
  example/storybook-v7/package.json
  example/storybook-v7/yarn.lock
  packages/unstyled/calendar/README.md
  packages/unstyled/calendar/package.json
  packages/unstyled/calendar/src/Calendar.tsx
  packages/unstyled/calendar/src/CalendarContent.tsx
  packages/unstyled/calendar/src/CalendarDate.tsx
  packages/unstyled/calendar/src/CalendarDays.tsx
  packages/unstyled/calendar/src/CalendarHeader.tsx
  packages/unstyled/calendar/src/CalendarHeaderNext.tsx
  packages/unstyled/calendar/src/CalendarHeaderPrev.tsx
  packages/unstyled/calendar/src/CalendarHeaderTitle.tsx
  packages/unstyled/calendar/src/CalendarWeek.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed image-viewer pan getsure pan values according to image and screen dimensions
  example/storybook-nativewind/src/components/ImageViewer/ImageViewer.tsx
  packages/unstyled/image-viewer/src/ImageViewerBackdrop.tsx
  packages/unstyled/image-viewer/src/ImageViewerContent.tsx
  packages/unstyled/image-viewer/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added script to add imports in component examples
  example/storybook-nativewind/scripts/componentsImportList.js
  example/storybook-nativewind/scripts/update-mdx.js
  example/storybook-nativewind/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated script to add space between imports and the codebase
  example/storybook-nativewind/scripts/update-mdx.js
Due: eslint --quiet --fix, prettier --write

test: removed apps folder also
  example/storybook-nativewind/src/apps/dashboard-app/Expand.tsx
  example/storybook-nativewind/src/apps/dashboard-app/index.stories.mdx
  example/storybook-nativewind/src/apps/kitchensink-app/index.stories.mdx
  example/storybook-nativewind/src/apps/starter-kit/Expand.tsx
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/apps/storybook-app/Expand.tsx
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
  example/storybook-nativewind/src/apps/todo-app/Expand.tsx
  example/storybook-nativewind/src/apps/todo-app/index.stories.mdx
  example/storybook-nativewind/src/guides/more/FAQs/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/more/Releases/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/more/Roadmap/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/more/Troubleshooting/index.stories.mdx
  example/storybook-nativewind/src/guides/more/Upgrade to v2/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/more/discord-faqs/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/recipes/linear-gradient/expo-linear-gradient.tsx
  example/storybook-nativewind/src/guides/recipes/linear-gradient/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/recipes/linear-gradient/index.themed.stories.mdx
  example/storybook-nativewind/src/guides/recipes/linear-gradient/rn-linear-gradient.tsx
  example/storybook-nativewind/src/guides/tutorials/building-ecommerce-app/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: imports is useBreakPoint value hook and Portal component import
  example/storybook-nativewind/scripts/componentsImportList.js
  example/storybook-nativewind/src/components/Portal/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/hooks/use-break-point-value.ts
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tailwindcss version
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

Updated Type and default value in select props table
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
Due: none

fix: updated native provider system change issue
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: backhandler remove old api
  packages/react-native-aria/interactions/src/index.ts
  packages/react-native-aria/interactions/src/index.web.ts
  packages/react-native-aria/interactions/src/useBackHandler.ts
  packages/react-native-aria/interactions/src/useBackHandler.web.ts
  packages/react-native-aria/interactions/src/useKeyboardDismisssable.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: backhandler remove old api
  packages/unstyled/react-native-aria/src/useKeyboardDismisssable.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: backhandler remove old api
  packages/unstyled/hooks/src/use-back-handler/index.ts
  packages/unstyled/hooks/src/use-back-handler/index.web.ts
  packages/unstyled/hooks/src/use-keyboard-dismissable/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @react-native-aria/interactions minor bump
  packages/react-native-aria/interactions/CHANGELOG.md
  packages/react-native-aria/interactions/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
