Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change tooltip to package
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/package.json
  packages/gluestack-core/src/tooltip/creator/OverlayAnimatePresence.tsx
  packages/gluestack-core/src/tooltip/creator/Tooltip.tsx
  packages/gluestack-core/src/tooltip/creator/TooltipArrow.tsx
  packages/gluestack-core/src/tooltip/creator/TooltipContent.tsx
  packages/gluestack-core/src/tooltip/creator/TooltipText.tsx
  packages/gluestack-core/src/tooltip/creator/context.tsx
  packages/gluestack-core/src/tooltip/creator/index.tsx
  packages/gluestack-core/src/tooltip/creator/types.ts
  src/components/ui/tooltip/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: work on the fixing menu issue
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/src/menu/aria/useMenuTrigger.ts
  packages/gluestack-core/src/menu/creator/MenuPopover/PopoverContent.tsx
  packages/gluestack-core/src/overlay/aria/useOverlayPosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:remove the overlays from aria from the gluestack utils
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/src/actionsheet/creator/ActionsheetContent.tsx
  packages/gluestack-core/src/popover/creator/PopoverContent.tsx
  packages/gluestack-core/src/tooltip/creator/TooltipContent.tsx
  packages/gluestack-core/yalc.lock
  packages/gluestack-utils/src/aria/index.ts
  packages/gluestack-utils/src/aria/overlays/Portal.tsx
  packages/gluestack-utils/src/aria/overlays/index.ts
  packages/gluestack-utils/src/aria/overlays/index.web.ts
  packages/gluestack-utils/src/aria/overlays/useOverlay.ts
  packages/gluestack-utils/src/aria/overlays/useOverlay.web.ts
  packages/gluestack-utils/src/aria/overlays/useOverlayPosition.ts
  packages/gluestack-utils/src/aria/overlays/useOverlayPosition.web.ts
  packages/gluestack-utils/src/aria/overlays/useOverlayTrigger.ts
  packages/gluestack-utils/src/aria/overlays/useOverlayTrigger.web.ts
  packages/gluestack-utils/src/aria/overlays/usePreventScroll.ts
  packages/gluestack-utils/src/aria/overlays/usePreventScroll.web.ts
  packages/gluestack-utils/src/aria/overlays/utils.ts
  packages/gluestack-utils/src/aria/overlays/web/calculatePosition.ts
  packages/gluestack-utils/src/aria/overlays/web/index.ts
  packages/gluestack-utils/src/aria/overlays/web/useCloseOnScroll.ts
  packages/gluestack-utils/src/aria/overlays/web/useOverlayPosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.4
  packages/gluestack-core/package.json
Due: prettier --write

v0.1.11
  packages/gluestack-utils/package.json
Due: prettier --write

feat: fix menu in core package
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/src/overlay/aria/useOverlayPosition.ts
  packages/gluestack-core/yalc.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.5
  packages/gluestack-core/package.json
Due: prettier --write

v0.1.12
  packages/gluestack-utils/package.json
Due: prettier --write

v1.0.1
  packages/gluestack-core/package.json
Due: prettier --write

v1.0.2
  packages/gluestack-core/package.json
Due: prettier --write

v0.1.9
  packages/gluestack-utils/package.json
Due: prettier --write

fix: removed redundant files
  apps/website/app/blogs/build-a-simple-ui-with-gluestack-ui-and-expo/blog.mdx
  packages/gluestack-core/yarn.lock
  packages/gluestack-ui/globals.css
  packages/gluestack-ui/gluestack-ui.config.json
  packages/gluestack-ui/nativewind-env.d.ts
  packages/gluestack-ui/package-lock.json
  packages/gluestack-ui/package.json
  packages/gluestack-ui/src/dependencies.ts
  packages/gluestack-ui/src/eject-components/add-aliases/index.ts
  packages/gluestack-ui/src/eject-components/add-components/index.ts
  packages/gluestack-ui/src/eject-components/index.ts
  packages/gluestack-ui/src/util/config/expo-config-helper.ts
  packages/gluestack-ui/src/util/index.ts
  packages/gluestack-ui/src/util/init/index.ts
  packages/gluestack-ui/src/utils.ts
  packages/gluestack-ui/templates/tailwind.config.js
  packages/gluestack-ui/yarn.lock
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fixed metro config for local and production development
  apps/kitchen-sink/metro.config.js
Due: eslint --quiet --fix, prettier --write

v1.0.3
  packages/gluestack-core/package.json
Due: prettier --write

change the build command for kitchewnsink for the packages
  apps/kitchen-sink/package.json
Due: prettier --write

feat: remove gluestack plugin
  apps/website/tailwind.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed dependencies on init
  packages/gluestack-ui/src/util/add/index.ts
  packages/gluestack-ui/src/util/check-next-version.ts
  packages/gluestack-ui/src/util/config/expo-config-helper.ts
  packages/gluestack-ui/src/util/config/index.ts
  packages/gluestack-ui/src/util/config/next-config-helper.ts
  packages/gluestack-ui/src/util/config/react-native-config-helper.ts
  packages/gluestack-ui/src/util/init/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: code cleanup
  packages/gluestack-ui/next.config.js
  packages/gluestack-ui/postcss.config.js
  packages/gluestack-ui/src/commands/init.ts
  packages/gluestack-ui/src/config.ts
  packages/gluestack-ui/src/util/add/index.ts
  packages/gluestack-ui/src/util/backup-utils.ts
  packages/gluestack-ui/src/util/change-log.ts
  packages/gluestack-ui/src/util/config/next-config-helper.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed overlay from component dependencies
  packages/gluestack-ui/src/util/add/index.ts
  packages/gluestack-ui/src/util/init/index.ts
  src/components/ui/actionsheet/dependencies.json
  src/components/ui/alert-dialog/dependencies.json
  src/components/ui/gluestack-ui-provider/dependencies.json
  src/components/ui/menu/dependencies.json
  src/components/ui/modal/dependencies.json
  src/components/ui/popover/dependencies.json
  src/components/ui/portal/dependencies.json
  src/components/ui/toast/dependencies.json
  src/components/ui/tooltip/dependencies.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.7.28
  packages/gluestack-ui/package.json
Due: prettier --write

v0.7.29
  packages/gluestack-ui/package.json
Due: prettier --write

chore: updated config branchName to feat/v3
  packages/gluestack-ui/src/config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove the import handlers
  apps/kitchen-sink/yalc.lock
  packages/gluestack-core/tsconfig.build.json
  packages/gluestack-core/yalc.lock
  packages/gluestack-utils/tsconfig.build.json
Due: prettier --write

v1.0.6
  packages/gluestack-core/package.json
Due: prettier --write

v0.1.13
  packages/gluestack-utils/package.json
Due: prettier --write

fix: updated build script to install packages
  apps/website/package.json
Due: prettier --write

chore: updated prettier package
  apps/website/package.json
  apps/website/yarn.lock
Due: prettier --write

chore: rm vercel ignore
  apps/website/.vercelignore
Due: none

chore: updated prettier
  package.json
  yarn.lock
Due: prettier --write

chore: installed exact prettier
  apps/website/package.json
  apps/website/yarn.lock
Due: prettier --write

chore: added packages
  apps/website/package.json
  apps/website/yarn.lock
Due: prettier --write

fix: update @react-native-aria/checkbox dependency
  packages/react-native-aria/checkbox/package.json
  yarn.lock
Due: prettier --write

feat: remove prettier from the code block
  apps/website/components/custom/markdown/code-block/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: added prettier as a dependency instead of dev dependency
  apps/website/package.json
Due: prettier --write

chore: updated mappers to ignore utils directory
  scripts/mappers/kitchen-sink/componentsOperations.ts
  scripts/mappers/starter-kit-expo/componentsOperations.ts
  scripts/mappers/starter-kit-expo/index.ts
  scripts/mappers/starter-kit-next/componentsOperations.ts
  scripts/mappers/starter-kit-next/index.ts
  scripts/mappers/utils/componentOperations.ts
  scripts/mappers/website/componentOperations.ts
  scripts/mappers/website/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed vercel ignore and vercel.json
  apps/website/.vercelignore
  apps/website/vercel.json
Due: prettier --write

feat:change code block
  apps/website/components/custom/markdown/code-block/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated build script
  apps/website/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
