Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: avoid keyboard api added
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/alert-dialog/src/AlertDialog.tsx
  packages/alert-dialog/src/AlertDialogContent.tsx
  packages/alert-dialog/src/Context.ts
  packages/modal/src/ModalContent.tsx
  packages/toast/src/ToastList.tsx
  packages/toast/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.1
  packages/actionsheet/package.json
Due: prettier --write

v0.1.1
  actionsheet/package.json
Due: prettier --write

v0.1.1
  alert-dialog/package.json
Due: prettier --write

v0.1.1
  packages/alert-dialog/package.json
Due: prettier --write

v0.1.1
  packages/toast/package.json
Due: prettier --write

v0.1.1
  toast/package.json
Due: prettier --write

v0.1.1
  modal/package.json
Due: prettier --write

v0.1.1
  packages/modal/package.json
Due: prettier --write

feat: updated logo in Readme file
  README.md
Due: prettier --write

v0.1.2
  toast/package.json
Due: prettier --write

v0.1.2
  packages/toast/package.json
Due: prettier --write

fix: avoid keyboard api added
  example/storybook/src/components/Toast/Basic.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed unwanted character
  example/storybook/src/api/Specificity/index.stories.mdx
Due: none

v0.1.1
  packages/provider/package.json
Due: prettier --write

v0.1.1
  provider/package.json
Due: prettier --write

feat: basic
  example/storybook/package.json
  example/storybook/src/components/Icons/Icons/Arrow.tsx
  example/storybook/src/components/styled-components/icon/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button group
  example/storybook/src/components/Button/Button.stories.tsx
  example/storybook/src/components/Button/ButtonGroup.stories.tsx
  example/storybook/src/components/Button/ButtonGroup.tsx
  example/storybook/src/components/styled-components/button/GroupHSpacer.tsx
  example/storybook/src/components/styled-components/button/GroupVSpacer.tsx
  example/storybook/src/components/styled-components/button/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: resolve props bug not resolving
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: resolve props bug not resolving
  yarn.lock
Due: none

v0.2.12
  packages/react/package.json
Due: prettier --write

fix: plugin order
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

feat: plugin introduction
  example/storybook/package.json
  example/storybook/src/plugins/Introduction/index.stories.mdx
  yarn.lock
Due: prettier --write

fix: styles
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/components/Modal/Modal.stories.tsx
  example/storybook/src/components/Modal/Modal.tsx
  example/storybook/src/components/styled-components/modal/CloseButton.tsx
  example/storybook/src/components/styled-components/modal/Header.tsx
  example/storybook/src/components/styled-components/select/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: meta title and description
  example/storybook/src/plugins/Introduction/index.stories.mdx
Due: none

fix: babel plugin with new api
  example/expo-app/.gitignore
  example/expo-app/App.tsx
  example/expo-app/app.json
  example/expo-app/assets/adaptive-icon.png
  example/expo-app/assets/favicon.png
  example/expo-app/assets/icon.png
  example/expo-app/assets/splash.png
  example/expo-app/babel.config.js
  example/expo-app/dank.config.ts
  example/expo-app/index.js
  example/expo-app/metro.config.js
  example/expo-app/package.json
  example/expo-app/tsconfig.json
  example/expo-app/webpack.config.js
  packages/babel-plugin-styled-resolver/src/index.js
  packages/react/src/stableHash.ts
  packages/react/src/styled.tsx
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.0
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

v0.2.13
  packages/react/package.json
Due: prettier --write

fix: input
  example/storybook/src/components/Input/Input.tsx
  example/storybook/src/components/styled-components/input/Input.tsx
  example/storybook/src/components/styled-components/input/Root.tsx
  example/storybook/src/components/styled-components/progress/Root.tsx
  example/storybook/src/components/styled-components/select/Root.tsx
  example/storybook/src/components/styled-components/switch/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated texts
  example/storybook/src/advanced/Architecture/index.stories.mdx
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
  example/storybook/src/advanced/Specificity/index.stories.mdx
  example/storybook/src/api/DescendantsStyles/index.stories.mdx
  example/storybook/src/api/PlatformBasedStyles/index.stories.mdx
  example/storybook/src/api/PropertyResolver/index.stories.mdx
  example/storybook/src/api/UtilityFunctions/index.stories.mdx
  example/storybook/src/api/Variants/index.stories.mdx
  example/storybook/src/configuration/ThemeTokens/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/Styled/index.stories.mdx
  example/storybook/src/overview/Introduction/index.stories.mdx
  example/storybook/src/overview/Performance/index.stories.mdx
Due: none

feat: replaced text
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: menu
  example/storybook/src/components/styled-components/menu/Content.tsx
  example/storybook/src/components/styled-components/menu/GroupTitle.tsx
  example/storybook/src/components/styled-components/menu/Item.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.1
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

feat: added the content removed by mistake
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: babel plugin with new api
  example/expo-app/App.tsx
  example/expo-app/package.json
  example/expo-app/tsconfig.json
  packages/babel-plugin-styled-resolver/src/index.js
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.2
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

feat: design changes for select, input, text area
  example/storybook/src/components/TextArea/TextArea.tsx
  example/storybook/src/components/styled-components/input/Root.tsx
  example/storybook/src/components/styled-components/select/Root.tsx
  example/storybook/src/components/styled-components/textarea/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: designs
  example/storybook/src/components/Link/Link.tsx
  example/storybook/src/components/Menu/ComplexMenuGroup.tsx
  example/storybook/src/components/Menu/MenuGroup.tsx
  example/storybook/src/components/Modal/Modal.tsx
  example/storybook/src/components/Pressable/Pressable.tsx
  example/storybook/src/components/Radio/Radio.tsx
  example/storybook/src/components/Radio/RadioGroup.tsx
  example/storybook/src/components/Text/Text.tsx
  example/storybook/src/components/styled-components/icon/Root.tsx
  example/storybook/src/components/styled-components/link/Root.web.tsx
  example/storybook/src/components/styled-components/menu/GroupTitle.tsx
  example/storybook/src/components/styled-components/modal/CloseButton.tsx
  example/storybook/src/components/styled-components/radio/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: push
  example/storybook/src/hooks/useDarkMode.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: input
  example/storybook/src/components/styled-components/input/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
