Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

chore: @gluestack-ui/utils version bump to 0.1.8
  button/CHANGELOG.md
  button/package.json
  utils/CHANGELOG.md
  utils/package.json
Due: prettier --write

chore: @gluestack-ui/utils version bump to 0.1.8
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix: composition resolution for passing props
  example/storybook/.ondevice/storybook.requires.js
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: refactor code
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.32-alpha.0
  packages/react/package.json
Due: prettier --write

feat: ui-example
  package.json
  packages/react/src/styled.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button link variant styling fix
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: modal docs, examples
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

fix: example wrapper remove
  example/storybook/src/components/Layout/Box/index.stories.mdx
Due: none

fix: docs wrapper remove
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: folder name
  example/storybook/src/components/Forms/Textarea/Textarea.stories.tsx
  example/storybook/src/components/Forms/Textarea/Textarea.tsx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes hex code in secondary,error,sucess
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: fixed
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
Due: none

fix: styling
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/ui-components/Menu/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Menu/styled-components/Item.tsx
  example/storybook/src/ui-components/Menu/styled-components/Item.web.tsx
  example/storybook/src/ui-components/Menu/styled-components/ItemLabel.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: menu story fix
  example/storybook/src/components/Overlay/Menu/Menu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed extra button in story
  example/storybook/src/components/Overlay/Menu/Menu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated test snapshot for button
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
Due: none

fix: perf fixes
  packages/react/src/styled.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: toast
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

fix: typing updated
  packages/toast/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing updated
  toast/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update snapshot
  example/storybook/junit.xml
Due: none

fix: update snapshot
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
Due: none

feat: note for switch
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none

fix: example
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

fix: example
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

fix: docs updated
  example/storybook/src/more/Roadmap/index.stories.mdx
Due: none

fix: styling
  example/storybook/src/ui-components/AlertDialog/styled-components/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/AlertDialog/styled-components/Body.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/AlertDialog/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/AlertDialog/styled-components/Footer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/AlertDialog/styled-components/Header.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Modal/styled-components/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Modal/styled-components/Body.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Modal/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
