Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: theme configurator styled
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/TokenGenrationComponet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: table docs rsc note
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
Due: none

fix: add roboto font family in installation page config file
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
Due: none

fix: rsc note in table, box, center, hstack, vstack, grid, heading, text, card components
  example/storybook-nativewind/src/components/Box/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Center/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
  example/storybook-nativewind/src/components/HStack/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Heading/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Text/index.nw.stories.mdx
  example/storybook-nativewind/src/components/VStack/index.nw.stories.mdx
Due: none

fix: replace phone number placeholder with 1234567890
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
Due: none

v1.1.23-alpha.0
  packages/themed/package.json
Due: prettier --write

v1.1.18-alpha.0
  packages/config/package.json
Due: prettier --write

fix: grid docs changes
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
Due: none

fix: ref attribute typing perf
  packages/styled/react/src/createStyled.ts
  packages/styled/react/src/index.ts
  packages/styled/react/src/styled.tsx
  packages/styled/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

1.0.55
  example/storybook-nativewind/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: font resolver mock library
  packages/styled/babel-plugin-styled-resolver/src/buildConfig.js
Due: eslint --quiet --fix, prettier --write

v1.0.7
  packages/styled/babel-plugin-styled-resolver/CHANGELOG.md
  packages/styled/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: style update
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/index.stories.mdx
Due: none

fix: renamed components
  example/storybook-nativewind/src/extra-components/nativewind/token-configurator/TokenConfigComponent.tsx
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/TokenGenrationComponet.tsx
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/index.themed.stories.mdx
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/TokenGenrationComponet.tsx
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: renamed components
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/index.themed.stories.mdx
Due: none

fix: renamed components
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/index.themed.stories.mdx
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/index.stories.mdx
Due: none

fix: renamed components
  example/storybook-nativewind/src/home/theme-configuration/theme-configurator/TokenGenrationComponet.tsx
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/TokenGenrationComponet.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: renamed components
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/index.stories.mdx
Due: none

fix: linear-gradient nativewind
  example/storybook-nativewind/src/guides/more/Changelog/index.stories.mdx
  example/storybook-nativewind/src/guides/recipes/linear-gradient/index.nw.stories.mdx
Due: none

fix: renamed components
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/ThemeConfig.tsx
  example/storybook/src/ui/home/theme-configuration/theme/theme-configurator/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: theme typings
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.14-alpha.1
  packages/nativewind/utils/package.json
Due: prettier --write

v1.0.14
  packages/nativewind/utils/package.json
Due: prettier --write

v1.0.56
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write
