Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

v0.1.6
  packages/react/package.json
Due: prettier --write

fix: crash issue when config is empty
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.7
  packages/react/package.json
Due: prettier --write

fix: fixed support for colormode in native
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.tsx
  example/storybook/src/api/ColorModeBasedStyles/ColorMode.web.tsx
  example/storybook/src/components/Wrapper.tsx
  packages/react/src/StyledProvider.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added components
  example/storybook/babel.config.js
  example/storybook/src/components/Button/Button.tsx
  example/storybook/src/components/Button/styled/StyledButtonGroup.tsx
  example/storybook/src/components/Button/styled/StyledButtonGroupSpacer.tsx
  example/storybook/src/components/Button/styled/StyledButtonSpinner.tsx
  example/storybook/src/components/Button/styled/StyledButtonText.tsx
  example/storybook/src/components/Button/styled/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: edge cases where babel plugin would fail
  example/babel-plugin-styled-resolver-expo/App.tsx
  example/babel-plugin-styled-resolver-expo/Button5.tsx
  example/babel-plugin-styled-resolver-expo/babel.config.js
  packages/babel-plugin-styled-resolver/src/index.js
  packages/benchmark-next/bench/change-a-variant/ui-styled.tsx
  packages/benchmark-next/bench/create-and-mount-button/react-native-web.tsx
  packages/benchmark-next/bench/create-and-mount-button/ui-styled.tsx
  packages/react/src/isWeb.ts
  packages/react/src/isWeb.web.ts
  packages/react/src/resolver.ts
  packages/react/src/styled.tsx
  packages/react/src/useSxPropsStyleTagInjector.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sx resolution
  packages/react/src/injectInStyle.web.ts
  packages/react/src/styled.tsx
  packages/react/src/useSxPropsStyleTagInjector.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.8
  packages/react/package.json
Due: prettier --write

fix: package
  packages/babel-plugin-styled-resolver/package.json
  packages/benchmark-native/package.json
  packages/benchmark-next/package.json
  packages/color-mode/package.json
  packages/config/package.json
  packages/convert-utility-to-sx/package.json
  packages/css-injector/package.json
  packages/cssify/package.json
  packages/media-query/package.json
  packages/react/package.json
Due: prettier --write

v0.1.10
  packages/react/package.json
Due: prettier --write

v0.1.1
  packages/css-injector/package.json
Due: prettier --write

v0.1.2
  packages/css-injector/package.json
Due: prettier --write

v0.1.3
  packages/css-injector/package.json
Due: prettier --write

v0.1.4
  packages/cssify/package.json
Due: prettier --write

v0.1.1
  packages/color-mode/package.json
Due: prettier --write

v0.1.1
  packages/media-query/package.json
Due: prettier --write

v0.1.1
  packages/convert-utility-to-sx/package.json
Due: prettier --write

v0.1.11
  packages/react/package.json
Due: prettier --write

v0.1.2
  packages/color-mode/package.json
Due: prettier --write

v0.1.2
  packages/convert-utility-to-sx/package.json
Due: prettier --write

v0.1.4
  packages/css-injector/package.json
Due: prettier --write

v0.1.5
  packages/cssify/package.json
Due: prettier --write

v0.1.2
  packages/media-query/package.json
Due: prettier --write

v0.1.12
  packages/react/package.json
Due: prettier --write

fix: added check for document
  packages/react/src/useSxPropsStyleTagInjector.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated updateCSSStyleInOrderedResolved
  packages/react/src/useSxPropsStyleTagInjector.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: build fixes
  packages/alert-dialog/tsconfig.json
  yarn.lock
Due: prettier --write

fix: build fixes
  alert-dialog/tsconfig.json
Due: prettier --write

feat: added 6 files
  example/storybook/src/api/OverridingStyles/index.stories.mdx
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/api/VariantsAndSizes/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/Styled/index.stories.mdx
  example/storybook/src/getting-started/StyledProvider/index.stories.mdx
Due: none

fix: build fixes
  example/storybook/src/components/Actionsheet/Actionsheet.stories.tsx
  example/storybook/src/components/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Actionsheet/styled-component/StyledActionsheetBackdrop.tsx
  example/storybook/src/components/Actionsheet/styled-component/StyledActionsheetContent.tsx
  example/storybook/src/components/Actionsheet/styled-component/StyledActionsheetDragIndicator.tsx
  example/storybook/src/components/Actionsheet/styled-component/StyledActionsheetIndicatorWrapper.tsx
  example/storybook/src/components/Actionsheet/styled-component/StyledActionsheetItem.tsx
  example/storybook/src/components/Actionsheet/styled-component/StyledActionsheetItemText.tsx
  example/storybook/src/components/Actionsheet/styled-component/index.tsx
  example/storybook/src/components/Button/Button.tsx
  example/storybook/src/components/Button/styled-component/Group.tsx
  example/storybook/src/components/Button/styled-component/GroupSpacer.tsx
  example/storybook/src/components/Button/styled-component/Spinner.tsx
  example/storybook/src/components/Button/styled-component/Text.tsx
  example/storybook/src/components/Button/styled-component/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: overriding styling
  example/storybook/src/api/OverridingStyles/index.stories.mdx
Due: none

feat: platform based styling
  example/storybook/src/api/PlatformBasedStyles/index.stories.mdx
Due: none

feat: colormode docs
  example/storybook/src/api/ColorModeBasedStyles/index.stories.mdx
Due: none

feat: descendants
  example/storybook/src/api/ContextBasedStyles/index.stories.mdx
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.stories.tsx
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  example/storybook/src/api/DescendantsStyles/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: state base style
  example/storybook/src/api/StateBasesStyles/index.stories.mdx
Due: none

feat: docs for advanced
  example/storybook/src/advanced/BabelPlugins/BabelResolverSteps.png
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
  example/storybook/src/advanced/TypeScript/index.stories.mdx
  example/storybook/src/api/PropertyResolver/index.stories.mdx
  example/storybook/src/configuration/SSR/index.stories.mdx
  example/storybook/src/configuration/ThemeTokens/index.stories.mdx
Due: none
