Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: docs of tab component
  example/storybook-nativewind/src/components/Tabs/index.stories.mdx
Due: none

fix: updated grid hook path
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
  example/storybook-nativewind/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated config
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: docs updated
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/cli/index.nw.stories.mdx
Due: none

feat: refactor
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: tailwindcss/plugin import
  packages/nativewind/utils/tailwind-plugin/index.js
  packages/nativewind/utils/tailwind-plugin/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typescript issues with v4.1
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert-dialog/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/avatar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/select/select-actionsheet.tsx
  example/storybook-nativewind/src/core-components/nativewind/slider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/spinner/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/table/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version bump to 1.0.25
  packages/nativewind/utils/cssInterop/index.d.ts
  packages/nativewind/utils/cssInterop/index.js
  packages/nativewind/utils/cssInterop/index.ts
  packages/nativewind/utils/cssInterop/index.web.d.ts
  packages/nativewind/utils/cssInterop/index.web.js
  packages/nativewind/utils/cssInterop/index.web.ts
  packages/nativewind/utils/package.json
  packages/nativewind/utils/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added support for useRNModal in alert-dialog and some UI fixes in components
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/modal/index.tsx
  packages/unstyled/alert-dialog/src/AlertDialog.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: react-native-svg version to latest because it was breaking in android
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

chore: patch bump of alert-dialog
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/alert-dialog/CHANGELOG.md
  packages/unstyled/alert-dialog/package.json
Due: prettier --write

fix: icon issue in web
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: slider issue
  example/storybook-nativewind/src/core-components/nativewind/slider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added note
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/cli/index.nw.stories.mdx
Due: none

fix: added size='none' and border width calculation issue in grid
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/image/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: inputField examples
  example/storybook-nativewind/src/components/FormControl/FormControl.tsx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/Input.tsx
  example/storybook-nativewind/src/components/Input/InputIcon.tsx
  example/storybook-nativewind/src/extra-components/nativewind/Demos/FormControlDemo.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default modal component example
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
Due: none

fix: default tooltip example, breaking on native
  example/storybook-nativewind/src/components/Tooltip/index.nw.stories.mdx
Due: none

fix: default tooltip and modal examples, breaking on native
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Tooltip/index.nw.stories.mdx
Due: none

fix: added support for the nativewind latest version to overlay components
  example/storybook-nativewind/src/core-components/nativewind/alert-dialog/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/drawer/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/modal/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/tooltip/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added support for the nativewind latest version to overlay components
  example/storybook-nativewind/src/core-components/nativewind/modal/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover content for natie devices
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added minor fixes for comps
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/avatar/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/image/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/textarea/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: reset popover changes
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: made requested fixes
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/textarea/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor changes for input
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: new dependency
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

feat: removed cssInterop from components
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/pressable/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/tooltip/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: review fix
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: switch and divider
  example/storybook-nativewind/src/core-components/nativewind/divider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/switch/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: switch and divider
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: table component
  example/storybook-nativewind/src/core-components/nativewind/table/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/table/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: toast component
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed the storybook implementation
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/package.json
  example/storybook-nativewind/public/images/codeblock/assets/andriod-frame.svg
  example/storybook-nativewind/public/images/codeblock/assets/dark-android-frame.png
  example/storybook-nativewind/public/images/codeblock/assets/dark-iphone-frame.png
  example/storybook-nativewind/public/images/codeblock/assets/iphone-frame.svg
  example/storybook-nativewind/src/components/HStack/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/CodePreview.tsx
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/ComponentRenderer.tsx
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/controls/InputControl.tsx
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/controls/SelectControl.tsx
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/controls/SwitchControl.tsx
  example/storybook-nativewind/src/extra-components/design-system/icons/index.tsx
  example/storybook-nativewind/src/extra-components/storybook-components/useMode.tsx
  example/storybook-nativewind/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs(tooling setup): update index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/tooling-setup/index.nw.stories.mdx
Due: none

fix: added fix for overlay components
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/CodePreview.tsx
  example/storybook-nativewind/src/extra-components/design-system/CodePreview/ComponentRenderer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dependancy correction for cli
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

fix: dependancy issue react-native-svg
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write
