Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

Update index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix a typo in compoundVariants
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: radio done no-ts
  src/components/Radio/index.tsx
  src/components/Radio/styled-components/Group.tsx
  src/components/Radio/styled-components/Icon.tsx
  src/components/Radio/styled-components/Indicator.tsx
  src/components/Radio/styled-components/Label.tsx
  src/components/Radio/styled-components/Root.tsx
  src/components/Radio/styled-components/Root.web.tsx
  src/components/Text/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: cards borderColor in getting started page
  example/storybook/src/getting-started/Installation/Card.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: input type added
  input/src/Input.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: passing resolved inline props
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.42
  packages/react/package.json
Due: prettier --write

fix: provider import
  README.md
Due: prettier --write

feat: new plugin architecture with animation plugin
  example/storybook/src/components/nb.config.ts
  example/storybook/src/plugins/AnimationPlugin/AnimationPlugin.tsx
  example/storybook/tsconfig.json
  packages/animation-plugin/src/index.tsx
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove hstack and vstack creator functions which were no required
  packages/themed/src/components/HStack/config.json
  packages/themed/src/components/HStack/index.tsx
  packages/themed/src/components/VStack/config.json
  packages/themed/src/components/VStack/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed unnecessary creator wrappers
  actionsheet/src/index.tsx
  hstack/src/index.ts
  spinner/src/index.tsx
  vstack/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.9
  spinner/package.json
Due: prettier --write

v0.1.10
  spinner/package.json
Due: prettier --write

v0.1.13
  input/package.json
Due: prettier --write

v0.1.10
  hstack/package.json
Due: prettier --write

v0.1.11
  vstack/package.json
Due: prettier --write

v0.1.11
  hstack/package.json
Due: prettier --write

v0.2.20
  actionsheet/package.json
Due: prettier --write

fix: removed unnecessary creator wrappers
  packages/themed/package.json
  packages/themed/src/components/HStack/config.json
  packages/themed/src/components/HStack/index.tsx
  packages/themed/src/components/VStack/config.json
  packages/themed/src/components/VStack/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: release new version
  example/storybook/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: icon ancestor style changes
  example/storybook/package.json
  packages/themed/src/components/Icons/styled-components/Root.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: support for plugin types
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: support for plugin types
  packages/animation-plugin/src/index.tsx
  packages/react/src/plugins/font-resolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: create styled type
  packages/react/src/createStyled.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.43
  packages/react/package.json
Due: prettier --write

v0.1.12
  packages/animation-plugin/package.json
  packages/animation-plugin/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: createIcon docs update
  example/storybook/src/components/MediaAndIcons/Icon/AllIcons.tsx
  example/storybook/src/components/MediaAndIcons/Icon/Icon.tsx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  packages/themed/src/components/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: as forwarder issue
  packages/react/src/AsForwarder.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.44-alpha.0
  packages/react/package.json
Due: prettier --write

fix: as forwarder type issue
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/AsForwarder.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.44
  packages/react/package.json
Due: prettier --write

feat: update to new version
  example/storybook/src/advanced/Animations/index.stories.mdx
  packages/themed/src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update to new version
  packages/themed/src/components/Button/styled-components/Root.tsx
  packages/themed/src/components/Slider/styled-components/Root.tsx
  packages/themed/src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: image component
  image/.npmignore
  image/CHANGELOG.md
  image/README.md
  image/babel.config.js
  image/package.json
  image/src/Image.tsx
  image/src/index.tsx
  image/src/types.ts
  image/tsconfig.json
  linear-gradient/README.md
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.45
  packages/react/package.json
Due: prettier --write

fix: revert plugin type
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing issue
  packages/themed/package.json
  packages/themed/src/components/Actionsheet/styled-components/Backdrop.tsx
  packages/themed/src/components/AlertDialog/styled-components/Backdrop.tsx
  packages/themed/src/components/AlertDialog/styled-components/Content.tsx
  packages/themed/src/components/Modal/styled-components/Backdrop.tsx
  packages/themed/src/components/Modal/styled-components/Content.tsx
  packages/themed/src/components/Popover/styled-components/Backdrop.tsx
  packages/themed/src/components/Popover/styled-components/Content.tsx
  packages/themed/src/components/Select/styled-components-actionsheet/Backdrop.tsx
  packages/themed/src/components/Tooltip/styled-components/Content.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing issue
  packages/themed/src/components/Icons/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added typings
  image/src/Image.tsx
  image/src/index.tsx
  image/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
