Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed hash generation of style
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.23
  packages/react/package.json
Due: prettier --write

fix: package json
  example/storybook/src/ui-components/AlertDialog/package.json
  example/storybook/src/ui-components/Avatar/package.json
  example/storybook/src/ui-components/Checkbox/package.json
  example/storybook/src/ui-components/Icons/package.json
  example/storybook/src/ui-components/VStack/package.json
Due: prettier --write

feat: actionsheet and menu
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Menu/Menu.tsx
  example/storybook/src/components/Menu/index.stories.mdx
  example/storybook/src/ui-components/Menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.8-alpha.1
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: added image popover docs
  example/storybook/.storybook/preview.js
  example/storybook/src/components/Image/Image.tsx
  example/storybook/src/components/Image/ImageSizes.tsx
  example/storybook/src/components/Image/index.stories.mdx
  example/storybook/src/components/Popover/MenuGroup.tsx
  example/storybook/src/components/Popover/Popover.tsx
  example/storybook/src/components/Popover/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: spacer fix
  example/storybook/src/components/Image/index.stories.mdx
  example/storybook/src/ui-components/VStack/styled-components/Spacer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: option to toggle resolution in babel
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

v0.2.8
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

feat: latest components up
  example/storybook/src/components/Select/Select.tsx
  example/storybook/src/components/Select/index.stories.mdx
  example/storybook/src/components/Tabs/Tabs.tsx
  example/storybook/src/components/Tabs/index.stories.mdx
  example/storybook/src/components/styled-components/provider/index.tsx
  example/storybook/src/components/styled-components/tabs/index.tsx
  example/storybook/src/components/styled-components/transitions/index.tsx
  example/storybook/src/ui-components/Tabs/index.tsx
  example/storybook/src/ui-components/Tabs/package.json
  example/storybook/src/ui-components/Tabs/styled-components/Root.tsx
  example/storybook/src/ui-components/Tabs/styled-components/Tab.tsx
  example/storybook/src/ui-components/Tabs/styled-components/TabIcon.tsx
  example/storybook/src/ui-components/Tabs/styled-components/TabList.tsx
  example/storybook/src/ui-components/Tabs/styled-components/TabPanel.tsx
  example/storybook/src/ui-components/Tabs/styled-components/TabPanels.tsx
  example/storybook/src/ui-components/Tabs/styled-components/TabTitle.tsx
  example/storybook/src/ui-components/Tabs/styled-components/index.tsx
  example/storybook/src/ui-components/index.tsx
  example/storybook/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fab done
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Fab/Fab.tsx
  example/storybook/src/components/Fab/index.stories.mdx
  example/storybook/src/ui-components/Fab/styled-components/Label.tsx
  example/storybook/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added iconbutton docs
  example/storybook/src/components/IconButton/index.stories.mdx
  example/storybook/src/components/Provider.tsx
  example/storybook/src/components/VStack/index.stories.mdx
  example/storybook/src/ui-components/VStack/styled-components/Spacer.tsx
  example/storybook/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: alert
  example/storybook/src/components/Alert/index.stories.mdx
  example/storybook/src/components/Avatar/index.stories.mdx
  example/storybook/src/components/Badge/index.stories.mdx
  example/storybook/src/components/Box/index.stories.mdx
  example/storybook/src/components/Center/index.stories.mdx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Divider/index.stories.mdx
Due: none

fix: tooltip
  example/storybook/src/ui-components/Tooltip/styled-components/Arrow.tsx
  example/storybook/src/ui-components/Tooltip/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu import fix
  example/storybook/src/components/Menu/index.stories.mdx
Due: none

feat: option to toggle resolution in babel
  example/babel-plugin-styled-resolver-expo/babel.config.js
  packages/babel-plugin-styled-resolver/src/index.js
  packages/react/src/index.ts
  packages/react/src/styled.tsx
  packages/react/src/updateCSSStyleInOrderedResolved.ts
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.24
  packages/react/package.json
Due: prettier --write

fix: installation docs
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

feat: logo high res
  img/dank-logo-readme.png
  yarn.lock
Due: none

fix: update-docs
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Menu/index.stories.mdx
Due: none

Update README.md
  README.md
Due: prettier --write

fix: storybook
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/src/ui-components/Select/index.tsx
  example/storybook/src/ui-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.9
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: storybook popover
  example/storybook/src/components/Popover/Popover.tsx
  example/storybook/src/ui-components/Popover/styled-components/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal and alert dialog
  example/storybook/src/components/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/AlertDialog/index.stories.mdx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Modal/Modal.tsx
  example/storybook/src/components/Modal/MultipleModal.tsx
  example/storybook/src/components/Modal/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: renamed package json
  icon/src/SVGIcon.tsx
  menu/src/MenuItem.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: alert pushed
  example/storybook/src/components/Alert/Alert.tsx
  example/storybook/src/components/Alert/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: rename gluestack config file
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: gluestack config path
  example/storybook/src/components/Wrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: link component done
  example/storybook/.storybook/preview.js
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/AlertDialog/index.stories.mdx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Fab/index.stories.mdx
  example/storybook/src/components/HStack/index.stories.mdx
  example/storybook/src/components/IconButton/index.stories.mdx
  example/storybook/src/components/Input/index.stories.mdx
  example/storybook/src/components/Link/Link.tsx
  example/storybook/src/components/Link/index.stories.mdx
  example/storybook/src/components/Menu/index.stories.mdx
  example/storybook/src/components/Modal/index.stories.mdx
  example/storybook/src/components/Radio/index.stories.mdx
  example/storybook/src/components/Select/index.stories.mdx
  example/storybook/src/components/TextArea/index.stories.mdx
  example/storybook/src/components/Toast/index.stories.mdx
  example/storybook/src/components/VStack/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: refactored a lot of components
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/Avatar/index.stories.mdx
  example/storybook/src/components/Badge/index.stories.mdx
  example/storybook/src/components/Box/index.stories.mdx
  example/storybook/src/components/Center/index.stories.mdx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Divider/index.stories.mdx
  example/storybook/src/components/Fab/index.stories.mdx
  example/storybook/src/components/FormControl/index.stories.mdx
  example/storybook/src/components/HStack/index.stories.mdx
  example/storybook/src/components/Heading/index.stories.mdx
  example/storybook/src/components/Icon/AllIcons.tsx
  example/storybook/src/components/Icon/Icons.stories.tsx
  example/storybook/src/components/Icon/index.stories.mdx
  example/storybook/src/components/Icons/index.stories.mdx
  example/storybook/src/components/Image/index.stories.mdx
  example/storybook/src/components/Input/index.stories.mdx
  example/storybook/src/components/Menu/index.stories.mdx
  example/storybook/src/components/Modal/index.stories.mdx
  example/storybook/src/components/Pressable/index.stories.mdx
  example/storybook/src/components/Progress/index.stories.mdx
  example/storybook/src/components/Provider.tsx
  example/storybook/src/components/Provider/index.stories.mdx
  example/storybook/src/components/Radio/index.stories.mdx
  example/storybook/src/components/Select/index.stories.mdx
  example/storybook/src/components/Slider/index.stories.mdx
  example/storybook/src/components/Spinner/index.stories.mdx
  example/storybook/src/components/Switch/index.stories.mdx
  example/storybook/src/components/Tabs/index.stories.mdx
  example/storybook/src/components/Text/index.stories.mdx
  example/storybook/src/components/TextArea/index.stories.mdx
  example/storybook/src/components/Toast/index.stories.mdx
  example/storybook/src/components/VStack/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: table text issue
  example/storybook/package.json
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/Alert/index.stories.mdx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Fab/index.stories.mdx
Due: prettier --write

feat: alert component
  example/storybook/src/components/Alert/index.stories.mdx
Due: none

feat: alert fixed
  example/storybook/src/components/Alert/index.stories.mdx
Due: none

feat: icon push
  example/storybook/src/components/Icon/index.stories.mdx
Due: none

feat: babel plugin fix for gluestack config
  example/babel-plugin-styled-resolver-expo/App.web.tsx
  example/babel-plugin-styled-resolver-expo/babel.config.js
  example/babel-plugin-styled-resolver-expo/gluestack-ui.config.ts
  example/babel-plugin-styled-resolver-expo/src/styled.config.ts
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.10
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: fixes
  example/storybook/.storybook/preview.js
  example/storybook/src/components/Checkbox/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

feat: checkbox fixed
  example/storybook/src/components/Checkbox/index.stories.mdx
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
