Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: vs code extensions docs
  example/storybook/public/images/vscode-extensions.gif
  example/storybook/src/getting-started/vscode-extensions/index.stories.mdx
Due: none

fix: vs code extensions docs
  example/storybook/src/getting-started/Installation/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added gif
  example/storybook/src/getting-started/vscode-extensions/index.stories.mdx
Due: none

Update index.stories.mdx
  example/storybook/src/getting-started/vscode-extensions/index.stories.mdx
Due: none

feat: updated babel plugin docs
  example/storybook/public/assets/DarkModeBabel.png
  example/storybook/public/assets/LightModeBabel.png
  example/storybook/public/assets/PerformanceScreenshot.png
  example/storybook/src/assets/DarkModeBabel.png
  example/storybook/src/assets/LightModeBabel.png
  example/storybook/src/assets/PerformanceScreenshot.png
  example/storybook/src/production-optimizations/babel-plugin/index.stories.mdx
Due: none

fix: screenshot path changed
  example/storybook/public/assets/PerformanceScreenshot.png
  example/storybook/public/images/DarkModeBabel.png
  example/storybook/public/images/LightModeBabel.png
  example/storybook/src/production-optimizations/babel-plugin/index.stories.mdx
Due: none

fix: content updated
  example/storybook/src/production-optimizations/babel-plugin/index.stories.mdx
Due: none

feat: input styling
  src/components/Input/styled-components/Input.tsx
  src/components/Input/styled-components/Root.tsx
  src/components/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: theme support for ios and android
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: babel docs
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
Due: none

v0.2.32-alpha.0
  packages/react/package.json
Due: prettier --write

feat: fixes
  example/storybook/src/components/Typography/Heading/Heading.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed ts ignore
  example/storybook/src/components/Forms/Slider/Slider.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: style version updated
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  example/ui-examples-babel/package.json
  example/ui-examples-babel/yarn.lock
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: merge conflict resolved
  packages/react/package.json
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated version of release 0.1.20
  package.json
  packages/themed/package.json
  yarn.lock
Due: prettier --write

feat: updated version of release 0.1.20
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

feat: removed ts ignore
  example/storybook/src/components/MediaAndIcons/Icon/AllIcons.tsx
  example/storybook/src/components/MediaAndIcons/Icon/Icon.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: wip
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.20-alpha.0
  packages/themed/package.json
Due: prettier --write

feat: functional component to arrow function component
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Feedback/Alert/Variants.tsx
  example/storybook/src/components/MediaAndIcons/Icon/Icon.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixes for vscode extension
  example/storybook/src/components/Forms/Button/ButtonLoading.tsx
  example/storybook/src/components/Layout/LinearGradient/LinearGradientCard.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: assignment expression case
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: remove log
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.3-alpha.0
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

feat: add npm command box
  example/storybook/src/getting-started/Installation/Card1.tsx
  example/storybook/src/getting-started/Installation/Card2.tsx
  example/storybook/src/getting-started/Installation/Copied.tsx
  example/storybook/src/getting-started/Installation/Copy.tsx
  example/storybook/src/getting-started/Installation/Tilde.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added feature for composed component
  packages/animation-plugin/src/index.tsx
  packages/react/src/plugins/font-resolver.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.33-alpha.0
  packages/react/package.json
Due: prettier --write

v0.1.10
  packages/animation-plugin/package.json
Due: prettier --write

fix: composed component
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/animation-plugin/src/index.tsx
  packages/react/src/plugins/font-resolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.33
  packages/react/package.json
Due: prettier --write

v0.1.11
  packages/animation-plugin/package.json
Due: prettier --write

fix: icon size issues
  example/storybook/package.json
  packages/themed/package.json
  packages/themed/src/components/Actionsheet/styled-components/Icon.tsx
  packages/themed/src/components/Alert/styled-components/Icon.tsx
  packages/themed/src/components/Badge/styled-components/Icon.tsx
  packages/themed/src/components/Button/styled-components/Icon.tsx
  packages/themed/src/components/Fab/styled-components/Icon.tsx
  packages/themed/src/components/FormControl/styled-components/ErrorIcon.tsx
  packages/themed/src/components/Icons/index.tsx
  packages/themed/src/components/Icons/styled-components/Root.tsx
  packages/themed/src/components/Icons/styled-components/index.tsx
  packages/themed/src/components/Select/styled-components-actionsheet/Icon.tsx
  packages/themed/src/components/Select/styled-components/Icon.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version updated
  example/storybook/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: version bump @gluestack-ui/input to 0.1.11
  input/CHANGELOG.md
  input/package.json
Due: prettier --write

fix: version issue of react native svg
  icon/package.json
Due: prettier --write

fix: state passing props issue
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.34
  packages/react/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
