Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pckg readme and pckgjson update
  alert/README.md
  alert/package.json
  popover/README.md
Due: prettier --write

feat: pckg readme and pckgjson update
  packages/alert/README.md
  packages/alert/package.json
  packages/popover/README.md
Due: prettier --write

Revert "Fix/context"
  packages/react/src/StyledProvider.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: readme keyword and description of menu
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  packages/fab/README.md
  packages/menu/README.md
  packages/menu/package.json
  packages/menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: readme keyword and description of menu
  fab/README.md
  menu/README.md
  menu/package.json
  menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed pointer events issues
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
  packages/toast/src/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed pointer events issues
  toast/src/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update version
  example/babel-plugin-styled-resolver-expo/package.json
  example/expo-app/package.json
  example/next/package.json
  example/storybook/package.json
  packages/benchmark-next/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: readme keyword and description of actionsheet
  packages/actionsheet/README.md
  packages/actionsheet/package.json
Due: prettier --write

fix: readme keyword and description of actionsheet
  actionsheet/README.md
  actionsheet/package.json
Due: prettier --write

fix: readme keyword and description of select
  packages/select/README.md
  packages/select/package.json
Due: prettier --write

fix: readme keyword and description of select
  select/README.md
  select/package.json
Due: prettier --write

feat: added readme
  packages/toast/README.md
Due: prettier --write

feat: added readme
  toast/README.md
Due: prettier --write

feat: added readme and changed names
  icon/src/SVGIcon.tsx
  provider/README.md
  provider/src/Provider.tsx
  provider/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added readme and changed names
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/ui-components/Provider/index.tsx
  packages/icon/src/SVGIcon.tsx
  packages/provider/README.md
  packages/provider/src/Provider.tsx
  packages/provider/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pckg readme and pckgjson update
  alert/README.md
  button/README.md
  checkbox/README.md
  divider/README.md
  link/README.md
  popover/README.md
  pressable/README.md
  radio/README.md
  spinner/README.md
  switch/README.md
Due: prettier --write

feat: pckg readme and pckgjson update
  packages/alert/README.md
  packages/button/README.md
  packages/checkbox/README.md
  packages/divider/README.md
  packages/link/README.md
  packages/popover/README.md
  packages/pressable/README.md
  packages/radio/README.md
  packages/spinner/README.md
  packages/switch/README.md
Due: prettier --write

fix: "changes in styling"
  example/storybook/src/components/Feedback/Alert/Alert.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes in styling
  example/storybook/src/ui-components/Alert/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes in styling"
  example/storybook/src/ui-components/Alert/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes in styling"
  example/storybook/src/ui-components/Alert/styled-components/Text.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes in docs"
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
Due: none

feat: package json update
  provider/package.json
  toast/package.json
Due: prettier --write

feat: package json update
  packages/provider/package.json
  packages/toast/package.json
Due: prettier --write

fix: changes in style
  example/storybook/src/components/Feedback/Alert/Variants.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: merge confglict
  example/babel-plugin-styled-resolver-expo/package.json
  example/expo-app/package.json
  example/next/package.json
  example/storybook/package.json
  packages/benchmark-next/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

chore: @gluestack-ui/overlay version bump to 0.1.3
  packages/overlay/CHANGELOG.md
  packages/overlay/package.json
Due: prettier --write

chore: @gluestack-ui/overlay version bump to 0.1.3
  overlay/CHANGELOG.md
  overlay/package.json
Due: prettier --write

chore: @gluestack-ui/form-control version bump to 0.1.4
  packages/form-control/CHANGELOG.md
  packages/form-control/package.json
Due: prettier --write

chore: @gluestack-ui/form-control version bump to 0.1.4
  form-control/CHANGELOG.md
  form-control/package.json
Due: prettier --write

Merge pull request #264 from gluestack/fix/context-id
  example/babel-plugin-styled-resolver-expo/package.json
  example/expo-app/package.json
  example/next/package.json
  example/storybook/package.json
  packages/benchmark-next/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/StyledProvider.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: merge confglict
  packages/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: context id
  packages/react/src/StyledProvider.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove provider id
  packages/react/src/StyledProvider.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: export context provider
  example/storybook/src/ui-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changelog
  packages/react/CHANGELOG.md
Due: prettier --write

chore: update version
  packages/react/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
