Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

refactor: update publish workflow to build packages in dependency order and verify workspace dependencies
  .github/workflows/publish-production.yml
Due: none

refactor: simplify publish workflow to build all packages at once and enhance verification for core package dependencies
  .github/workflows/publish-production.yml
Due: none

fix: update publish workflow to use changeset for alpha tag publishing
  .github/workflows/publish-production.yml
Due: none

chore: bump version to 3.0.0-alpha.4 for @gluestack-ui/core, update changelog, and add new changeset for beige-lights-shop
  .changeset/pre.json
  .github/workflows/publish-production.yml
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

chore: add changeset for patch release of @gluestack-ui/core
  .changeset/green-rockets-cry.md
Due: prettier --write

chore: update package versions to 3.0.0-alpha.5 [skip ci]
  .changeset/pre.json
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

chore: test workflow changes
  .github/workflows/publish-production.yml
Due: none

chore: fixed packages version from @alpha to exact version while installing
  apps/kitchen-sink/package.json
  apps/starter-kit-expo/package.json
  apps/starter-kit-next/package.json
  apps/website/package.json
  apps/website/yarn.lock
Due: prettier --write

fix: update Card1 component links to use dynamic GitHub branch and disable universal starter kit link
  src/docs-components/quick-start-components/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update upgrade command in documentation to use alpha version
  src/docs/guides/more/upgrade-to-v3/index.mdx
  src/docs/home/overview/introduction/index.mdx
Due: none

test bottomsheet
  apps/website/app/layout.tsx
  apps/website/app/page.tsx
  apps/website/components/page-components/all-components/bottomsheet/index.tsx
  src/components/ui/bottomsheet/examples/basic/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update package versions in upgrade command to specific alpha releases
  packages/gluestack-ui/src/commands/upgrade.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: add package-lock.json and update yarn.lock with npm registry URLs
  packages/gluestack-core/src/icon/creator/createIcon/index.tsx
  packages/gluestack-core/src/icon/creator/createIcon/index.web.tsx
  packages/gluestack-core/src/icon/creator/primitiveIcon/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove color prop from FabIcon in with-icon example template
  src/components/ui/fab/examples/with-icon/template.handlebars
Due: none

fix: update Open Graph image URLs to point to nightly environment
  apps/website/app/blogs/layout.tsx
  apps/website/app/cookie-policy/layout.tsx
  apps/website/app/page.tsx
  apps/website/app/privacy-policy/layout.tsx
  apps/website/app/support/layout.tsx
  apps/website/app/terms-of-service/layout.tsx
  apps/website/app/ui/docs/layout.tsx
  apps/website/components/custom/meta/index.tsx
  apps/website/public/images/og-image.png
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update Open Graph image to improve social media sharing
  apps/website/public/images/og-image.png
Due: none

chore: update llms.txt to reflect version change from v2 to v3 and enhance migration information
  apps/website/public/llms.txt
Due: none

Fix equality check
  apps/starter-kit-expo/app/_layout.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Break up the gluestack-ui/util/index.ts file into domain-grouped files
  .vscode/settings.json
  packages/gluestack-ui/src/commands/add.ts
  packages/gluestack-ui/src/commands/init.ts
  packages/gluestack-ui/src/config.ts
  packages/gluestack-ui/src/dependencies.ts
  packages/gluestack-ui/src/util/add/index.ts
  packages/gluestack-ui/src/util/check-component-dependencies.ts
  packages/gluestack-ui/src/util/clone-repository-at-root.ts
  packages/gluestack-ui/src/util/config/expo-config-helper.ts
  packages/gluestack-ui/src/util/config/index.ts
  packages/gluestack-ui/src/util/config/next-config-helper.ts
  packages/gluestack-ui/src/util/config/react-native-config-helper.ts
  packages/gluestack-ui/src/util/file-operations.ts
  packages/gluestack-ui/src/util/get-components.ts
  packages/gluestack-ui/src/util/get-confirmation.ts
  packages/gluestack-ui/src/util/index.ts
  packages/gluestack-ui/src/util/init/index.ts
  packages/gluestack-ui/src/util/init/modify-layout.ts
  packages/gluestack-ui/src/util/install-dependencies.ts
  packages/gluestack-ui/src/util/package-json-path.ts
  packages/gluestack-ui/src/util/package-managers.ts
  packages/gluestack-ui/src/util/project-type.ts
  packages/gluestack-ui/src/util/string-operations.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Break the upgrade command into component files like other commands
  packages/gluestack-ui/src/commands/upgrade.ts
  packages/gluestack-ui/src/dependencies.ts
  packages/gluestack-ui/src/util/package-managers.ts
  packages/gluestack-ui/src/util/upgrade/find-and-upgrade.ts
  packages/gluestack-ui/src/util/upgrade/package-upgrades.ts
  packages/gluestack-ui/src/util/upgrade/update-config-files.ts
  packages/gluestack-ui/src/util/upgrade/update-imports.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Fix build issues following my work
  packages/gluestack-ui/src/index.ts
  packages/gluestack-ui/src/util/add/index.ts
  packages/gluestack-ui/src/util/config/expo-config-helper.ts
  packages/gluestack-ui/src/util/get-confirmation.ts
  packages/gluestack-ui/src/util/init/index.ts
  packages/gluestack-ui/src/util/install-dependencies.ts
  packages/gluestack-ui/src/util/upgrade/package-upgrades.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Wrap up build fixes
  packages/gluestack-ui/src/util/add/index.ts
  packages/gluestack-ui/src/util/config/expo-config-helper.ts
  packages/gluestack-ui/src/util/init/index.ts
  packages/gluestack-ui/src/util/install-dependencies.ts
  packages/gluestack-ui/src/util/package-managers.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Remove unintentional settings change
  .vscode/settings.json
Due: prettier --write

feat: add HireTeam component and GeekyAnts logo to landing page
  apps/website/components/page-components/landing-page/HireTeam/index.tsx
  apps/website/components/page-components/landing-page/index.tsx
  apps/website/public/svg/geekyants-logo.svg
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add onPress functionality to HireTeam button for booking discovery calls
  apps/website/components/page-components/landing-page/HireTeam/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update import path for Geekyants logo and adjust padding in HireTeam component
  apps/website/components/page-components/landing-page/HireTeam/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: change import path for Geekyants logo in HireTeam component
  apps/website/components/page-components/landing-page/HireTeam/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: streamline layout and provider components, removing unused code and enhancing theme context integration
  apps/website/app/layout.tsx
  apps/website/app/provider.tsx
  apps/website/app/registry.tsx
  apps/website/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update header link and add RapidNativeBanner component to landing page for promoting React Native UI
  apps/website/components/page-components/header/index.tsx
  apps/website/components/page-components/landing-page/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: update header links to conditionally display based on pathname, promoting hiring React Native experts or prompting to React Native UI
  apps/website/components/page-components/header/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor(nativewind-utils): streamline type definitions and improve code formatting
  packages/nativewind/utils/CHANGELOG.md
  packages/nativewind/utils/package.json
  packages/nativewind/utils/tva/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: enhance NPM authentication in CI workflow with token verification and registry configuration
  .github/workflows/preview-publish.yml
Due: none

feat: implement user feedback form on landing page to enhance user engagement and gather insights
  .github/workflows/maintainer-preview-publish.yml
Due: none

Update README.md
  README.md
Due: prettier --write

feat: enhance PR preview publishing workflow to support labeled pull requests and improve PR number handling
  .github/workflows/maintainer-preview-publish.yml
Due: none

chore: removed unneccessary yml
  .github/workflows/maintainer-preview-publish.yml
Due: none

feat: enhance preview publishing workflow with fork PR handling, permission checks, and improved comments for maintainers
  .github/workflows/preview-publish.yml
Due: none

chore: update darkMode configuration in Tailwind CSS files from 'media' to 'class' for consistent theming across applications
  apps/kitchen-sink/tailwind.config.js
  apps/starter-kit-expo/tailwind.config.js
  apps/starter-kit-next/tailwind.config.js
  packages/gluestack-ui/templates/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

Restore accidentally deleted lockfile lookup
  packages/gluestack-ui/src/util/package-managers.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: access tvconfig in an alternate way
  packages/nativewind/utils/tva/index.js
  packages/nativewind/utils/tva/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
