Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: rn crash issue
  packages/react/src/createGlobalStylesWeb.ts
  packages/react/src/createGlobalStylesWeb.web.ts
  packages/react/src/index.ts
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.20
  packages/react/package.json
Due: prettier --write

feat: components added
  example/storybook/.storybook/preview.js
  example/storybook/src/components/IconButton/index.stories.mdx
  example/storybook/src/components/TextArea/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

feat: updated docs
  example/storybook/src/advanced/BabelPlugins/index.stories.mdx
Due: none

fix: docs content updated
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

feat: toast fixed
  example/storybook/src/components/Input/index.stories.mdx
  example/storybook/src/components/Toast/Basic.tsx
  example/storybook/src/components/Toast/Toast.stories.tsx
  example/storybook/src/components/Toast/Toast.tsx
  example/storybook/src/components/Toast/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: shouldoverlap popper
  popover/src/Popover.tsx
  popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: shouldoverlap popper
  packages/popover/src/Popover.tsx
  packages/popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: radio props
  radio/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: radio props
  packages/radio/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.1
  radio/package.json
Due: prettier --write

v0.1.1
  packages/radio/package.json
Due: prettier --write

chore: comment added
  example/expo-app/src/App.tsx
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.1
  popover/package.json
Due: prettier --write

v0.1.1
  packages/popover/package.json
Due: prettier --write

fix: conflicts resolved
  example/storybook/src/components/Avatar/AvatarGroup.tsx
  example/storybook/src/components/Avatar/AvatarSizes.tsx
  example/storybook/src/components/Checkbox/Checkbox.tsx
  example/storybook/src/components/Switch/Switch.tsx
  example/storybook/src/components/Toast/Toast.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: rename folder
  button/.npmignore
  button/README.md
  button/babel.config.js
  button/package.json
  button/src/Button.tsx
  button/src/ButtonGroup.tsx
  button/src/ButtonSpinner.tsx
  button/src/ButtonText.tsx
  button/src/index.tsx
  button/src/types.ts
  button/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: rename folder
  packages/button/.npmignore
  packages/button/README.md
  packages/button/babel.config.js
  packages/button/package.json
  packages/button/src/Button.tsx
  packages/button/src/ButtonGroup.tsx
  packages/button/src/ButtonSpinner.tsx
  packages/button/src/ButtonText.tsx
  packages/button/src/index.tsx
  packages/button/src/types.ts
  packages/button/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: dependency issue resolved
  example/storybook/babel.config.js
  example/storybook/package.json
  example/storybook/src/components/Avatar/index.stories.mdx
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/IconButton/index.stories.mdx
  example/storybook/src/components/Radio/index.stories.mdx
  example/storybook/src/components/Spinner/index.stories.mdx
  example/storybook/src/components/Switch/index.stories.mdx
  example/storybook/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, prettier --write

feat: popover offset props
  packages/popover/src/Popover.tsx
  packages/popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: popover offset props
  popover/src/Popover.tsx
  popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button
  example/storybook/src/components/Button/Button.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default offset removed
  popover/src/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default offset removed
  packages/popover/src/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.2
  popover/package.json
Due: prettier --write

v0.1.2
  packages/popover/package.json
Due: prettier --write

fix: color mode issue on mobile
  packages/react/src/resolver.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.21
  packages/react/package.json
Due: prettier --write

fix: theme file
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/gluestack.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: imports
  example/storybook/src/components/Center/Center.tsx
  example/storybook/src/components/Input/Input.tsx
  example/storybook/src/components/Progress/Progress.tsx
  example/storybook/src/components/Radio/Radio.tsx
  example/storybook/src/components/Slider/Slider.tsx
  example/storybook/src/components/Spinner/Spinner.tsx
  example/storybook/src/components/Switch/Switch.tsx
  example/storybook/src/components/Text/Text.tsx
  example/storybook/src/components/Text/index.stories.mdx
  example/storybook/src/components/TextArea/TextArea.tsx
  example/storybook/src/components/Toast/Toast.tsx
  example/storybook/src/components/VStack/VStack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: main push
  example/storybook/src/components/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/Alert/Alert.tsx
  example/storybook/src/components/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/AlertDialog/index.stories.mdx
  example/storybook/src/components/Avatar/Avatar.tsx
  example/storybook/src/components/Badge/Badge.tsx
  example/storybook/src/components/Box/Box.tsx
  example/storybook/src/components/Button/Button.tsx
  example/storybook/src/components/Center/Center.tsx
  example/storybook/src/components/Checkbox/Checkbox.tsx
  example/storybook/src/components/Checkbox/index.stories.mdx
  example/storybook/src/components/Divider/Divider.tsx
  example/storybook/src/components/HStack/HStack.tsx
  example/storybook/src/components/Heading/Heading.tsx
  example/storybook/src/components/IconButton/IconButton.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added package json
  example/storybook/src/ui-components/Actionsheet/package.json
  example/storybook/src/ui-components/Alert/package.json
  example/storybook/src/ui-components/AlertDialog/package.json
  example/storybook/src/ui-components/Avatar/package.json
  example/storybook/src/ui-components/Badge/package.json
  example/storybook/src/ui-components/Box/package.json
  example/storybook/src/ui-components/Button/package.json
  example/storybook/src/ui-components/Center/package.json
  example/storybook/src/ui-components/Checkbox/package.json
  example/storybook/src/ui-components/Divider/package.json
  example/storybook/src/ui-components/Fab/package.json
  example/storybook/src/ui-components/FormControl/package.json
  example/storybook/src/ui-components/HStack/package.json
  example/storybook/src/ui-components/Heading/package.json
  example/storybook/src/ui-components/IconButton/package.json
  example/storybook/src/ui-components/Icons/package.json
  example/storybook/src/ui-components/Image/package.json
  example/storybook/src/ui-components/Input/package.json
  example/storybook/src/ui-components/Link/package.json
  example/storybook/src/ui-components/Menu/package.json
  example/storybook/src/ui-components/Modal/package.json
  example/storybook/src/ui-components/Popover/package.json
  example/storybook/src/ui-components/Pressable/package.json
  example/storybook/src/ui-components/Progress/package.json
  example/storybook/src/ui-components/Provider/package.json
  example/storybook/src/ui-components/Radio/package.json
  example/storybook/src/ui-components/Select/package.json
  example/storybook/src/ui-components/Slider/package.json
  example/storybook/src/ui-components/Spinner/package.json
  example/storybook/src/ui-components/Switch/package.json
  example/storybook/src/ui-components/Text/package.json
  example/storybook/src/ui-components/TextArea/package.json
  example/storybook/src/ui-components/Toast/package.json
  example/storybook/src/ui-components/Tooltip/package.json
  example/storybook/src/ui-components/VStack/package.json
Due: prettier --write

feat: added package json
  example/storybook/src/ui-components/Actionsheet/package.json
  example/storybook/src/ui-components/AlertDialog/package.json
  example/storybook/src/ui-components/Avatar/package.json
  example/storybook/src/ui-components/Button/package.json
  example/storybook/src/ui-components/Checkbox/package.json
  example/storybook/src/ui-components/Divider/package.json
  example/storybook/src/ui-components/Fab/package.json
  example/storybook/src/ui-components/HStack/package.json
  example/storybook/src/ui-components/IconButton/package.json
  example/storybook/src/ui-components/Icons/package.json
  example/storybook/src/ui-components/Input/package.json
  example/storybook/src/ui-components/Link/package.json
  example/storybook/src/ui-components/Menu/package.json
  example/storybook/src/ui-components/Modal/package.json
  example/storybook/src/ui-components/Popover/package.json
  example/storybook/src/ui-components/Pressable/package.json
  example/storybook/src/ui-components/Progress/package.json
  example/storybook/src/ui-components/Radio/package.json
  example/storybook/src/ui-components/Select/package.json
  example/storybook/src/ui-components/Slider/package.json
  example/storybook/src/ui-components/Spinner/package.json
  example/storybook/src/ui-components/Switch/package.json
  example/storybook/src/ui-components/TextArea/package.json
  example/storybook/src/ui-components/Toast/package.json
  example/storybook/src/ui-components/Tooltip/package.json
  example/storybook/src/ui-components/VStack/package.json
Due: prettier --write

fix: fixed hash generation of style
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added tooltip docs
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/Toast/index.stories.mdx
  example/storybook/src/components/Tooltip/Tooltip.tsx
  example/storybook/src/components/Tooltip/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: formcontrol and input
  example/storybook/src/components/FormControl/FormControl.tsx
  example/storybook/src/components/FormControl/index.stories.mdx
  example/storybook/src/components/Input/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed hash generation of style
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
