Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

chore: installed ui-next-adapter
  apps/starter-kit-next/package-lock.json
  apps/starter-kit-next/package.json
Due: prettier --write

change the docs for divider and checkbox components
  src/components/ui/checkbox/docs/index.mdx
  src/components/ui/divider/docs/index.mdx
Due: none

chore: exported flush from nativewind-utils
  packages/gluestack-utils/src/nativewind-utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.14
  packages/gluestack-utils/package.json
Due: prettier --write

chore: updated utils package
  apps/starter-kit-next/package-lock.json
  apps/starter-kit-next/package.json
Due: prettier --write

change the docs components
  src/components/ui/drawer/docs/index.mdx
  src/components/ui/fab/docs/index.mdx
  src/components/ui/form-control/docs/index.mdx
  src/components/ui/grid/docs/index.mdx
  src/components/ui/heading/docs/index.mdx
  src/components/ui/hstack/docs/index.mdx
  src/components/ui/icon/docs/index.mdx
Due: none

chore: removed src from gitignore, added by mistake
  packages/ui-next-adapter/.gitignore
Due: none

chore: recreated src
  packages/ui-next-adapter/src/index.d.ts
  packages/ui-next-adapter/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.1
  packages/ui-next-adapter/package.json
Due: prettier --write

change the docs components
  apps/kitchen-sink/yalc.lock
  src/components/ui/image/docs/index.mdx
  src/components/ui/input/docs/index.mdx
  src/components/ui/link/docs/index.mdx
  src/components/ui/menu/docs/index.mdx
  src/components/ui/modal/docs/index.mdx
  src/components/ui/popover/docs/index.mdx
  src/components/ui/portal/docs/index.mdx
  src/components/ui/pressable/docs/index.mdx
  src/components/ui/progress/docs/index.mdx
  src/components/ui/radio/docs/index.mdx
  src/components/ui/select/docs/index.mdx
  src/components/ui/skeleton/docs/index.mdx
  src/components/ui/switch/docs/index.mdx
Due: none

chore: removed package-lock
  package-lock.json
Due: prettier --write

chore: updated changeset config
  .changeset/config.json
Due: prettier --write

chore: added changesets script
  package.json
Due: prettier --write

change the docs components
  src/components/ui/slider/docs/index.mdx
  src/components/ui/spinner/docs/index.mdx
  src/components/ui/textarea/docs/index.mdx
Due: none

chore: updated yarn.lock
  yarn.lock
Due: none

chore: updated changeset script
  package.json
Due: prettier --write

change the docs components
  src/components/ui/toast/docs/index.mdx
  src/components/ui/tooltip/docs/index.mdx
  src/components/ui/vstack/docs/index.mdx
Due: none

fixed vstack docs
  src/components/ui/vstack/docs/index.mdx
Due: none

fixed text docs
  src/components/ui/text/docs/index.mdx
Due: none

fixed table docs
  src/components/ui/table/docs/index.mdx
Due: none

fixed button docs
  src/components/ui/button/docs/index.mdx
Due: none

fixed button docs
  src/components/ui/card/docs/index.mdx
Due: none

fixed card docs
  src/components/ui/card/docs/index.mdx
Due: none

chore: updated yarn lock
  yarn.lock
Due: none

chore: updated tsconfig
  packages/create-gluestack/tsconfig.json
Due: prettier --write

chore: removed trailing comma
  packages/gluestack-core/tsconfig.build.json
Due: prettier --write

chore: updated gluestack-ui-nightly cli
  packages/gluestack-ui/src/dependencies.ts
  packages/gluestack-ui/src/util/add/index.ts
  packages/gluestack-ui/src/util/index.ts
  packages/gluestack-ui/src/util/init/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: remove the packages @gluestack-ui-nightly/utils and @gluestack-ui-nightly/core from the website
  apps/website/package.json
  apps/website/yarn.lock
Due: prettier --write

chore: released packages using changesets
  packages/create-gluestack/CHANGELOG.md
  packages/create-gluestack/package.json
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

chore: removed yalc.lock
  packages/gluestack-core/yalc.lock
Due: none

chore: updated package using changeset
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

chore: updated gitignore and npmignore files
  packages/create-gluestack/.gitignore
  packages/gluestack-core/.gitignore
  packages/gluestack-core/.npmignore
  packages/gluestack-ui/.gitignore
  packages/gluestack-ui/.npmignore
  packages/gluestack-utils/.gitignore
  packages/gluestack-utils/.npmignore
  packages/ui-next-adapter/.gitignore
  packages/ui-next-adapter/.npmignore
Due: none

chore: added ui-next-adapter to dependencies while init
  packages/gluestack-ui/src/dependencies.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed toast component from deps
  src/components/ui/gluestack-ui-provider/dependencies.json
Due: prettier --write

feat: change manual installation docs
  src/docs/home/getting-started/installation/index.mdx
Due: none

feat: added the dependencies for accordion
  src/components/ui/accordion/dependencies.json
  src/components/ui/accordion/docs/index.mdx
Due: prettier --write
