Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

v0.1.3
  packages/react/package.json
Due: prettier --write

fix: style
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: content changes
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: github action updated
  .github/workflows/trigger-update-docs.yml
Due: none

fix: added focus management
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

fix: changes in styling
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/textarea version bump to 0.1.5
  packages/textarea/CHANGELOG.md
  packages/textarea/package.json
Due: prettier --write

chore: @gluestack-ui/textarea version bump to 0.1.5
  textarea/CHANGELOG.md
  textarea/package.json
Due: prettier --write

fix: removing text50 color
  example/storybook/src/ui-components/FormControl/styled-components/HelperText.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Button/styled-components/Text.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted color tokens
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: content updated"
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
Due: none

fix: multiple id injection issue
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: variant with component prop typing
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changed dank to gluestack-style
  hstack/src/types.ts
  menu/src/Menu.tsx
  vstack/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs changes
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: remove padding
  example/storybook/src/ui-components/Checkbox/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add dep
  example/storybook/src/components/Forms/Link/index.stories.mdx
Due: none

fix: changes
  example/storybook/src/components/Forms/Link/index.stories.mdx
Due: none

fix: typing wip
  example/storybook/.storybook/main.js
  example/storybook/babel.config.js
  example/storybook/src/api/PropertyResolver/PropertyResolver.tsx
  example/storybook/src/components/nb.config.ts
  example/storybook/src/configuration/GlobalStyle/index.stories.mdx
  example/storybook/src/getting-started/TypeScript/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
  example/storybook/src/overview/API/index.stories.mdx
  package.json
  packages/react/src/createConfig.ts
  packages/react/src/styled.tsx
  packages/react/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: change the name
  example/storybook/src/components/Forms/Button/Button.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted bg
  example/storybook/src/components/Forms/Button/ButtonGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added icon
  example/storybook/src/ui-components/Button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: space
  example/storybook/src/ui-components/Button/styled-components/GroupVSpacer.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: color mode issue
  packages/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.4
  packages/react/package.json
Due: prettier --write

fix: added icon
  example/storybook/src/ui-components/Button/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: import icon
  example/storybook/src/ui-components/Button/styled-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added iconprops
  button/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added iconprops
  packages/button/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "added typing"
  packages/button/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "added typing"
  button/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes in docs
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

fix: added buttonicon
  packages/button/src/ButtonIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added buttonicon
  button/src/ButtonIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes
  example/storybook/src/components/Forms/Button/ButtonWithIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes
  example/storybook/src/components/Forms/Button/ButtonSizes.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update snapshot
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/junit.xml
Due: none

fix: update snapshot
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none
