Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.0-alpha.11
  packages/themed/package.json
Due: prettier --write

v0.1.3-alpha.0
  packages/config/package.json
Due: prettier --write

v0.1.0-alpha.3
  packages/animation-resolver/package.json
Due: prettier --write

fix: driver component
  packages/animation-resolver/src/index.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.54-alpha.5
  packages/react/package.json
Due: prettier --write

fix: platfrom resolved theme for plugins
  packages/react/src/createConfig.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: version updated
  example/storybook/.ondevice/preview.js
  example/storybook/babel.config.js
  example/storybook/package.json
  example/storybook/src/components/Provider.tsx
  example/storybook/src/components/config.ts
  example/storybook/src/hooks/use-token/use-token.stories.tsx
  example/storybook/src/react-native-components/ScrollView/index.stories.mdx
  package.json
  packages/config/package.json
  packages/themed/package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.0-alpha.12
  packages/themed/package.json
Due: prettier --write

fix: customize theme
  example/storybook/src/theme-configuration/customizing-theme/index.stories.mdx
Due: none

fix: customize theme
  example/storybook/.storybook/preview.js
  example/storybook/src/theme-configuration/customizing-theme/index.stories.mdx
  example/storybook/src/theme-configuration/theme/default-components/index.stories.mdx
  example/storybook/src/theme-configuration/theme/default-tokens/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

feat: buttongroup fixed
  button/src/ButtonGroup.tsx
  provider/package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.29
  button/package.json
Due: prettier --write

fix: config type extention
  example/storybook/src/components/config.ts
  example/storybook/src/hooks/use-token/use-token.stories.tsx
  example/storybook/src/react-native-components/ScrollView/index.stories.mdx
  packages/config/src/gluestack-ui.config.ts
  packages/config/src/theme/ButtonGroup.ts
  packages/config/tsconfig.json
  packages/themed/package.json
  packages/themed/src/index.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: buttongroupo fixes
  packages/themed/package.json
  packages/themed/src/components/Button/styled-components/Group.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgraded
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

v1.0.0-alpha.0
  packages/animation-legend-motion-driver/package.json
Due: prettier --write

v1.0.0-alpha.0
  package.json
Due: prettier --write

v1.0.0-alpha.0
  packages/animation-resolver/package.json
Due: prettier --write

v1.0.0-alpha.0
  packages/animation-moti-driver/package.json
Due: prettier --write

v1.0.0-alpha.0
  packages/react/package.json
Due: prettier --write

fix: theme-exports
  example/storybook/.storybook/gluestack-ui.config.ts
  example/storybook/src/components/Layout/LinearGradient/index.stories.mdx
  example/storybook/src/components/Provider/GluestackUIProvider/index.stories.mdx
  example/storybook/src/customize-and-style/DefaultStyle/index.stories.mdx
  example/storybook/src/guides/install-expo/index.stories.mdx
  example/storybook/src/guides/install-nextjs/index.stories.mdx
  example/storybook/src/guides/install-rn/index.stories.mdx
  example/storybook/src/styling/overview/index.stories.mdx
  example/storybook/src/theme-configuration/customizing-theme/index.stories.mdx
  example/storybook/src/theme-configuration/overview/index.stories.mdx
  example/storybook/src/theme-configuration/theme/default-animations/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.0-alpha.0
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: replaced style to gluestack.io
  CONTRIBUTING.md
  README.md
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/api/UtilityFunctions/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/hooks/useMediaQuery/index.stories.mdx
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/CSSVariables/index.stories.mdx
  example/storybook/src/plugins/FontsPlugin/index.stories.mdx
  example/storybook/src/plugins/Introduction/index.stories.mdx
  packages/animation-plugin/README.md
  packages/babel-plugin-styled-resolver/README.md
  packages/react/README.md
Due: prettier --write

fix: merge conflict resolved
  yarn.lock
Due: none

fix: minor fixes
  src/components/Provider/index.tsx
  src/components/index.tsx
  src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.23
  package.json
Due: prettier --write

fix: gluestack style version bump
  packages/themed/package.json
  yarn.lock
Due: prettier --write

v1.0.0-alpha.0
  packages/themed/package.json
Due: prettier --write

fix: aplha releae
  packages/config/package.json
  packages/config/tsconfig.json
  yarn.lock
Due: prettier --write

feat: animation customization section
  example/storybook/src/theme-configuration/customizing-theme/index.stories.mdx
Due: none

fix: typing
  src/components/Icons/index.tsx
  src/components/Icons/styled-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated links
  CONTRIBUTING.md
  README.md
  example/storybook/src/api/ResponsiveStyles/index.stories.mdx
  example/storybook/src/api/UtilityFunctions/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/hooks/useMediaQuery/index.stories.mdx
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/CSSVariables/index.stories.mdx
  example/storybook/src/plugins/FontsPlugin/index.stories.mdx
  example/storybook/src/plugins/Introduction/index.stories.mdx
  packages/animation-plugin/README.md
  packages/babel-plugin-styled-resolver/README.md
  packages/react/README.md
Due: prettier --write

fix: content updated
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
Due: none

fix: react native borken componenrt
  example/storybook/src/react-native-components/KeyboardAvoidingView/KeyboardAvoidingView.tsx
  example/storybook/src/react-native-components/KeyboardAvoidingView/index.stories.mdx
  example/storybook/src/react-native-components/ScrollView/ScrollView.tsx
  example/storybook/src/react-native-components/ScrollView/index.stories.mdx
  example/storybook/src/react-native-components/View/View.tsx
  example/storybook/src/react-native-components/View/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: babel plugin docs
  example/storybook/src/production-optimizations/babel-plugin/index.stories.mdx
Due: none

feat: lock update
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Layout/Box/Box.stories.tsx
  example/storybook/src/components/Layout/Box/BoxWithRef.tsx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/recipes/card/index.stories.mdx
  packages/config/src/theme/Image.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: doc changes
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: docs themed and unstyled
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
  example/storybook/src/core-concepts/UnstyledLibrary/index.stories.mdx
  example/storybook/src/theme-configuration/customizing-theme/index.stories.mdx
  example/storybook/src/theme-configuration/theme/default-components/index.stories.mdx
  yarn.lock
Due: none

feat: animation customization section
  example/storybook/src/advanced/Animations/index.stories.mdx
  example/storybook/src/theme-configuration/customizing-theme/index.stories.mdx
  example/storybook/src/theme-configuration/theme/default-animations/index.stories.mdx
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
