Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: refactor animated plugin
  packages/react/src/plugins/animated.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: font resolver issues
  packages/react/src/plugins/font-resolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: typed styled function from plugin
  packages/react/src/createStyled.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: state props resolution
  packages/react/src/convertSxToSxVerbosed.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add dank plugin support and styled function alias
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

fix: design system path
  example/storybook/.storybook/main.js
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: refactor code
  packages/react/src/plugins/font-resolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: released new version for dank style react
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: tabs accessiblity issue with aria role in tabs panel
  example/storybook/.ondevice/storybook.requires.js
  packages/tabs/src/TabPanel.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: tabs accessiblity issue with aria role in tabs panel
  tabs/src/TabPanel.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alert variants fix
  example/storybook/src/components/Feedback/Alert/Alert.tsx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/overview/Fonts/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.4
  tabs/package.json
Due: prettier --write

v0.1.4
  packages/tabs/package.json
Due: prettier --write

fix: styled alias initial value
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

chore: released new version for dank style babel plugin
  packages/babel-plugin-styled-resolver/CHANGELOG.md
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: radio
  example/storybook/src/components/DataDisplay/Badge/Badge.tsx
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Forms/Radio/Radio.tsx
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default styles added for icons
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: examples
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/FormControl.tsx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/TextArea.tsx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/ui-components/Input/styled-components/Input.tsx
  example/storybook/src/ui-components/Select/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update SelectItem.tsx
  packages/select/src/SelectItem.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update SelectIcon.tsx
  packages/select/src/SelectIcon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: token resolution
  packages/react/src/plugins/animated.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: wrapper component resolution
  packages/react/src/createStyled.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: errors firxed
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/overview/Fonts/index.stories.mdx
  yarn.lock
Due: none

feat: removed fonts from default library
  example/storybook/.gitignore
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added dependencies
  packages/react/package.json
Due: prettier --write

feat: added introduction
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: cli path
  example/storybook/.storybook/preview.js
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/Divider/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Provider/Provider/Provider.tsx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/getting-started/Fonts/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: styled packeg
  packages/hstack/src/types.ts
  packages/styled/.npmignore
  packages/styled/README.md
  packages/styled/babel.config.js
  packages/styled/package.json
  packages/styled/src/index.tsx
  packages/styled/src/types.ts
  packages/styled/tsconfig.json
  packages/vstack/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: slider thumb drag issue mobile
  slider/src/Slider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: slider thumb drag issue mobile
  example/storybook/src/ui-components/Slider/styled-components/Thumb.tsx
  packages/slider/src/Slider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: defaultIsChecked issue switch
  packages/switch/src/Switch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: defaultIsChecked issue switch
  switch/src/Switch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover backdrop issue
  example/storybook/src/ui-components/Popover/styled-components/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icons
  example/storybook/src/ui-components/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: web snapshot tests
  example/storybook/__mocks__/@react-native-async-storage/async-storage.js
  example/storybook/__mocks__/globalMock.js
  example/storybook/babel.config.js
  example/storybook/jest-android.config.js
  example/storybook/jest-ios.config.js
  example/storybook/jest.config.js
  example/storybook/package.json
  example/storybook/scripts/test.sh
  example/storybook/src/components/tests/storybook.test.js
  yarn.lock
Due: eslint --quiet --fix, prettier --write
