Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: release
  .changeset/config.json
Due: prettier --write

fix: themeHash with component config
  example/storybook/src/api/MultipleProvder/MultipleProvider.tsx
  packages/babel-plugin-styled-resolver/src/index.js
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.22
  packages/react/package.json
Due: prettier --write

v0.1.7
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

v0.1.10
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: config
  .changeset/config.json
Due: prettier --write

fix: updated image of performance
  example/storybook/public/assets/PerformanceScreenshot.png
  example/storybook/src/assets/PerformanceScreenshot.png
Due: none

fix: changes in docs
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
Due: none

fix: changes in stories
  example/storybook/src/components/Feedback/Spinner/Spinner.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted imports
  example/storybook/src/components/Feedback/Spinner/Spinner.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted size
  example/storybook/src/ui-components/Spinner/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted dep
  spinner/package.json
Due: prettier --write

fix: remove unwanted dep
  packages/spinner/package.json
Due: prettier --write

fix: changes for accessibility
  packages/spinner/src/Spinner.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changes for accessibility
  spinner/src/Spinner.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.23
  packages/react/package.json
Due: prettier --write

v0.1.11
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: ignored paths
  .changeset/config.json
Due: prettier --write

fix: added color for light and dark
  example/storybook/src/ui-components/Spinner/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.12
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

v0.1.13
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: styled updated
  packages/babel-plugin-styled-resolver/src/index.js
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: examples of tooltip done
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

chore: @gluestack-ui/checkbox version bump to 0.1.12
  packages/checkbox/CHANGELOG.md
  packages/checkbox/package.json
Due: prettier --write

chore: @gluestack-ui/checkbox version bump to 0.1.12
  checkbox/CHANGELOG.md
  checkbox/package.json
Due: prettier --write

fix: install commands
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
  example/storybook/src/getting-started/install-rn/index.stories.mdx
  yarn.lock
Due: none

fix: radio default size changes
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

feat: use pressed handler hook
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
  packages/interactions/src/usePressedHandler.ts
  packages/interactions/src/usePressedHandler.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: use hover prop hook
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
  packages/interactions/src/useHoverProps.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changed 'TextArea' to 'Textarea'
  textarea/README.md
  textarea/src/TextArea.tsx
  textarea/src/TextAreaContext.tsx
  textarea/src/TextAreaRoot.tsx
  textarea/src/index.tsx
  textarea/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changed 'TextArea' to 'Textarea'
  example/next-project/pages/index.tsx
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/.storybook/preview.js
  example/storybook/src/components/Forms/FormControl/FormControl.tsx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/TextArea.stories.tsx
  example/storybook/src/components/Forms/TextArea/TextArea.tsx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/ui-components/TextArea/index.tsx
  example/storybook/src/ui-components/index.tsx
  packages/textarea/README.md
  packages/textarea/src/TextArea.tsx
  packages/textarea/src/TextAreaContext.tsx
  packages/textarea/src/TextAreaRoot.tsx
  packages/textarea/src/index.tsx
  packages/textarea/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added use ispressed props
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
  packages/interactions/src/useIsPressProps.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added use focus
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
  packages/interactions/src/useFocus.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added use keyboard dismissable
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
  packages/interactions/src/useKeyboardDismisssable.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added use focus to rna focus
  packages/focus/src/index.ts
  packages/focus/src/index.web.ts
  packages/focus/src/useFocusProps.ts
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: use hover use press merger
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
  packages/interactions/src/useHover.ts
  packages/interactions/src/useHoverProps.ts
  packages/interactions/src/usePressedHandler.ts
  packages/interactions/src/usePressedHandler.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
