Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: readme keyword and description of modal
  modal/README.md
  modal/package.json
  progress/package.json
Due: prettier --write

fix: readme keyword and description of alert dialog
  alert-dialog/README.md
  alert-dialog/package.json
Due: prettier --write

fix: readme keyword and description of alert dialog
  packages/alert-dialog/README.md
  packages/alert-dialog/package.json
Due: prettier --write

fix: docs update
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

fix: transform resolution
  example/storybook/babel.config.js
  packages/animation-plugin/src/index.tsx
  packages/react/src/plugins/font-resolver.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default properties for flex
  packages/react/src/core/styled-system.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update version
  example/babel-plugin-styled-resolver-expo/package.json
  example/expo-app/package.json
  example/next/package.json
  example/storybook/package.json
  packages/benchmark-next/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: content updated
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

chore: update version
  example/storybook/package.json
  packages/animation-plugin/CHANGELOG.md
  packages/animation-plugin/package.json
Due: prettier --write

chore: @gluestack-ui/alert-dialog version bump to 0.1.8
  alert-dialog/CHANGELOG.md
  alert-dialog/package.json
Due: prettier --write

chore: @gluestack-ui/alert-dialog version bump to 0.1.8
  example/storybook/package.json
  packages/alert-dialog/CHANGELOG.md
  packages/alert-dialog/package.json
Due: prettier --write

chore: @gluestack-ui/modal version bump to 0.1.12
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier --write

chore: @gluestack-ui/modal version bump to 0.1.12
  modal/CHANGELOG.md
  modal/package.json
Due: prettier --write

chore: @gluestack-ui/progress version bump to 0.1.3
  progress/CHANGELOG.md
  progress/package.json
Due: prettier --write

chore: @gluestack-ui/progress version bump to 0.1.3
  packages/progress/CHANGELOG.md
  packages/progress/package.json
Due: prettier --write

fix: style of disabled/hover
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated default style property values for web
  packages/react/src/core/styled-system.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.17-alpha.0
  packages/react/package.json
Due: prettier --write

fix: "change in styling"
  example/storybook/src/ui-components/Checkbox/styled-components/Indicator.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: change in styling
  example/storybook/src/ui-components/Checkbox/styled-components/Label.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: change in styling
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: change in styling
  example/storybook/src/ui-components/Checkbox/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes in docs"
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

v0.1.17-alpha.1
  packages/react/package.json
Due: prettier --write

feat: added multiple providers
  example/storybook/junit.xml
  example/storybook/src/components/Feedback/Toast/Toast.tsx
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/ui-components/Provider/index.tsx
  example/storybook/src/ui-components/index.tsx
  packages/overlay/src/index.tsx
  packages/provider/src/Provider.tsx
  packages/provider/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added multiple providers
  overlay/src/index.tsx
  provider/src/Provider.tsx
  provider/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.17
  packages/react/package.json
Due: prettier --write

fix: sizes token resolution
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.17-alpha.2
  packages/react/package.json
Due: prettier --write

chore: update version
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: fixed navigation issue in icons
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

fix: build
  provider/src/Provider.tsx
  provider/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: build
  packages/provider/src/Provider.tsx
  packages/provider/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pckg readme and pckgjson update
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
  example/storybook/src/ui-components/Link/styled-components/Text.tsx
  packages/button/README.md
  packages/button/package.json
  packages/checkbox/README.md
  packages/checkbox/package.json
  packages/divider/README.md
  packages/divider/package.json
  packages/link/README.md
  packages/link/package.json
  packages/popover/README.md
  packages/popover/package.json
  packages/pressable/README.md
  packages/pressable/package.json
  packages/radio/README.md
  packages/radio/package.json
  packages/spinner/README.md
  packages/spinner/package.json
  packages/switch/README.md
  packages/switch/package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: pckg readme and pckgjson update
  button/README.md
  button/package.json
  checkbox/README.md
  checkbox/package.json
  divider/README.md
  divider/package.json
  link/README.md
  link/package.json
  popover/README.md
  popover/package.json
  pressable/README.md
  pressable/package.json
  radio/README.md
  radio/package.json
  spinner/README.md
  spinner/package.json
  switch/README.md
  switch/package.json
Due: prettier --write

fix: added id for context
  packages/react/src/StyledProvider.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: testing for components
  avatar/README.md
  avatar/package.json
  form-control/README.md
  form-control/package.json
  hstack/README.md
  hstack/package.json
  icon/README.md
  icon/package.json
  input/README.md
  input/package.json
  textarea/README.md
  textarea/package.json
  vstack/README.md
  vstack/package.json
Due: prettier --write

fix: testing for components
  packages/avatar/README.md
  packages/avatar/package.json
  packages/form-control/README.md
  packages/form-control/package.json
  packages/hstack/README.md
  packages/hstack/package.json
  packages/icon/README.md
  packages/icon/package.json
  packages/input/README.md
  packages/input/package.json
  packages/textarea/README.md
  packages/textarea/package.json
  packages/vstack/README.md
  packages/vstack/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
