Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: overlay position issue
  actionsheet/src/Actionsheet.tsx
  menu/src/Menu.tsx
  modal/package.json
  modal/src/Modal.tsx
  popover/babel.config.js
  popover/package.json
  popover/src/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: overlay position issue
  example/storybook/App_old.tsx
  example/storybook/babel.config.js
  example/storybook/package.json
  packages/actionsheet/src/Actionsheet.tsx
  packages/menu/src/Menu.tsx
  packages/modal/package.json
  packages/modal/src/Modal.tsx
  packages/popover/babel.config.js
  packages/popover/package.json
  packages/popover/src/Popover.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet mdx pushed
  example/storybook/src/components/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Actionsheet/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: icon button added
  example/storybook/src/components/Button/index.stories.mdx
  example/storybook/src/components/IconButton/IconButton.tsx
  example/storybook/src/components/IconButton/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: modal and alert dialog and actionsheet
  example/storybook/src/components/Actionsheet/index.stories.mdx
  example/storybook/src/components/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/AlertDialog/index.stories.mdx
  example/storybook/src/components/Modal/Modal.tsx
  example/storybook/src/components/Modal/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: state based component props resolution
  packages/react/src/styled.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: complex example
  example/storybook/src/components/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/ComplexZComponents/Tooltip.stories.tsx
  example/storybook/src/components/ComplexZComponents/Tooltip.tsx
  example/storybook/src/components/ComplexZComponents/index.stories.mdx
  example/storybook/src/components/Menu/Menu.tsx
  example/storybook/src/components/Modal/Modal.tsx
  example/storybook/src/components/Popover/Popover.tsx
  example/storybook/src/components/Tooltip/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.12
  packages/toast/package.json
Due: prettier --write

v0.1.12
  toast/package.json
Due: prettier --write

fix: menu and tooltip positioning
  example/storybook/App_old.tsx
  example/storybook/index.js
  example/storybook/src/components/Tooltip/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: menu and tooltip positioning
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuContent.tsx
  packages/tooltip/src/Tooltip.tsx
  packages/tooltip/src/TooltipContent.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: menu and tooltip positioning
  menu/src/Menu.tsx
  menu/src/MenuContent.tsx
  tooltip/src/Tooltip.tsx
  tooltip/src/TooltipContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: passing prop for sx props
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover example design
  example/storybook/src/components/Popover/Popover.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: menu and tooltip deps
  packages/menu/package.json
  packages/tooltip/package.json
Due: prettier --write

fix: menu and tooltip deps
  menu/package.json
  tooltip/package.json
Due: prettier --write

feat: docs for components
  toast/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: docs for components
  example/storybook/package.json
  example/storybook/src/components/Icon/Icons/Add.tsx
  example/storybook/src/components/Icon/index.stories.mdx
  example/storybook/src/components/Overlay/index.stories.mdx
  example/storybook/src/components/Select/Select.tsx
  example/storybook/src/components/Select/index.stories.mdx
  example/storybook/src/components/Toast/Toast.tsx
  example/storybook/src/components/Toast/index.stories.mdx
  example/storybook/src/components/Transitions/index.stories.mdx
  package.json
  packages/toast/src/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.12
  packages/menu/package.json
Due: prettier --write

v0.1.12
  menu/package.json
Due: prettier --write

v0.1.12
  tooltip/package.json
Due: prettier --write

v0.1.12
  packages/tooltip/package.json
Due: prettier --write

v0.1.12
  packages/popover/package.json
Due: prettier --write

v0.1.12
  popover/package.json
Due: prettier --write

fix: refactor code
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: new docs added
  example/storybook/src/components/Toast/index.stories.mdx
Due: none

feat: overlay and transitions
  example/storybook/src/components/Overlay/index.stories.mdx
  example/storybook/src/components/Transitions/index.stories.mdx
Due: none

feat: menu added
  example/storybook/src/components/Menu/Menu.tsx
  example/storybook/src/components/Popover/index.stories.mdx
  example/storybook/src/components/Tooltip/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: development
  example/storybook/src/components/Menu/index.stories.mdx
  example/storybook/src/components/Tooltip/Tooltip.tsx
  example/storybook/src/components/Tooltip/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: repo structure
  example/storybook/src/components/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/styled-components/alert-dialog/index.tsx
  example/storybook/src/components/styled-components/alert/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: components
  example/storybook/src/components/Image/Image.tsx
  example/storybook/src/components/Image/ImageSizes.tsx
  example/storybook/src/components/Input/Input.tsx
  example/storybook/src/components/Menu/Menu.tsx
  example/storybook/src/components/Menu/MenuGroup.tsx
  example/storybook/src/components/Modal/Modal.tsx
  example/storybook/src/components/Modal/MultipleModal.tsx
  example/storybook/src/components/Pressable/Pressable.tsx
  example/storybook/src/components/Progress/Progress.tsx
  example/storybook/src/components/Radio/Radio.tsx
  example/storybook/src/components/Radio/RadioGroup.tsx
  example/storybook/src/components/Slider/Slider.tsx
  example/storybook/src/components/styled-components/input/index.tsx
  example/storybook/src/components/styled-components/menu/index.tsx
  example/storybook/src/components/styled-components/modal/index.tsx
  example/storybook/src/components/styled-components/progress/index.tsx
  example/storybook/src/components/styled-components/radio/index.tsx
  example/storybook/src/components/styled-components/slider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: repo structure
  example/storybook/src/components/Avatar/Avatar.tsx
  example/storybook/src/components/Badge/Badge.tsx
  example/storybook/src/components/Box/Box.tsx
  example/storybook/src/components/Button/Button.tsx
  example/storybook/src/components/Center/Center.tsx
  example/storybook/src/components/Checkbox/Checkbox.tsx
  example/storybook/src/components/Divider/Divider.tsx
  example/storybook/src/components/Fab/Fab.tsx
  example/storybook/src/components/FormControl/FormControl.tsx
  example/storybook/src/components/Heading/Heading.tsx
  example/storybook/src/components/styled-components/avatar/index.tsx
  example/storybook/src/components/styled-components/badge/index.tsx
  example/storybook/src/components/styled-components/box/index.tsx
  example/storybook/src/components/styled-components/button/index.tsx
  example/storybook/src/components/styled-components/center/index.tsx
  example/storybook/src/components/styled-components/checkbox/index.tsx
  example/storybook/src/components/styled-components/divider/index.tsx
  example/storybook/src/components/styled-components/fab/index.tsx
  example/storybook/src/components/styled-components/formcontrol/index.tsx
  example/storybook/src/components/styled-components/heading/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: components
  example/storybook/src/components/IconButton/IconButton.tsx
  example/storybook/src/components/Spinner/Spinner.tsx
  example/storybook/src/components/Switch/Switch.tsx
  example/storybook/src/components/Text/Text.tsx
  example/storybook/src/components/Text/TextSizes.tsx
  example/storybook/src/components/TextArea/TextArea.tsx
  example/storybook/src/components/Toast/Basic.tsx
  example/storybook/src/components/Tooltip/Tooltip.tsx
  example/storybook/src/components/VStack/VStack.tsx
  example/storybook/src/components/styled-components/icon-button/index.tsx
  example/storybook/src/components/styled-components/spinner/index.tsx
  example/storybook/src/components/styled-components/switch/index.tsx
  example/storybook/src/components/styled-components/text/index.tsx
  example/storybook/src/components/styled-components/textarea/index.tsx
  example/storybook/src/components/styled-components/toast/index.tsx
  example/storybook/src/components/styled-components/tooltip/index.tsx
  example/storybook/src/components/styled-components/vstack/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: repo structure
  example/storybook/src/components/Link/Link.stories.tsx
  example/storybook/src/components/Link/Link.tsx
  example/storybook/src/components/Link/index.stories.mdx
  example/storybook/src/components/Provider/Provider.stories.tsx
  example/storybook/src/components/Provider/Provider.tsx
  example/storybook/src/components/Provider/index.stories.mdx
  example/storybook/src/components/styled-components/input/index.tsx
  example/storybook/src/components/styled-components/link/index.tsx
  example/storybook/src/components/styled-components/menu/index.tsx
  example/storybook/src/components/styled-components/modal/index.tsx
  example/storybook/src/components/styled-components/toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
