Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: documentation link
  example/storybook/.storybook/preview.js
  example/storybook/src/configuration/Themes/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: custome component theme
  example/storybook/src/theme/customizing-components/CustomComponent.tsx
  example/storybook/src/theme/customizing-components/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: documentation link
  example/storybook/src/configuration/Themes/index.stories.mdx
Due: none

fix: theme support
  example/storybook/src/configuration/Themes/index.stories.mdx
  packages/react/src/createConfig.ts
  packages/react/src/index.ts
  packages/react/src/style-sheet/index.ts
  packages/react/src/styled.tsx
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
  packages/react/src/utils/cssify/create-stylesheet/index.ts
  packages/react/src/utils/cssify/utils/common.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: react native components
  example/storybook/src/react-native-components/FlatList/FlatList.stories.tsx
  example/storybook/src/react-native-components/FlatList/FlatList.tsx
  example/storybook/src/react-native-components/FlatList/index.stories.mdx
  packages/themed/src/components/FlatList/config.json
  packages/themed/src/components/FlatList/index.tsx
  packages/themed/src/components/FlatList/styled-components/Root.tsx
  packages/themed/src/components/FlatList/styled-components/index.tsx
  packages/themed/src/components/SectionList/config.json
  packages/themed/src/components/SectionList/index.tsx
  packages/themed/src/components/SectionList/styled-components/Root.tsx
  packages/themed/src/components/SectionList/styled-components/index.tsx
  packages/themed/src/components/StatusBar/config.json
  packages/themed/src/components/StatusBar/index.tsx
  packages/themed/src/components/StatusBar/styled-components/Root.tsx
  packages/themed/src/components/StatusBar/styled-components/index.tsx
  packages/themed/src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.24
  packages/react/package.json
Due: prettier --write

feat: react native components added
  example/storybook/src/react-native-components/ScrollView/ScrollView.tsx
  example/storybook/src/react-native-components/ScrollView/index.stories.mdx
  packages/themed/src/components/KeyboardAvoidingView/config.json
  packages/themed/src/components/KeyboardAvoidingView/index.tsx
  packages/themed/src/components/KeyboardAvoidingView/styled-components/Root.tsx
  packages/themed/src/components/KeyboardAvoidingView/styled-components/index.tsx
  packages/themed/src/components/ScrollView/config.json
  packages/themed/src/components/ScrollView/index.tsx
  packages/themed/src/components/ScrollView/styled-components/Root.tsx
  packages/themed/src/components/ScrollView/styled-components/index.tsx
  packages/themed/src/components/View/config.json
  packages/themed/src/components/View/index.tsx
  packages/themed/src/components/View/styled-components/Root.tsx
  packages/themed/src/components/View/styled-components/index.tsx
  packages/themed/src/components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.15-alpha.0
  packages/themed/package.json
Due: prettier --write

feat: section list docs
  example/storybook/src/react-native-components/FlatList/index.stories.mdx
  example/storybook/src/react-native-components/SectionList/SectionList.stories.tsx
  example/storybook/src/react-native-components/SectionList/SectionList.tsx
  example/storybook/src/react-native-components/SectionList/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version updated
  yarn.lock
Due: none

v0.1.15-alpha.1
  packages/themed/package.json
Due: prettier --write

feat: divider done
  src/components/Divider/index.tsx
  src/components/Divider/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.16
  packages/themed/package.json
Due: prettier --write

fix: theme support
  example/storybook/src/configuration/Themes/index.stories.mdx
  packages/react/src/createConfig.ts
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.25
  packages/react/package.json
Due: prettier --write

fix: theme support
  example/storybook/src/configuration/Themes/index.stories.mdx
Due: none

feat: statusbar docs
  example/storybook/src/react-native-components/StatusBar/index.stories.mdx
Due: none

chore: docs updated
  example/storybook/src/react-native-components/FlatList/index.stories.mdx
  example/storybook/src/react-native-components/ScrollView/index.stories.mdx
  example/storybook/src/react-native-components/SectionList/index.stories.mdx
Due: none

chore: docs updated
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

feat: added few more enhancements
  example/storybook/src/components/Forms/Tabs/Tabs.tsx
  example/storybook/src/components/Forms/Textarea/Textarea.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: extension
  example/storybook/src/components/Layout/Center/Center.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: readme.md
  README.md
Due: prettier --write

fix: overlay refactor for figma
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetContent.tsx
  button/src/ButtonGroup.tsx
  button/src/types.ts
  menu/src/MenuPopover/Popover.tsx
  menu/src/MenuPopover/Popover.web.tsx
  slider/src/Slider.tsx
  slider/src/SliderFilledTrack.tsx
  slider/src/SliderThumb.tsx
  slider/src/SliderTrack.tsx
  slider/src/types.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ts error temporary
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.9
  package.json
Due: prettier --write

fix: script
  package.json
Due: prettier --write

feat: keyboard avoid view docs added
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
  example/storybook/src/react-native-components/KeyboardAvoidingView/KeyboardAvoidingView.tsx
  example/storybook/src/react-native-components/KeyboardAvoidingView/index.stories.mdx
  example/storybook/src/react-native-components/ScrollView/index.stories.mdx
  example/storybook/src/react-native-components/View/View.tsx
  example/storybook/src/react-native-components/View/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: multiple theme support docs
  example/storybook/src/theme/overview/index.stories.mdx
Due: none

fix: multiple theme support docs
  example/storybook/src/configuration/Themes/index.stories.mdx
Due: none

feat: hstack and vstack new version
  hstack/src/HStack.tsx
  hstack/src/index.ts
  vstack/src/VStack.tsx
  vstack/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: hstack and vstack new version
  hstack/package.json
  vstack/package.json
Due: prettier --write

fix: resolve variable inside sx prop"
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: hstack and vstack new version
  packages/themed/src/components/HStack/styled-components/Root.tsx
  packages/themed/src/components/VStack/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: hstack and vstack new version
  packages/themed/package.json
Due: prettier --write

fix: style version updated
  packages/themed/package.json
  yarn.lock
Due: prettier --write

v0.1.9
  hstack/package.json
Due: prettier --write

fix: hstack vstack api changes
  packages/themed/package.json
  packages/themed/src/components/HStack/index.tsx
  packages/themed/src/components/VStack/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
