Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

chore: @dank-style/react@0.4.5
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: button group flexdirection
  packages/button/src/ButtonGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button group flexdirection
  button/src/ButtonGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "resolve"
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

fix: "added icon from lucide"
  example/storybook/src/components/Overlay/Tooltip/Tooltip.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: using tokens
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
Due: none

feat: updated dank version
  example/storybook/package.json
  yarn.lock
Due: prettier --write

feat: updated links
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

feat: added alpha tag in all the components
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: removed alpha tags from components
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Provider/Provider/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: spacer issue
  packages/hstack/src/HStack.tsx
  packages/utils/src/getSpacedChild.tsx
  packages/vstack/src/VStack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: spacer issue
  hstack/src/HStack.tsx
  utils/src/getSpacedChild.tsx
  vstack/src/VStack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated import
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: incoming props and default props merging
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/hstack version bump to 0.1.2
  hstack/CHANGELOG.md
  hstack/package.json
Due: prettier --write

chore: @gluestack-ui/hstack version bump to 0.1.2
  packages/hstack/CHANGELOG.md
  packages/hstack/package.json
Due: prettier --write

chore: @gluestack-ui/vstack version bump to 0.1.2
  vstack/CHANGELOG.md
  vstack/package.json
Due: prettier --write

chore: @gluestack-ui/vstack version bump to 0.1.2
  packages/vstack/CHANGELOG.md
  packages/vstack/package.json
Due: prettier --write

chore: @gluestack-ui/utils version bump to 0.1.3
  button/CHANGELOG.md
  button/package.json
  utils/CHANGELOG.md
  utils/package.json
Due: prettier --write

chore: @gluestack-ui/utils version bump to 0.1.3
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

v0.4.6-rc.0
  packages/react/package.json
Due: prettier --write

fix: "changes in sizes and color"
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: "remove unwanted code"
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: "spacing"
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: fab examples design fix
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: link of view component
  example/storybook/src/components/Layout/Center/index.stories.mdx
Due: none

fix: using fontSize insted of size on text
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: input example fix
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: border color
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: update border colour
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: "all sizes and color"
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: formcontrol design
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: "added functionality"
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none

fix: "identation"
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none

fix: fixed some issues with design
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: update spelling mistake
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: margin
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: ssr docs
  example/storybook/src/configuration/SSR/index.stories.mdx
Due: none

fix: ssr docs
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none
