Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: disabled link
  example/storybook-nativewind/src/core-components/nativewind/link/index.tsx
  packages/unstyled/link/src/Context.ts
  packages/unstyled/link/src/Link.tsx
  packages/unstyled/link/src/LinkText.tsx
  packages/unstyled/link/src/types.ts
  packages/unstyled/link/src/useLink.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/link version bump to 0.1.22
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/link/CHANGELOG.md
  packages/unstyled/link/package.json
Due: prettier --write

v0.1.26
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/slider/CHANGELOG.md
  packages/unstyled/slider/package.json
Due: prettier --write

Revert "v0.1.26"
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/slider/CHANGELOG.md
  packages/unstyled/slider/package.json
Due: prettier --write

v1.1.42
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

fix: content changes
  example/storybook-nativewind/src/guides/more/FAQs/index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Upgrade to v2/index.nw.stories.mdx
Due: none

fix: popover image issue
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
Due: none

fix: invalid state for switch and select
  example/storybook-nativewind/src/core-components/nativewind/select/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/switch/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added separator in menu
  example/storybook-nativewind/src/components/Menu/Menu.tsx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
  packages/unstyled/menu/package.json
  packages/unstyled/menu/src/Menu.tsx
  packages/unstyled/menu/src/Seperator.tsx
  packages/unstyled/menu/src/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat(linechart): add line chart
  example/storybook-nativewind/package.json
  example/storybook-nativewind/src/components/LineChart/LineChart.stories.tsx
  example/storybook-nativewind/src/components/LineChart/LineChart.tsx
  example/storybook-nativewind/src/core-components/nativewind/line-chart/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/line-chart/index.web.tsx
  example/storybook-v7/package.json
  example/storybook-v7/yarn.lock
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: todo app url
  example/storybook-nativewind/src/apps/todo-app/index.stories.mdx
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: textarea focus
  example/storybook-nativewind/src/core-components/nativewind/textarea/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: button typescript
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: nativewind utils types
  packages/nativewind/utils/withStyleContext/index.d.ts
  packages/nativewind/utils/withStyleContext/index.tsx
  packages/nativewind/utils/withStyleContextAndStates/index.d.ts
  packages/nativewind/utils/withStyleContextAndStates/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: withState typings
  packages/nativewind/utils/withStates/index.d.ts
  packages/nativewind/utils/withStates/index.tsx
  packages/nativewind/utils/withStyleContextAndStates/index.d.ts
  packages/nativewind/utils/withStyleContextAndStates/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accordion typing
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: actionsheet type
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alert typing
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alert dialog typing
  example/storybook-nativewind/src/core-components/nativewind/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: avatar typing
  example/storybook-nativewind/src/core-components/nativewind/avatar/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing of box badge button
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/box/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/box/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: card typing
  example/storybook-nativewind/src/core-components/nativewind/card/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/card/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: center typing
  example/storybook-nativewind/src/core-components/nativewind/card/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/center/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/center/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.nw.stories.mdx
  example/storybook-nativewind/src/home/overview/Introduction/index.nw.stories.mdx
Due: none

fix: checkbox typing
  example/storybook-nativewind/src/core-components/nativewind/checkbox/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: divider typing
  example/storybook-nativewind/src/core-components/nativewind/divider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fab typing
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: form control typing
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added note in CLI
  example/storybook-nativewind/src/home/getting-started/Installation/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/cli/index.nw.stories.mdx
Due: none

fix: grid typing
  example/storybook-nativewind/src/core-components/nativewind/grid/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: grid typing
  example/storybook-nativewind/src/core-components/nativewind/grid/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: heading typing
  example/storybook-nativewind/src/core-components/nativewind/heading/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: hstack typing
  example/storybook-nativewind/src/core-components/nativewind/hstack/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/hstack/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added note for expo version
  example/storybook-nativewind/src/home/overview/Upgrade to v2/index.nw.stories.mdx
Due: none

fix: icon typings
  example/storybook-nativewind/src/core-components/nativewind/icon/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/icon/index.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: nativewind utils typings
  packages/nativewind/utils/withStates/index.d.ts
  packages/nativewind/utils/withStates/index.tsx
  packages/nativewind/utils/withStyleContext/index.d.ts
  packages/nativewind/utils/withStyleContext/index.tsx
  packages/nativewind/utils/withStyleContextAndStates/index.d.ts
  packages/nativewind/utils/withStyleContextAndStates/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: unstyled typings
  packages/unstyled/overlay/src/index.tsx
  packages/unstyled/pressable/src/index.tsx
  packages/unstyled/spinner/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: image forwardref
  example/storybook-nativewind/src/core-components/nativewind/image/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
