Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the local package workflow
  apps/KitchenSink-App-feat-homeScreen/package.json
  apps/KitchenSink-App-feat-homeScreen/yarn.lock
  package.json
Due: prettier --write

feat: integrated thems
  apps/KitchenSink-App-feat-homeScreen/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

feat: change exapmples for accordion
  apps/KitchenSink-App-feat-homeScreen/app/(home)/components/accordion.tsx
  src/components/ui/accordion/examples/customized-component/template.handlebars
  src/components/ui/accordion/examples/rounded-corners/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed react-dom version mismatch
  apps/starter-kit-next/package.json
  apps/starter-kit-next/yarn.lock
Due: prettier --write

fix: fixed react-dom version mismatch
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/yarn.lock
Due: prettier --write

fix(badge): correct className forwarding to enable action state updates
  src/components/ui/badge/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: update theme configurations and comment out unused color scheme logic
  apps/KitchenSink-App-feat-homeScreen/components/ui/gluestack-ui-provider/index.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: enhance ComponentCard styling with shadows and update border radius
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/components-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add new font families 'andika' and 'outfit' to Tailwind configuration
  apps/KitchenSink-App-feat-homeScreen/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

feat: add hairline border width to Tailwind config and update layout components for improved styling
  apps/KitchenSink-App-feat-homeScreen/app/(home)/components/_layout.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/swipeable-tabs/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/gluestack-ui-provider/config.ts
  apps/KitchenSink-App-feat-homeScreen/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

refactor: remove hairline border width from Tailwind configuration
  apps/KitchenSink-App-feat-homeScreen/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

chore: update package dependencies and versions in package.json and yarn.lock
  apps/KitchenSink-App-feat-homeScreen/package.json
  apps/KitchenSink-App-feat-homeScreen/yarn.lock
Due: prettier --write

chore: updated content path
  apps/KitchenSink-App-feat-homeScreen/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

chore: downgrade react and react-dom to 19.1.0, update react-native to 0.81.5, and update react-native-svg to 15.12.1 in starter-kit-expo
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/yarn.lock
Due: prettier --write

chore: update Figma UI Kit links and replace the image with the new design kit
  apps/website/components/page-components/header/index.tsx
  apps/website/components/page-components/landing-page/ResponsiveSidebar/sidebar-header-items.tsx
  apps/website/public/images/figma-kit.png
  src/docs/home/getting-started/figma-ui-kit/index.mdx
  src/docs/home/getting-started/figma-ui-kit/tryItOutNow.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix(menu): pass state object to trigger function
  packages/gluestack-core/src/menu/creator/Menu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix(bottom-sheet-trigger): fix onPress being replaced by restProps
  src/components/ui/bottomsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu component
  apps/KitchenSink-App-feat-homeScreen/app/components/accordion/index.tsx
  apps/KitchenSink-App-feat-homeScreen/app/components/icon/index.tsx
  apps/KitchenSink-App-feat-homeScreen/app/components/menu/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/icon/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/menu/index.tsx
  apps/starter-kit-expo/components/ui/icon/index.tsx
  apps/starter-kit-expo/components/ui/menu/index.tsx
  apps/starter-kit-next/components/ui/icon/index.tsx
  apps/starter-kit-next/components/ui/menu/index.tsx
  apps/website/components/page-components/all-components/menu/index.tsx
  src/components/ui/icon/index.tsx
  src/components/ui/menu/examples/basic/template.handlebars
  src/components/ui/menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add themes violet bloom and vercel
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/themes-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add supabase theme with light and dark color configurations
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/themes-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove excess shadow and add the claude theme
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/components-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/themes-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/swipeable-tabs/index.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: setup the colors to contrll bar
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/themes-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: edited modal
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/themes-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/swipeable-tabs/index.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu component
  apps/KitchenSink-App-feat-homeScreen/app/components/button/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/button/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/menu/index.tsx
  apps/starter-kit-expo/components/ui/button/index.tsx
  apps/starter-kit-expo/components/ui/menu/index.tsx
  apps/starter-kit-next/components/ui/button/index.tsx
  apps/starter-kit-next/components/ui/menu/index.tsx
  src/components/ui/button/index.tsx
  src/components/ui/menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: alert dialogue
  apps/KitchenSink-App-feat-homeScreen/app/components/alert-dialog/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/AnimatedBackdrop.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/AnimatedContent.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/animation-config.ts
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/index.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/AnimatedBackdrop.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/AnimatedContent.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/animation-config.ts
  apps/starter-kit-expo/components/ui/alert-dialog/index.tsx
  apps/starter-kit-next/components/ui/alert-dialog/AnimatedBackdrop.tsx
  apps/starter-kit-next/components/ui/alert-dialog/AnimatedContent.tsx
  apps/starter-kit-next/components/ui/alert-dialog/animation-config.ts
  apps/starter-kit-next/components/ui/alert-dialog/index.tsx
  src/components/ui/alert-dialog/AnimatedBackdrop.tsx
  src/components/ui/alert-dialog/AnimatedContent.tsx
  src/components/ui/alert-dialog/animation-config.ts
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change alert dialogue styling
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/index.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/index.tsx
  apps/starter-kit-next/components/ui/alert-dialog/index.tsx
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the max widht for the alert dialogue
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/index.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/index.tsx
  apps/starter-kit-next/components/ui/alert-dialog/index.tsx
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove the shadow form modal
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: blur view to alert dialogue
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/index.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/index.tsx
  apps/starter-kit-next/components/ui/alert-dialog/index.tsx
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed PH banner
  apps/website/components/page-components/landing-page/WebsiteLayout/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add BlurView as backdrop to enhance visual depth and focus on active content
  apps/KitchenSink-App-feat-homeScreen/components/ui/alert-dialog/index.tsx
  apps/starter-kit-expo/components/ui/alert-dialog/index.tsx
  apps/starter-kit-next/components/ui/alert-dialog/index.tsx
  apps/website/package.json
  apps/website/yarn.lock
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: font themeing
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/components-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/theme-toggle/index.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
  apps/KitchenSink-App-feat-homeScreen/contexts/app-theme-context.tsx
  apps/KitchenSink-App-feat-homeScreen/tailwind.config.js
  src/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: setup georgia font
  apps/KitchenSink-App-feat-homeScreen/assets/fonts/georgia.ttf
Due: none

feat:setup melno font
  apps/KitchenSink-App-feat-homeScreen/assets/fonts/melno.ttf
Due: none

feat: setup the fonts
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/components-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/app/_layout.tsx
  apps/KitchenSink-App-feat-homeScreen/app/fonts.ts
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
  apps/KitchenSink-App-feat-homeScreen/package.json
  apps/KitchenSink-App-feat-homeScreen/tailwind.config.js
  apps/KitchenSink-App-feat-homeScreen/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: remove useless files and add custom fonts
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/components-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/app/fonts.ts
  apps/KitchenSink-App-feat-homeScreen/assets/fonts/geist.ttf
  apps/KitchenSink-App-feat-homeScreen/assets/fonts/gt-america.otf
  apps/KitchenSink-App-feat-homeScreen/components/EditScreenInfo.tsx
  apps/KitchenSink-App-feat-homeScreen/components/ExternalLink.tsx
  apps/KitchenSink-App-feat-homeScreen/components/Themed.tsx
  apps/KitchenSink-App-feat-homeScreen/components/useClientOnlyValue.ts
  apps/KitchenSink-App-feat-homeScreen/components/useClientOnlyValue.web.ts
  apps/KitchenSink-App-feat-homeScreen/components/useColorScheme.ts
  apps/KitchenSink-App-feat-homeScreen/components/useColorScheme.web.ts
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: violate bloom fonts
  apps/KitchenSink-App-feat-homeScreen/app/fonts.ts
  apps/KitchenSink-App-feat-homeScreen/assets/fonts/jakarta.ttf
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
  apps/KitchenSink-App-feat-homeScreen/package.json
  apps/KitchenSink-App-feat-homeScreen/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat:setup the customisable font
  apps/KitchenSink-App-feat-homeScreen/components/custom/bottom-control-bar/index.tsx
  apps/KitchenSink-App-feat-homeScreen/components/custom/component-presentation/usage-variant-flatlist.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: setup the fonts for the button
  apps/KitchenSink-App-feat-homeScreen/components/ui/button/index.tsx
  apps/starter-kit-expo/components/ui/button/index.tsx
  apps/starter-kit-next/components/ui/button/index.tsx
  src/components/ui/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fonts
  apps/KitchenSink-App-feat-homeScreen/app/(home)/_tabs/components-tab.tsx
  apps/KitchenSink-App-feat-homeScreen/app/(home)/components/_layout.tsx
  apps/KitchenSink-App-feat-homeScreen/app/fonts.ts
  apps/KitchenSink-App-feat-homeScreen/components/custom/component-presentation/usage-variant-flatlist.tsx
  apps/KitchenSink-App-feat-homeScreen/constants/themes.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
