Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.stories.mdx
  example/storybook/src/styled/configuration/Themes/index.stories.mdx
Due: none

fix: fix InputFIeld's text not in center with size=lg
  packages/config/src/theme/InputField.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: lineHeight with $md better
  packages/config/src/theme/InputField.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: multi provider color mode issue
  packages/styled/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: require cycle issue fixed
  packages/styled/react/src/createConfig.ts
  packages/styled/react/src/createGlobalStyles.ts
  packages/styled/react/src/style-sheet/index.ts
  packages/styled/react/src/styled.tsx
  packages/styled/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: inline theme performance
  packages/styled/react/src/StyledProvider.tsx
  packages/styled/react/src/resolver/StyledValueToCSSObject.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: refactor code
  packages/styled/react/src/resolver/StyledValueToCSSObject.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: refactor code
  packages/styled/react/src/StyledProvider.tsx
  packages/styled/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.34
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

fix: nested provider color mode
  packages/styled/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.35
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

fix: data theme id attribute
  packages/styled/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.36
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

fix: added useTheme and useStyled in doc and storybook
  example/storybook/.storybook/preview.js
  example/storybook/.storybook/preview.style.js
  example/storybook/src/styled/hooks/useStyled/index.stories.mdx
  example/storybook/src/styled/hooks/useTheme/index.stories.mdx
  example/storybook/src/ui/hooks/use-styled/index.stories.mdx
  example/storybook/src/ui/hooks/use-styled/use-styled.stories.tsx
  example/storybook/src/ui/hooks/use-styled/useStyled.tsx
  example/storybook/src/ui/hooks/use-theme/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: color mode
  packages/styled/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: color mode issue
  packages/styled/react/src/StyledProvider.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.37-alpha.0
  packages/styled/react/package.json
Due: prettier --write

fix: color mode issue
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

fix: merge conflicts
  packages/styled/react/CHANGELOG.md
Due: prettier --write

Resolves issue #1536
  packages/styled/react/src/resolver/checkAndPush.ts
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.stories.mdx
  example/storybook/src/ui/core-concepts/Universal/index.stories.mdx
Due: none

fix: direction prop name modified
  example/storybook/src/ui/components/Forms/Button/ButtonGroup.stories.tsx
  example/storybook/src/ui/components/Forms/Button/ButtonGroup.tsx
  example/storybook/src/ui/components/Forms/Button/index.stories.mdx
  packages/unstyled/button/src/ButtonGroup.tsx
  packages/unstyled/button/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated pallets
  packages/config/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removed reddit
  example/storybook/src/ui/getting-started/Installation/data.tsx
  example/storybook/src/ui/overview/Introduction/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added dark theme colors and updated light color values
  packages/config/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: replaced textLight with text
  packages/config/src/theme/Accordion.ts
  packages/config/src/theme/ActionsheetItemText.ts
  packages/config/src/theme/ActionsheetSectionHeaderText.ts
  packages/config/src/theme/AvatarFallbackText.ts
  packages/config/src/theme/Button.ts
  packages/config/src/theme/ButtonText.ts
  packages/config/src/theme/CheckboxLabel.ts
  packages/config/src/theme/Fab.ts
  packages/config/src/theme/FabLabel.ts
  packages/config/src/theme/FormControlHelperText.ts
  packages/config/src/theme/FormControlLabelText.ts
  packages/config/src/theme/Heading.ts
  packages/config/src/theme/Input.ts
  packages/config/src/theme/InputField.ts
  packages/config/src/theme/RadioLabel.ts
  packages/config/src/theme/SelectActionsheetItemText.ts
  packages/config/src/theme/SelectActionsheetSectionHeaderText.ts
  packages/config/src/theme/SelectInput.ts
  packages/config/src/theme/Text.ts
  packages/config/src/theme/TextareaInput.ts
  packages/config/src/theme/ToastDescription.ts
  packages/config/src/theme/ToastTitle.ts
  packages/config/src/theme/TooltipContent.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: memoize inject sx
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.39-alpha.0
  packages/styled/react/package.json
Due: prettier --write

fix: version updated
  packages/styled/react/package.json
Due: prettier --write

chore: version updated
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

fix: removed standalone color with Light and Dark
  packages/config/src/gluestack-ui.config.ts
  packages/config/src/theme/Alert.ts
  packages/config/src/theme/Badge.ts
  packages/config/src/theme/Toast.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: resolved props tokenization for mobile
  packages/styled/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.stories.mdx for updating config
  example/storybook/src/ui/theme-configuration/customizing-theme/index.stories.mdx
Due: none

fix: use token theme
  packages/styled/react/src/hooks/useToken.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.39
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
Due: prettier --write

fix: image height width set to revert-layer
  packages/config/src/theme/Image.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/config version bump to 1.0.12
  packages/config/CHANGELOG.md
  packages/config/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
