Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: added the non component docs and mapperers
  apps/docs/app/ui/docs/introduction/index.mdx
  apps/docs/app/ui/docs/quick-start/index.mdx
  mappers/docs.ts
  mappers/kitchen-sink.ts
  mappers/utils/componentOperations.ts
  mappers/utils/docsOperations.ts
  mappers/utils/fileOperations.ts
  packages/src/docs/introduction/index.mdx
  packages/src/docs/quick-start/index.mdx
  scripts/dev.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the mappers for utils
  apps/docs/components/docs-components/table/index.tsx
  apps/docs/components/docs-components/tabs/index.tsx
  apps/docs/utils/aria/dialog/package.json
  apps/docs/utils/aria/focus/package.json
  apps/docs/utils/aria/interactions/package.json
  apps/docs/utils/aria/overlays/package.json
  apps/docs/utils/aria/tsconfig.json
  apps/docs/utils/aria/utils/package.json
  apps/docs/utils/hooks/package.json
  apps/docs/utils/hooks/tsconfig.json
  apps/docs/utils/nativewind/utils/package.json
  apps/docs/utils/nativewind/utils/tsconfig.json
  mappers/docs.ts
  mappers/utils/componentOperations.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: make the imports stement for the docs-components
  apps/docs/app/ui/docs/components/alert/index.mdx
  apps/docs/app/ui/docs/components/box/index.mdx
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/components/center/index.mdx
  apps/docs/app/ui/docs/components/checkbox/index.mdx
  apps/docs/app/ui/docs/components/divider/index.mdx
  apps/docs/app/ui/docs/components/form-control/index.mdx
  apps/docs/app/ui/docs/components/grid/index.mdx
  apps/docs/app/ui/docs/components/hstack/index.mdx
  apps/docs/app/ui/docs/components/icon/index.mdx
  apps/docs/app/ui/docs/components/input/index.mdx
  apps/docs/app/ui/docs/components/modal/index.mdx
  apps/docs/app/ui/docs/components/popover/index.mdx
  apps/docs/app/ui/docs/components/progress/index.mdx
  apps/docs/app/ui/docs/components/spinner/index.mdx
  apps/docs/app/ui/docs/components/text/index.mdx
  apps/docs/app/ui/docs/components/toast/index.mdx
  apps/docs/app/ui/docs/components/vstack/index.mdx
  apps/docs/tsconfig.json
  mappers/utils/componentOperations.ts
  mappers/utils/docsOperations.ts
  mappers/utils/templateGenerator.ts
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/components/ui/form-control/docs/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change the imports in docs
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/components/form-control/index.mdx
  apps/docs/app/ui/docs/introduction/page.tsx
  apps/docs/app/ui/docs/page.tsx
  apps/docs/app/ui/docs/quick-start/page.tsx
  mappers/docs.ts
  mappers/utils/docsOperations.ts
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/components/ui/form-control/docs/index.mdx
  packages/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: correct the approack for mappers
  apps/docs/app/ui/docs/table/page.tsx
  apps/docs/app/ui/docs/tabs/page.tsx
  apps/docs/components/docs-components/table/index.tsx
  mappers/docs.ts
  mappers/utils/docsOperations.ts
  packages/src/docs-components/table/index.tsx
  scripts/dev.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: changes for docs components
  apps/docs/app/ui/docs/page.tsx
  mappers/docs.ts
  mappers/utils/docsOperations.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: copied the introduction page
  apps/docs/app/ui/docs/introduction/index.mdx
  apps/docs/app/ui/docs/table/page.tsx
  apps/docs/app/ui/docs/tabs/page.tsx
  apps/docs/mdx-components.tsx
  packages/src/docs/introduction/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added all recipes
  apps/docs/app/ui/docs/components/accordion/index.mdx
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/components/alert-dialog/index.mdx
  apps/docs/app/ui/docs/components/avatar/index.mdx
  apps/docs/app/ui/docs/components/badge/index.mdx
  apps/docs/app/ui/docs/components/bottomsheet/index.mdx
  apps/docs/app/ui/docs/components/card/index.mdx
  apps/docs/app/ui/docs/components/drawer/index.mdx
  apps/docs/app/ui/docs/components/fab/index.mdx
  apps/docs/app/ui/docs/components/grid/index.mdx
  apps/docs/app/ui/docs/components/heading/index.mdx
  apps/docs/app/ui/docs/components/image/index.mdx
  apps/docs/app/ui/docs/components/link/index.mdx
  apps/docs/app/ui/docs/components/menu/index.mdx
  apps/docs/app/ui/docs/components/portal/index.mdx
  apps/docs/app/ui/docs/components/pressable/index.mdx
  apps/docs/app/ui/docs/components/radio/index.mdx
  apps/docs/app/ui/docs/components/select/index.mdx
  apps/docs/app/ui/docs/components/skeleton/index.mdx
  apps/docs/app/ui/docs/components/slider/index.mdx
  apps/docs/app/ui/docs/components/switch/index.mdx
  apps/docs/app/ui/docs/components/table/index.mdx
  apps/docs/app/ui/docs/components/textarea/index.mdx
  apps/docs/app/ui/docs/components/tooltip/index.mdx
Due: none

feat: added all recipes
  apps/docs/components/ui/flat-list/index.tsx
  apps/docs/components/ui/image-background/index.tsx
  apps/docs/components/ui/input-accessory-view/index.tsx
  apps/docs/components/ui/keyboard-avoiding-view/index.tsx
  apps/docs/components/ui/refresh-control/index.tsx
  apps/docs/components/ui/safe-area-view/index.tsx
  apps/docs/components/ui/scroll-view/index.tsx
  apps/docs/components/ui/section-list/index.tsx
  apps/docs/components/ui/status-bar/index.tsx
  apps/docs/components/ui/view/index.tsx
  apps/docs/components/ui/virtualized-list/index.tsx
  packages/src/components/ui/flat-list/index.tsx
  packages/src/components/ui/image-background/index.tsx
  packages/src/components/ui/index.ts
  packages/src/components/ui/input-accessory-view/index.tsx
  packages/src/components/ui/keyboard-avoiding-view/index.tsx
  packages/src/components/ui/refresh-control/index.tsx
  packages/src/components/ui/safe-area-view/index.tsx
  packages/src/components/ui/scroll-view/index.tsx
  packages/src/components/ui/section-list/index.tsx
  packages/src/components/ui/status-bar/index.tsx
  packages/src/components/ui/view/index.tsx
  packages/src/components/ui/virtualized-list/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change mappers and docs structure
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/page.tsx
  apps/docs/app/ui/docs/home/overview/introduction/index.mdx
  apps/docs/app/ui/docs/home/overview/introduction/page.tsx
  apps/docs/app/ui/docs/home/overview/quick-start/index.mdx
  apps/docs/app/ui/docs/home/overview/quick-start/page.tsx
  apps/docs/components/ui/heading/styles.tsx
  apps/docs/components/ui/index.ts
  apps/docs/components/ui/select/select-actionsheet.tsx
  mappers/docs.ts
  mappers/utils/docsOperations.ts
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/docs/home/getting-started/installation/index.mdx
  packages/src/docs/home/getting-started/installation/page.tsx
  packages/src/docs/home/overview/introduction/index.mdx
  packages/src/docs/home/overview/introduction/page.tsx
  packages/src/docs/home/overview/quick-start/index.mdx
  packages/src/docs/home/overview/quick-start/page.tsx
  scripts/dev.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: copied the installation page and make corrct mappers for file imports
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  apps/docs/components/docs-components/inline-code/index.tsx
  apps/docs/mdx-components.tsx
  mappers/utils/docsOperations.ts
  mappers/utils/templateGenerator.ts
  packages/src/docs-components/inline-code/index.tsx
  packages/src/docs/home/getting-started/installation/index.mdx
  packages/src/docs/home/getting-started/installation/page.tsx
  packages/src/docs/home/overview/introduction/page.tsx
  packages/src/docs/home/overview/quick-start/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

faet: change the accordion docs
  apps/docs/app/ui/docs/components/accordion/index.mdx
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  apps/docs/app/ui/docs/home/getting-started/tooling-setup/index.mdx
  apps/docs/app/ui/docs/home/getting-started/tooling-setup/page.tsx
  apps/docs/package.json
  apps/docs/yarn.lock
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/components/ui/accordion/docs/index.mdx
  packages/src/docs/home/getting-started/tooling-setup/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat; copied whole docs for accordion
  apps/docs/app/ui/docs/components/accordion/index.mdx
  apps/docs/components/code-previewer/index.tsx
  apps/docs/mdx-components.tsx
  packages/src/components/ui/accordion/docs/index.mdx
  packages/src/components/ui/accordion/examples/example2/meta.json
  packages/src/components/ui/accordion/examples/example2/template.handlebars
  packages/src/components/ui/accordion/examples/example3/meta.json
  packages/src/components/ui/accordion/examples/example3/template.handlebars
  packages/src/components/ui/accordion/examples/example4/meta.json
  packages/src/components/ui/accordion/examples/example4/template.handlebars
  packages/src/components/ui/accordion/examples/example5/meta.json
  packages/src/components/ui/accordion/examples/example5/template.handlebars
  packages/src/components/ui/accordion/examples/example6/meta.json
  packages/src/components/ui/accordion/examples/example6/template.handlebars
  packages/src/components/ui/accordion/examples/example7/meta.json
  packages/src/components/ui/accordion/examples/example7/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: changed the layout for code previewer
  apps/docs/components/code-previewer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add the block quote component
  apps/docs/components/note/page.tsx
  apps/docs/mdx-components.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat : changes import statements for lucide react native items
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/components/code-previewer/index.tsx
  apps/docs/package.json
  apps/docs/yarn.lock
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/ActionSheet/examples/with-snappoints/meta.json
  packages/src/components/ui/ActionSheet/examples/with-snappoints/template.handlebars
  packages/src/components/ui/ActionSheet/examples/without-snappoints/meta.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added the action sheet examples
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/ActionSheet/examples/icons/meta.json
  packages/src/components/ui/ActionSheet/examples/icons/template.handlebars
  packages/src/components/ui/ActionSheet/examples/virtualized-list/meta.json
  packages/src/components/ui/ActionSheet/examples/virtualized-list/template.handlebars
Due: prettier --write

feat: complete the docs for action sheet
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/ActionSheet/examples/file-upload/meta.json
  packages/src/components/ui/ActionSheet/examples/file-upload/template.handlebars
  packages/src/components/ui/ActionSheet/examples/flatlist/meta.json
  packages/src/components/ui/ActionSheet/examples/flatlist/template.handlebars
  packages/src/components/ui/ActionSheet/examples/section-list/meta.json
  packages/src/components/ui/ActionSheet/examples/section-list/template.handlebars
Due: prettier --write

feat: created sidebar
  apps/docs/app/layout.tsx
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/components/sidebar/icon.tsx
  apps/docs/components/sidebar/index.tsx
  apps/docs/sidebar.json
  apps/docs/tailwind.config.ts
  packages/src/components/ui/Button/docs/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: copied the docs for heading
  apps/docs/app/ui/docs/components/accordion/index.mdx
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/components/divider/index.mdx
  apps/docs/app/ui/docs/components/heading/index.mdx
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/accordion/docs/index.mdx
  packages/src/components/ui/divider/examples/basic/meta.json
  packages/src/components/ui/divider/examples/basic/template.handlebars
  packages/src/components/ui/form-control/examples/basic/meta.json
  packages/src/components/ui/heading/docs/index.mdx
  packages/src/components/ui/heading/examples/heading-sizes/meta.json
  packages/src/components/ui/heading/examples/heading-sizes/template.handlebars
Due: prettier --write

feat: updarted docs for text component
  apps/docs/app/ui/docs/components/text/index.mdx
  packages/src/components/ui/text/docs/index.mdx
Due: none

feat: made the styles in the code block
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  apps/docs/components/code-block/index.tsx
  apps/docs/components/code-block/styles.css
  apps/docs/components/code-previewer/index.tsx
  apps/docs/components/docs-components/inline-code/index.tsx
  apps/docs/components/docs-components/table/index.tsx
  apps/docs/mdx-components.tsx
  apps/docs/tailwind.config.ts
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/components/ui/fab/docs/index.mdx
  packages/src/components/ui/fab/examples/basic/meta.json
  packages/src/components/ui/fab/examples/basic/template.handlebars
  packages/src/components/ui/skeleton/docs/index.mdx
  packages/src/components/ui/skeleton/examples/basic/meta.json
  packages/src/components/ui/skeleton/examples/basic/template.handlebars
  packages/src/components/ui/skeleton/examples/example1/meta.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added the anatomy image
  apps/docs/app/ui/docs/components/actionsheet/index.mdx
  apps/docs/app/ui/docs/components/alert/index.mdx
  apps/docs/components/docs-components/anatomy-image/index.tsx
  apps/docs/components/docs-components/table/index.tsx
  apps/docs/next.config.js
  packages/src/components/ui/ActionSheet/docs/index.mdx
  packages/src/components/ui/alert/docs/index.mdx
  packages/src/docs-components/anatomy-image/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

faet: corrected inline code
  packages/src/docs-components/inline-code/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed the installtion docs
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  mappers/utils/templateGenerator.ts
  packages/src/docs/home/getting-started/installation/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: completed the doc sfor alert component
  apps/docs/app/ui/docs/components/alert/index.mdx
  apps/docs/components/code-block/index.tsx
  apps/docs/components/code-previewer/index.tsx
  packages/src/components/ui/alert/docs/index.mdx
  packages/src/components/ui/alert/examples/cloud-sync/meta.json
  packages/src/components/ui/alert/examples/cloud-sync/template.handlebars
  packages/src/components/ui/alert/examples/confirm-password-modal/meta.json
  packages/src/components/ui/alert/examples/confirm-password-modal/template.handlebars
  packages/src/components/ui/alert/examples/warning-alert/meta.json
  packages/src/components/ui/alert/examples/warning-alert/template.handlebars
  packages/src/components/ui/alert/examples/with-cta/meta.json
  packages/src/components/ui/alert/examples/with-cta/template.handlebars
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: changed the alert-dialog docs
  apps/docs/app/ui/docs/components/alert-dialog/index.mdx
  apps/docs/components/docs-components/table/index.tsx
  packages/src/components/ui/alert-dialog/docs/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: completed the docs for alert dialog
  apps/docs/app/ui/docs/components/alert-dialog/index.mdx
  packages/src/components/ui/alert-dialog/docs/index.mdx
  packages/src/components/ui/alert-dialog/examples/with-delete/meta.json
  packages/src/components/ui/alert-dialog/examples/with-delete/template.handlebars
  packages/src/components/ui/alert-dialog/examples/with-icons-cta/meta.json
  packages/src/components/ui/alert-dialog/examples/with-icons-cta/template.handlebars
  packages/src/components/ui/alert-dialog/examples/with-image/meta.json
  packages/src/components/ui/alert-dialog/examples/with-image/template.handlebars
Due: prettier --write

feat: fixed the docs for hydration error
  apps/docs/app/ui/docs/components/button/index.mdx
  apps/docs/app/ui/docs/home/getting-started/installation/index.mdx
  apps/docs/app/ui/docs/home/getting-started/tooling-setup/index.mdx
  apps/docs/components/code-block/index.tsx
  apps/docs/components/docs-components/table/index.tsx
  packages/src/components/ui/Button/docs/index.mdx
  packages/src/docs/home/getting-started/installation/index.mdx
  packages/src/docs/home/getting-started/tooling-setup/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added the docs for avatar
  apps/docs/app/ui/docs/components/avatar/index.mdx
  packages/src/components/ui/avatar/docs/index.mdx
  packages/src/components/ui/avatar/examples/custom/meta.json
  packages/src/components/ui/avatar/examples/custom/template.handlebars
  packages/src/components/ui/avatar/examples/fallback/meta.json
  packages/src/components/ui/avatar/examples/fallback/template.handlebars
  packages/src/components/ui/avatar/examples/group-with-badge/meta.json
  packages/src/components/ui/avatar/examples/group-with-badge/template.handlebars
  packages/src/components/ui/avatar/examples/group-without-badge/meta.json
  packages/src/components/ui/avatar/examples/group-without-badge/template.handlebars
  packages/src/components/ui/avatar/examples/group/meta.json
  packages/src/components/ui/avatar/examples/group/template.handlebars
  packages/src/components/ui/avatar/examples/with-icons/meta.json
  packages/src/components/ui/avatar/examples/with-icons/template.handlebars
  packages/src/components/ui/avatar/examples/with-image/meta.json
  packages/src/components/ui/avatar/examples/with-image/template.handlebars
  packages/src/components/ui/avatar/examples/with-letters/meta.json
  packages/src/components/ui/avatar/examples/with-letters/template.handlebars
Due: prettier --write

faet: completed the docs for badge
  apps/docs/app/ui/docs/components/badge/index.mdx
  packages/src/components/ui/badge/docs/index.mdx
  packages/src/components/ui/badge/examples/composition/meta.json
  packages/src/components/ui/badge/examples/composition/template.handlebars
  packages/src/components/ui/badge/examples/with-avatar/meta.json
  packages/src/components/ui/badge/examples/with-avatar/template.handlebars
Due: prettier --write

feat: updated the docs for box
  apps/docs/app/ui/docs/components/box/index.mdx
  packages/src/components/ui/box/docs/index.mdx
Due: none

feat: added header for homepage
  apps/docs/app/layout.tsx
  apps/docs/components/custom/header/index.tsx
  apps/docs/components/custom/header/sidebar-header-items.tsx
  apps/docs/components/custom/header/sidebar-header.tsx
  apps/docs/components/custom/page-components/header/Docsearch.tsx
  apps/docs/components/custom/page-components/header/index.tsx
  apps/docs/components/header/index.tsx
  apps/docs/components/sidebar/icon.tsx
  apps/docs/components/sidebar/index.tsx
  apps/docs/components/ui/gluestack-ui-provider/index.web.tsx
  apps/docs/components/ui/image-background/index.tsx
  apps/docs/components/ui/image/creator/Image.tsx
  apps/docs/package.json
  apps/docs/public/icon/favicons/faq-dark.svg
  apps/docs/public/icon/favicons/faq.svg
  apps/docs/public/icon/favicons/gluestack.svg
  apps/docs/public/icon/favicons/help.svg
  apps/docs/public/icon/favicons/main.svg
  apps/docs/public/icon/favicons/pro.svg
  apps/docs/public/icon/favicons/starter-kit.svg
  apps/docs/public/icon/favicons/style.svg
  apps/docs/public/icon/favicons/ui.svg
  apps/docs/public/icon/favicons/vscode.svg
  apps/docs/tailwind.config.ts
  apps/docs/tsconfig.json
  apps/docs/utils/context/theme-context/index.tsx
  apps/docs/yarn.lock
  packages/src/components/ui/image-background/index.tsx
  packages/src/components/ui/image/creator/Image.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
