Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

v0.2.8-alpha.0
  packages/focus/package.json
Due: prettier --write

fix: textarea rename
  textarea/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: textarea rename
  example/storybook/src/ui-components/TextArea/index.tsx
  example/storybook/src/ui-components/Textarea/config.json
  example/storybook/src/ui-components/Textarea/index.tsx
  example/storybook/src/ui-components/Textarea/styled-components/Input.tsx
  example/storybook/src/ui-components/Textarea/styled-components/Root.tsx
  example/storybook/src/ui-components/Textarea/styled-components/index.tsx
  packages/textarea/src/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs updated
  textarea/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs updated
  packages/textarea/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: tests updated
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

chore: version bump for select and textarea
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/textarea/CHANGELOG.md
  packages/textarea/package.json
Due: prettier --write

chore: version bump for select and textarea
  select/CHANGELOG.md
  select/package.json
  textarea/CHANGELOG.md
  textarea/package.json
Due: prettier --write

fix: icon updated
  form-control/README.md
  icon/Icons/Add.tsx
  icon/Icons/Arrow.tsx
  icon/Icons/Check.tsx
  icon/Icons/Chevron.tsx
  icon/Icons/Circle.tsx
  icon/Icons/Close.tsx
  icon/Icons/Delete.tsx
  icon/Icons/Favourite.tsx
  icon/Icons/Hamburger.tsx
  icon/Icons/Info.tsx
  icon/Icons/Minus.tsx
  icon/Icons/Moon.tsx
  icon/Icons/Play.tsx
  icon/Icons/Question.tsx
  icon/Icons/Search.tsx
  icon/Icons/Share.tsx
  icon/Icons/Sun.tsx
  icon/Icons/ThreeDots.tsx
  icon/Icons/Warning.tsx
  icon/Icons/index.tsx
  icon/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox design for mobile"
  example/storybook/src/ui-components/Checkbox/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: use hover and use press
  packages/interactions/src/index.ts
  packages/interactions/src/index.web.ts
  packages/interactions/src/useHover.ts
  packages/interactions/src/useHover.web.ts
  packages/interactions/src/useIsPressProps.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.10-alpha.1
  packages/interactions/package.json
Due: prettier --write

fix: undefined error on web
  packages/interactions/src/useHover.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.10
  packages/interactions/package.json
Due: prettier --write

v0.2.8
  packages/focus/package.json
Due: prettier --write

fix: docs update
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
Due: none

feat: modal examples
  example/storybook/src/components/Overlay/Modal/Modal.tsx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: toats examples
  example/storybook/src/components/Feedback/Toast/Toast.tsx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: badge examples
  example/storybook/src/components/DataDisplay/Badge/Badge.tsx
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox icon updated
  example/storybook/src/ui-components/Checkbox/styled-components/Root.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menu placement example
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
Due: none

feat: actionsheet migration
  actionsheet/babel.config.js
  actionsheet/package.json
  actionsheet/src/ActionsheetItem.tsx
  actionsheet/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet migration
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  packages/actionsheet/babel.config.js
  packages/actionsheet/package.json
  packages/actionsheet/src/ActionsheetItem.tsx
  packages/actionsheet/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: removing unwanted dependancies from alert
  alert/package.json
Due: prettier --write

feat: removing unwanted dependancies from alert
  packages/alert/package.json
Due: prettier --write

fix: styling
  example/storybook/src/ui-components/Textarea/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menuitem disabled state
  example/storybook/src/ui-components/Menu/styled-components/Item.tsx
  example/storybook/src/ui-components/Menu/styled-components/Item.web.tsx
  packages/menu/src/MenuItem.tsx
  packages/menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: menuitem disabled state
  menu/src/MenuItem.tsx
  menu/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: alert dialog migration
  alert-dialog/babel.config.js
  alert-dialog/package.json
  alert-dialog/src/AlertDialogCloseButton.tsx
  alert-dialog/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: alert dialog migration
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  packages/alert-dialog/babel.config.js
  packages/alert-dialog/package.json
  packages/alert-dialog/src/AlertDialogCloseButton.tsx
  packages/alert-dialog/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: button migration
  example/storybook/src/components/Forms/Button/index.stories.mdx
  packages/button/babel.config.js
  packages/button/package.json
  packages/button/src/Button.tsx
  packages/button/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: button migration
  button/babel.config.js
  button/package.json
  button/src/Button.tsx
  button/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: input docs updated
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: build issue fixes
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/ui-components/Icons/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes in docs"
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
Due: none

fix: "changes in docs"
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
Due: none

fix: "changes in docs"
  example/storybook/src/components/Forms/Link/index.stories.mdx
Due: none

fix: "changes in docs"
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: "changes in docs"
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none
