Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated styling in core toast
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
  packages/toast/src/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated styling for core toast component
  toast/src/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated styling for core toast component
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
  packages/toast/src/ToastList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/modal version bump to 0.1.11
  packages/modal/CHANGELOG.md
  packages/modal/package.json
Due: prettier --write

chore: @gluestack-ui/modal version bump to 0.1.11
  modal/CHANGELOG.md
  modal/package.json
Due: prettier --write

fix: updated margin
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/menu version bump to 0.2.0
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier --write

chore: @gluestack-ui/menu version bump to 0.2.0
  menu/CHANGELOG.md
  menu/package.json
Due: prettier --write

fix: "added wrapper"
  example/storybook/src/components/Forms/Slider/index.stories.mdx
Due: none

fix: "added wrapper"
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none

fix: "resolve avatar group issue"
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
Due: none

fix: "resovle some text issues"
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

feat: "added tooltip example"
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
Due: none

fix: styling issue
  example/storybook/src/ui-components/Menu/styled-components/Item.tsx
  example/storybook/src/ui-components/Menu/styled-components/Item.web.tsx
  example/storybook/src/ui-components/Menu/styled-components/ItemLabel.tsx
  example/storybook/src/ui-components/Menu/styled-components/Root.tsx
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/avatar version bump to 0.1.2
  avatar/CHANGELOG.md
  avatar/package.json
Due: prettier --write

chore: @gluestack-ui/avatar version bump to 0.1.2
  packages/avatar/CHANGELOG.md
  packages/avatar/package.json
Due: prettier --write

fix: updated snapshot
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/junit.xml
Due: none

Revert "fix: updated snapshot"
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/junit.xml
Due: none

chore: @gluestack-ui/toast version bump to 0.1.4
  packages/toast/CHANGELOG.md
  packages/toast/package.json
Due: prettier --write

chore: @gluestack-ui/toast version bump to 0.1.4
  toast/CHANGELOG.md
  toast/package.json
Due: prettier --write

docs: installation docs
  example/storybook/.storybook/preview.js
  example/storybook/package.json
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/install-expo/install.stories.mdx
  example/storybook/src/getting-started/install-next/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: folder structure
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: headings
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

feat: updated twitter link
  example/storybook/src/overview/Introduction/index.stories.mdx
Due: none

fix: added config file corrected dependancy
  menu/package.json
Due: prettier --write

fix: added config file corrected dependancy
  example/storybook/src/ui-components/Menu/config.json
  packages/menu/package.json
  yarn.lock
Due: prettier --write

chore: @gluestack-ui/menu version bump to 0.2.1
  menu/CHANGELOG.md
  menu/package.json
Due: prettier --write

chore: @gluestack-ui/menu version bump to 0.2.1
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier --write

fix: installation heading
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

chore: version upgrade toast
  packages/toast/CHANGELOG.md
  packages/toast/package.json
Due: prettier --write

chore: version upgrade toast
  toast/CHANGELOG.md
  toast/package.json
Due: prettier --write

fix: npm installation
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: npm installation
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: installation
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/install-expo/index.stories.mdx
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: removed default border radius
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/pressable version bump to 0.1.2
  pressable/CHANGELOG.md
  pressable/package.json
Due: prettier --write

chore: @gluestack-ui/pressable version bump to 0.1.2
  example/storybook/package.json
  packages/pressable/CHANGELOG.md
  packages/pressable/package.json
Due: prettier --write

chore: @gluestack-ui/tabs version bump to 0.1.6
  tabs/CHANGELOG.md
  tabs/package.json
Due: prettier --write

chore: @gluestack-ui/tabs version bump to 0.1.6
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier --write

fix: removed extra typing
  packages/vstack/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
