Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove icon
  example/storybook/public/images/gluestack-ui-icon.png
Due: none

feat: update example stories
  example/storybook/src/components/Layout/LinearGradient/LinearGradientCard.tsx
  example/storybook/src/components/Layout/LinearGradient/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.0
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

feat: styling docs added
  example/storybook/package.json
  example/storybook/src/customize-and-style/Overwriting/index.stories.mdx
  example/storybook/src/styling/color-mode/index.stories.mdx
  example/storybook/src/styling/descendants/index.stories.mdx
  example/storybook/src/styling/overview/index.stories.mdx
  example/storybook/src/styling/platform-specific/index.stories.mdx
  example/storybook/src/styling/responsive/index.stories.mdx
  example/storybook/src/styling/state/index.stories.mdx
  example/storybook/src/styling/variants/index.stories.mdx
  example/storybook/src/utils.ts
  packages/themed/package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: order of sidebar
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: conflicts resolved
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: sx props
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
Due: none

fix: sx props
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
  example/storybook/src/styling/variants/index.stories.mdx
Due: none

feat: supported utility props added
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
Due: none

feat: supported utility props added
  example/storybook/src/customize-and-style/Overwriting/index.stories.mdx
Due: none

feat: alertDialog done
  src/components/AlertDialog/index.tsx
  src/components/AlertDialog/styled-components/Backdrop.tsx
  src/components/AlertDialog/styled-components/CloseButton.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added style reference in components
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: getting started command
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

feat: basic theme support with issue with web utility prop override
  example/ui-examples/App.tsx
  example/ui-examples/gluestack-ui.config.ts
  packages/react/src/Theme.tsx
  packages/react/src/createConfig.ts
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/index.ts
  packages/react/src/resolver/StyledValueToCSSObject.ts
  packages/react/src/style-sheet/index.ts
  packages/react/src/styled.tsx
  packages/react/src/updateCSSStyleInOrderedResolved.web.ts
  packages/react/src/updateOrderUnResolvedMap.ts
  packages/react/src/utils.ts
  packages/react/src/utils/cssify/create-stylesheet/index.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: default theme page
  example/storybook/src/theme/default-theme/DefaultComponets.tsx
  example/storybook/src/theme/default-theme/index.stories.mdx
  example/storybook/src/theme/overview/index.stories.mdx
  packages/themed/src/components/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: alertDialog done
  src/components/AlertDialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: alertDialog final
  src/components/AlertDialog/index.tsx
  src/components/AlertDialog/styled-components/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alertDialog and modal done
  src/components/AlertDialog/index.tsx
  src/components/AlertDialog/styled-components/CloseButton.tsx
  src/components/Modal/index.tsx
  src/components/Modal/styled-components/Backdrop.tsx
  src/components/Modal/styled-components/CloseButton.tsx
  src/components/Modal/styled-components/Content.tsx
  src/components/Modal/styled-components/Footer.tsx
  src/components/Modal/styled-components/Header.tsx
  src/components/Modal/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook fixes
  example/storybook/.eslintignore
  example/storybook/.gitignore
  example/storybook/.ondevice/main.js
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/.storybook/main.js
  example/storybook/App.tsx
  example/storybook/SX.js
  example/storybook/app.json
  example/storybook/metro.config.js
  example/storybook/package.json
  example/storybook/public/assets/BabelResolverSteps.png
  example/storybook/public/assets/BabelResolverStepsdark.png
  example/storybook/public/assets/PerformanceScreenshot.png
  example/storybook/public/assets/PerformanceScreenshot1.png
  example/storybook/scripts/create-mdx-story.js
  example/storybook/scripts/create-mutilple-stories.js
  example/storybook/scripts/create-story.js
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  example/storybook/transformer.js
  example/storybook/tsconfig.json
  example/ui-examples/App.tsx
  package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs content updated
  example/storybook/.storybook/preview.js
  example/storybook/public/images/assets/PerformanceScreenshot.png
  example/storybook/src/performance/overview/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: workflow
  .github/workflows/trigger-update-docs.yml
Due: none

fix: type prop
  packages/accordion/src/Context.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor changes
  example/storybook/src/guides/building-desing-system/index.stories.mdx
Due: none

fix: content
  example/storybook/src/guides/building-desing-system/index.stories.mdx
Due: none

fix: content
  example/storybook/public/images/PerformanceScreenshot.png
  example/storybook/src/performance/overview/index.stories.mdx
  example/storybook/src/production-optimizations/babel-plugin/index.stories.mdx
Due: none

feat: default theme page
  example/storybook/src/theme/default-theme/DefaultComponets.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: sandbox and stack overflow link
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/guides/install-expo/index.stories.mdx
  example/storybook/src/guides/install-nextjs/index.stories.mdx
  example/storybook/src/guides/install-rn/index.stories.mdx
  example/storybook/src/overview/GettingStarted/Card2.tsx
  example/storybook/src/overview/GettingStarted/data.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added custom theme
  example/storybook/src/theme/customizing-theme/CustomTheme.tsx
  example/storybook/src/theme/customizing-theme/index.stories.mdx
  example/storybook/src/theme/default-theme/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: peer deps
  avatar/package.json
Due: prettier --write

fix: sandbox and stack overflow link
  example/storybook/src/overview/GettingStarted/Card2.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: supported utility props page
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
Due: none

feat: customizing component
  example/storybook/src/theme/customizing-components/CustomComponent.tsx
  example/storybook/src/theme/customizing-components/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs content updated
  example/storybook/.storybook/preview.js
  example/storybook/src/getting-started/vscode-extension/index.stories.mdx
  example/storybook/src/hooks/react-native-aria/index.stories.mdx
  example/storybook/src/migration/native-base-to-gluestack-ui/index.stories.mdx
  example/storybook/src/more/contribution-guidelines/index.stories.mdx
  example/storybook/src/more/faqs/index.stories.mdx
  example/storybook/src/more/testing/index.stories.mdx
  example/storybook/src/production-optimizations/babel-plugin/index.stories.mdx
  example/storybook/src/recipes/card/index.stories.mdx
  example/storybook/src/resources/kitchen-sink/index.stories.mdx
  example/storybook/src/resources/todo-list/index.stories.mdx
  example/storybook/src/styling/variants/index.stories.mdx
  example/storybook/src/theme/customizing-fonts/index.stories.mdx
  example/storybook/src/theme/default-theme/index.stories.mdx
  example/storybook/src/theme/overview/index.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: docs content updated
  example/storybook/src/getting-started/vscode-extension/index.stories.mdx
  example/storybook/src/performance/benchmarks/index.stories.mdx
  example/storybook/src/react-native-components/ScrollView/index.stories.mdx
Due: none

fix: moved getting started installation page
  example/storybook/.storybook/preview.js
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/getting-started/Installation/App.tsx
  example/storybook/src/getting-started/Installation/AvatarDemo.tsx
  example/storybook/src/getting-started/Installation/BadgeDemo.tsx
  example/storybook/src/getting-started/Installation/Card.tsx
  example/storybook/src/getting-started/Installation/Card1.tsx
  example/storybook/src/getting-started/Installation/Card2.tsx
  example/storybook/src/getting-started/Installation/CardTalk.tsx
  example/storybook/src/getting-started/Installation/Checkbox.tsx
  example/storybook/src/getting-started/Installation/CheckboxDemo.tsx
  example/storybook/src/getting-started/Installation/Community.tsx
  example/storybook/src/getting-started/Installation/Expo.tsx
  example/storybook/src/getting-started/Installation/Expo1.tsx
  example/storybook/src/getting-started/Installation/FormControlDemo.tsx
  example/storybook/src/getting-started/Installation/MYSvg.tsx
  example/storybook/src/getting-started/Installation/MySvgComponent.tsx
  example/storybook/src/getting-started/Installation/Next.tsx
  example/storybook/src/getting-started/Installation/RadioDemo.tsx
  example/storybook/src/getting-started/Installation/ReactN.tsx
  example/storybook/src/getting-started/Installation/Reddit.tsx
  example/storybook/src/getting-started/Installation/SelectDemo.tsx
  example/storybook/src/getting-started/Installation/SliderDemo.tsx
  example/storybook/src/getting-started/Installation/Socail.tsx
  example/storybook/src/getting-started/Installation/Stackoverflow.tsx
  example/storybook/src/getting-started/Installation/Talk.tsx
  example/storybook/src/getting-started/Installation/content.tsx
  example/storybook/src/getting-started/Installation/content1.tsx
  example/storybook/src/getting-started/Installation/data.tsx
  example/storybook/src/getting-started/Installation/index.stories.mdx
  example/storybook/src/getting-started/Installation/index.tsx
  example/storybook/src/getting-started/Installation/index1.tsx
  example/storybook/src/getting-started/Installation/talk.png
  example/storybook/src/overview/GettingStarted/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: utils path
  example/storybook/src/theme/customizing-components/index.stories.mdx
  example/storybook/src/theme/customizing-theme/index.stories.mdx
Due: none

fix: documentation
  example/storybook/public/assets/sanket-react-nexus.png
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
