Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: aligned power_of_tailwind button example
  apps/website/components/page-components/landing-page/PowerOfTailwind/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: font family for website docs
  apps/website/tailwind.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed all components page
  apps/kitchen-sink/app/components/button/index.tsx
  apps/website/app/ui/docs/components/box/index.mdx
  apps/website/app/ui/docs/components/button/index.mdx
  apps/website/app/ui/docs/components/drawer/index.mdx
  apps/website/app/ui/docs/components/icon/index.mdx
  apps/website/app/ui/docs/components/image/index.mdx
  apps/website/app/ui/docs/components/modal/index.mdx
  apps/website/app/ui/docs/components/portal/index.mdx
  apps/website/app/ui/docs/components/radio/index.mdx
  apps/website/app/ui/docs/components/skeleton/index.mdx
  apps/website/app/ui/docs/components/switch/index.mdx
  apps/website/components/page-components/all-components/button/index.tsx
  apps/website/components/page-components/all-components/index.tsx
  apps/website/tailwind.config.ts
  package-lock.json
  package.json
  packages/components/ui/box/docs/index.mdx
  packages/components/ui/button/docs/index.mdx
  packages/components/ui/button/examples/basic/template.handlebars
  packages/components/ui/drawer/docs/index.mdx
  packages/components/ui/icon/docs/index.mdx
  packages/components/ui/image/docs/index.mdx
  packages/components/ui/modal/docs/index.mdx
  packages/components/ui/portal/docs/index.mdx
  packages/components/ui/radio/docs/index.mdx
  packages/components/ui/skeleton/docs/index.mdx
  packages/components/ui/switch/docs/index.mdx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed tutorials section and landing page checkbox color
  apps/website/.vercelignore
  apps/website/app/ui/docs/guides/tutorials/building-ecommerce-app/index.mdx
  apps/website/app/ui/docs/guides/tutorials/building-ecommerce-app/vadim-stream.tsx
  apps/website/components/docs-components/Building-Ecommerce-App/vadim-stream.tsx
  apps/website/components/page-components/landing-page/Fold1/index.tsx
  apps/website/vercel.json
  package.json
  packages/docs-components/Building-Ecommerce-App/vadim-stream.tsx
  packages/docs/guides/tutorials/building-ecommerce-app/index.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added canonical Links in root Layout
  apps/website/app/layout.tsx
  apps/website/components/custom/canonical/CanonicalLink.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed inline-code style
  apps/website/components/docs-components/inline-code/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: implemented scroll-to-top on page navigation
  apps/website/components/custom/layout/PrevNextButtons/index.tsx
  apps/website/components/custom/layout/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed layout mistake
  apps/website/components/custom/layout/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: sorted components Alphabetically in all-components page
  apps/website/components/page-components/all-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed Inconsistent paddings in fold-3
  apps/website/components/page-components/landing-page/Fold3/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated Description of MCP server on landing page
  apps/website/components/page-components/landing-page/MCPServer/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: created mapper for starter-kit-expo
  scripts/mappers/index.ts
  scripts/mappers/starter-kit-expo/componentsOperations.ts
  scripts/mappers/starter-kit-expo/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added scripts for running specific mappers
  package.json
  scripts/dev.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: initialized starter-kit-expo with typescript and nativewind
  apps/starter-kit-expo/.gitignore
  apps/starter-kit-expo/app.json
  apps/starter-kit-expo/app/(tabs)/_layout.tsx
  apps/starter-kit-expo/app/(tabs)/index.tsx
  apps/starter-kit-expo/app/(tabs)/two.tsx
  apps/starter-kit-expo/app/+html.tsx
  apps/starter-kit-expo/app/+not-found.tsx
  apps/starter-kit-expo/app/_layout.tsx
  apps/starter-kit-expo/app/modal.tsx
  apps/starter-kit-expo/assets/fonts/SpaceMono-Regular.ttf
  apps/starter-kit-expo/assets/images/adaptive-icon.png
  apps/starter-kit-expo/assets/images/favicon.png
  apps/starter-kit-expo/assets/images/icon.png
  apps/starter-kit-expo/assets/images/splash-icon.png
  apps/starter-kit-expo/babel.config.js
  apps/starter-kit-expo/constants/Colors.ts
  apps/starter-kit-expo/global.css
  apps/starter-kit-expo/metro.config.js
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/tailwind.config.js
  apps/starter-kit-expo/tsconfig.json
  apps/starter-kit-expo/yarn.lock
  apps/website/components/docs-components/inline-code/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: added config files and other necessary packages
  apps/starter-kit-expo/app/(tabs)/_layout.tsx
  apps/starter-kit-expo/app/(tabs)/index.tsx
  apps/starter-kit-expo/app/(tabs)/two.tsx
  apps/starter-kit-expo/app/+html.tsx
  apps/starter-kit-expo/app/+not-found.tsx
  apps/starter-kit-expo/app/_layout.tsx
  apps/starter-kit-expo/app/index.tsx
  apps/starter-kit-expo/app/modal.tsx
  apps/starter-kit-expo/app/tabs/(tabs)/_layout.tsx
  apps/starter-kit-expo/app/tabs/(tabs)/index.tsx
  apps/starter-kit-expo/app/tabs/(tabs)/tab1.tsx
  apps/starter-kit-expo/app/tabs/(tabs)/tab2.tsx
  apps/starter-kit-expo/app/tabs/_layout.tsx
  apps/starter-kit-expo/assets/icons/DocumentData.tsx
  apps/starter-kit-expo/assets/icons/Gradient.tsx
  apps/starter-kit-expo/assets/icons/LightbulbPerson.tsx
  apps/starter-kit-expo/assets/icons/Logo.tsx
  apps/starter-kit-expo/assets/icons/Rocket.tsx
  apps/starter-kit-expo/babel.config.js
  apps/starter-kit-expo/constants/Colors.ts
  apps/starter-kit-expo/gluestack-ui.config.json
  apps/starter-kit-expo/metro.config.js
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/tailwind.config.js
  apps/starter-kit-expo/tsconfig.json
  apps/starter-kit-expo/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: added react-native-css-interop package
  apps/starter-kit-expo/app/_layout.tsx
  apps/starter-kit-expo/app/tabs/_layout.tsx
  apps/starter-kit-expo/package.json
  apps/starter-kit-expo/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated mapper fileOperations to not create empty dir when there is no content inside
  scripts/mappers/utils/fileOperations.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: created starter-kit-next mapper
  package.json
  scripts/mappers/index.ts
  scripts/mappers/starter-kit-next/componentsOperations.ts
  scripts/mappers/starter-kit-next/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: initialized starter-kit-next with nativewind and react-native-web
  apps/starter-kit-next/.gitignore
  apps/starter-kit-next/README.md
  apps/starter-kit-next/app/favicon.ico
  apps/starter-kit-next/app/globals.css
  apps/starter-kit-next/app/layout.tsx
  apps/starter-kit-next/app/page.tsx
  apps/starter-kit-next/eslint.config.mjs
  apps/starter-kit-next/nativewind-env.d.ts
  apps/starter-kit-next/next.config.js
  apps/starter-kit-next/package-lock.json
  apps/starter-kit-next/package.json
  apps/starter-kit-next/postcss.config.js
  apps/starter-kit-next/postcss.config.mjs
  apps/starter-kit-next/public/file.svg
  apps/starter-kit-next/public/globe.svg
  apps/starter-kit-next/public/next.svg
  apps/starter-kit-next/public/vercel.svg
  apps/starter-kit-next/public/window.svg
  apps/starter-kit-next/tailwind.config.js
  apps/starter-kit-next/tsconfig.json
  apps/starter-kit-next/yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated next.config.js to pick .web files
  apps/starter-kit-next/app/page.tsx
  apps/starter-kit-next/next.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed --turbopack from dev command
  apps/starter-kit-next/package.json
Due: prettier --write

chore: removed component which was made for testing
  apps/starter-kit-next/app/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added react-aria package
  apps/starter-kit-next/package.json
Due: prettier --write

feat: created next15 specific gluestack-ui-provider
  apps/starter-kit-next/components/ui/gluestack-ui-provider/index.next15.tsx
  packages/components/ui/gluestack-ui-provider/index.next15.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: Prioritized .next15 extensions
  apps/starter-kit-next/next.config.js
Due: eslint --quiet --fix, prettier --write

feat: updated layout and added registry for next15 starter-kit
  apps/starter-kit-next/app/layout.tsx
  apps/starter-kit-next/app/registry.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added package: tailwind-variants
  apps/starter-kit-next/package.json
Due: prettier --write

feat: updated layout
  apps/starter-kit-next/app/layout.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: updated yarn.lock file
  apps/starter-kit-next/yarn.lock
Due: none

chore: added images from gluestack template
  apps/starter-kit-next/public/document-data.svg
  apps/starter-kit-next/public/gradient.svg
  apps/starter-kit-next/public/lightbulb-person.svg
  apps/starter-kit-next/public/logo.svg
  apps/starter-kit-next/public/rocket.svg
  apps/starter-kit-next/public/thirteen.svg
Due: none

chore: updated eslint config
  apps/starter-kit-next/eslint.config.mjs
Due: none

feat: added tailwind-variants.d.ts file
  apps/starter-kit-next/tailwind-variants.d.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated tailwind.config.js file to use gluestack-ui plugin
  apps/starter-kit-next/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

chore: replicated the template as in previous nextjs starter kit
  apps/starter-kit-next/app/globals.css
  apps/starter-kit-next/app/layout.tsx
  apps/starter-kit-next/app/page.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed invalid link for nativewind installation
  packages/docs/home/getting-started/installation/index.mdx
Due: none
