Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: removed space
  example/storybook/src/components/Others/Fab/index.stories.mdx
Due: none

fix: replaced dank with gluestack
  example/storybook/src/ui-components/Radio/styled-components/Icon.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Merge branch 'fix/updated-fab' of github.com:gluestack/gluestack-ui into fix/updated-fab
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: upadted snapshot
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

chore: @gluestack-ui/checkbox version bump to 0.1.8
  checkbox/CHANGELOG.md
  checkbox/package.json
Due: prettier --write

chore: @gluestack-ui/checkbox version bump to 0.1.8
  packages/checkbox/CHANGELOG.md
  packages/checkbox/package.json
Due: prettier --write

fix: updated snapshot
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: updated snapshot
  yarn.lock
Due: none

fix: merge conflict
  example/storybook/junit.xml
Due: none

fix: merge conflict
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: forward ref warning menu
  example/storybook/junit.xml
  packages/menu/src/Menu.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: forward ref warning menu
  menu/src/Menu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated jsx with bash in import statements
  README.md
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
Due: prettier --write

fix: updated jsx with bash in import statements
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

fix: warning of checkgroup aria label
  checkbox/src/CheckboxGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: warning of checkgroup aria label
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  packages/checkbox/src/CheckboxGroup.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated snapshot
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: commenting correctly
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Forms/Button/Button.tsx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated lucide-react-native and docs
  example/storybook/package.json
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: basic alertDialog
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: everything working
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

feat: image package released
  create-release.js
  example/expo-project/babel.config.js
  example/expo-project/tsconfig.json
  example/next-project/package.json
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/babel.config.js
  example/storybook/package.json
  example/storybook/src/components/MediaAndIcons/Image/Image.tsx
  example/storybook/src/ui-components/Image/config.json
  example/storybook/src/ui-components/Image/index.tsx
  example/storybook/src/ui-components/Image/styled-components/Root.web.tsx
  example/storybook/src/ui-components/Radio/styled-components/Icon.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.web.tsx
  example/storybook/tsconfig.json
  mutiple-release.js
  packages/image/.npmignore
  packages/image/CHANGELOG.md
  packages/image/README.md
  packages/image/babel.config.js
  packages/image/package.json
  packages/image/src/Image.tsx
  packages/image/src/index.tsx
  packages/image/src/types.ts
  packages/image/tsconfig.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: snapshot update
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: added inline code imports
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
Due: none

fix: checkbox ref warning
  checkbox/src/Checkbox.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox ref warning
  packages/checkbox/src/Checkbox.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update snapshot
  example/storybook/junit.xml
Due: none

fix: removing dank from checkbox docs
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

fix: storybook button index code fix
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

fix: storybook package json
  example/storybook/package.json
  yarn.lock
Due: prettier --write

fix: storybook type errors
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetFlatList.tsx
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetSectionList.tsx
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetVirtualizedList.tsx
  example/storybook/src/components/Feedback/Toast/Toast.tsx
  example/storybook/src/components/Forms/Button/ButtonGroup.tsx
  example/storybook/src/components/Forms/Slider/Slider.stories.tsx
  example/storybook/src/components/MediaAndIcons/Image/Image.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/menu version bump to 0.2.5
  packages/menu/CHANGELOG.md
  packages/menu/package.json
Due: prettier --write

chore: @gluestack-ui/menu version bump to 0.2.5
  menu/CHANGELOG.md
  menu/package.json
Due: prettier --write

chore: @gluestack-ui/checkbox version bump to 0.1.9
  checkbox/CHANGELOG.md
  checkbox/package.json
Due: prettier --write

chore: @gluestack-ui/checkbox version bump to 0.1.9
  packages/checkbox/CHANGELOG.md
  packages/checkbox/package.json
Due: prettier --write
