Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: test
  .github/workflows/npm-publish.yml
Due: none

chore: revert a change
  apps/website/package.json
Due: prettier --write

chore: added script to wait for packages to be published
  apps/kitchen-sink/package.json
  apps/starter-kit-expo/package.json
  apps/starter-kit-next/package.json
  apps/website/package.json
  scripts/verify-packages.js
Due: eslint --quiet --fix, prettier --write

chore: removed duplicate packages
  apps/website/package.json
Due: prettier --write

chore: removed npm publish workflow
  .github/workflows/npm-publish.yml
Due: none

chore: removed Unnecessary script
  apps/kitchen-sink/package.json
  apps/starter-kit-expo/package.json
  apps/starter-kit-next/package.json
  apps/website/package.json
  apps/website/yarn.lock
  scripts/verify-packages.js
  yarn.lock
Due: eslint --quiet --fix, prettier --write

chore: fixed packages version
  packages/create-gluestack/package.json
  packages/gluestack-core/package.json
  packages/gluestack-ui/package.json
  packages/gluestack-utils/package.json
  packages/ui-next-adapter/package.json
Due: prettier --write

chore: test build
  packages/ui-next-adapter/package.json
Due: prettier --write

feat: change the alert dialog import in the copy pastable
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/gluestack-core/src/alert-dialog/creator/AlertDialog.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogBackdrop.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogBody.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogCloseButton.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogContent.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogFooter.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogHeader.tsx
  packages/gluestack-core/src/alert-dialog/creator/Context.ts
  packages/gluestack-core/src/alert-dialog/creator/OverlayAnimatePresence.tsx
  packages/gluestack-core/src/alert-dialog/creator/index.tsx
  packages/gluestack-core/src/alert-dialog/creator/types.ts
  packages/gluestack-core/src/index.ts
  packages/gluestack-core/tsconfig.build.json
  packages/gluestack-core/tsconfig.json
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat change the gluestack-ui-nightly/core package
  packages/gluestack-core/package.json
  packages/gluestack-core/src/alert-dialog/creator/AlertDialog.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogBackdrop.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogBody.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogCloseButton.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogContent.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogFooter.tsx
  packages/gluestack-core/src/alert-dialog/creator/AlertDialogHeader.tsx
  packages/gluestack-core/src/alert-dialog/creator/Context.ts
  packages/gluestack-core/src/alert-dialog/creator/OverlayAnimatePresence.tsx
  packages/gluestack-core/src/alert-dialog/creator/index.tsx
  packages/gluestack-core/src/alert-dialog/creator/types.ts
  packages/gluestack-core/src/index.ts
  packages/gluestack-core/tsconfig.json
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat change the gluestack-ui-nightly/utils package to take the esm
  packages/gluestack-utils/package.json
Due: prettier --write

feat: updated changesets config
  .changeset/config.json
Due: prettier --write

chore: added prepare and clean script
  packages/create-gluestack/package.json
  packages/gluestack-ui/package.json
  packages/ui-next-adapter/package.json
Due: prettier --write

feat: created workflows for npm publish preview , production and cleanup
  .github/workflows/cleanup-preview.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
  .github/workflows/validate-packages.yml
Due: none

fix: fixed packages versions
  apps/starter-kit-expo/package.json
  apps/starter-kit-next/package.json
  apps/website/package.json
  packages/gluestack-core/package.json
  packages/ui-next-adapter/package.json
Due: prettier --write

resolved module gluestack-ui-nightly/core
  packages/gluestack-core/package.json
  packages/gluestack-core/tsconfig.build.json
  packages/gluestack-core/tsconfig.json
Due: prettier --write

fix: removed packages
  apps/website/package.json
Due: prettier --write

chore: removed peer dependencies
  .github/workflows/publish-preview.yml
  packages/ui-next-adapter/package.json
Due: prettier --write

feat: put type version again
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
Due: prettier --write

feat: updated publish script
  .github/workflows/publish-preview.yml
Due: none

feat: updated publish logic
  .github/workflows/publish-preview.yml
Due: none

chore: test
  .github/workflows/publish-preview.yml
Due: none

feat: change the bundler to node
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/gluestack-core/tsconfig.build.json
  packages/gluestack-core/tsconfig.json
Due: prettier --write

fix: fixed typo mistake in package name
  src/components/ui/alert-dialog/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: removed validate package workflow
  .github/workflows/validate-packages.yml
Due: none

feat: updated workflows
  .github/workflows/cleanup-preview.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
Due: none

feat: add react-native exprts to core package
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/gluestack-ui/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add react native svg to cli
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/gluestack-ui/src/commands/upgrade.ts
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated workflows with vercel API
  .github/workflows/cleanup-preview.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
Due: none

test: workflow testing
  packages/ui-next-adapter/README.md
Due: prettier --write

fix: fixed depth of find
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
Due: none

fix: vercel deploy setting
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
Due: none

fix: fixed empty package version issue
  .github/workflows/publish-preview.yml
Due: none

fix: updated package publishing order
  .github/workflows/publish-preview.yml
Due: none

fix: fixed target for vercel deploy
  .github/workflows/publish-preview.yml
Due: none

test: workflow test
  packages/ui-next-adapter/README.md
Due: prettier --write

fix: updated packges publishing order
  .github/workflows/publish-preview.yml
Due: none

fix: updated publishing order for packages
  .github/workflows/publish-preview.yml
Due: none

chore: testing
  .github/workflows/publish-preview.yml
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
