Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: actionsheet content accessibility
  actionsheet/src/ActionsheetBackdrop.tsx
  actionsheet/src/ActionsheetDragIndicator.tsx
  actionsheet/src/ActionsheetDragIndicatorWrapper.tsx
  actionsheet/src/ActionsheetFlatList.tsx
  actionsheet/src/ActionsheetItem.tsx
  actionsheet/src/ActionsheetItemText.tsx
  actionsheet/src/ActionsheetScrollView.tsx
  actionsheet/src/ActionsheetSectionHeaderText.tsx
  actionsheet/src/ActionsheetSectionList.tsx
  actionsheet/src/ActionsheetVirtualizedList.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: intial focus ref
  modal/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: intial focus ref
  packages/modal/src/useDialog.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: react aria use dialog
  packages/dialog/package.json
  packages/dialog/src/useDialog.ts
  packages/dialog/src/useDialog.web.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added mapDomPropsToRN
  packages/dialog/src/useDialog.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: checkbox styling issues
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Icon.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Indicator.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Label.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/popover version bump to 0.1.4
  popover/CHANGELOG.md
  popover/package.json
Due: prettier --write

chore: @gluestack-ui/popover version bump to 0.1.4
  packages/popover/CHANGELOG.md
  packages/popover/package.json
Due: prettier --write

fix: content docs for ssr
  example/storybook/src/getting-started/Installation/index.stories.mdx
Due: none

fix: actionsheet animations
  example/storybook/src/ui-components/Actionsheet/index.tsx
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/OverlayAnimatePresence.tsx
  packages/actionsheet/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: actionsheet animations
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/OverlayAnimatePresence.tsx
  actionsheet/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: dank style reaact version release
  example/storybook/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: removed contentSize prop from Popover
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

chore: animation plugin v0.0.2
  packages/animation-plugin/CHANGELOG.md
  packages/animation-plugin/package.json
Due: prettier --write

fix: state and styling radio
  radio/src/Radio.tsx
  radio/src/Radio.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: state and styling radio
  example/storybook/src/ui-components/Radio/styled-components/Root.web.tsx
  packages/radio/src/Radio.tsx
  packages/radio/src/Radio.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/radio version bump to 0.1.3
  packages/radio/CHANGELOG.md
  packages/radio/package.json
Due: prettier --write

chore: @gluestack-ui/radio version bump to 0.1.3
  radio/CHANGELOG.md
  radio/package.json
Due: prettier --write

fix: update animation examples
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/FontsPlugin/index.stories.mdx
  example/storybook/src/plugins/Introduction/index.stories.mdx
Due: none

fix: animation doc example
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
Due: none

fix: animation doc content
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
Due: none

fix: doc heading
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
Due: none

fix: doc headings
  example/storybook/src/plugins/AnimationPlugin/index.stories.mdx
  example/storybook/src/plugins/FontsPlugin/index.stories.mdx
Due: none

fix: animation styling
  actionsheet/src/ActionsheetBackdrop.tsx
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: animation styling
  example/storybook/src/ui-components/Actionsheet/styled-components/Backdrop.tsx
  packages/actionsheet/src/ActionsheetBackdrop.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accessibility
  packages/actionsheet/src/Actionsheet.tsx
  packages/actionsheet/src/ActionsheetBackdrop.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
  packages/actionsheet/src/ActionsheetDragIndicatorWrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accessibility
  actionsheet/src/Actionsheet.tsx
  actionsheet/src/ActionsheetBackdrop.tsx
  actionsheet/src/ActionsheetContent.tsx
  actionsheet/src/ActionsheetDragIndicatorWrapper.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/radio version bump to 0.1.4
  radio/CHANGELOG.md
  radio/package.json
Due: prettier --write

chore: @gluestack-ui/radio version bump to 0.1.4
  packages/radio/CHANGELOG.md
  packages/radio/package.json
Due: prettier --write

fix: exit animation
  example/storybook/src/ui-components/Actionsheet/styled-components/Content.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: exit animation
  actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accessibility
  packages/actionsheet/src/ActionsheetContent.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accessibility
  actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: design
  actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: design
  example/storybook/src/ui-components/Actionsheet/styled-components/SectionHeaderText.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: design
  example/storybook/src/components/Disclosure/Actionsheet/ActionsheetScrollView.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Content.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Item.tsx
  packages/actionsheet/src/ActionsheetContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: story
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed animation preset prop typing
  actionsheet/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed animation preset prop typing
  packages/actionsheet/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
