Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: use focus hook naming
  packages/focus/src/index.ts
  packages/focus/src/index.web.ts
  packages/focus/src/useFocus.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: making hover ref optional with checks
  packages/interactions/src/useHover.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: textarea dev review and examples
  example/storybook/src/components/Forms/TextArea/TextArea.stories.tsx
  example/storybook/src/components/Forms/TextArea/TextArea.tsx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/ui-components/TextArea/styled-components/Input.tsx
  example/storybook/src/ui-components/TextArea/styled-components/Root.tsx
  packages/textarea/src/TextArea.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: textarea dev review and examples
  textarea/src/TextArea.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "changes "
  example/storybook/src/components/Forms/Switch/Switch.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "disabled add cursor"
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: "diabled add cursor"
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: doc changes
  example/storybook/src/ui-components/Switch/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added examples
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
Due: none

fix: added examples
  example/storybook/src/components/Forms/Slider/index.stories.mdx
Due: none

fix: added examples
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none

fix: added examples
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
Due: none

fix: added examples
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
Due: none

feat: #523, Select: display "label" in place of "value"
  example/storybook/metro.config.js
  example/storybook/src/components/Forms/Select/SelectFormControl.tsx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  packages/select/src/Select.tsx
  packages/select/src/SelectInput.tsx
  packages/select/src/SelectItem.tsx
  packages/select/src/SelectPortal.tsx
  packages/select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: #523, Select: display "label" in place of "value"
  select/src/Select.tsx
  select/src/SelectInput.tsx
  select/src/SelectItem.tsx
  select/src/SelectPortal.tsx
  select/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: filename change
  example/storybook/src/components/Forms/TextArea/TextAreaabcd.stories.tsx
  example/storybook/src/components/Forms/TextArea/TextAreaabcd.tsx
  packages/textarea/src/TextareaContextabcd.tsx
  packages/textarea/src/TextareaRootabcd.tsx
  packages/textarea/src/Textareaabcd.tsx
  packages/textarea/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: filename change
  textarea/src/TextareaContextabcd.tsx
  textarea/src/TextareaRootabcd.tsx
  textarea/src/Textareaabcd.tsx
  textarea/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: wrapper replaced
  example/storybook/package.json
  example/storybook/src/components/Wrapper.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: filename change complete
  textarea/src/Textarea.tsx
  textarea/src/TextareaContext.tsx
  textarea/src/TextareaRoot.tsx
  textarea/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: filename change complete
  example/storybook/src/components/Forms/TextArea/Textarea.stories.tsx
  example/storybook/src/components/Forms/TextArea/Textarea.tsx
  packages/textarea/src/Textarea.tsx
  packages/textarea/src/TextareaContext.tsx
  packages/textarea/src/TextareaRoot.tsx
  packages/textarea/src/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: package json and readme updated
  hooks/README.md
  hooks/package.json
  overlay/README.md
  overlay/package.json
  slider/README.md
  slider/package.json
  tooltip/README.md
  tooltip/package.json
  transitions/README.md
  transitions/package.json
  utils/README.md
  utils/package.json
Due: prettier --write

fix: package json and readme updated
  packages/hooks/README.md
  packages/hooks/package.json
  packages/overlay/README.md
  packages/overlay/package.json
  packages/slider/README.md
  packages/slider/package.json
  packages/tooltip/README.md
  packages/tooltip/package.json
  packages/transitions/README.md
  packages/transitions/package.json
  packages/utils/README.md
  packages/utils/package.json
Due: prettier --write

fix: updated snapshot
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
Due: none

chore: @gluestack-ui/utils version bump to 0.1.4
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/popper/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore: @gluestack-ui/transitions version bump to 0.1.7
  packages/transitions/CHANGELOG.md
  packages/transitions/package.json
Due: prettier --write

chore: @gluestack-ui/hooks version bump to 0.1.1
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
Due: prettier --write

chore: @gluestack-ui/overlay version bump to 0.1.4
  packages/overlay/CHANGELOG.md
  packages/overlay/package.json
Due: prettier --write

chore: @gluestack-ui/slider version bump to 0.1.4
  packages/slider/CHANGELOG.md
  packages/slider/package.json
Due: prettier --write

chore: @gluestack-ui/tooltip version bump to 0.1.7
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
Due: prettier --write

fix: icon example
  icon/Icons/WarningOutline.tsx
  icon/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: package json
  button/CHANGELOG.md
  button/package.json
  hooks/CHANGELOG.md
  hooks/package.json
  overlay/CHANGELOG.md
  overlay/package.json
  slider/CHANGELOG.md
  slider/package.json
  tooltip/CHANGELOG.md
  tooltip/package.json
  transitions/CHANGELOG.md
  transitions/package.json
  utils/CHANGELOG.md
  utils/package.json
Due: prettier --write

fix: package json
  .changeset/config.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/overlay/CHANGELOG.md
  packages/overlay/package.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
  packages/tooltip/CHANGELOG.md
  packages/tooltip/package.json
  packages/transitions/CHANGELOG.md
  packages/transitions/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

v0.2.9
  packages/interactions/package.json
Due: prettier --write

v0.2.10-alpha.0
  packages/interactions/package.json
Due: prettier --write

feat: select placeholder issues fixed
  select/src/Select.tsx
  select/src/SelectInput.tsx
  select/src/SelectItem.tsx
  select/src/SelectPortal.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: select placeholder issues fixed
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/components/Wrapper.tsx
  packages/select/src/Select.tsx
  packages/select/src/SelectInput.tsx
  packages/select/src/SelectItem.tsx
  packages/select/src/SelectPortal.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: radio icon fixes
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/ui-components/Radio/styled-components/Icon.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/select version bump to 0.1.7
  select/CHANGELOG.md
  select/package.json
Due: prettier --write

chore: @gluestack-ui/select version bump to 0.1.7
  packages/select/CHANGELOG.md
  packages/select/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
