Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: text color in tooltip
  example/storybook-nativewind/src/core-components/nativewind/tooltip/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: heading component
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/gluestack-ui-provider/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/styles.tsx
  package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added roadmap page
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/home/More/Roadmap/index.nw.stories.mdx
Due: eslint --quiet --fix, prettier --write

feat: added faq page
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/guides/more/FAQ/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/more/Releases/index.nw.stories.mdx
  example/storybook-nativewind/src/guides/more/Roadmap/index.nw.stories.mdx
Due: eslint --quiet --fix, prettier --write

fix: mdx issue table
  example/storybook-nativewind/src/guides/more/FAQ/index.nw.stories.mdx
Due: none

fix: issues in examples
  example/storybook-nativewind/src/components/AlertDialog/AlertDialog.tsx
  example/storybook-nativewind/src/components/AlertDialog/index.nw.stories.mdx
  example/storybook-nativewind/src/components/AlertDialog/index.nw.storiesold.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added features, voiceover, states to alertDialog
  example/storybook-nativewind/src/components/AlertDialog/index.nw.stories.mdx
Due: none

fix: updated examples for menu component
  example/storybook-nativewind/src/components/Menu/Menu.tsx
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated examples of alert
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example issues to menu component
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added examples to toast component
  example/storybook-nativewind/src/components/Toast/Toast.stories.tsx
  example/storybook-nativewind/src/components/Toast/Toast.tsx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.storiesold.mdx
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added screen reader
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
Due: none

feat: added states
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
Due: none

fix: ref typing actionsheet accordion button
  example/storybook/tsconfig.json
  packages/unstyled/accordion/src/types.ts
  packages/unstyled/actionsheet/src/types.ts
  packages/unstyled/button/src/types.ts
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ref typing for all unstyled
  packages/unstyled/alert-dialog/src/types.ts
  packages/unstyled/alert/src/types.ts
  packages/unstyled/avatar/src/types.ts
  packages/unstyled/checkbox/src/types.ts
  packages/unstyled/divider/src/index.tsx
  packages/unstyled/divider/src/types.ts
  packages/unstyled/fab/src/types.ts
  packages/unstyled/form-control/src/types.tsx
  packages/unstyled/hstack/src/types.ts
  packages/unstyled/image/src/types.ts
  packages/unstyled/img/dank-dark-mode.png
  packages/unstyled/img/dank-light-mode.png
  packages/unstyled/img/dank-logo-readme.png
  packages/unstyled/img/gluestack-logo.svg
  packages/unstyled/img/gluestack-ui-banner.svg
  packages/unstyled/input/src/types.ts
  packages/unstyled/link/src/types.ts
  packages/unstyled/menu/src/types.ts
  packages/unstyled/modal/src/types.ts
  packages/unstyled/popover/src/types.ts
  packages/unstyled/progress/src/types.ts
  packages/unstyled/radio/src/types.ts
  packages/unstyled/select/src/types.ts
  packages/unstyled/switch/src/types.ts
  packages/unstyled/textarea/src/types.ts
  packages/unstyled/toast/src/types.ts
  packages/unstyled/tooltip/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: ref typing slider
  packages/unstyled/slider/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added examples and fixes in actionsheet component
  example/storybook-nativewind/src/components/Actionsheet/Actionsheet.tsx
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Actionsheet/index.nw.storiesold.mdx
  example/storybook-nativewind/src/components/Actionsheet/index.stories.mdx
  example/storybook-nativewind/src/components/Actionsheet/index.themed.storiesold.mdx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: issues reported by designer
  example/storybook-nativewind/src/components/Alert/Alert.stories.tsx
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: popover arrow issue
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added isflipped flag
  packages/react-native-aria/overlays/src/useOverlayPosition.ts
  packages/react-native-aria/overlays/src/web/overlays/src/calculatePosition.ts
  packages/react-native-aria/overlays/src/web/overlays/src/useOverlayPosition.ts
  packages/styled/react/src/core/styled-system.ts
  packages/styled/react/src/resolver/getWeightBaseOnPath.ts
  packages/unstyled/popover/src/PopoverArrow.tsx
  packages/unstyled/popover/src/PopoverContent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: patch bump overlay, style, popover
  example/storybook-nativewind/package.json
  example/storybook/package.json
  packages/config/package.json
  packages/react-native-aria/overlays/CHANGELOG.md
  packages/react-native-aria/overlays/package.json
  packages/styled/react/CHANGELOG.md
  packages/styled/react/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/popover/CHANGELOG.md
  packages/unstyled/popover/package.json
Due: prettier --write

fix: removed console log
  packages/react-native-aria/overlays/src/useOverlayPosition.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: overlay console
  example/storybook-nativewind/package.json
  example/storybook/package.json
  packages/react-native-aria/overlays/CHANGELOG.md
  packages/react-native-aria/overlays/package.json
  packages/unstyled/popover/package.json
Due: prettier --write

fix: version upgrade
  packages/unstyled/popover/package.json
Due: prettier --write

fix: removed unwanted code
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  packages/unstyled/popover/src/PopoverArrow.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: docs changes
  example/storybook-nativewind/src/apps/dashboard-app/index.stories.mdx
  example/storybook-nativewind/src/apps/starter-kit/index.stories.mdx
  example/storybook-nativewind/src/apps/storybook-app/index.stories.mdx
  example/storybook-nativewind/src/home/getting-started/cli/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/figma-ui-kit/index.nw.stories.mdx
  example/storybook-nativewind/src/home/getting-started/vscode-extensions/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/customizing-theme/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/dark-mode/index.nw.stories.mdx
  example/storybook-nativewind/src/home/theme-configuration/default-tokens/index.nw.stories.mdx
Due: none

fix: native popover
  example/storybook-nativewind/src/core-components/nativewind/heading/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/heading/index.web.tsx
  example/storybook-nativewind/src/core-components/nativewind/popover/index.tsx
  example/storybook-v7/package-lock.json
  example/storybook-v7/package.json
  example/storybook-v7/yarn.lock
  example/storybook/.ondevice/preview.js
  package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: issues reported by designer
  example/storybook-nativewind/src/components/Toast/Toast.tsx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: description updated in components
  example/storybook-nativewind/src/components/Accordion/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/components/AlertDialog/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Box/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Center/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Checkbox/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Divider/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
  example/storybook-nativewind/src/components/HStack/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Heading/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Image/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Link/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Pressable/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Progress/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Skeleton/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Slider/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Spinner/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Switch/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Text/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Textarea/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Tooltip/index.nw.stories.mdx
  example/storybook-nativewind/src/components/VStack/index.nw.stories.mdx
Due: none

fix: issues in actionsheet
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: use-break-point-value hook
  example/storybook-nativewind/src/hooks/use-break-point-value.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix(toast): isActive always false, "any" types, duplicate toasts with same id
  .changeset/few-rules-refuse.md
  packages/unstyled/toast/src/OverlayAnimatePresence.tsx
  packages/unstyled/toast/src/Toast.tsx
  packages/unstyled/toast/src/ToastContext.ts
  packages/unstyled/toast/src/ToastList.tsx
  packages/unstyled/toast/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: multiple rendering of toast component
  example/storybook-nativewind/src/components/Toast/Toast.tsx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor props change
  example/storybook-nativewind/src/components/Toast/Toast.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added docs for the hook
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/src/core-components/hooks/use-break-point-value.ts
  example/storybook-nativewind/src/core-components/hooks/use-media-query.ts
  example/storybook-nativewind/src/hooks/useBreakPointValue/index.nw.stories.mdx
  example/storybook-nativewind/src/hooks/useBreakPointValue/useBreakPointValue.stories.tsx
  example/storybook-nativewind/src/hooks/useBreakPointValue/useBreakPointValue.tsx
  example/storybook-nativewind/src/tailwind.config.js
  example/storybook-nativewind/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: benchmarks v2
  example/storybook-nativewind/.storybook/preview.js
  example/storybook-nativewind/src/extra-components/nativewind/Progress.tsx
  example/storybook-nativewind/src/home/performance/benchmarks/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: colors of bar
  example/storybook-nativewind/src/extra-components/nativewind/Progress.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: code
  example/storybook-nativewind/src/extra-components/nativewind/Progress.tsx
  example/storybook-nativewind/src/home/performance/benchmarks/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
