Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: configs added
  example/storybook-nativewind/src/component-stories/Accordion/index.stories.nw.mdx
  example/storybook-nativewind/src/component-stories/Accordion/index.stories.themed.mdx
Due: none

feat: initial commit
  example/storybook/.ondevice/storybook.requires.js
  example/storybook/babel.config.js
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.tsx
  packages/config/src/theme/Card.ts
  packages/config/src/theme/index.ts
  packages/themed/src/components/Card/config.json
  packages/themed/src/components/Card/index.tsx
  packages/themed/src/components/Card/styled-components/Root.tsx
  packages/themed/src/components/Card/styled-components/index.tsx
  packages/themed/src/components/index.tsx
  packages/unstyled/card/.npmignore
  packages/unstyled/card/CHANGELOG.md
  packages/unstyled/card/README.md
  packages/unstyled/card/babel.config.js
  packages/unstyled/card/package.json
  packages/unstyled/card/src/Card.tsx
  packages/unstyled/card/src/index.tsx
  packages/unstyled/card/src/types.ts
  packages/unstyled/card/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: config changes
  example/storybook-nativewind/src/components/nativewind/Modal/config.json
  example/storybook-nativewind/src/components/nativewind/Provider/config.ts
  example/storybook-nativewind/src/components/nativewind/Toast/index.tsx
  example/storybook-nativewind/src/components/themed/Toast/index.tsx
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: config changes
  example/storybook-nativewind/src/components/nativewind/Toast/index.tsx
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: toast design
  example/storybook-nativewind/src/components/nativewind/Toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added shadow to toast
  example/storybook-nativewind/src/components/nativewind/Toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add blog card example
  example/storybook/src/ui/components/DataDisplay/Card/BlogCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.tsx
  packages/themed/src/components/Card/index.tsx
  packages/themed/src/components/Card/styled-components/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add productCard
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ProductCard.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add image card example
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ImageCard.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added accordion styling
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/src/components/nativewind/Accordion/index.tsx
  example/storybook-nativewind/tsconfig.json
  packages/nativewind/utils/src/tva.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add profile card story
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ProfileCard.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add variant and size props and fix storybook examples
  example/storybook/src/ui/components/DataDisplay/Card/BlogCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ImageCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ProductCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ProfileCard.tsx
  packages/config/src/theme/Card.ts
  packages/unstyled/card/src/index.tsx
  packages/unstyled/card/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added spinner
  example/storybook-nativewind/src/components/nativewind/ScrollView/index.tsx
  example/storybook-nativewind/src/components/nativewind/Spinner/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: design review changes
  example/storybook/src/ui/components/DataDisplay/Card/BlogCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ImageCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ProductCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ProfileCard.tsx
  packages/config/src/theme/Card.ts
  packages/unstyled/card/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added divider styling
  example/storybook-nativewind/src/component-stories/Divider/Divider.tsx
  example/storybook-nativewind/src/components/nativewind/Divider/index.tsx
  package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added all icons
  example/storybook-nativewind/src/component-stories/Icon/AllIcons.tsx_old
  example/storybook-nativewind/src/component-stories/Icon/Icon.png
  example/storybook-nativewind/src/component-stories/Icon/Icon.stories.tsx
  example/storybook-nativewind/src/component-stories/Icon/Icon.tsx
  example/storybook-nativewind/src/component-stories/Menu/Menu.tsx
  example/storybook-nativewind/src/components/nativewind/Icon/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: textarea component
  example/storybook-nativewind/src/components/nativewind/SafeAreaView/index.tsx
  example/storybook-nativewind/src/components/nativewind/StatusBar/index.tsx
  example/storybook-nativewind/src/components/nativewind/Textarea/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add text styling
  example/storybook-nativewind/src/components/themed/Actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: actionsheet component
  example/storybook-nativewind/src/components/nativewind/Actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: variants
  example/storybook-nativewind/src/components/nativewind/Actionsheet/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add card component docs and update readme
  example/storybook/.storybook/preview.js
  example/storybook/src/ui/components/DataDisplay/Card/Card.stories.tsx
  example/storybook/src/ui/components/DataDisplay/Card/Card.tsx
  example/storybook/src/ui/components/DataDisplay/Card/ProductCard.tsx
  example/storybook/src/ui/components/DataDisplay/Card/index.stories.mdx
  packages/unstyled/card/README.md
  packages/unstyled/card/package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: card anatomy
  example/storybook/src/ui/components/DataDisplay/Card/index.stories.mdx
Due: none

feat: fab component
  example/storybook-nativewind/src/components/nativewind/Fab/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: refreshcontrol
  example/storybook-nativewind/src/components/nativewind/RefreshControl/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unstyled from documentation
  example/storybook/src/ui/components/DataDisplay/Card/index.stories.mdx
Due: none

fix: revert previos change
  example/storybook/src/ui/components/DataDisplay/Card/index.stories.mdx
Due: none

feat: refact code and cleanup
  example/storybook/.storybook/preview.js
  example/storybook/babel.config.js
  example/storybook/src/ui/recipes/card/index.stories.mdx
  packages/themed/src/components/Card/config.json
  packages/themed/src/components/Card/index.tsx
  packages/unstyled/card/.npmignore
  packages/unstyled/card/CHANGELOG.md
  packages/unstyled/card/README.md
  packages/unstyled/card/babel.config.js
  packages/unstyled/card/package.json
  packages/unstyled/card/src/Card.tsx
  packages/unstyled/card/src/index.tsx
  packages/unstyled/card/src/types.ts
  packages/unstyled/card/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/themed version bump to 1.1.3
  packages/themed/CHANGELOG.md
  packages/themed/package.json
Due: prettier --write

feat: add backgroundInfo color
  example/storybook-nativewind/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

feat: alert component
  example/storybook-nativewind/src/components/nativewind/Alert/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/config version bump patch
  .changeset/metal-maps-study.md
Due: prettier --write

chore: @gluestack-ui/config version bump patch
  .changeset/metal-maps-study.md
  packages/config/CHANGELOG.md
  packages/config/package.json
Due: prettier --write

feat: RN components
  example/storybook-nativewind/src/components/nativewind/ImageBackground/index.tsx
  example/storybook-nativewind/src/components/nativewind/LinearGradient/index.tsx
  example/storybook-nativewind/src/components/nativewind/Pressable/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: resolve BackHandler problem with floating elements (modal, tooltip, alert)
  packages/react-native-aria/interactions/src/useKeyboardDismisssable.ts
  packages/unstyled/hooks/src/use-keyboard-dismissable/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: expo-linear-gradient version changed for fixing build fail on expo 50 sdk
  packages/unstyled/linear-gradient/package.json
Due: prettier --write

feat: docs fixes
  example/storybook-nativewind/src/component-stories/Accordion/index.nw.stories.mdx
  example/storybook-nativewind/src/component-stories/Accordion/index.themed.stories.mdx
Due: none

feat: docs fixes
  example/storybook-nativewind/src/component-stories/Accordion/index.nw.stories.mdx
Due: none

feat: added progress component
  example/storybook-nativewind/src/component-stories/Progress/Progress.tsx
  example/storybook-nativewind/src/components/nativewind/Progress/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: docs fixes
  example/storybook-nativewind/src/component-stories/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/component-stories/Button/index.themed.stories.mdx
Due: none

feat: docs fixes
  example/storybook-nativewind/src/component-stories/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/component-stories/Avatar/index.themed.stories.mdx
Due: none
