Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: storybook file and stories name
  example/storybook/src/components/DataDisplay/Badge/Badge.stories.tsx
  example/storybook/src/components/DataDisplay/Badge/Badge.tsx
  example/storybook/src/components/DataDisplay/Divider/Divider.stories.tsx
  example/storybook/src/components/DataDisplay/Divider/Divider.tsx
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.stories.tsx
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Feedback/Alert/Alert.stories.tsx
  example/storybook/src/components/Feedback/Alert/Alert.tsx
  example/storybook/src/components/Feedback/Progress/Progress.stories.tsx
  example/storybook/src/components/Feedback/Progress/Progress.tsx
  example/storybook/src/components/Feedback/Spinner/Spinner.tsx
  example/storybook/src/components/Feedback/Toast/Toast.stories.tsx
  example/storybook/src/components/Feedback/Toast/Toast.tsx
  example/storybook/src/components/Forms/Button/Button.stories.tsx
  example/storybook/src/components/Forms/Button/Button.tsx
  example/storybook/src/components/Forms/Button/ButtonGroup.stories.tsx
  example/storybook/src/components/Forms/Button/ButtonGroup.tsx
  example/storybook/src/components/Forms/Checkbox/Checkbox.stories.tsx
  example/storybook/src/components/Forms/Checkbox/Checkbox.tsx
  example/storybook/src/components/Forms/FormControl/FormControl.stories.tsx
  example/storybook/src/components/Forms/FormControl/FormControl.tsx
  example/storybook/src/components/Forms/Input/Input.stories.tsx
  example/storybook/src/components/Forms/Input/Input.tsx
  example/storybook/src/components/Forms/Link/Link.stories.tsx
  example/storybook/src/components/Forms/Link/Link.tsx
  example/storybook/src/components/Forms/Pressable/Pressable.tsx
  example/storybook/src/components/Forms/Radio/Radio.stories.tsx
  example/storybook/src/components/Forms/Radio/Radio.tsx
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/components/Forms/Slider/Slider.tsx
  example/storybook/src/components/Forms/Switch/Switch.tsx
  example/storybook/src/components/Forms/Tabs/Tabs.tsx
  example/storybook/src/components/Forms/TextArea/Textarea.stories.tsx
  example/storybook/src/components/Forms/TextArea/Textarea.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook file and stories name
  example/storybook/src/components/Layout/Box/Box.stories.tsx
  example/storybook/src/components/Layout/Box/Box.tsx
  example/storybook/src/components/Layout/Center/Center.stories.tsx
  example/storybook/src/components/Layout/Center/Center.tsx
  example/storybook/src/components/Layout/HStack/HStack.tsx
  example/storybook/src/components/Layout/VStack/VStack.tsx
  example/storybook/src/components/MediaAndIcons/Avatar/Avatar.tsx
  example/storybook/src/components/MediaAndIcons/Icon/Icon.tsx
  example/storybook/src/components/MediaAndIcons/Icon/Icons.stories.tsx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/Image.stories.tsx
  example/storybook/src/components/MediaAndIcons/Image/Image.tsx
  example/storybook/src/components/Others/Fab/Fab.stories.tsx
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.stories.tsx
  example/storybook/src/components/Overlay/AlertDialog/AlertDialog.tsx
  example/storybook/src/components/Overlay/Menu/Menu.stories.tsx
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Modal/Modal.tsx
  example/storybook/src/components/Overlay/Popover/Popover.stories.tsx
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  example/storybook/src/components/Overlay/Tooltip/Tooltip.stories.tsx
  example/storybook/src/components/Overlay/Tooltip/Tooltip.tsx
  example/storybook/src/components/Provider/Provider/Provider.stories.tsx
  example/storybook/src/components/Provider/Provider/Provider.tsx
  example/storybook/src/components/Typography/Heading/Heading.stories.tsx
  example/storybook/src/components/Typography/Heading/Heading.tsx
  example/storybook/src/components/Typography/Text/Text.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: storybook file and stories name
  example/storybook/src/components/Disclosure/Actionsheet/Actionsheet.tsx
  example/storybook/src/components/Forms/Select/Select.tsx
  example/storybook/src/components/Forms/Switch/Switch.tsx
  example/storybook/src/components/Others/Fab/Fab.stories.tsx
  example/storybook/src/components/Others/Fab/Fab.tsx
  example/storybook/src/components/Overlay/Menu/Menu.tsx
  example/storybook/src/components/Overlay/Popover/Popover.tsx
  example/storybook/src/components/Typography/Text/Text.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

fix: example
  example/storybook/src/components/Feedback/Toast/Toast.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: rn svg version fix
  example/storybook/src/ui-components/Icons/config.json
Due: prettier --write

fix: react native svg version fix
  example/storybook/src/ui-components/Icons/config.json
Due: prettier --write

feat: command to update component
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Switch/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/TextArea/index.stories.mdx
  example/storybook/src/components/Layout/Box/index.stories.mdx
  example/storybook/src/components/Layout/Center/index.stories.mdx
  example/storybook/src/components/Layout/HStack/index.stories.mdx
  example/storybook/src/components/Layout/VStack/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/components/Typography/Heading/index.stories.mdx
  example/storybook/src/components/Typography/Text/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
Due: none

fix: example
  example/storybook/src/components/MediaAndIcons/Icon/AllIcons.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
Due: none

fix: rerender issue
  packages/react/package.json
  packages/react/src/convertSxToSxVerbosed.ts
  packages/react/src/core/convert-utility-to-sx.ts
  packages/react/src/generateStylePropsFromCSSIds.ts
  packages/react/src/index.ts
  packages/react/src/stableHash.ts
  packages/react/src/styled.tsx
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added new shadow
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove focus
  example/storybook/src/ui-components/Badge/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove lineheight
  example/storybook/src/ui-components/Badge/styled-components/Text.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: shadow
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: update snapshot
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: compose event handlers fixed
  packages/utils/src/composeEventHandlers.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: compose event handlers fixed
  utils/src/composeEventHandlers.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgrade
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore: version upgrade
  button/CHANGELOG.md
  button/package.json
  utils/CHANGELOG.md
  utils/package.json
Due: prettier --write

fix: next adapter installation
  example/storybook/src/getting-started/install-nextjs/index.stories.mdx
Due: none

fix: added passing props style dom to inject
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
  packages/react/src/styled.tsx
  packages/react/src/utils/css-injector/utils/inject.web.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: focused
  slider/src/SliderTrack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: focused
  packages/slider/src/SliderTrack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Slider/styled-components/Track.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Slider/styled-components/FilledTrack.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: example
  example/storybook/src/components/Overlay/Menu/Menu.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Menu/styled-components/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Menu/styled-components/ItemLabel.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Menu/styled-components/Item.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
Due: none

fix: updated test
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: updated config
  example/storybook/src/gluestack-ui.config.ts
  example/storybook/src/ui-components/Tabs/styled-components/Tab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated config
  example/expo-project/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
