Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

feat: tests
  example/storybook/junit.xml
Due: none

feat: resolved conflicts
  example/storybook/package.json
Due: prettier --write

feat: version upgrade
  example/storybook/junit.xml
  example/storybook/package.json
Due: prettier --write

feat: version upgrade
  example/storybook/__tests__/__snapshots__/Box.test.js.snap
  example/storybook/__tests__/__snapshots__/Button.test.js.snap
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgrade
  button/CHANGELOG.md
  button/package.json
  hooks/CHANGELOG.md
  hooks/package.json
  overlay/CHANGELOG.md
  overlay/package.json
  utils/CHANGELOG.md
  utils/package.json
Due: prettier --write

chore: version upgrade
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/overlay/CHANGELOG.md
  packages/overlay/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore: version upgrade
  form-control/CHANGELOG.md
  form-control/package.json
  transitions/CHANGELOG.md
  transitions/package.json
Due: prettier --write

chore: version upgrade
  packages/form-control/CHANGELOG.md
  packages/form-control/package.json
  packages/transitions/CHANGELOG.md
  packages/transitions/package.json
Due: prettier --write

fix: added no checks in typing issues for now
  example/storybook/src/ui-components/Actionsheet/styled-components/Content.tsx
  example/storybook/src/ui-components/Actionsheet/styled-components/Icon.tsx
  example/storybook/src/ui-components/Alert/styled-components/Root.tsx
  example/storybook/src/ui-components/AlertDialog/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Avatar/styled-components/Group.tsx
  example/storybook/src/ui-components/Avatar/styled-components/Root.tsx
  example/storybook/src/ui-components/Badge/styled-components/Root.tsx
  example/storybook/src/ui-components/Button/styled-components/Group.tsx
  example/storybook/src/ui-components/Button/styled-components/Root.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.tsx
  example/storybook/src/ui-components/Checkbox/styled-components/Root.web.tsx
  example/storybook/src/ui-components/Fab/styled-components/Root.tsx
  example/storybook/src/ui-components/FormControl/styled-components/Root.tsx
  example/storybook/src/ui-components/Input/styled-components/Root.tsx
  example/storybook/src/ui-components/Link/styled-components/Root.tsx
  example/storybook/src/ui-components/Modal/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Modal/styled-components/Root.tsx
  example/storybook/src/ui-components/Popover/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Progress/styled-components/Root.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.web.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Content.tsx
  example/storybook/src/ui-components/Select/styled-components-actionsheet/Icon.tsx
  example/storybook/src/ui-components/Select/styled-components/Trigger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: type errros
  example/storybook/src/ui-components/AlertDialog/styled-components/Root.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.tsx
  example/storybook/src/ui-components/Slider/styled-components/Root.tsx
  example/storybook/src/ui-components/Tabs/styled-components/Tab.tsx
  example/storybook/src/ui-components/Textarea/styled-components/Root.tsx
  example/storybook/src/ui-components/Tooltip/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: shadow style
  example/storybook/src/ui-components/Toast/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: stories updated
  example/storybook/src/components/Overlay/Modal/Modal.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: shadows update
  example/storybook/src/ui-components/Slider/styled-components/Thumb.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: updated yarn.lock
  yarn.lock
Due: none

fix: modal styling
  example/storybook/src/ui-components/Modal/styled-components/Backdrop.tsx
  example/storybook/src/ui-components/Modal/styled-components/CloseButton.tsx
  example/storybook/src/ui-components/Modal/styled-components/Content.tsx
  example/storybook/src/ui-components/Modal/styled-components/Footer.tsx
  example/storybook/src/ui-components/Modal/styled-components/Header.tsx
  example/storybook/src/ui-components/Modal/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

docs: removed extra example and formatting
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

docs: formatting
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/DataDisplay/Badge/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/DataDisplay/Divider/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Feedback/Spinner/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Button/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Input/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Link/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Pressable/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Radio/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Select/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Slider/index.stories.mdx
Due: none

fix: docs content
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none
