Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: focusvisible casing changed to focusVisible
  menu/src/MenuItem.tsx
  pressable/src/Pressable.tsx
  select/src/SelectTrigger.tsx
  tabs/src/Tab.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version bumped
  checkbox/CHANGELOG.md
  checkbox/package.json
Due: prettier --write

chore: version bumped
  packages/checkbox/CHANGELOG.md
  packages/checkbox/package.json
Due: prettier --write

chore: menu-pressable-select-tabs version upgrade
  menu/CHANGELOG.md
  menu/package.json
  pressable/CHANGELOG.md
  pressable/package.json
  select/CHANGELOG.md
  select/package.json
  tabs/CHANGELOG.md
  tabs/package.json
Due: prettier --write

chore: menu-pressable-select-tabs version upgrade
  example/storybook/package.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/pressable/CHANGELOG.md
  packages/pressable/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
Due: prettier --write

fix: typing
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: styling
  example/storybook/src/ui-components/Icons/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove unwanted code
  example/storybook/src/components/MediaAndIcons/Icon/AllIcons.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/MediaAndIcons/Icon/index.stories.mdx
Due: none

fix: updated gluestack-style/react
  example/expo-project/package.json
  example/next-project/package.json
  yarn.lock
Due: prettier --write

feat: added shadow global styles
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon padding fixed on ios and radio stately version upgraded
  example/storybook/src/ui-components/Radio/styled-components/Root.tsx
  example/storybook/src/ui-components/Radio/styled-components/Root.web.tsx
  packages/radio/package.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: icon padding fixed on ios and radio stately version upgraded
  radio/package.json
Due: prettier --write

chore: version upgraded
  radio/CHANGELOG.md
  radio/package.json
Due: prettier --write

fix: lg size issues
  example/storybook/src/ui-components/Badge/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgraded
  packages/radio/CHANGELOG.md
  packages/radio/package.json
Due: prettier --write

fix: added tokens
  example/storybook/src/ui-components/Badge/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added shadow global tokens
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: pressable states fixed
  packages/pressable/src/Pressable.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: pressable states fixed
  pressable/src/Pressable.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: box shadow
  example/storybook/src/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added disabled state
  pressable/src/Pressable.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added disabled state
  packages/pressable/src/Pressable.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: svg style issue
  example/storybook/src/ui-components/Icons/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgraded
  pressable/CHANGELOG.md
  pressable/package.json
Due: prettier --write

chore: version upgraded
  example/storybook/package.json
  packages/pressable/CHANGELOG.md
  packages/pressable/package.json
Due: prettier --write

feat: fixed tests
  example/storybook/__tests__/__snapshots__/Checkbox.test.js.snap
  example/storybook/junit.xml
Due: none

fix: babel plugin support for createConfig
  example/babel-plugin-styled-resolver-expo/babel.config.js
  example/babel-plugin-styled-resolver-expo/package.json
  example/babel-plugin-styled-resolver-expo/src/Button.tsx
  example/babel-plugin-styled-resolver-expo/src/index.tsx
  example/babel-plugin-styled-resolver-expo/src/styled.config.ts
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.14-alpha.0
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

fix: typings
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add outline width
  packages/react/src/propertyTokenMap.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: fixed syntax highlighting
  example/storybook/src/components/Typography/Heading/index.stories.mdx
Due: none

fix: babel plugin support for createConfig
  packages/babel-plugin-styled-resolver/src/index.js
Due: eslint --quiet --fix, prettier --write

v0.1.14-alpha.1
  packages/babel-plugin-styled-resolver/package.json
Due: prettier --write

chore: v0.1.26-alpha.7
  packages/react/package.json
Due: prettier --write

fix: "example"
  example/storybook/src/components/MediaAndIcons/Image/Image.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added image
  example/storybook/.ondevice/storybook.requires.js
Due: eslint --quiet --fix, prettier --write

fix: example
  example/storybook/src/components/MediaAndIcons/Image/Image.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs
  example/storybook/src/components/MediaAndIcons/Image/index.stories.mdx
Due: none

fix: used tokens
  example/storybook/src/ui-components/Image/styled-components/Root.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
