Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update package versions after npm conflict resolution [skip ci]
  packages/create-gluestack/package.json
  packages/gluestack-ui/package.json
  packages/gluestack-utils/package.json
  packages/ui-next-adapter/package.json
Due: prettier --write

chore: updated cleanup workflow
  .github/workflows/cleanup-preview.yml
Due: none

chore: updated debugging
  .github/workflows/cleanup-preview.yml
Due: none

feat: genrated change logs
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/gluestack-utils/CHANGELOG.md
  packages/gluestack-utils/package.json
Due: prettier --write

feat: change the script to build packages
  packages/gluestack-core/.gitignore
  packages/gluestack-core/package.json
  packages/gluestack-core/scripts/generate-barrel-exports.js
  packages/gluestack-utils/aria.ts
  packages/gluestack-utils/common.ts
  packages/gluestack-utils/hooks.ts
  packages/gluestack-utils/nativewind-utils.ts
  packages/gluestack-utils/package.json
  packages/gluestack-utils/scripts/generate-barrel-exports.js
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

featfix chore package.json
  packages/gluestack-core/package.json
Due: prettier --write

fix: updated cleanup script
  .github/workflows/cleanup-preview.yml
Due: none

chore: fixed instruction in starter-kit-expo
  apps/starter-kit-expo/app/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: created step to update package version after publishing to npm
  .github/workflows/publish-production.yml
Due: none

chore: test
  .changeset/cute-papayas-repeat.md
Due: prettier --write

Version packages [skip ci]
  .changeset/cute-papayas-repeat.md
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

Update package.json files with latest npm versions [skip ci]
  packages/create-gluestack/package.json
  packages/gluestack-core/package.json
  packages/gluestack-ui/package.json
  packages/gluestack-utils/package.json
  published_versions.txt
Due: prettier --write

chore: revert back to previous version
  .github/workflows/publish-production.yml
Due: none

feat: change the upgrade command for remove tailwind plugin and add next adapter
  packages/gluestack-ui/CHANGELOG.md
  packages/gluestack-ui/package.json
  packages/gluestack-ui/src/commands/upgrade.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: add space after the registyr import in registy.tsx
  packages/gluestack-ui/src/commands/upgrade.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: only release packages and change versions if there exists a changeset and raise a PR against feat/v3 with updated packages versions
  .github/workflows/publish-production.yml
Due: none

chore: testing updated github actions workflow
  .changeset/fluffy-dolls-shout.md
Due: prettier --write

chore: test
  .changeset/eleven-spies-relax.md
  .github/workflows/publish-production.yml
Due: prettier --write

chore: update package versions to 2.0.10 [skip ci]
  .changeset/eleven-spies-relax.md
  .changeset/fluffy-dolls-shout.md
  packages/create-gluestack/package.json
  packages/gluestack-core/package.json
  packages/gluestack-ui/package.json
  packages/gluestack-utils/package.json
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

fix: only publish the packages with changeset
  .github/workflows/publish-production.yml
Due: none

fix: updated workflow to raise PR against feat/v3 after publishing package
  .github/workflows/publish-production.yml
Due: none

fix: publish only changed packages
  .github/workflows/preview-publish.yml
Due: none

chore: update package versions to 2.0.10 [skip ci]
  .changeset/eleven-spies-relax.md
  .changeset/fluffy-dolls-shout.md
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

feat:resolved the types for image component
  packages/gluestack-core/src/image/creator/Image.tsx
  packages/gluestack-core/src/image/creator/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: change resolve the image types
  .changeset/eleven-spies-relax.md
  .changeset/fluffy-dolls-shout.md
  packages/gluestack-core/CHANGELOG.md
  packages/gluestack-core/package.json
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

chore: test
  .changeset/metal-seas-arrive.md
  packages/ui-next-adapter/package.json
Due: prettier --write

chore: update package versions to 2.0.10 [skip ci]
  .changeset/metal-seas-arrive.md
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

feat: improved debugging while cleanup and updated pr logic
  .github/workflows/cleanup-preview.yml
  .github/workflows/publish-production.yml
Due: none

chore: updated secret name
  .github/workflows/publish-production.yml
Due: none

feat: updated publish logic
  .github/workflows/publish-production.yml
Due: none

fix: skip ci if triggered by gh actions
  .github/workflows/publish-production.yml
Due: none

fix: updated cleanup logic
  .github/workflows/cleanup-preview.yml
Due: none

chore: testing
  .changeset/many-hoops-arrive.md
  packages/ui-next-adapter/package.json
Due: prettier --write

chore: skip CI/CD if actor is github-actions
  .github/workflows/cleanup-preview.yml
  .github/workflows/expo-latest-nightly.yml
  .github/workflows/expo-latest.yml
  .github/workflows/next-latest-nightly.yml
  .github/workflows/next-latest.yml
  .github/workflows/preview-publish.yml
  .github/workflows/publish-production.yml
Due: none

chore: update package versions to 2.0.10 [skip ci]
  .changeset/many-hoops-arrive.md
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

fix: fixed version of package changed
  .github/workflows/publish-production.yml
Due: none

chore: update package versions to 1.0.45 [skip ci]
  .changeset/many-hoops-arrive.md
  packages/ui-next-adapter/CHANGELOG.md
  packages/ui-next-adapter/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
