Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx, jsx}": ["eslint --quiet --fix"],
  "*.{ts,tsx}": ["tsc-files --noEmit"],
  "*.{json,md,html,js,jsx,ts,tsx}": ["prettier --write"]
}

fix: header
  example/storybook/src/theme/theme-tokens/index.stories.mdx
Due: none

fix: contribution guide lines
  example/storybook/src/more/contribution-guidelines/index.stories.mdx
Due: none

fix: docs
  example/storybook/src/components/Disclosure/Accordion/index.stories.mdx
  example/storybook/src/customize-and-style/DefaultStyle/index.stories.mdx
  example/storybook/src/getting-started/Installation/App.tsx
  example/storybook/src/styling/color-mode/index.stories.mdx
  example/storybook/src/styling/descendants/index.stories.mdx
  example/storybook/src/styling/overview/index.stories.mdx
  example/storybook/src/theme/customizing-components/index.stories.mdx
  example/storybook/src/theme/default-tokens/DefaultComponent.tsx
  example/storybook/src/theme/overview/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: header removed
  example/storybook/src/styling/platform-specific/index.stories.mdx
  example/storybook/src/styling/responsive/index.stories.mdx
  example/storybook/src/styling/state/index.stories.mdx
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
  example/storybook/src/styling/variants/index.stories.mdx
  example/storybook/src/theme/customizing-components/index.stories.mdx
  example/storybook/src/theme/default-tokens/index.stories.mdx
  example/storybook/src/theme/theme-tokens/index.stories.mdx
Due: none

fix: updated try now links
  example/storybook/src/getting-started/Installation/Card2.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: update with changes requested
  example/storybook/src/api/Themes/config.ts
  example/storybook/src/api/Themes/index.stories.mdx
  example/storybook/src/api/Themes/themes.stories.tsx
  example/storybook/src/api/Themes/themes.tsx
  packages/react/src/Theme.tsx
  packages/react/src/createConfig.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: documentation
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
  example/storybook/src/customize-and-style/Styling/Responsive/index.stories.mdx
  example/storybook/src/styling/responsive/index.stories.mdx
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
Due: none

fix: documentation
  example/storybook/src/core-concepts/UnstyledComponents/index.stories.mdx
Due: none

Updated theme-token documentation (replaced "/react" with "/themed""
  example/storybook/src/theme/theme-tokens/index.stories.mdx
Due: none

fix: documentation
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: multiple tokenscale theme issue
  example/storybook/src/api/Themes/themes.tsx
  example/storybook/src/components/nb.config.ts
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: documentation
  example/storybook/src/theme/default-tokens/index.stories.mdx
Due: none

feat: iframes added
  example/storybook/.storybook/main.js
  example/storybook/.storybook/preview.js
  example/storybook/package.json
  example/storybook/src/core-concepts/UnstyledComponents/index.stories.mdx
  example/storybook/src/resources/dashboard-app/index.stories.mdx
  example/storybook/src/resources/todo-list/index.stories.mdx
  example/storybook/src/styling/color-mode/index.stories.mdx
  example/storybook/src/styling/descendants/index.stories.mdx
  example/storybook/src/styling/overview/index.stories.mdx
  example/storybook/src/styling/platform-specific/index.stories.mdx
  example/storybook/src/styling/responsive/index.stories.mdx
  example/storybook/src/styling/state/index.stories.mdx
  example/storybook/src/styling/utility-and-sx-props/index.stories.mdx
  example/storybook/src/styling/variants/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, prettier --write

fix: minor fixes
  yarn.lock
Due: none

fix: provider typings
  packages/themed/src/components/Provider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed RSC extra info
  example/storybook/src/components/Disclosure/Actionsheet/index.stories.mdx
  example/storybook/src/components/Feedback/Alert/index.stories.mdx
  example/storybook/src/components/Feedback/Progress/index.stories.mdx
  example/storybook/src/components/Feedback/Toast/index.stories.mdx
  example/storybook/src/components/Forms/Button/index.stories.mdx
  example/storybook/src/components/Forms/Checkbox/index.stories.mdx
  example/storybook/src/components/Forms/FormControl/index.stories.mdx
  example/storybook/src/components/Forms/Input/index.stories.mdx
  example/storybook/src/components/Forms/Link/index.stories.mdx
  example/storybook/src/components/Forms/Radio/index.stories.mdx
  example/storybook/src/components/Forms/Select/index.stories.mdx
  example/storybook/src/components/Forms/Slider/index.stories.mdx
  example/storybook/src/components/Forms/Tabs/index.stories.mdx
  example/storybook/src/components/Forms/Textarea/index.stories.mdx
  example/storybook/src/components/MediaAndIcons/Avatar/index.stories.mdx
  example/storybook/src/components/Others/Fab/index.stories.mdx
  example/storybook/src/components/Overlay/AlertDialog/index.stories.mdx
  example/storybook/src/components/Overlay/Menu/index.stories.mdx
  example/storybook/src/components/Overlay/Modal/index.stories.mdx
  example/storybook/src/components/Overlay/Popover/index.stories.mdx
  example/storybook/src/components/Overlay/Tooltip/index.stories.mdx
  example/storybook/src/configuration/RSC/index.stories.mdx
  example/storybook/src/core-concepts/ThemedLibrary/index.stories.mdx
Due: none

fix: added decorators
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: build issue
  example/storybook/src/styling/overview/index.stories.mdx
Due: none

feat: added card recipe
  example/storybook/src/recipes/card/index.stories.mdx
Due: none

fix: build issue
  example/storybook/src/resources/todo-list/index.stories.mdx
  example/storybook/src/theme/customizing-tokens/CustomTheme.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: added card recipe
  example/storybook/src/styling/overview/index.stories.mdx
Due: none

fix: typing extended config
  example/storybook/src/components/Wrapper.tsx
  example/storybook/src/components/nb.config.ts
  example/storybook/tsconfig.json
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: create style typing
  packages/react/src/createStyled.ts
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: passing props typing
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.12
  packages/react/package.json
Due: prettier --write

fix: theme undefine issue
  packages/react/src/utils.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.2.13-alpha.0
  packages/react/package.json
Due: prettier --write

fix: toc issue
  example/storybook/package.json
  example/storybook/src/resources/dashboard-app/Expand.tsx
  example/storybook/src/resources/dashboard-app/Responsive.tsx
  example/storybook/src/resources/dashboard-app/index.stories.mdx
  example/storybook/src/resources/todo-list/index.stories.mdx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version bump @gluestack-ui-unstyled/avata to 0.1.11
  avatar/CHANGELOG.md
  avatar/package.json
Due: prettier --write

fix: overlay motion pressable tpyings
  packages/themed/src/components/Actionsheet/styled-components/Backdrop.tsx
  packages/themed/src/components/AlertDialog/styled-components/Backdrop.tsx
  packages/themed/src/components/Menu/styled-components/Root.tsx
  packages/themed/src/components/Modal/styled-components/Backdrop.tsx
  packages/themed/src/components/Popover/styled-components/Backdrop.tsx
  packages/themed/src/components/Select/styled-components-actionsheet/Backdrop.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: add gluestack-style in resolution
  example/next-project/package.json
  package.json
  yarn.lock
Due: prettier --write

feat: themes docs
  example/storybook/babel.config.js
  example/storybook/src/api/Themes/config.ts
  example/storybook/src/api/Themes/index.stories.mdx
  example/storybook/src/api/Themes/themes.tsx
  example/storybook/src/components/nb.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: themes docs
  example/storybook/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: typing props
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing props
  example/storybook/src/api/DescendantsStyles/ContextBasedStyles.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: responsive
  example/storybook/src/resources/dashboard-app/Responsive.tsx
  example/storybook/src/resources/dashboard-app/index.stories.mdx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: switch mdx issue
  example/storybook/src/components/Forms/Switch/index.stories.mdx
Due: none

fix: responsive
  example/storybook/src/resources/dashboard-app/index.stories.mdx
  example/storybook/src/resources/todo-list/index.stories.mdx
Due: none

fix: responsive
  example/storybook/src/recipes/card/index.stories.mdx
  example/storybook/src/resources/todo-list/index.stories.mdx
Due: none

feat: themes docs
  example/storybook/src/configuration/Themes/config.ts
  example/storybook/src/configuration/Themes/index.stories.mdx
  example/storybook/src/configuration/Themes/themes.stories.tsx
  example/storybook/src/configuration/Themes/themes.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write
