Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added button flexDirection prop hotfix
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: updated value of secondary color used in the components
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Update index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
Due: none

feat: updated default styling of accordion component
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dependencies for v4.1
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

feat: updated dashboard app
  example/storybook-nativewind/src/extra-components/nativewind/appConfig.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: components examples
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Button/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Checkbox/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Drawer/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Heading/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Text/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
Due: none

fix: components docs
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Avatar/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Badge/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Grid/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Image/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Skeleton/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
Due: none

fix: divider component examples
  example/storybook-nativewind/src/components/Divider/index.nw.stories.mdx
Due: none

fix: docs components examples
  example/storybook-nativewind/src/components/Actionsheet/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Image/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/menu/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fab component examples
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
Due: none

fix: updated dependencies
  example/storybook-nativewind/src/core-components/nativewind/dependencies.json
Due: prettier --write

v1.0.26
  packages/nativewind/utils/package.json
Due: prettier --write

chore: release nativewind utils
  packages/nativewind/utils/tva/index.js
  packages/nativewind/utils/withStates/index.d.ts
  packages/nativewind/utils/withStates/index.jsx
  packages/nativewind/utils/withStates/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version bump icon and tooltip
  example/storybook-nativewind/package.json
  packages/config/package.json
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  packages/unstyled/icon/CHANGELOG.md
  packages/unstyled/icon/package.json
  packages/unstyled/tooltip/CHANGELOG.md
  packages/unstyled/tooltip/package.json
Due: prettier --write

fix: toast component export
  example/storybook-nativewind/src/core-components/nativewind/toast/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: docs examples images
  example/storybook-nativewind/src/components/AlertDialog/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Modal/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Table/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: accordion padding issue
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: typing and accordion item hotfix
  example/storybook-nativewind/src/core-components/nativewind/accordion/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/actionsheet/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/alert/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/badge/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/button/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/fab/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/form-control/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/input/index.tsx
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: card component examples
  example/storybook-nativewind/src/components/Card/index.nw.stories.mdx
Due: none

Update index.nw.stories.mdx
  example/storybook-nativewind/src/components/Radio/index.nw.stories.mdx
Due: none

fix: docs examples breaking on native
  example/storybook-nativewind/src/components/Alert/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Fab/index.nw.stories.mdx
  example/storybook-nativewind/src/components/FormControl/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Input/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Link/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Menu/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Progress/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Select/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Textarea/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Toast/index.nw.stories.mdx
Due: none

fix: docs examples breaking on native
  example/storybook-nativewind/src/components/AlertDialog/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Icon/index.nw.stories.mdx
  example/storybook-nativewind/src/components/Popover/index.nw.stories.mdx
Due: none

feat: added a quick start page
  example/storybook-nativewind/babel.config.js
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/App.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/AvatarDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/BadgeDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card1.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/CardTalk.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Checkbox.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/CheckboxDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Community.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Copied.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Copy.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Expo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Expo1.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Figma.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Fold2.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/FormControlDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/MYSvg.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/MySvgComponent.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Next.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/ReactN.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Reddit.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/SelectDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/SliderDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Socail.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Stackoverflow.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Tilde.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/ToastDemo.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Unitools.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/VsCode.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/content.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/content1.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/data.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/index.tsx
  example/storybook-nativewind/src/extra-components/storybook-components/ColorMode.tsx
  example/storybook-nativewind/src/home/overview/QuickStart/index.nw.stories.mdx
  example/storybook-nativewind/tsconfig.json
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added page in sidebar
  example/storybook-nativewind/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: added toc for the quickstart page
  example/storybook-nativewind/src/home/overview/QuickStart/index.nw.stories.mdx
Due: none

fix: tailwind config import
  example/storybook-nativewind/src/tailwind.config.js
Due: eslint --quiet --fix, prettier --write

fix: default radio styling
  example/storybook-nativewind/src/core-components/nativewind/radio/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: default token values
  example/storybook-nativewind/src/components/docs-components/DefaultComponent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: migrated all components to v2 & fixed icons in quick start
  example/storybook-nativewind/src/extra-components/nativewind/ComponentCard.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card1.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Expo1.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Figma.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Fold2.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Next.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/ReactN.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/VsCode.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor error fix
  example/storybook-nativewind/src/extra-components/nativewind/Grid.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added fix for community links in quickstart page
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Community.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: minor ui color fix
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: fixed universal icon issue in quick page
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added a minor hotfix for color issues in quick-start page
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card.tsx
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Fold2.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: added a fix for the quick start page title
  example/storybook-nativewind/.storybook/preview.js
Due: eslint --quiet --fix, prettier --write

fix: default color-tokens
  example/storybook-nativewind/src/components/docs-components/DefaultComponent.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: made the changes to quickstart
  example/storybook-nativewind/src/home/overview/QuickStart/index.nw.stories.mdx
Due: none

fix: minor name change
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: changed the font of npm create in quickpage
  example/storybook-nativewind/src/extra-components/nativewind/quick-start-components/Card1.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
