Repository gluestack/gluestack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: removed duplicate pages
  example/storybook/src/api/Specificity/Specificity.stories.tsx
  example/storybook/src/api/Specificity/Specificity.tsx
  example/storybook/src/api/Specificity/index.stories.mdx
  example/storybook/src/api/SxStyleResolution/SxStyleResolution.stories.tsx
  example/storybook/src/api/SxStyleResolution/SxStyleResolution.tsx
  example/storybook/src/api/SxStyleResolution/config.ts
  example/storybook/src/api/SxStyleResolution/index.stories.mdx
  example/storybook/src/api/Typescript/Typescript.stories.tsx
  example/storybook/src/api/Typescript/Typescript.tsx
  example/storybook/src/api/Typescript/index.stories.mdx
  example/storybook/src/api/createStyled/createStyled.stories.tsx
  example/storybook/src/api/createStyled/createStyled.tsx
  example/storybook/src/api/createStyled/index.stories.mdx
  example/storybook/src/hooks/useMediaQuery/index.stories.mdx
  example/storybook/src/hooks/useMediaQuery/maxWidth.tsx
  example/storybook/src/hooks/useMediaQuery/useMediaQuery.stories.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: accordion component
  accordion/src/Accordion.tsx
  accordion/src/AccordionContent.tsx
  accordion/src/AccordionHeader.tsx
  accordion/src/AccordionIcon.tsx
  accordion/src/AccordionItem.tsx
  accordion/src/AccordionTrigger.tsx
  accordion/src/Context.tsx
  accordion/src/index.tsx
  accordion/src/types.ts
  utils/src/accessibilityUtils.ts
  utils/src/combineContextAndProps.ts
  utils/src/composeEventHandlers.ts
  utils/src/createContext.tsx
  utils/src/getSpacedChild.tsx
  utils/src/index.ts
  utils/src/mergeRefs.ts
  utils/src/stableHash.ts
  utils/src/wrapStringChild.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: utils folder
  utils/src/accessibilityUtils.ts
  utils/src/combineContextAndProps.ts
  utils/src/composeEventHandlers.ts
  utils/src/createContext.tsx
  utils/src/getSpacedChild.tsx
  utils/src/index.ts
  utils/src/mergeRefs.ts
  utils/src/stableHash.ts
  utils/src/wrapStringChild.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: remove extra code
  utils/src/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: refact toggle function code
  accordion/src/AccordionTrigger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: skeleton text
  src/components/Animation/Transition.tsx
  src/components/Button/index.tsx
  src/components/HStack/styled-components/Root.tsx
  src/components/Skeleton/createSkeleton.tsx
  src/components/Skeleton/index.tsx
  src/components/Skeleton/styled-components/Root.tsx
  src/components/Skeleton/styled-components/index.tsx
  src/components/Stack/styled-components/Root.tsx
  src/components/VStack/styled-components/Root.tsx
  src/components/gluestack-ui.config.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: skeleton text
  src/components/Skeleton/createSkeletonText.tsx
  src/components/Skeleton/styled-components/AnimatedView.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: animation
  src/components/Animation/Slide.tsx
  src/components/Animation/Stagger.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: usecontrasttext hook
  src/hooks/useContrastText.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: dev mode type dependancy
  package.json
Due: prettier --write

fix: useColorModeValue hook fix
  src/hooks/useColorModeValue.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v0.1.31-alpha.8
  package.json
Due: prettier --write

v1.0.9-alpha.8
  packages/react/package.json
Due: prettier --write

fix: component name of as
  packages/react/src/styled.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: alert content
  package.json
  src/components/AlertDialog/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: provider updated
  src/components/Provider/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: v1.0.9
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: overlay issue
  src/components/Actionsheet/styled-components/Backdrop.tsx
  src/components/Actionsheet/styled-components/Content.tsx
  src/components/AlertDialog/index.tsx
  src/components/AlertDialog/styled-components/Backdrop.tsx
  src/components/Modal/index.tsx
  src/components/Modal/styled-components/Backdrop.tsx
  src/components/Modal/styled-components/Content.tsx
  src/components/Popover/index.tsx
  src/components/Popover/styled-components/Backdrop.tsx
  src/components/Popover/styled-components/Content.tsx
  src/components/Select/styled-components-actionsheet/Backdrop.tsx
  src/components/Select/styled-components-actionsheet/Content.tsx
  src/components/Tooltip/index.tsx
  src/components/Tooltip/styled-components/Content.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: circular deps
  packages/react/src/Theme.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.10-alpha.0
  packages/react/package.json
Due: prettier --write

fix: extend theme example
  example/storybook/src/api/ExtendComponents/ExtendComponents.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: v1.0.10
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: rem support
  package.json
  src/components/Provider/index.tsx
  src/utils/index.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: editable and disbaled props input
  input/src/Input.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: @gluestack-ui/input version bump 0.1.22
  input/CHANGELOG.md
  input/package.json
Due: prettier --write

feat: removed creators for hstack and vstack
  packages/themed/package.json
  packages/themed/src/components/HStack/index.tsx
  packages/themed/src/components/VStack/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

chore: version upgraded
  packages/themed/CHANGELOG.md
  packages/themed/package.json
  yarn.lock
Due: prettier --write

fix: input story
  src/components/Input/index.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: rem style
  src/components/Badge/styled-components/Root.tsx
  src/components/Checkbox/styled-components/Root.web.tsx
  src/components/FormControl/styled-components/Error.tsx
  src/components/Input/styled-components/LeftAddon.tsx
  src/components/Input/styled-components/RightAddon.tsx
  src/components/Radio/styled-components/Indicator.tsx
  src/components/Radio/styled-components/Root.web.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: utility props
  packages/react/src/core/convert-utility-to-sx.ts
  packages/react/src/core/styled-system.ts
  packages/react/src/styled.tsx
  packages/react/src/types.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: basic actionsheet component added
  package.json
  src/components/Actionsheet/index.tsx
  src/components/Actionsheet/styled-components/Backdrop.tsx
  src/components/Actionsheet/styled-components/Content.tsx
  src/components/Actionsheet/styled-components/DragIndicator.tsx
  src/components/Actionsheet/styled-components/Icon.tsx
  src/components/Actionsheet/styled-components/Item.tsx
  src/components/Actionsheet/styled-components/ItemText.tsx
  src/components/Actionsheet/styled-components/SectionHeaderText.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: use media hook
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useMedia.ts
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: content of incremental
  example/storybook/src/getting-started/increamental-adoption/index.stories.mdx
Due: none

fix: basic select component added
  src/components/Select/index.tsx
  src/components/Select/styled-components-actionsheet/Content.tsx
  src/components/Select/styled-components-actionsheet/DragIndicator.tsx
  src/components/Select/styled-components-actionsheet/Icon.tsx
  src/components/Select/styled-components-actionsheet/ItemText.tsx
  src/components/Select/styled-components-actionsheet/SectionHeaderText.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

feat: use media hook docs
  example/storybook/.storybook/preview.js
  example/storybook/src/hooks/useMedia/index.stories.mdx
  example/storybook/src/hooks/useMedia/useMedia.stories.tsx
  example/storybook/src/hooks/useMedia/useMedia.tsx
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

v1.0.11
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

feat: use media hook
  example/storybook/.storybook/preview.js
  example/storybook/src/hooks/use-media/index.stories.mdx
  example/storybook/src/hooks/use-media/useMedia.stories.tsx
  example/storybook/src/hooks/use-media/useMedia.tsx
  packages/themed/package.json
  yarn.lock
Due: eslint --quiet --fix, tsc-files --noEmit, prettier --write

fix: gluestack ui
  example/storybook/src/hooks/use-media/index.stories.mdx
Due: none

fix: title
  example/storybook/src/hooks/use-media/index.stories.mdx
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,ts,tsx, jsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html,js,jsx,ts,tsx}
